/*
Button
*/
.tf-admin-btn {
  display: inline-flex;
  @include align-items(center);
  background-color: #fff;
  color: #003c79;
  padding: 10px 25px;
  border: 1px solid #003c79;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  @include transition(all, 0.3s);

  i {
    margin-right: 8px;
    font-size: 18px;
  }

  &:hover {
    background-color: #003c79;
    color: #fff;
  }

  &.tf-btn-secondary {
    background-color: #003c79;
    border-color: #003c79;
    color: #fff;
    font-weight: 600;

    &:hover {
      background-color: #001f3e;
      border-color: #001f3e;
      color: #fff;
    }
  }

  //disabled
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
.tf-btn{
  font-size: 1rem;
  color: #fff;
  background-color: #003c79;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  display: inline-block;
  padding: 5px 20px;
  font-weight: 500;
  text-decoration: none;
  line-height: 2.1875rem;
  border: none;
  cursor: pointer;
  outline: none;
  &:hover{
    background-color: #002f5e;
    color: #fff;
    border: none;
    box-shadow: none !important;
    outline: none;
  }
}

.tf-link-btn{
  display: inline-flex;
  @include align-items(center);
  background-color: transparent;
  padding: 10px 25px;
  border: none;
  border-radius: 0;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  color: #003c79;

  i {
    margin-right: 8px;
    font-size: 18px;
  }
}

/*
Custom Modal
*/
.tf-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  visibility: hidden;
  opacity: 0;
  @include scale(.7);
  @include transition(all, 0.3s, ease-in-out);

  &.tf-modal-show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .tf-modal-dialog {
    @include flexbox();
    @include align-items(center);
    min-height: calc(100% - 40px);
    max-width: 100%;
    margin: 20px auto;
    position: relative;
    pointer-events: none;

    @media #{$min576} {
      min-height: calc(100% - 40px);
    }
  }

  .tf-modal-content {
    position: relative;
    @include flexbox();
    @include flex-direction(column);
    width: 80%;
    max-width: 1080px;
    pointer-events: auto;
    background-color: $blue0;
    outline: 0;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
  }

  .tf-modal-close {
    color: #003162;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    @include transition(all, 0.3s, ease-in-out);

    &:hover {
      @include rotate(180)
    }
  }
}

/*
Ajax Loader
*/
.tf-btn-loading {
  padding-right: 40px !important;
  position: relative;
}

.tf-btn-loading:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-left-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  visibility: visible;
  opacity: 1;
  transition: opacity .2s ease, visibility .2s ease;
  -webkit-animation: wd-rotate 450ms infinite linear;
  animation: wd-rotate 450ms infinite linear;
}

@-webkit-keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body.tf-modal-open {
  overflow: hidden;

  .tf-modal {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &:after {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.4);
  }
}
#poststuff h2{
  @media #{$max991}{
    justify-content: initial;
  }
}
#poststuff h2 a{
  color: #222;
  font-size: 20px;
  display: none;
  @media #{$max991}{
    display: inline-block;
    margin-right: 15px;
  }
}

.tf-field-disable {
  user-select: none;
  opacity: .6;
}

.tf-field-disable.tf-field-upcoming {
  user-select: none;
  cursor: default;

  * {
    cursor: default !important;
  }
}

/*
Fontawesome
*/
.fa, .far, .fas {
  font-family: "FontAwesome" !important;
}
.tf-field.tf-field-editor iframe {
  height: 400px;
}

/* admin switcher */

.tf-booking-status-swt {
  .tf-booking-status{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    span{
      font-weight: 700;
      font-size: 15px;
    }
    .switch {
        margin-left: 15px;
        position: relative;
        display: inline-block;
        width: 48px;
        height: 20px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
    .switcher.round {
        border-radius: 20px;
    }
    .switcher {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }
  }
}

.tf-booking-status-swt .switcher.round::before {
  border-radius: 50%;
}
.tf-booking-status-swt .switcher::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.tf-booking-status-swt input:checked + .switcher {
  background-color: #002C66;
}

.tf-booking-status-swt input:checked + .switcher::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#tf-booking-status-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; 
  opacity: 0;
  visibility: hidden;
  img{
    width: 120px;
  }
}
#tf-booking-status-loader.show{
  visibility: visible;
  opacity: 1;
}