.tf-hotel-design-1{
    background: inherit;
    .tf-single-head{
        .more-hotel{
            color: $color-theme;
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
        }
    }
    #tf-single-hotel-avail{
        margin: 0px !important;
        .tf_booking-dates{
            #check-in-out-date{
                background-color: #F3F7FA !important;
            }
            #tf-required {
                text-align: center;
                margin-top: 10px !important;
                display: block;
                b{
                    font-family: inherit;
                    font-weight: 500;
                }
            }
        }
        .tf-bttn-normal{
            padding: 16px 24px;
        }
    }
    .tf-hotel-location-map{
        margin-top: 25px;
        .tf-hotel-location-preview{
            position: relative;
            margin-bottom: 0px;
            @media #{$tfmax767}{
                margin-bottom: 30px;
            }
            iframe{
                height: 260px !important;
            }
            a{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                   height: 80px;
                   width: 80px;
                   text-align: center;
                   line-height: 80px;
                   color: #fff; 
                   background-color: $color-theme;
                   border-radius: 50%;
                   padding: 0;
                   font-size: 20px;
                }
            }
        }
    }
    .tf-rooms-sections{
        .tf-rooms{
            @media #{$tfmax767}{
                overflow-x: scroll;
                width: auto;
            }
            .hotel-room-wrap {
                overflow-x: unset !important;
            }
            .tf-availability-table{
                margin-top: 30px;
                background-color: #fff;
                box-shadow: 0px 13px 30px #E0E8EE;
                border-radius: 5px;
                margin-bottom: 0px;
                thead{
                    background-color: $color-theme;
                    tr{
                        th{
                            text-align: left;
                            color: #fff;
                            border: 0px solid;
                            border-radius: 5px 5px 0px 0px;
                            padding: 13px 30px;
                            font-size: 16px;
                            font-weight: 500;
                            font-family: inherit;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            .tf-room-preview-img{
                                width: 170px;
                                margin-right: 20px;
                                border-radius: 4px;
                                position: relative;
                                img{
                                    border-radius: 4px;
                                }
                                span{
                                    display: inline-block;
                                    font-weight: 500;
                                    background: #FF6B00;
                                    border-radius: 4px 0px 0px 0px;
                                    padding: 3px 14px;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    color: #fff;
                                    font-size: 14px;
                                }
                                
                            }
                            .tf-features-infos{
                                .tf-room-type{
                                    h3{
                                        a{
                                            color: $color-black-light;
                                        }
                                    }
                                }
                                ul{
                                    margin: 0;
                                    padding: 0;
                                    li{
                                        display: inline-block;
                                        background: #F1F3F4;
                                        border-radius: 5px;
                                        padding: 10px;
                                        margin: 5px 10px 5px 0px;
                                        i,
                                        img{
                                            margin-right: 5px;
                                        }
                                    }
                                }
                                > a{
                                    color: $color-theme;
                                }
                            }
                            .hotel-room-book{
                                width: 100%;
                            }
                        }
                        td.description{
                            width: 60%;
                            padding-left: 30px;
                            padding-top: 30px;
                            padding-bottom: 30px;
                            @media #{$tfmax767}{
                                width: auto;
                            }
                        }
                        td.pax{
                            .tf-tooltip{
                                @media #{$tfmax767}{
                                    width: 100px
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .tf-hotel-single-features{
        ul{
            margin: 20px 0px 0px 0px;
            padding: 0;
            li{
                display: inline-flex;
                align-items: center;
                background-color: #fff;
                border-radius: 5px;
                padding: 10px;
                text-transform: capitalize;
                margin: 5px 5px 5px 0px;
                box-shadow: 0px 13px 30px 0px #e0e8ee;
                i{
                    margin-right: 8px;
                }
                img{
                    margin-right: 8px;
                }
            }
        }
    }

    .tf-hotel-faqs-section{
        h2{
            margin-bottom: 30px;
        }
        .tf-hotel-enquiry{
            flex-basis: 32%;
            padding-right: 30px;
            @media #{$tfmax767}{
                flex-basis: 100%;
            }
            .tf-ask-enquiry{
                background-color: #fff;
                box-shadow: 0px 13px 30px 0px #e0e8ee;
                padding: 30px;
            }
        }
        .tf-hotel-faqs{
            flex-basis: 68%;
            @media #{$tfmax767}{
                flex-basis: 100%;
                margin-top: 30px;
            }
            .tf-faq-wrapper{
                .tf-faq-single {
                    border-bottom: 0px solid;
                    .tf-faq-single-inner{
                        margin: 0px 0px 30px 0px;
                        background: #FFFFFF;
                        box-shadow: 0px 13px 30px #E0E8EE;
                        h3{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}