$t4-primary: #FF6B00;
$t4-orange-background: #FEF9F6;
$t4-orange-light: #FFEDE1;
$t4-orange-100: #FBF4EF;
$t4-orange-200: #F5E9E0;
$t4-yellow: #FFC700;
$t4-paragraph: #6E655E;
$t4-orange-1000: #1A0B00;
$t4-main-color: #060D1C;

.tf-hotel-template-4.tf-hotel-single {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 24px;
    background: var(--Orange-Background, #FEF9F6);

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    .tf-container {
        max-width: 1250px;
    }

    .tf-hotel-title {
        padding-bottom: 20px;

        .tf-title-wrap {
            @media #{$max767} {
                @include flex-direction(column);
            }
        }

        .tf-title-right {
            @include flex(0 0 350px);
            @include justify-content(flex-end);

            @media #{$max767} {
                @include flex(0 0 100%);
                @include justify-content(flex-start);
                margin-top: 24px;
            }
        }

        h1 {
            color: $t4-orange-1000;
            font-weight: 500;
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 16px;
        }

        .tf-map-link {
            color: $t4-primary;
            font-size: 16px;
        }
    }

    .tf-wish-and-share {
        gap: 16px;

        a.tf-share-toggle,
        a.tf-wishlist {
            margin: 0;
            padding: 0;
            height: 45px;
            width: 45px;
            line-height: 40px;
            border-radius: 100px;
            border: 1px solid $t4-orange-200;
            background: $t4-orange-100;
            box-shadow: 0px 4px 40px 0px rgba(80, 33, 0, 0.10);
            text-align: center;
            color: $t4-primary;
            cursor: pointer;
            font-size: 18px;
        }

        a.tf-share-toggle.actives,
        a.tf-wishlist.actives {
            background-color: $t4-primary;
            color: #fff;
            box-shadow: 0px 4px 40px 0px rgba(80, 33, 0, 0.10);

            i {
                color: #fff !important;
            }

            svg path {
                fill: #fff !important;
            }
        }

        .tf-off-canvas-share-box {
            display: inline-flex;
            align-items: center;

            .tf-off-canvas-share {
                display: none;
                margin: 0;
                padding: 0;
                align-items: center;
                list-style: none;

                li {
                    a {
                        margin-right: 16px;

                        i {
                            font-size: 18px;
                            color: $t4-primary;
                        }
                    }

                    &:last-child {
                        a {
                            margin-right: 9px;
                        }
                    }

                    #share_link_button {
                        padding: 0px;
                        background-color: transparent;
                        border: 0px solid;
                        display: inline-flex;
                        align-items: center;
                        gap: 5px;

                        span {
                            display: none;
                            font-size: 13px;
                            color: $t4-primary;
                        }
                    }

                    #share_link_button.copied {
                        span {
                            display: inline-block;
                        }
                    }

                    input {
                        padding: 0;
                        height: 0px;
                        width: 0px;
                    }
                }
            }

            .tf-off-canvas-share.show {
                display: inline-flex;
            }
        }
    }

    .tf-hotel-hero-section {
        margin-bottom: 32px;

        .tf-hotel-hero-wrapper {
            @include flexbox();
            gap: 24px;

            .tf-hotel-thumb {
                position: relative;
                @include flexbox();
                @include flex(0 0 calc(100% - 415px));

                img {
                    border-radius: 4px;
                    min-height: 500px;
                    max-height: 500px;
                    width: 100%;
                    object-fit: cover;

                    @media #{$tfmax991}{
                        min-height: auto;
                        max-height: auto;
                    }
                }
            }

            .tf-hotel-gallery {
                @include flexbox();
                @include flex-wrap(wrap);
                gap: 24px;
                position: relative;

                a {
                    @include flex(0 0 calc(50% - 12px));
                    @include flexbox();

                    img {
                        border-radius: 4px;
                        object-fit: cover;
                    }

                    &.tf-gallery-more {
                        position: relative;

                        &::before {
                            content: "View More → ";
                            position: absolute;
                            color: #fff;
                            @include flexbox();
                            @include align-items(center);
                            @include justify-content(center);
                            border-radius: 4px;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            z-index: 1;
                            background: rgba(0, 0, 0, 0.6117647059);
                            font-size: 16px;
                        }
                    }
                }

                &.tf-gallery-count-6 {
                    a, img {
                        height: 150px;
                    }
                }
            }
        }

        .featured-column {
            a {
                @include flexbox();
                border-radius: 4px;
                border: 0.5px solid $t4-orange-light;
                background: #fff;
                box-shadow: 0px 4px 30px 0px rgba(255, 237, 225, 0.40);
                gap: 8px;
                line-height: 16px;
                color: $t4-paragraph;
                padding: 10px 12px;
                @include transition();

                &:hover {
                    background-color: $t4-primary;
                    border-color: $t4-primary;
                    color: #fff;
                }
            }
        }

        .featured-meta-gallery-videos {
            display: flex;
            position: absolute;
            top: calc(0px - -25px);
            right: calc(0px - -25px);
            gap: 24px;
            @media #{$tfmax767}{
                gap: 5px;
                right: calc(0px - -15px);
            }
        }
    }

    .tf-details {
        @include flexbox();
        gap: 24px;

        .tf-details-left {
            width: calc(100% - 415px);
            @include flexbox();
            @include flex-direction(column);
            gap: 32px;

            .tf-section-title {
                margin-bottom: 8px;
                color: $t4-orange-1000;
                font-size: 18px;
                font-weight: 500;
            }
        }

        .tf-details-right {
            width: 391px;

            &.tf-archive-right {
                background-color: #FCF4E8;
                padding: 32px;
                width: 480px;
                margin-bottom: 56px;
            }

            .tf_widget {
                background-color: transparent;
                border: 0px solid;
                margin-bottom: 32px;

                &:last-child {
                    margin-bottom: 0px;
                }

                .tf-widget-title {
                    padding: 0px;
                    height: auto;
                    background: transparent;
                    border: 0px solid;
                    border-radius: 8px 8px 0px 0px;
                    pointer-events: none;

                    h4 {
                        margin-bottom: 10px !important;
                        font-size: 16px !important;
                        font-weight: 600 !important;
                        line-height: 1.5 !important;
                        color: #595349 !important;
                        font-family: Josefin Sans !important;
                        @media #{$max1024}{
                            font-size: 12px !important;
                        }
                    }

                    i {
                        display: none;
                    }
                }

                .tf-filter {
                    padding: 0;

                    ul {
                        li {
                            margin: 0px;
                            padding-left: 0px;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            color: #99948D;
                            background: transparent;
                            @media #{$max1024}{
                                font-size: 12px !important;
                            }

                            label {
                                padding-left: 30px;
                                line-height: 16px;

                                .checkmark {
                                    border-radius: 4px;
                                    border: 1px solid #917242;
                                    background: #FDF9F3;
                                    height: 16px;
                                    width: 16px;

                                    &:hover {
                                        border-color: #B58E53;
                                    }

                                    &::after {
                                        top: 1px;
                                        left: 4px;
                                        border-color: rgb(145, 114, 66);
                                        width: 6px;
                                        height: 9px;
                                    }
                                }
                            }

                            label input:checked ~ .checkmark {
                                background-color: transparent !important;
                                border-color: rgb(145, 114, 66);
                            }
                        }
                    }

                    a.see-more.btn-link,
                    a.see-less.btn-link {
                        text-align: left;
                        text-transform: capitalize;
                        color: #595349;
                        font-family: Josefin Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        margin-top: 6px;

                        span {
                            display: none;
                        }

                        @media #{$max1024}{
                            font-size: 12px !important;
                        }
                    }
                }

                .tf-hotel-result-price-range,
                .tf-tour-result-price-range,
                .tf-apartment-result-price-range {
                    padding-left: 14px;
                    padding-right: 14px;
                    margin-top: 10px;
                }

                .al-range-slider__track {
                    background: #D6D4D2;
                    height: 10px;
                    box-shadow: none !important;
                    margin: 0px 0px 10px 0px;
                }

                .al-range-slider_dark {
                    padding: 0px !important;

                    .al-range-slider__bar {
                        background: #99948D !important;
                        box-shadow: none !important;
                    }
                }

                .al-range-slider__knob {
                    background: #FDF9F3 !important;
                    height: 24px;
                    width: 24px;
                    box-shadow: none !important;
                    border: 3px solid #99948D !important;

                    &:first-child {
                        span {
                            left: 10px !important;
                        }
                    }
                }

                .al-range-slider__tooltip {
                    background: transparent !important;
                    box-shadow: none;
                    padding: 3px 10px;
                    margin-bottom: 0px !important;
                    bottom: -40px;
                    color: #595349 !important;
                    font-family: Josefin Sans;
                    font-size: 16px !important;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                }

                .al-range-slider__input.js-al-range-slider__input {
                    display: none !important;
                }
            }

            .tf_widget.widget_tf_price_filters {
                margin-bottom: 54px;
            }
        }

        .tf-archive-search-form {
            width: 100%;
            @media #{$max767}{
                margin-left: 16px;
                margin-right: 16px;
                width: auto;
            }
        }

        .tf-details-menu {
            background: $t4-orange-100;
            padding: 24px 24px 0 24px;
            border-radius: 4px;
            position: sticky;
            left: 0;
            top: 0;
            z-index: 99;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                @include flexbox();
                @include flex-wrap(wrap);
                gap: 40px;

                li {
                    a {
                        color: $t4-orange-1000;
                        font-weight: 500;
                        border-bottom: 2px solid;
                        padding-bottom: 16px;
                        display: inline-block;
                        border-color: transparent;

                        &.tf-hashlink {
                            border-color: $t4-primary;
                        }
                    }
                }
            }
        }

        /* Description */
        .tf-hotel-desc-section {
            @include flexbox();
            padding: 24px;
            flex-direction: column;
            align-self: stretch;
            border-radius: 4px;
            background: $t4-orange-100;

            p {
                margin: 0;
                padding: 0;
                color: $t4-paragraph;
            }

            .tf-short-description {
                color: #99948D;
            }

            span.tf-see-description,
            span.tf-see-less-description {
                color: #595349;
                cursor: pointer;
            }

            .tf-full-description {
                display: none;
                color: #99948D;
            }

            .tf-hotel-description {
                margin-bottom: 24px;
            }

            .tf-hotel-features {
                & > ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    @include flexbox();
                    @include flex-wrap();
                    gap: 18px 36px;

                    li {
                        @include flexbox();
                        color: $t4-paragraph;

                        i {
                            margin-right: 12px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        /* Room */
        .tf-room-section {
            margin-top: 0;
            border-radius: 8px;
            background: $t4-orange-100;
            box-shadow: 0px 9px 12px 0px rgba(14, 19, 35, 0.02);

            .tf-available-rooms-head {
                @include flexbox();
                @include justify-content(space-between);
                @include align-items(center);
                margin-bottom: 32px;
                padding: 16px 24px;
                border-radius: 8px 8px 0px 0px;
                background: $t4-orange-200;

                @media #{$max1024}{
                    margin-bottom: 24px;
                }
                @media #{$max991}{
                    margin-bottom: 16px;
                }

                .tf-section-title {
                    margin-bottom: 0;
                    font-size: 14px !important;
                }

                .tf-archive-filter-showing {
                    padding: 0px;
                    cursor: pointer;
                    display: none;
                    @media #{$max991}{
                        display: block;
                    }
                }

                .tf-filter {
                    color: $t4-primary;
                    cursor: pointer;
                    padding: 0;

                    i {
                        font-size: 24px;
                    }
                }
            }

            .tf-room-filter {
                display: none !important;

                h4 {
                    font-weight: 600 !important;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        margin: 0px;
                        padding-left: 0px;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        color: #99948D;
                        margin-right: 10px;
                        @media #{$max1024}{
                            font-size: 12px !important;
                        }

                        label {
                            padding-left: 25px;
                            line-height: 16px;
                            margin-left: 0px;

                            .checkmark {
                                border-radius: 4px;
                                border: 1px solid #917242;
                                background: #FDF9F3;
                                height: 16px;
                                width: 16px;

                                &:hover {
                                    border-color: #B58E53;
                                }

                                &::after {
                                    top: 1px;
                                    left: 4px;
                                    border-color: rgb(145, 114, 66);
                                }
                            }
                        }

                        label input:checked ~ .checkmark {
                            background-color: transparent !important;
                            border-color: rgb(145, 114, 66);
                        }
                    }
                }
            }

            .tf-room-filter.tf-filter-show {
                display: block !important;
            }

            .tf-available-rooms {

            }

            .tf-available-room {
                padding: 0 25px;
                @include flexbox();
                @include flex-wrap(wrap);
                gap: 24px;
                padding-bottom: 40px;
                margin-bottom: 40px;
                border-bottom: 4px solid $t4-orange-200;

                &:last-child {
                    padding-bottom: 32px;
                    margin-bottom: 0;
                    border-bottom: none;
                }

                .tf-available-room-gallery {
                    min-width: 262px;
                    max-width: 262px;
                    @include flexbox();
                    @include flex-wrap(wrap);
                    gap: 16px;
                    height: fit-content;

                    .tf-room-gallery {
                        position: relative;
                        border-radius: 4px;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 4px;
                        }

                        &:nth-child(1) {
                            width: 100%;
                            height: 170px;
                        }

                        &:nth-child(n+2) {
                            width: 123px;
                            height: 90px;
                        }

                        .tf-room-gallery-overlay a{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            line-height: 100px;
                            background: #000;
                            border-radius: 4px;
                            opacity: .5;
                            cursor: pointer;
                        }
                    }

                    .tf-room-gallery.tf-no-room-gallery {
                        height: 382px;
                    }

                    .tf-available-room-off {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 8px;
                        border-radius: 4px 0px;
                        background: #FFC700;
                        font-size: 13px;
                        line-height: 15px;
                        color: $t4-orange-1000;
                    }
                }

                .tf-available-room-content {
                    width: calc(100% - 286px);

                    .tf-available-room-content-top{
                        @include flexbox();
                        gap: 24px;
                    }

                    .tf-available-room-content-left {
                        width: 395px;
                        display: flex;
                        flex-direction: column;

                        h3 {
                            margin-bottom: 20px;
                        }

                        h2 {
                            font-weight: 700 !important;
                            margin-bottom: 24px;
                        }

                        ul {
                            margin: 0;
                            padding: 0;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 12px 5px;
                            @media #{$max767}{
                                gap: 8px 5px !important;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }

                            li {
                                display: flex;
                                @media #{$max1024}{
                                    font-size: 16px;
                                }
                                @media #{$max767}{
                                    font-size: 14px !important;
                                }

                                i {
                                    margin-right: 8px;
                                    font-size: 20px;
                                    width: 20px;
                                    @media #{$max1024}{
                                        font-size: 14px;
                                    }
                                }

                                a {
                                    color: #595349;
                                    text-decoration: none;
                                }
                            }
                        }

                        h4 {
                            color: #595349;
                            font-size: 16px !important;
                            font-weight: 600 !important;
                            font-family: "Josefin Sans", sans-serif !important;
                            margin-bottom: 16px;
                            margin-top: auto;
                            @media #{$max991}{
                                margin-top: 16px;
                            }
                        }
                    }

                    .tf-available-room-content-right {
                        width: 230px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        @media #{$max1024}{
                            width: 153px !important;
                        }

                        .tf-cancellation-refundable-text {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            gap: 8px;
                            margin-bottom: 24px;

                            span {
                                display: flex;
                                align-items: center;
                                color: #595349;

                                svg {
                                    margin-left: 8px;
                                }
                            }

                            i {
                                font-size: 10px;
                                border: 1px solid;
                                height: 14px;
                                width: 14px;
                                border-radius: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-left: 6px;
                            }
                        }

                        .tf-card-pricing-heading {
                            display: flex;
                            flex-direction: column;
                            align-items: end;
                        }

                        .tf-available-room-price {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: end;
                            gap: 4px;
                            margin-bottom: 58px;

                            .tf-price {
                                color: #595349;
                                font-weight: 400;
                                line-height: 31.20px;
                                text-align: right;

                                .amount {
                                    font-weight: 400 !important;
                                }

                                .discount-price {
                                    color: #99948D;
                                    font-family: Josefin Sans;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 130%; /* 20.8px */
                                    display: inline-flex;
                                    gap: 2px;

                                    .amount {
                                        font-weight: normal !important;
                                    }
                                }

                                .sale-price {
                                    font-size: 24px;
                                    display: inline-flex;

                                    .booking-type {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }

                        .tf-available-room-select {
                            color: #595349;
                            font-size: 16px;
                            display: flex;
                            width: fit-content;
                            margin-bottom: 26px;
                            gap: 8px;
                            align-items: center;
                            margin-top: auto;

                            select {
                                height: 37px;
                                width: 70px;
                                padding: 8px 20px 8px 13px;
                                background-size: 10px;
                                background-position: 80% 49%;
                                text-align: center;
                                background-color: #FAEEDC;
                                border: none;
                                cursor: pointer;
                                font-weight: 700;
                                // option:hover,
                                // option:checked{
                                //     accent-color: #B58E53 !important;
                                //     background: #B58E53 !important;
                                // }
                            }
                        }
                    }

                    .tf-available-room-purchase-summery {
                        font-size: 12px;
                        display: flex;

                        .price-per-night {
                            margin-left: 5px;
                        }
                    }

                    .tf-deposit-content {
                        text-align: right;

                        label {
                            font-size: 12px;
                        }

                        input[type=checkbox] {
                            background: #B58E53;
                            border-color: #B58E53;
                            accent-color: #B58E53;
                        }
                    }

                    .roomselectissue {
                        text-align: right !important;
                    }

                    button,
                    a.tf_air_service,
                    a.availability {
                        color: #FDF9F3;
                        font-size: 16px;
                        font-family: "Josefin Sans", sans-serif;
                        font-weight: 700;
                        line-height: 24px;
                        background: #B58E53;
                        min-width: 166px;
                        border: none;
                        padding: 12px 32px;
                        display: inline-block;
                        text-decoration: none;
                        text-align: center;
                        transition: .3s all ease;

                        &:hover {
                            background-color: #917242;
                        }
                    }

                    a.availability {
                        margin-top: auto;
                    }
                }
            }
        }

        .tf-features-block-wrapper {
            display: grid;
            gap: 24px;
            grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
            margin-bottom: 32px;

            @media #{$max1600}{
                grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
            }
            @media #{$max1200}{
                grid-template-columns: 1fr 1fr;
            }
            @media #{$max991}{
                grid-template-columns: 1fr 1fr;
            }
            @media #{$max480}{
                grid-template-columns: 100%;
            }

            .tf-feature-block {
                padding: 24px;
                display: flex;
                gap: 16px;
                background: #FCF4E8;
                @media #{$max1024}{
                    padding: 16px !important;
                    gap: 8px;
                }

                i {
                    font-size: 24px;
                    color: rgb(181, 142, 83);
                }

                .tf-feature-block-details {
                    h5 {
                        color: #595349;
                        font-size: 20px !important;
                        font-style: normal !important;
                        font-weight: 700 !important;
                        line-height: 1.3;
                    }

                    p {
                        color: #99948D;
                        font-family: Josefin Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%; /* 20.8px */
                    }
                }
            }
        }

        .tf-features-block-wrapper.tf-informations-secations {
            margin: 0px;
        }

        .tf-highlights-wrapper {
            display: flex;
            gap: 24px;
            padding: 32px 0;
            background: #FCF4E8;
            margin-bottom: 16px;
            border-radius: 0px;
            box-shadow: none;
            @media #{$max1024}{
                padding: 16px 0px 16px 16px;
            }

            .tf-highlights-icon {
                width: 230px;
                @media #{$max1024}{
                    display: none;
                }

                img {
                    width: 230px;
                    height: 230px;
                    object-fit: contain;
                }
            }

            .ft-highlights-details {
                width: 80%;
                padding-right: 32px;
                @media #{$max1024}{
                    width: 100%;
                    padding-right: 16px;
                }

                h2 {
                    font-weight: 700 !important;
                    margin-bottom: 24px;
                    @media #{$max1024}{
                        font-size: 24px !important;
                    }
                }

                p {
                    color: #99948D;
                }

                ul {
                    margin: 0px 0px 0px 13px;;
                    padding: 0;
                    display: flex;
                    gap: 16px;
                    flex-direction: column;
                }
            }
        }

        .tf-archive-right.tf-filter-show {
            display: block;
        }
    }
}

.admin-bar .tf-hotel-template-4.tf-hotel-single .tf-details-menu {
    top: 32px;
}