.single-tf_hotel{
    .tf-single-template{
        &__legacy{
            .tf-container h2 {
                margin-top: 0px;
                color: $color-heading;
            }
            .tf-hotel-facilities-section {
                .active {
                    display: none;
                }
                .tf-hotel-facilities-container {
            
                    .tf-hotel-facilities-title-area {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;

                        .section-heading {
                            margin-bottom: 0;
                        }
            
                        .tf-section-title {
                            margin-bottom: 0px;
                        }
            
                        i {
                            font-size: 2rem;
                            color: $color-primary;
                        }
                        
                        .hotel-facilities-icon-down {
                            display: none;
                        }
                    }
            
                    .tf-hotel-facilities-content-area {
                        margin-top: 24px;
                        .hotel-facility-item {
                            margin-bottom: 24px;
                            .hotel-single-facility-title {
                                color: $color-heading;
                                font-size: 1.25rem;
                                font-weight: 400;
                                margin-bottom: 16px;
                            }
            
                            ul {
                                display: flex;
                                list-style: none;
                                flex-wrap: wrap;
                                vertical-align: baseline;
                                gap: 16px;
                                margin: 0px;
                                padding: 0px;
            
                                @media #{$max768} {
                                    flex-direction: column;
                                }
            
                                li {
                                    display: flex;
                                    color: $color-text;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.2;
                                    vertical-align: baseline;
            
                                    span {
                                        margin-right: 8px;
            
                                        @media #{$max768} {
                                            min-width: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &__one{
            .tf-hotel-facilities-section {
                .active {
                    display: none;
                }
                .tf-hotel-facilities-container {
                    padding: 32px;
                    border-radius: 6px;
                    background: $color-filling-fg;
        
                    .tf-hotel-facilities-title-area {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
        
                        .tf-section-title {
                            margin-bottom: 0px;
                        }
        
                        i {
                            font-size: 2rem;
                            color: $color-primary;
                        }
                        
                        .hotel-facilities-icon-down {
                            display: none;
                        }
                    }
        
                    .tf-hotel-facilities-content-area {
                        margin-top: 24px;
                        .hotel-facility-item {
                            margin-bottom: 24px;
                            .hotel-single-facility-title {
                                color: $color-heading;
                                font-size: 1.25rem;
                                font-weight: 400;
                                margin-bottom: 16px;
                            }
        
                            ul {
                                display: flex;
                                list-style: none;
                                flex-wrap: wrap;
                                vertical-align: baseline;
                                gap: 16px;
                                margin: 0px;
                                padding: 0px;
        
                                @media #{$max768} {
                                    flex-direction: column;
                                }
        
                                li {
                                    display: flex;
                                    color: $color-text;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.2;
                                    vertical-align: baseline;
        
                                    span {
                                        margin-right: 8px;
        
                                        @media #{$max768} {
                                            min-width: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
