.single-tf_hotel{
    .tf-single-template{
        &__legacy{
            .popupmap-for-mobile {
                display: none;
                @media #{$max1024}{
                    display: block;
                    margin-top: 15px;
                }

            }
            .map-for-mobile {
                display: none;
                @media #{$max1024}{
                    display: block;
                    margin-top: 15px;
                }
            }
            .show-on-map {
                margin-bottom: 20px;
                @include flexbox();
                flex-direction: column;
                gap: 10px;
                iframe {
                    height: 130px;
                }
                .tf_btn {
                    border: none;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                i {
                    padding-right: 8px;
                    font-size: 0.938rem;
                }
            }
            .hero-right{
                .show-on-map{
                    @media #{$max1024}{
                        display: none;
                    }
                }
            }
        }
        &__one{
            .tf-hotel-location-map{
                #hotel-location{
                    height: 258px;
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                }
                .tf-hotel-location-preview{
                    position: relative;
                    margin-bottom: 0px;
                    line-height: 0;
                    @media #{$max768}{
                        margin-bottom: 30px;
                    }
                    @media #{$max575}{
                        margin-bottom: 0;
                    }
                    iframe{
                        height: 260px;
                    }
                    a.map-pre{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        i{
                            height: 80px;
                            width: 80px;
                            text-align: center;
                            line-height: 4;
                            color: $color-white; 
                            background-color: $color-primary;
                            border-radius: 50%;
                            padding: 0;
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}