.single-tf_hotel{
    .tf-single-template{
        &__one{
            .tf-room-section{
                margin-top: -20px;
                .tf-room-filter .tf-room-checkbox, .tf-room-filter h3 {
                    color: $color-heading;
                    list-style: none;
                }

                h3.tf-room-feature-title {
                    font-size: 1.125rem;
                    font-weight: 600;
                    margin-bottom: 0px;
                }
                ul.tf-room-checkbox {
                    margin-left: 0px;
                    li{
                        float: left;
                        margin: 10px;
                        display: flex;
                        align-items: center;
                        &:first-child{
                            margin-left: 0;
                        }
                    }
                    label{
                        margin-left: 5px;
                        line-height: 1.2;
                    }
                }

                .hotel-room-wrap {
                    width: 100%;
                    overflow-x: auto;
                    @media #{$max768} {
                        width: auto;
                        overflow-x: auto;
                    }
                }

                .tf-room-filter {
                    padding: 0 0 15px 0;
                    overflow: hidden;
                }

                .availability-table {
                    border: none;
                    margin-bottom: 0;
                    thead {
                        background: $color-primary;
                        color: $color-white;
                    }
                    td,
                    th {
                        border-left: 1px solid $color-border-lite;
                        border-bottom: 1px solid $color-border-lite;
                        border-top: none;
                        border-right: none;
                    }
                    th{
                        border-top: 1px solid $color-border-lite;
                    }
                    td.description {
                        padding: 25px;
                        @media #{$max768} {
                            min-width: 300px;
                        }
                        h3,a{
                            font-size: 1.25rem;
                            line-height: 1.5;
                            text-decoration: underline;
                        }
                        .room-features {
                            margin-top: 15px;
                            h4 {
                                font-size: 1rem;
                            }
                            .room-feature-list {
                                list-style: none;
                                padding: 0;
                                margin: 5px 0 0;
                                li {
                                    display: inline-block;
                                    margin-right: 8px;
                                }
                            }
                            i{
                                font-size: 1rem;
                                color: $color-text;
                            }
                        }
                        .room-detail-icon {
                            text-align: center;
                            margin: 15px 0 0 0;
                            .room-icon-wrap {
                                border: 1px solid $color-border-lite;
                                border-radius: 4px;
                                padding: 8px 10px 4px 10px;
                                margin-right: 5px;
                                i{
                                    font-size: 1rem;
                                    color: $color-text;
                                }
                            }
                            .icon-text {
                                font-size: 0.875rem;
                                color: $color-text;
                            }
                        }
                        .bed-facilities {
                            margin: 8px 0;
                            p{
                                color: $color-text;
                            }
                        }
                    }

                    td.pax {
                        min-width: 80px;
                        h4 {
                            font-size: 1rem;
                        }
                        .room-detail-icon {
                            text-align: center;
                            margin: 15px 0 0 0;
                            .room-icon-wrap {
                                border: 1px solid $color-border-lite;
                                border-radius: 4px;
                                padding: 8px 10px 4px 10px;
                                margin-right: 5px;
                                i{
                                    font-size: 1rem;
                                    color: $color-text;
                                }
                            }
                            .icon-text {
                                font-size: 0.875rem;
                                color: $color-text;
                            }
                        }
                    }
                
                    td.options{
                        ul{
                            list-style: none;
                            margin-left: 0;
                            margin-bottom: 0;
                            li{
                                margin-bottom: 4px;
                                .room-extra-icon{
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                    td.price{
                        .tf-hotel-deposit-hide {
                            display: none;
                        }
                        span.tf-price .amount {
                            font-weight: bold;
                        }
                        .price-per-night {
                            font-size: 0.75rem;
                            white-space: nowrap;
                        }
                    }
                    td.reserve {
                        border-right: 1px solid $color-border-lite;
                        .room-selection-wrap{
                            select,
                            .select2-container .select2-selection--single{
                                background-image: none;
                                padding: 10px;
                                width: 100%;
                                text-align: center;
                                -moz-appearance: auto;
                            }
                        }
                        #tour_room_details_loader {
                            position: fixed;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: rgba(255, 255, 255, .8);
                            display: none;
                            z-index: 999999;
                            #tour-room-details-loader-img {
                                height: 100%;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                        .tf-withoutpayment-booking{
                            text-align: left;
                        }
                        .hotel-room-availability,
                        .hotel-room-book {
                            white-space: nowrap;
                        }
                        .hotel-room-book {
                            margin-top: 15px;
                        }
                    }
                }
                
            }
        }
        &__two{
            .tf-rooms-sections{
                .tf-rooms{
                    @media #{$max768}{
                        overflow-x: scroll;
                        width: auto;
                    }
                    .hotel-room-wrap {
                        overflow-x: unset;
                    }
                    .tf-availability-table{
                        background-color: $color-white;
                        box-shadow: 0px 13px 30px 0px rgba(224,232,238,0.32);
                        border-radius: 5px;
                        margin-bottom: 0px;
                        border-collapse: collapse;
                        width: 100%;
                        border-left: none;
                        &>thead{
                            background-color: $color-primary;
                            tr{
                                th{
                                    text-align: left;
                                    color: $color-white;
                                    border: 0px solid;
                                    border-radius: 5px 5px 0px 0px;
                                    padding: 13px 30px;
                                    font-size: 1rem;
                                    font-weight: 500;
                                    border: 1px solid $color-border-lite;
                                }
                            }
                        }
                        &>tbody{
                            tr{
                                td{
                                    border: 1px solid $color-border-lite;
                                    padding: 8px;
                                    border-right: none;
                                    .tf-room-preview-img{
                                        width: 170px;
                                        margin-right: 20px;
                                        border-radius: 4px;
                                        position: relative;
                                        @media #{$max768}{
                                            width: 100%;
                                            margin-bottom: 10px;
                                        }
                                        img{
                                            border-radius: 4px;
                                        }
                                        span{
                                            display: inline-block;
                                            font-weight: 500;
                                            background: $color-primary;
                                            border-radius: 4px 0px 0px 0px;
                                            padding: 3px 14px;
                                            position: absolute;
                                            left: 0;
                                            top: 0;
                                            color: $color-white;
                                            font-size: 0.875rem;
                                        }
                                        
                                    }
                                    .tf-features-infos{
                                        @media #{$max1024}{
                                            width: 60%;
                                        }
                                        @media #{$max768}{
                                            width: 100%;
                                        }
                                        .tf-room-type{
                                            h3{
                                                font-size: 1.563rem;
                                                a{
                                                    color: $color-heading;
                                                    text-decoration: none;
                                                }
                                            }
                                        }
                                        ul{
                                            margin: 0;
                                            padding: 0;
                                            li{
                                                display: inline-block;
                                                background: $color-gray-light;
                                                border-radius: 5px;
                                                padding: 10px;
                                                margin: 5px 10px 5px 0px;
                                                line-height: 1.3;
                                                font-size: 0.75rem;
                                                i,
                                                img{
                                                    margin-right: 5px;
                                                }
                                            }
                                        }
                                        > a{
                                            color: $color-primary;
                                        }
                                    }
                                    .hotel-room-book{
                                        width: 100%;
                                    }
                                }
                                td.description{
                                    width: 60%;
                                    padding-left: 30px;
                                    padding-top: 30px;
                                    padding-bottom: 30px;
                                    border-left: 0px;
                                    @media #{$max768}{
                                        width: auto;
                                    }
                                    .bed-facilities{
                                        margin: 8px 0;
                                        p{
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                                td.pax{
                                    .tf-tooltip{
                                        @media #{$max768}{
                                            width: 100px
                                        }
                                        .room-detail-icon {
                                            text-align: center;
                                            margin: 15px 0 0 0;
                                            .room-icon-wrap {
                                                border: 1px solid $color-border-lite;
                                                border-radius: 4px;
                                                padding: 8px 10px 4px 10px;
                                                margin-right: 5px;
                                                i{
                                                    font-size: 1rem;
                                                    color: $color-text;
                                                }
                                            }
                                            .icon-text {
                                                font-size: 0.875rem;
                                                color: $color-text;
                                            }
                                        }
                                    }
                                }
                                td.reserve{
                                    .room-selection-wrap{
                                        select{
                                            border: 1px solid $color-border-lite;
                                            text-align: center;
                                        }
                                    }
                                }
                                td.options{
                                    ul{
                                        list-style: none;
                                        margin-left: 0;
                                        margin-bottom: 0;
                                        li{
                                            margin-bottom: 4px;
                                            .room-extra-icon{
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}