
.tf-tours_gallery-wrap {
    position: relative;
}
.tf-hero-btm-icon.tf-tour-gallery,.tf-hero-btm-icon .tf-tour-video {
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 5px 25px 5px 15px;
    color: #fff;
    margin-right: 10px;
}
.tf-tour-booking-wrap {
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;
    background: #FAFCFE;
    /* Shadow 2 */
    box-shadow: 0px 5px 10px rgba(0, 44, 102, 0.2);
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32%;
    width: 70%;
    .tf_selectperson-wrap{
        width: 40%;
        color: #152B47;
    }
    .tf_form-row .tf_label-row{
        margin-bottom: 0;
    }
    .tf_form-row{
        color: #152B47;
    }
    .tours-check-in-out{
        color: #152B47;
    }
}
.tf-tour-booking-wrap.tf-tours-fixed{
    width: 100%;
    z-index: 10;    
    background-color: #ecf0f2;
    height: 60px;
    .tf_acrselection-wrap{
        position: absolute;
        top: -237px;
    }
    .tf_tours_booking{
        width: 80%;
    }
} 
.tf-tours-booking-btn{
    .tf_button {
        background: #002C66;
        &:hover{
            color: #fff;
        }
    }
} 

form.tf_tours_booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 0;
    .tf_selectperson-wrap{
        border: none;
    }
}
.tf-tours-fixed{    
    button[type=submit]{
        padding: 12px;
    }
    form.tf_tours_booking{
        width: 55%;
    }
    position: fixed;
    bottom: 0;
    left: 0%;
    right: 0;
}
