.tf-tours_section_title {
    color: #002c66;
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.tf-tours-content{
    width: 100%;
}
.tf-tours_section {
    margin-bottom: 100px;
}
.tf-tours_nosidebar_layout .tf_content {
    width: 100%;
}