.tf-single-slide-wrapper {
    min-height: 500px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tf-hero-slider-top-icons {
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    margin-top: 20px;
}
.tf-hero-slider-icon {}
.tf-hero-slider-bottom-area {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 70px;
}
.tf-hero-slider-icon {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.tf-hero-slider-icon span {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #FAFCFE;
}
.tf-hero-slider-content h2 {
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -0.4px;
    color: #FAFCFE;
    text-align: center;
    font-weight: bold;
}
.tf-hero-slider-wrapper {
    position: relative;
}
.tf-hero-slider-arrow {
    position: absolute;
    top: calc(50% - 30px);
    z-index: 9;
    border: none;
    background: none !important;
    color: #fff !important;
    transition: 0.3s;
}
button.tf-hero-slider-arrow.next-arrow {
    right: 0;
}
.tf-hero-slider-arrow:hover {
    color: #000 !important;
}
.tf-hero-slider-arrow:focus {
    outline: none;
}
.tf-hero-area {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 20px 70px 50px;
    background-size: cover;
    background-position: center;
}
.tf-hero-top-icons {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}
.tf-hero-bottom-area {
    display: flex;
    justify-content: flex-end;
}
.tf-hero-slider-fixed {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: #000000de;
    visibility: hidden;
    opacity: 0;
    transform: scale(.5);
    transition:0.3s;
}
.tf-hero-slider-wrapper {
    width: 1130px;
    display: inline-block;
    margin: auto;
}
.tf-hero-btm-icon {
    cursor: pointer;
    transition: 0.3s;
}
.tf-hero-btm-icon:hover {
    transform: scale(1.1);
}
.tf-hero-slider-fixed.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.tf-hero-slider-cross-icon {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: 30px;
    width: 30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}
.tf-hero-slider-relative {
    position: relative;
}
