

        .tf_tours-title {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.2px;
            color: #152B47;
            margin-bottom: 10px;
            font-weight: 400;
        }

        .tf-tours-map-link a {
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.2px;
            color: #7893B0;
            text-decoration: none !important;
        }

        .tf_tours-title-area {
            display: flex;
            justify-content: space-between;
            margin: 20px 0 100px;
            padding: 0 15px;
        }

        .tf-tours-price  * {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.2px;
            color: #152B47;
            font-weight: normal !important;
        }

        .tf-tours-ratings {
            display: flex;
            justify-content: flex-end;
        }

        .tf-tours-ratings {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.2px;

        /* Neutral/900 */
            color: #152B47;
        }

        .tf-tours-ratings .fa {
            color: #FFCD3D;
        }
