/*
Button
*/
.tf-admin-btn {
    display: inline-flex;
    @include align-items(center);
    background-color: #fff;
    padding: 7px 22px;
    border: 1px solid #003c79;
    border-radius: 4px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;

    i {
        margin-right: 8px;
        font-size: 18px;
    }

    &.tf-btn-secondary {
        background-color: #003c79;
        border-color: #003c79;
        color: #fff;
        font-weight: 600;
    }
    //disabled
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
}