//Font family Global
.tf-template-global h1, 
.tf-template-global h2, 
.tf-template-global h3, 
.tf-template-global h4, 
.tf-template-global h5, 
.tf-template-global h6{
    font-family: inherit;
    font-weight: $font-weight-medium;
    color: $color-black-light;
    margin: 0px;
    line-height: 1.3;
}
.tf-template-global p {
    font-family: inherit;
    font-size: 16px;
    font-weight: $font-weight-normal;
    line-height: 1.6;
    color: $color-primary;
    margin: 0px;
}