/*===============================
=            Buttons            =
===============================*/
.tf_button {
    background: #00698F;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border: 1px solid #00698F;
    border-radius: 2px;
    padding: 20px;

    &:hover{
    	text-decoration: none;
    }



    &.btn-outline {
        background: #fff;
        color: #333;
        border-color: #333;
    }
}

.page-template-tf_search-result, .single-tourfic {
    & .tf_form-row {
        & .tf_button {
            padding: 15px 20px;
            width: 100%;
        }
    }
}

.page-template-tf_search-result {
    & .single-tour-inner {
        & .tf_button {
            padding: 15px 20px;
        }
    }
}

.single-tourfic {
    & .tf_container {
        & .tf_button {
            padding: 15px 20px;
        }
    }
}

/*=====  End of Buttons  ======*/