.tf_contents {
    margin-top: 40px;
}

.tf_toc-wrap {
    td{
    	white-space: break-spaces;
    }

}

.tf_gallery-wrap {

	.slick-slide img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
}

// Faq
.tf-single-faq {
    border-bottom: 1px solid #ddd;
}

.faq-content {
    display: none;
    padding-bottom: 20px;
    padding-left: 20px;
    position: relative;
}

.faq-head {
    padding: 17px 0;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.faq-head i {
    font-size: 18px;
}

.faq-head>i {
    margin-right: 8px;
}

.faq-indicator {
    position: absolute;
    right: 0;
}

.faq-indicator i {
    font-size: 20px;
}

.faq-indicator .fa-angle-up {
    display: none;
}

.tf-single-faq.active .faq-indicator .fa-angle-up {
    display: block;
}

.tf-single-faq.active .faq-indicator .fa-angle-down {
    display: none;
}

.tf_contents.reviews .comment-respond {
    padding: 0;
    background: transparent;
}

.tf_toc-wrap {
    margin-top: 30px;
}

.tf-comments-count-wrapper {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.tf_comment-metas .comment-meta {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.tf_comment-metas .comment-meta label {
    min-width: 230px;
    margin: 0;
}

.tf_comment-metas {
    margin-bottom: 31px;
}

.author-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-email>p {
    min-width: 50%;
    max-width: 50%;
}

.author-email input {
    width: 100%;
}

p.comment-form-author {
    padding-right: 7px;
}

p.comment-form-email {
    padding-left: 7px;
}

.tf_comment-metas .comment-meta .tf_comment_meta-key {
    font-weight: normal;
    text-transform: capitalize;
}

.tf-comment-list {
    padding: 0;
    margin: 0;
}

.tf-comment-list .comment {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 15px 0;
    overflow: hidden;
    clear: both;
}

.tf-overall-ratings {
    text-align: center;
    position: relative;
    padding-right: 15%;

    &:after{
    	content: '';
    	position: absolute;
	    width: 1px;
	    height: 100%;
	    background-color: #ddd;
	    top: 0;
	    bottom: 0;
	    right: 0;
    }

    .overall-rate {
	    font-size: 24px;
	    line-height: 1;
	}

	.overall-rate-stars {
	    line-height: 1;
	}
}

.star-ratings {
	unicode-bidi: bidi-override;
	color: #ccc;
	font-size: 28px;
	position: relative;
	margin: 0;
	padding: 0;
	width: 0px;
	user-select: none;
	width: 117px;

	.fill-ratings {
	  	color: #e7711b;
	  	padding: 0;
	  	position: absolute;
	  	z-index: 1;
	  	display: block;
	  	top: 0;
	  	left: 0;
	  	overflow: hidden;
	  	transition: width 1s ease-in-out;

	  	// Allows us to grab the width of the span elements
	  	span {
	  	  	display: inline-block;
	  	}
	}

	.empty-ratings {
	  	padding: 0;
	  	display: block;
	  	z-index: 0;
	}
}

.tf-comments-count-wrapper {

	.tf_comment-metas{
		margin: 0;

		.comment-meta label {
			min-width: 80px;
			text-align: right;
		}
	}
}

.tf_comment_meta-percent {
    width: 200px;
    height: 7px;
    background: #ddd;
    margin: 0 17px;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}

.percent-progress {
    position: absolute;
    width: 0;
    background-color: #e7711b;
    height: 100%;
    transition: width 1s ease-in-out;
}

#reply-title {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

#reply-title .faq-indicator {
    position: relative;
}

.comment-respond {
    background-color: #f6f6f6!important;
    padding: 20px !important;
    border: 1px solid #ddd !important;

    #commentform{
    	display: none;
    }
}