.tf_form-row{
	.tf_label-row {
	    margin-bottom: 15px;
	    display: block;
        font-size: inherit;
	}
}

.tf_form-inner {
    position: relative;
	display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    background: #fff;

    .icon{

    }

   	input[type='text'],
   	select {
   		width: 100%;
   		background: transparent;
    	border: 0;
    	box-shadow: none;
    	height: 45px;
        font-size: inherit;

    	&:focus{
    		background: transparent;
    		border: 0;
    		outline: 0;
    	}
	}
}


#destinationautocomplete-list {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

#destinationautocomplete-list div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
#destinationautocomplete-list div:hover {
  background-color: #e9e9e9; 
}
