/*Informations style*/
.tf_informations{
    overflow: hidden;
    padding: 50px 0;
}
.tf_informations h4{
    color: #152B47;
}
.tf_informations p{
    color: #2F4E74;
    font-weight: 400;
    font-size: 16px;
}

.tf_informations .item {
    width: 20%;
    background: #FAFCFE;
    box-shadow: 0px 5px 10px rgba(0, 44, 102, 0.2);
    border-radius: 5px;
    float: left;
    margin: 0 2%;
    text-align: center;
    padding: 4% 0%;
}
.tf_informations .item .icon{
    font-size: 26px;
}
  
.tf_informations .item .icon {

  }