.tf_map-link{
	display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;

    svg{
    	margin-right: 4px;
    	//fill: #666;
    }
}

.show-on-map {
    padding-right: 8px;
}

.tf-map-tour-wrap {
    position: relative;
    margin-top: 30px;
    background: #ddd;
}

.tf-map-tour-wrap .map-bg {
    width: 100%;
    height: 170px;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.tf-map-tour-wrap .map-buttons {
    position: absolute;
    width: 100%;
    bottom: 30px;

    a{
    	width: 100%;
    }
}