.tourfic-popup-wrapper{

	button.mfp-close {
    background-color: unset!important;
    opacity: 1;
    }

	.mfp-figure:after {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 40px;
	    bottom: 40px;
	    display: block;
	    right: 0;
	    width: auto;
	    height: auto;
	    z-index: -1;
	    box-shadow: unset;
	    background: unset;
	}  
}
