/* Medium devices (0 - 991px) */
@media (max-width: 991px) {
    .archive_ajax_result .single-tour-wrap {
        width: 100% !important;
        flex: none;
        margin-bottom: 20px;
    }

    .tf_search_result .tf-action-top {
        display: none;
    }

    .archive_ajax_result .tourfic-single-left {
        width: 100%;
        margin-bottom: 16px;
    }

    .archive_ajax_result .single-tour-inner {
        margin: 0;
        height: 100%;
        padding: 20px;
    }

    .archive_ajax_result tourfic-single-left {
        width: 100%;
        margin-bottom: 16px;
    }

    .archive_ajax_result .tourfic-single-right {
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .archive_ajax_result .roomrow_flex {
        padding: 0;
        flex-wrap: wrap;
    }

    .archive_ajax_result .roomName_flex {
        width: 100%;
        max-width: 100%;
    }

    .archive_ajax_result .tf_item_main_block {
        max-width: 60% !important;
    }

    .tf_item_review_block {
        max-width: 40%;
    }

    .archive_ajax_result .bui-review-score__title {
        font-size: 14px;
    }

    .archive_ajax_result .roomPrice.roomPrice_flex.sr_discount {
        text-align: left;
        margin: 10px 0;
    }

    .archive_ajax_result .availability-btn-area .tf_button {
        width: 100%;
        margin-top: 15px;
    }
}

/* Medium devices (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .tf_content {
        width: 70%;
    }

    .tf_sidebar {
        width: 30%;
    }
}

/* Mobile devices */
@media (max-width: 767px) {
    .recomended_inner {
        margin-left: -15px;
        margin-right: -15px;
        clear: both
    }

    .recomended_inner .single_recomended_item {
        width: 50%;
        float: left;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tf_container {
        width: 100%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tf_content {
        width: 100%;
    }

    .tf_sidebar {
        width: 100%;
    }

    .tf_title-area {
        display: block;
    }

    .tf_title-right {
        margin: 10px 0;
    }
    .tf_title-left {
        width: 50%;
        float: left;
    }
    /*Tourbox styles*/
    .single-tourbox{
        width: 100%;
        height: 320px;
    }

    /**Information box*/
    .tf_informations{
        .item{
            width: 100%;
            margin-bottom: 15px;
        }
    }
    /*Inlcude Exclude*/
    .inc-exc-content{
        display: block;
        padding:25px;
        .tf-include,.tf-exclude{
            width: 100%;
            float: none;
            margin: 15px 0;
        }
    }
    .inc-exc-content:before {
        left: 4%;
        top: 2%;
    }
    .inc-exc-content:after {
        bottom: 2%;
        right: 4%;
    }
}

@media (max-width: 450px){
	.recomended_inner .single_recomended_item {
    width: 100%;
    float: none;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
}