.tourfic-wrap {
	&.default-style{
		.tf_slider-nav.fl-wrap {
		    margin-top: 3px;
			img {
		   		padding: 3px;
		   		cursor: pointer;
		   	}
		}

		.tf-room{
			width: 100%;
			padding: 0;
		}

		button[type="submit"] {
		    padding-left: 30px;
		    padding-right: 30px;
		    white-space: nowrap;
		}

		.tf-room-title {
	    	font-size: 15px;
	    	font-weight: 600;
		}

		.room-features {
		    padding-top: 8px;
		}

		.tf_desc ul {
		    list-style: disc;
		    padding-left: 16px;
		    font-size: 11px;
		    line-height: 1.4;
		}

		.bed-facilities i {
		    margin-right: 4px;
		}

		.tf-price-column {
		    text-align: center;
		}
	}
}

.highlights-title,
.listing-title {
    margin-bottom: 14px;
    text-transform: uppercase;
}

.tf_contents{
	&.highlights {
		border-bottom: 1px solid #e2e2e2;
    	padding-bottom: 20px;
		ul{
			list-style: circle;
    		padding-left: 40px;
    		li{
    			margin-bottom: 7px;
    		}
		}
	}
}

.room-feature-list li {
    display: inline;
    margin-right: 10px;
    vertical-align: middle;
}

.tf-similar-tour-wrap {
    overflow: hidden;
    padding: 10px;
    border: 1px solid #ebf3fe;
    margin-top: 30px;
    background-color: #fbfcff;
}

.not-impressive {
    line-height: 1;
    margin-bottom: 13px;
}

.ni-buttons .button {
	border-color: #004d95;
    color: #004d95;
    min-width: 100%;

    &:hover{
    	background: #004d95;
    	color: #fff;
    }
}

.tf-gotq-tour-wrap {
    margin: 28px 0;
}

.gotq-top {
    margin-bottom: 12px;
}