.tf_tab-wrap {
    margin-top: 50px;
}

.tf_tab-nav-link {
	color: inherit;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-color: transparent;

    &.active{
    	border-color: #ddd;
    }
}

.tf_tab-content {
    padding: 8px 15px;
    display: none;

    &.active{
    	display: block;
    }
}

.tf-tab-container {
    border: 1px solid #ddd;
}

/* search widget tab styles */
/* Style the buttons inside the tab */
.tf-booking-search-tabs {
    overflow: hidden;
    background-color: #f1f1f1;
  }
.tf-booking-search-tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
.tf-tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
  div#tf-booking-search-tabs {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 13px;
}

.tf-booking-form-tab {
    padding: 0 11px;
}