.tf_title-area {
    display: flex;
    justify-content: space-between;
}
.tf_title {
    font-family: "rubik";
    font-size: 20px;
    margin: 0;
    color: #152B47;
  }

.tf_title-right {
    display: flex;
    align-items: center;
}

.share-tour {
    margin-right: 14px;
}