.tf_title-area {
    display: flex;
    justify-content: space-between;
}

.tf_title {
    margin: 0;
    font-size: 26px;
}

.tf_title-right {
    display: flex;
    align-items: center;
}

.share-tour {
    margin-right: 14px;
}