@import '../../../../common/variable';
@import '../../../../common/mixin';

// Single Module Load Start
@import './modules/single/_social-share';
@import './modules/single/_gallery';
@import './modules/single/_rooms';
@import './modules/single/_nearby-place';
@import './modules/single/_features';
@import './modules/single/_facilities';
@import './modules/single/_faq';
@import './modules/single/_review';
@import './modules/single/_map';
@import './modules/single/_popup';
// Single Module Load End

// Archive Module Load Start
@import './modules/archive/_listing';
// Archive Module Load End

/**************** TITLE ****************/
.tf-map-link a.more-hotel {
    font-weight: bold;
}

.tf-wishlist-button {
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px 0 0;
    line-height: 1;
}

/**************** HERO ****************/
.hero-left .tf-top-review {
    position: absolute;
    margin: 20px;
}

.hero-section-wrap {
    display: grid;
    grid-template-columns: 75% 25%;
}

.hero-left {
    padding-right: 15px;
}

.hero-right {
    padding-left: 15px;
}

.hero-booking .widget {
    margin-bottom: 0;
}


html {
    scroll-behavior: smooth;
}
.tf_template_3_global_layouts{
.site-primary-header-wrap,
.header-container.container,
#footer .footer-bottom,
.page-top,
#masthead.site-header .col-full,
.storefront-breadcrumb,
#colophon.site-footer .site-info{
    padding-left: 32px !important;
    padding-right: 32px !important;
}
}


.tf-hotel-design-1{
    background: inherit;
    .tf-single-head{
        .more-hotel{
            color: $color-primary;
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
        }
    }
    #tf-single-hotel-avail{
        margin: 0px !important;
        .tf_booking-dates{
            #check-in-out-date{
                background-color: $color-light-bg !important;
                padding-top: 3px !important;
                padding-bottom: 3px !important;
            }
            #tf-required {
                text-align: center;
                margin-top: 10px !important;
                display: block;
                b{
                    font-family: inherit;
                    font-weight: 500;
                    color: $color-danger;
                }
            }
        }
        .tf-bttn-normal{
            padding: 16px 24px;
        }
    }
    .tf-tour-booking-box{
        margin-bottom: 25px;
        box-shadow: 0px 13px 30px 0px rgba(224,232,238,0.32);
    }
}


.tf_template_3_single_hotel .flatpickr-calendar {
left: 320px !important;

@media only screen and (max-width: 1920px) {
    left: 240px !important;
}

@media only screen and (max-width: 1280px) {
    left: 100px !important;
}

@media only screen and (max-width: 1024px) {
    left: 80px !important;
} 

@media only screen and (max-width: 660px) {
    left: 20px !important;
}
}

.tf_template_3_hotel_archive .flatpickr-calendar {
    left: 495px !important;

@media only screen and (max-width: 1280px) {
    left: 285px !important;
}

@media #{$max1024}{
    left: 170px !important;
}

@media only screen and (max-width: 660px) {
    left: 30px !important;
}
}

@import './template2/modules/common';
@import './template2/modules/responsive';


/********************** HOTEL FACILITIES - END  **********************/
/********************** RESPONSIVE **********************/
@media only screen and (min-width: 951px) {
    .popupmap-for-mobile {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    .hero-right .tf-hotel-location-preview {
        display: none;
    }

    .tf-hotel-location-preview iframe {
        height: 200px;
    }

    .popupmap-for-mobile {
        margin-top: 15px;
    }
}


@media only screen and (min-width: 831px) {
    .map-for-mobile {
        display: none;
    }
}

@media only screen and (max-width: 830px) {
    .tf_booking-widget {
        margin-bottom: 0;
    }

    .hero-right .show-on-map {
        display: none;
    }

    .map-for-mobile {
        margin-top: 15px;
    }
}

@media only screen and (min-width: 821px) and (max-width: 991px) {
    .hero-section-wrap {
        grid-template-columns: 72% 28%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-section-wrap {
        grid-template-columns: 72% 28%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 820px) {
    .hero-section-wrap {
        grid-template-columns: 67% 33%;
    }
}

@media only screen and (max-width: 767px) {
    .tf-title-area h1 {
        font-size: 28px;
    }

    .more-hotel.tf-d-ib {
        display: inline;
    }

    .hero-section-wrap {
        grid-template-columns: 60% 40%;
    }

    .hotel-room-wrap {
        width: auto;
        overflow-x: auto;
    }

    .description {
        min-width: 300px;
    }

    .single-feature-box {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .tf-title-wrap {
        display: block;
    }

    .hero-section-wrap {
        grid-template-columns: 100%;
    }

    .tf-title-right {
        margin-top: 15px;
        justify-content: end;
    }

    .hero-left {
        padding-right: 0;
    }

    .hero-right {
        padding-left: 0;
        max-width: 316px;
        margin: auto;
    }

    .share-tour-content .tf-dropdown-content {
        min-width: 270px;
        margin-left: -170px;
    }

    .tf-dropdown-content li {
        display: block;
    }

    .share-tour-content input#share_link_input {
        width: 100% !important;
        margin: 5px 0;
        max-width: 100%;
        display: block;
    }

    .share-tour-content {
        left: 50px;
    }

    .share-tour-content .share-center-copy-form {
        display: block;
    }
}
