.tf-field-map{
    .tf--map-search{
        width: 100%;
        input{
            width: 100%;
        }
    }
    .tf--map-osm-wrap{
        border: 1px solid #ddd;
        padding: 5px;
        margin-top: 10px;
        .tf--map-osm{
            height: 250px !important; 
        }
    }
    .tf--map-inputs{
        display: flex;
        justify-content: space-between;
        .tf--map-input{
            width: 48%;
            label{
                width: 100%;
            }
            input{
                width: 100%;
            }
        }
    }
}