.tf-field-select2{

  .select2-container{
    width: 100% !important;

    .select2-selection{
      width: 100%;
      padding: 12px 8px 12px 12px;
      border: none;
      border: 1px solid #C4CBD4;
      background: #F5F8FF;
      border-radius: 4px;
      height: 48px;
      color: $slate80;
      font-size: 14px;

      .select2-selection__choice {
        background-color: $slate10;
        border: none;
        margin-left: 4px;
        margin-top: 0;
        padding: 4px 20px 4px 4px !important;
        color: $slate80;

        &:first-child{
          margin-left: 0;
        }
      }
      .select2-selection__choice__remove {
        border-right: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: $slate80;
        font-size: 16px;
        padding: 0;
        position: absolute;
        left: auto;
        top: 2px;
        right: 4px;
      }

      .select2-selection__clear {
        margin-top: 0;
      }
    }
    .select2-search--inline .select2-search__field {
      margin-top: 0;
      margin-left: 5px;
      padding: 0;
      max-width: 100%;
      resize: none;
      height: 30px;
      vertical-align: middle;
      font-family: sans-serif;
      overflow: hidden;
      word-break: keep-all;
    }
  }
}