.tf-field-select{

  select.tf-select{
    width: 100%;
    padding: 12px 8px 12px 12px;
    border: none;
    background-color: #F8F9FB;
    border-radius: 4px;
    height: 48px;
    color: $slate80;
    font-size: 14px;

    &:focus{
      outline: none;
    }
  }
}