.tf-field-textarea {
  textarea {
    width: 100%;
    height: 180px;
    padding: 12px 8px 12px 12px;
    border: none;
    background: #F8F9FB;
    border-radius: 4px;
    color: $slate80;
    font-size: 14px;
    &:focus {
      background: #FFFFFF;
      box-shadow: 0 0 0 2px $blue60;
      border-radius: 4px;
    }
  }
}