.single-tf_apartment{
    .tf-single-template{
        &__legacy{
            #tf-apartment-booking {
                background-color: $color-filling-fg;
                border-radius: 8px;
                padding: 32px;
                margin-bottom: 40px;
                @media #{$max320}{
                    padding: 16px;
                }
            
                h5 {
                    color: $color-heading;
                    font-weight: 500;
                    font-size: 1.125rem;
                    line-height: 1.5;
                    text-align: center;
                    margin: 0 0 16px 0;
                }
            
                .tf-apartment-form-header {
                    @include flexbox();
                    @include justify-content(space-between);
                    @include align-items(center);
                    margin-bottom: 16px;
            
                    .tf-apartment-price-per-night {
                        margin: 0;
            
                        span.tf-apartment-base-price,
                        span.tf-apartment-base-price span {
                            color: $color-heading;
                            font-size: 1.5rem;
                            line-height: 1.5;
                            font-weight: 600;
                        }
            
                        span {
                            color: $color-text;
                            font-size: 1rem;
                            font-weight: 400;
                            letter-spacing: 0.2px;
                        }
                    }
            
                    .tf-top-review a {
                        text-decoration: none;
                    }
            
                    .tf-single-rating {
                        color: $color-gray;
                        background-color: transparent;
                        padding: 0;
                        font-size: 0.625rem;
                        @include flexbox();
                        @include align-items(center);
            
                        i {
                            color: $color-warning;
                            font-size: 1rem;
                            margin-top: -3px;
                        }
            
                        span {
                            font-size: 0.875rem;
                            font-weight: 500;
                            color: $color-gray;
                            margin: 0 4px;
                        }
                    }
                }
            
                .tf-apartment-form-fields {
                    background: $color-filling-bg;
                    border: 1px solid $color-border-lite;
                    border-radius: 8px;
                    margin-bottom: 16px;
            
                    .tf_booking-dates {
                        @include flexbox();
                        @include flex-wrap(wrap);
            
                        * {
                            box-sizing: border-box;
                        }
            
                        .tf-check-in-date,
                        .tf-check-out-date {
                            @include flex(0 0 50%);
                            padding: 8px 16px;
                            text-align: center;
            
                            .tf-label {
                                text-transform: uppercase;
                                display: inline-block;
                                color: $color-heading;
                                text-align: center;
                                font-size: 0.625rem;
                                line-height: 1.5;
                                font-weight: 700;
                                letter-spacing: 0.2px;
                            }
                        }
            
                        .tf-err-msg {
                            @include flex(0 0 100%);
                            text-align: center;
                            font-size: 0.875rem;
                            color: $color-danger;
                        }
            
                        .form-control,
                        #check-in-date,
                        #check-out-date {
                            border: none;
                            background-color: transparent;
                            padding: 0;
                            width: 100%;
                            color: $color-text;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            letter-spacing: 0.2px;
                            cursor: pointer;
                            text-align: center;
            
                            &:focus {
                                outline: none;
                            }
                        }
            
                        .tf-check-out-date {
                            .tf_label-row {
                                position: relative;
                            }
            
                            .form-control {
                                opacity: 0;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }
            
                        .tf-check-in-date {
                            border-right: 1px solid $color-border-lite;
                        }
            
                        #check-in-out-date {
                            width: 100%;
                            opacity: 0;
                            position: absolute;
                            bottom: 0;
                        }
                    }
            
                    .tf-apartment-guest-row {
                        border-top: 1px solid $color-border-lite;
                        padding: 8px 16px;
            
                        label {
                            margin-bottom: 0;
                        }
            
                        .tf-label {
                            text-transform: uppercase;
                            display: inline-block;
                            color: $color-heading;
                            font-size: 0.625rem;
                            font-weight: 700;
                            line-height: 1.5;
                            letter-spacing: 0.2px;
                        }
            
                        .tf_selectperson-wrap {
                            padding: 0;
                            border: none;
                            width: 100%;
                            // color: $color-gray-light;
            
                            .tf_acrselection-wrap {
                                left: 0;
                                right: 0;
                                width: auto;
                            }
            
                            .tf_input-inner {
                                color: $color-text;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.5;
                                letter-spacing: 0.2px;
                            }
                        }
                    }
            
                    .tf-err-msg {
                        color: $color-danger;
                        font-weight: 500;
                    }
                }
            
                .tf_btn {
                    height: auto;
                    border-radius: 8px;
                    background: $color-primary;
                    padding: 12px 24px;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.5px;
                }

                .tf-apartment-price-list {
                    margin: 15px 0 0;
                    padding: 0;
            
                    li {
                        @include flexbox();
                        @include justify-content(space-between);
                        margin-bottom: 8px;
                        color: $color-text;
            
                        .tf-price-list-label {
                            color: $color-text;
                        }
            
                        .tf-price-list-price {
                            font-weight: 500;
                        }
            
                        &.total-price-wrap {
                            padding-top: 10px;
                            margin-top: 16px;
                            border-top: 1px solid $color-blue-light;
                            font-weight: 500;
                            color: $color-text;
                        }
            
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
        &__two{
            #tf-apartment-booking{
                box-shadow: none;
                padding: 0px;
                margin: 0;
                border: none;
                border-radius: none;
                .tf-apartment-form-header{
                    h3{
                        span{
                            color: $color-primary;
                            font-size: 2rem;
                            font-weight: 700;
                            @media #{$max768}{
                                font-size: 1.25rem;
                            }
                            bdi{
                                font-size: 2rem;
                                @media #{$max768}{
                                    font-size: 1.25rem;
                                }
                            }
                        }
                        span.per-pricing-type{
                            font-size: 1.125rem;
                        }
                    }
                }
                .tf-apartment-form-fields{
                    background-color: transparent;
                    border: 0px solid;
                    margin: 0;
                    border-radius: none;
                    .tf_booking-dates{
                        .tf-check-in-out-date{
                            height: 53px;
                            padding: 16px 32px 16px 16px;
                            background: $color-white;
                            margin-bottom: 32px;
                            .tf_label-row{
                                display: flex;
                                align-items: center;
                                gap: 8px;
                            }
                        }
                        .tf-aprtment-check-in-out-date{
                            height: 53px;
                            padding: 15px 32px 16px 16px;
                            background: $color-filling-bg;
                            width: 100%;
                            box-sizing: border-box;
            
                            .tf_label_rows{
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                input{
                                    border: none;
                                    background-color: rgba(0,0,0,0);
                                    padding: 0;
                                    width: 100%;
                                    color: $color-text;
                                    font-size: 1rem;
                                    text-align: left;
                                    height: auto;
            
                                    &:focus{
                                        outline: none;
                                        box-shadow: none;
                                    }
                                }
                            }
                        }
                    }
                    .tf-apartment-guest-row{
                        border-top: 0px solid $color-border;
                        padding: 0px;
                        .tf_selectperson-wrap{
                            display: block;
                            border-right: 0px solid;
                            @media #{$max575}{
                                padding-top: 0;
                            }
                            .tf-form-title{
                                margin-bottom: 24px;
                                h3.tf-person-info-title{
                                    color: $color-heading;
                                    font-size: 2rem;
                                    font-weight: 400;
                                    margin: 0px;
                                    @media #{$max768}{
                                        font-size: 1.25rem;
                                    }
                                }
                            }
            
                            .tf_acrselection{
                                margin-bottom: 24px;
            
                                &:last-child{
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
                .tf-apartment-price-list {
                    margin: 15px 0 0;
                    padding: 0;
            
                    li {
                        @include flexbox();
                        @include justify-content(space-between);
                        margin-bottom: 8px;
                        color: $color-text;
            
                        .tf-price-list-label {
                            color: $color-text;
                        }
            
                        .tf-price-list-price {
                            font-weight: 500;
                        }
            
                        &.total-price-wrap {
                            padding-top: 10px;
                            margin-top: 16px;
                            border-top: 1px solid $color-info-light;
                            font-weight: 500;
                            color: $color-text;
                        }
            
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
            #tf-apartment-booking .tf-apartment-form-fields .tf_booking-dates {
                flex-wrap: wrap;
                margin-bottom: 32px;
        
                .tf_label-row {
                    margin-top: 8px;
                    .tf-err-msg{
                        color: $color-danger;
                    }
                }
            }
        }
    }
}