.single-tf_apartment{
    .tf-single-template{
        &__one{
            .tf-apartment-title {
                padding-bottom: 40px;

                .tf-title-wrap {
                    @include align-items(flex-end);

                    @media #{$max768} {
                        @include flex-direction(column);
                    }
                    @media #{$max575} {
                        @include align-items(flex-start);
                    }
                }

                .tf-title-left-bottom {
                    @include flexbox();
                    @include align-items(center);
                    gap: 32px;
                    @media #{$max575} {
                        flex-direction: column;
                        gap: 16px;
                        @include align-items(Start);
                    }
                    a {
                        text-decoration: none;
                        display: block;
                        width: max-content;
                    }

                    .tf-single-rating {
                        color: $color-text;
                        background-color: transparent;
                        padding: 0;
                        font-size: 0.75rem;
                        @include flexbox();
                        @include align-items(center);

                        i {
                            color: $color-primary;
                            font-size: 1rem;
                            margin-top: -3px;
                        }

                        span {
                            font-size: 0.875rem;
                            font-weight: 500;
                            color: $color-gray;
                            margin: 0 4px;
                        }
                    }
                }

                .tf-title-right {
                    @include flex(0 0 350px);
                    @include justify-content(flex-end);
                    gap: 24px;

                    @media #{$max768} {
                        @include flex(0 0 100%);
                        margin-top: 24px;
                    }

                    @media #{$max575} {
                        @include justify-content(flex-start);
                        margin-top: 16px;
                    }

                    a {
                        text-decoration: none;
                    }

                    .tf-wishlist-button {
                        font-size: 0.875rem;
                        cursor: pointer;
                        color: $color-gray;
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        i {
                            font-size: 1.5rem;
                        }
                    }

                    .tf-share {
                        position: relative;

                        a {
                            font-size: 0.875rem;
                            display: flex;
                            align-items: center;
                            outline: none;
                            color: $color-text;
                            gap: 8px;
                        }

                        .share-tour-content {
                            display: none;
                            position: absolute;
                            min-width: 100%;
                            top: 100%;
                            transform: translateY(8px);
                            z-index: 99999;
                            left: auto;
                            right: 0;
                            @media #{$max575} {
                                left: 0;
                                right: inherit;
                            }
                            .tf-dropdown-content {
                                margin: 0;
                                background: $color-white;
                                border-radius: 4px;
                                overflow: hidden;
                                min-width: 200px;
                                z-index: 100;
                                box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 3px -1px rgba(0, 0, 0, 0.2);
                                @media #{$max768} {
                                    min-width: auto;
                                }
                                li {
                                    display: inline-block;

                                    a i {
                                        color: #1D75E3;
                                        font-size: 1.063rem;
                                    }

                                    &:nth-child(2) a i {
                                        color: #1D9BF0;
                                    }

                                    &:nth-child(3) a i {
                                        color: #0A66C2;
                                    }

                                    &:nth-child(4) a i {
                                        color: #CC0000;
                                    }
                                }
                            }

                            .tf-dropdown-item-content {
                                white-space: nowrap;
                                display: flex;
                                align-items: center;
                                column-gap: 5px;
                            }

                            .tf-dropdown-item {
                                border: 0;
                                margin: 0;
                                cursor: pointer;
                                padding: 12px 16px;
                                white-space: nowrap;
                                text-decoration: none;
                                color: $color-heading;
                                background-color: $color-white;
                                fill: $color-heading;
                                display: flex;
                                align-items: center;
                                font-weight: 400;
                                font-size: 0.875rem;
                                @media #{$max575} {
                                    padding-bottom: 0;
                                }
                                &:hover {
                                    background-color: $color-brand-lite;
                                }
                            }

                            .share-center-copy-form {
                                @include flexbox();
                                @include align-items(flex-center);
                                padding: 12px 16px;
                                @media #{$max575} {
                                    flex-direction: column;
                                    gap: 6px;
                                    padding-top: 10px;
                                    @include align-items(flex-start);
                                }
                            }

                            .share-center-copy-label {
                                white-space: nowrap;
                            }

                            .share-center-copied-message {
                                display: none;
                            }

                            #share_link_button {
                                white-space: nowrap;
                                font-size: 0.813rem;
                                padding: 5px 12px;
                            }

                            input#share_link_input {
                                width: auto;
                                flex-grow: 1;
                                margin: 0 8px;
                                background-color: $color-white;
                                padding: 3px;
                                border: 2px solid $color-gray;
                                @media #{$max575} {
                                    margin: 0;
                                }
                            }
                        }

                        .share-center-copy-cta.copied {
                            .share-center-copied-message {
                                display: inline-block;
                                font-weight: bold;
                            }

                            .share-center-copy-message {
                                display: none;
                            }
                        }
                    }
                }

                h1 {
                    color: $color-heading;
                    font-weight: 500;
                    font-size: 2.25rem;
                    line-height: 1.2;
                    margin-bottom: 8px;
                }

                .tf-map-link {
                    letter-spacing: 0.2px;
                    @media #{$max1024} {
                        flex: 1;
                    }
                    .more-apartment {
                        color: $color-gray-light;
                        font-weight: 600;
                    }
                    p {
                        margin-bottom: 0;
                    }
                }

            }
        }
    }
}