.single-tf_apartment{
    .tf-single-template{
        &__one{
            .apartment-question {
                background: transparent;
                text-align: left;
                padding-top: 0;
                padding-bottom: 0;
                margin-bottom: 80px;

                @media #{$max1024} {
                    max-width: 100%;
                    padding: 0;
                }
                h3 {
                    &::before {
                        display: none;
                    }
                }
                .apartment-qa-wrapper {
                    .btn-styled {
                        display: inline-block;
                    }
                }
                .tf-question-left {
                    @include flexbox();
                    @include align-items(center);
                    gap: 16px;
                    flex: 1;

                    .tf-apartment-question-icon {
                        @include flexbox();
                    }

                    i {
                        align-self: flex-start;
                        font-size: 2.5rem;
                    }

                    .default-enquiry-title-section {
                        justify-content: flex-start;
                        h2{
                            margin-bottom: 0;
                        }
                    }

                    h4 {
                        margin: 0;
                        font-size: 1.25rem;
                        line-height: 1.5;
                        color: $color-heading;
                        font-weight: 600;
                    }

                    p {
                        color: $color-text;
                        margin: 0;
                        font-size: 0.875rem;
                        letter-spacing: 0.2px;
                    }
                }

                .apartment-qa-wrapper {
                    @include flexbox();
                    @include flex-wrap(wrap);
                    @include align-items(center);
                    @include justify-content(space-between);
                    gap: 30px;

                    @media #{$max575} {
                        @include flex-direction(column);
                        @include align-items(flex-start);
                    }
                }

                .tf-btn {
                    width: auto;
                }
            }
            .host-details {
                background: $color-brand-dark;
                border-radius: 8px;
                padding: 24px;
                border: 1px solid $color-border;
                margin-bottom: 25px;
            
                .tf-host-rating-wrapper {
                    @include flexbox();
                    @include align-items(center);
                    gap: 4px;
                
                    .tf-host-rating {
                        font-weight: 600;
                    }
                
                    h6 {
                        margin-bottom: 0;
                    }
                }
                
                .host-top {
                    @include flexbox();
                    gap: 11px;
                    align-items: center;
                    margin-bottom: 24px;
            
                    img {
                        width: 80px;
                        height: 80px;
                        object-fit: cover;
                        border-radius: 40px;
                        border: 1px solid $color-border;
                    }
                }
            
                .host-meta {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
            
                    h4 {
                        font-size: 1.25rem;
                        font-weight: 600;
                        color: $color-white;
                        margin: 0;
                    }
            
                    .tf-apartment-joined-text {
                        font-size: 0.75rem;
                        font-weight: 400;
                        letter-spacing: 0.2px;
                        margin: 0;
                        color: $color-white;
                        @include flexbox();
            
                        span {
                            letter-spacing: 0.2px;
                            padding-left: 8px;
                        }
                    }
            
                    i {
                        color: $color-primary;
                    }
            
                    span {
                        font-weight: bold;
                    }
                }
            
                .host-bottom {
                    @include flexbox();
                    flex-direction: column;
                    gap: 8px;
            
                    h5 {
                        font-size: 1.125rem;
                        font-weight: 500;
                        line-height: 1.5;
                        letter-spacing: 0.5px;
                        color: $color-gray-light;
                        margin: 0;
                    }
            
                    p {
                        color: $color-gray;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: 0.2px;
                        margin: 0;
                    }
            
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
            
                        li {
                            padding: 8px 0;
                            color: $color-gray;
            
                            span {
                                text-align: right;
                                float: right;
                                font-weight: 500;
                                font-size: 0.875rem;
                                line-height: 1.5;
                                letter-spacing: 0.5px;
                                color: $color-text;
                            }
            
                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}