.single-tf_apartment{
    .tf-single-template{
        &__legacy{
            .tf-apt-highlights {
                @include flexbox();
                @include flex-wrap(wrap);
                gap: 16px;
                margin-bottom: 48px;

                &.slick-dotted {
                    padding-bottom: 70px;
                }

                .slick-dots {
                    bottom: 24px;

                    li {
                        width: 16px;
                        height: 16px;

                        button {
                            background: $color-gray;
                            border-radius: 30px;
                            border: 1px solid $color-gray;
                            height: 16px;
                            width: 16px;

                            &:before {
                                opacity: 0;
                                font-size: 0;
                                width: 6px;
                                height: 6px;
                                background: $color-primary;
                                top: 50%;
                                left: 50%;
                                border-radius: 100%;
                                transform: translate(-50%, -50%);
                            }
                        }

                        &.slick-active {
                            button {
                                background: transparent;
                                border: 1px solid $color-primary;

                                &:before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                .tf-apt-highlight {
                    @include flex(0 0 calc(100% / 3 - 11px));
                    border: 1px solid $color-gray;
                    border-radius: 8px;
                    padding: 16px;
                    min-height: 72px;
                    box-sizing: border-box;

                    @media #{$max575} {
                        @include flex(0 0 100%);
                    }

                    .tf-apt-highlight-top {
                        @include flexbox();
                        @include align-items(center);
                        gap: 16px;
                        margin-bottom: 8px;
                    }

                    .tf-apt-highlight-icon {
                        @include flex(0 0 25px);

                        i {
                            font-size: 1.5rem;
                            line-height: 1;
                            color: $color-heading;
                        }
                    }

                    h4 {
                        color: $color-heading;
                        margin: 0;
                        font-size: 1.25rem;
                        font-weight: 500;
                        line-height: 1.5;
                    }

                    p {
                        color: $color-text;
                        font-size: 0.875rem;
                        line-height: 1.5;
                        font-weight: 400;
                        margin: 0;
                    }
                }
            }
        }
        &__two{
            .tf-informations-secations{
                .slick-dots {
                    bottom: -32px;
                    li {
                        width: 16px;
                        height: 16px;
        
                        button {
                            background: transparent;
                            border-radius: 30px;
                            border: 1px solid $color-gray;
                            height: 12px;
                            width: 12px;
        
                            &:before {
                                opacity: 0;
                                font-size: 0;
                                width: 6px;
                                height: 6px;
                                background: $color-primary;
                                top: 50%;
                                left: 50%;
                                border-radius: 100%;
                                transform: translate(-50%, -50%);
                            }
                        }
        
                        &.slick-active {
                            button {
                                background: transparent;
                                border: 1px solid $color-primary;
                                height: 16px;
                                width: 16px;
                                &:before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}