.single-tf_apartment{
    .tf-single-template{
        &__legacy{
            .tf-apartment-amenities-section {
                margin-bottom: 80px;

                .tf-apartment-amenities-inner {
                    border-radius: 8px;
                    background: $color-filling-fg;
                    padding: 24px;
                    @media #{$max575}{
                        padding: 16px;
                    }
                }

                .tf-apartment-amenities {
                    @include flexbox();
                    @include flex-wrap(wrap);
                    gap: 16px;

                    .tf-apt-amenity {
                        @include flex(0 0 calc(100% / 2 - 11px));
                        @include flexbox();
                        gap: 16px;
                        @media #{$max575}{
                            gap: 8px;
                        }
                        .tf-apt-amenity-icon {
                            @include flexbox();
                            @include align-items(center);
                            @include flex(0 0 24px);
                            height: 24px;
                            @media #{$max575}{
                                @include flex(initial);

                            }
                            i {
                                font-size: 1.5rem;
                                color: $color-text;
                            }
                        }
                    }
                }

                .tf-apartment-amenities-more {
                    .tf-modal-btn {
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(flex-end);
                        gap: 4px;
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: $color-heading;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
            }
        }
        &__two{
            .tf-place-offer-section{
                @media #{$max768}{
                    padding-left: 16px;
                    padding-right: 16px;
                }
                h2{
                    color: $color-heading;
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 24px;
                    @media #{$max768}{
                        font-size: 1.5rem;
                    }
                }
                .place-offer-items{
                    display: grid;
                    gap: 8px 16px;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    @media #{$max768}{
                        grid-template-columns: 1fr 1fr;
                    }
                    .tf-apt-amenity{
                        display: flex;
                        gap: 9px;
                        align-items: center;
                        .tf-apt-amenity-icon{
                            line-height: 0.69;
                            img{
                                height: 16px;
                                width: 16px;
                            }
                        }
                        span{
                            color: $color-text;
                            font-size: 0.875rem;
                            font-weight: 400;
                            line-height: 0.928;
                        }
                    }
                }
            }
        }
    }
}