/* Facilities */
.tf-hotel-facilities-section {
    .active {
        display: none;
    }
    .tf-hotel-facilities-container {
        padding: 24px;
        border-radius: 4px;
        background: $color-light-bg;

        .tf-hotel-facilities-title {
            @include flexbox();
            @include justify-content(space-between);
            align-items: center;
            cursor: pointer;

            .tf-section-title {
                color: $color-heading;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                margin-bottom: 0;
            }
        }

        .tf-hotel-facilities-content-area {
            margin-top: 24px;

            .hotel-facility-item {
                margin-bottom: 24px;

                .hotel-single-facility-title {
                    color: $color-heading;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                    margin-bottom: 16px;
                    @include flexbox();
                    @include align-items(center);

                    i{
                        margin-right: 8px;
                        font-size: 15px;
                    }
                }

                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    @include flexbox();
                    @include flex-wrap(wrap);
                    gap: 8px;

                    li {
                        @include flexbox();
                        @include align-items(center);
                        flex: 0 0 calc(33.333% - 8px);
                        gap: 8px;
                        color: $color-text;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;

                        i{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}