@import '../../../../common/variable';
@import '../../../../common/mixin';

//Single Modules Start
@import 'modules/single/_gallery';
@import 'modules/single/_top-nav';
@import 'modules/single/_car-info';
@import 'modules/single/_description';
@import 'modules/single/_benefits';
@import 'modules/single/_inc-exc';
@import 'modules/single/_location';
@import 'modules/single/_faq';
@import 'modules/single/_terms-and-condition';
@import 'modules/single/_review';
@import 'modules/single/_booking-form';
@import 'modules/single/_sidebar';
//Single Modules End

//Archive Modules Start
@import 'modules/archive/_hero';
@import 'modules/archive/_search-form';
@import 'modules/archive/_listings';
@import 'modules/archive/_sidebar';
//Archive Modules End