.tf-template-3{
    .tf-informations-secations{
        .slick-dots {
            bottom: -32px;
            li {
                width: 16px;
                height: 16px;

                button {
                    background: transparent;
                    border-radius: 30px;
                    border: 1px solid $color-gray;
                    height: 12px;
                    width: 12px;

                    &:before {
                        opacity: 0;
                        font-size: 0;
                        width: 6px;
                        height: 6px;
                        background: $color-primary;
                        top: 50%;
                        left: 50%;
                        border-radius: 100%;
                        transform: translate(-50%, -50%);
                    }
                }

                &.slick-active {
                    button {
                        background: transparent;
                        border: 1px solid $color-primary;
                        height: 16px;
                        width: 16px;
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}