@import '../../../../../common/variable';
@import '../../../../../common/mixin';

.tf-title-meta{
    display: flex;
    align-items: center;
    gap: 8px;

    svg{
        margin-right: 5px;
        height: 16px;

        path{
            fill: var(--tf-primary);
        }
    }
    i{
        color: $color-primary;
        margin-right: 5px;
    }
    a{
        text-decoration: none;
        color: $color-primary;
    }

    .more-hotel {
        color: var(--tf-primary);
        font-size: 1rem;
        font-weight: 500;
        text-decoration: underline;
    }
}