// Gallery
@import '../../../../../common/variable';
@import '../../../../../common/mixin';

//style 1
.tf-single-booking-form__style-1{
    .tf-booking-form{
        .tf-booking-form-inner{
            h3{
                font-size: 1.5rem;
                color: $color-heading;
            }
            .tf-field-group{
                #check-in-out-date {
                    width: 100%;
                }
            }
        }
        
        .tf-booking-person{
            .tf-field{
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;
                .acr-label{
                    align-items: center;
                    i{
                        position: static;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

// style 2
.tf-single-booking-form__style-2{
    .tf-modify-search-btn{
        background: $color-primary;
        padding: 8px 32px;
        color: $color-white;
        text-align: center;
        font-size: 0.75rem;
        font-weight: 600;
        cursor: pointer;
        margin-left: 16px;
        margin-right: 16px;
        display: none;
        @media #{$max768}{
            display: block;
            margin: 0;
            margin-bottom: -16px;
        }
    }
}