// Gallery
@import '../../../../../common/variable';
@import '../../../../../common/mixin';

//style 1
.tf-single-faq-section.tf-single-faq-style1{
    .tf-section-title {
        margin-bottom: 15px;
        font-size: 1.875rem;
        line-height: 1.5;
        color: var(--tf-text-heading);
    }
    .tf-faq-inner{
        .tf-faq-single.has-devider{
            border-bottom: 1px solid $color-border-lite;
        }
        .active{
            .tf-faq-single-inner{
                background: $color-filling-fg;
                @include bd-radius(5px);
                margin: 0px 0px 30px 0px;
                .tf-faq-collaps{
                    .faq-icon{
                        .tf-faq-close-icon{
                            display: none;
                        }
                        .tf-faq-open-icon{
                            color: $color-primary;
                            display: block;
                        }
                    }
                }
            }
        }
        .tf-faq-single-inner{
            .tf-faq-content{
                display: none;
            }
        }
    }
    .tf-faq-single-inner{
        .tf-faq-content{
            padding: 0px 24px 24px 24px;
            p{
                margin: 0;
            }
        }
        .tf-faq-collaps{
            padding: 24px;
            @include flexbox();
            gap: 16px;
            @media #{$max575}{
                flex-wrap: nowrap;
                gap: 5px;
            }
            &:hover{
                cursor: pointer;
            }
            &.tf-faq-icon-right{
                @include justify-content(space-between);
            }
            .faq-icon{
                svg{
                    width: 16px;
                    height: 16px;
                }
                .tf-faq-close-icon{
                    display: block;
                }
                .tf-faq-open-icon{
                    display: none;
                }
            }
        }
        .tf-faq-label{
            line-height: 1.5;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.25rem;
            color: $color-heading;
        }
    }

    .tf-faq-single {
        border-bottom: 0px solid;
        .tf-faq-single-inner{
            margin: 0px 0px 30px 0px;
            background: $color-filling-fg;
            transition: .3s all ease;
            @media #{$max768}{
                margin: 0px 0px 20px 0px;
            }
            &:hover{
                background: $color-brand-lite;
            }
            h3{
                font-size: 1.25rem;
            }
        }
    }
    .tf-faq-single.active {
        .tf-faq-single-inner{
            background: $color-brand-lite;
        }
    }
}

//style 2
.tf-single-faq-section.tf-single-faq-style2{
    .tf-faq-col{
        margin-bottom: 16px;
        &:last-child{
            margin-bottom: 0px;
        }
        &.active{
            .tf-faq-head{
                .tf-faq-close-icon{
                    display: none;
                }
                .tf-faq-open-icon{
                    color: $color-primary;
                    display: block;
                }
            } 
        }
        .tf-faq-head{
            @include flexbox();
            gap: 16px;
            border-radius: 8px;
            background: $color-gray-light;
            padding: 8px 16px;
            cursor: pointer;
            color: $color-text;
            font-size: 1rem;
            font-weight: 400;
            flex-wrap: nowrap;
            
            &.tf-faq-icon-right{
                @include justify-content(space-between);
            }
            
            i{
                color: $color-text;
            }
            svg{
                width: 16px;
                height: 16px;
            }
            .tf-faq-close-icon{
                display: block;
            }
            .tf-faq-open-icon{
                display: none;
            }
        }
        .tf-question-desc{
            color: $color-text;
            font-size: 0.938rem;
            padding: 8px 16px;
            display: none;
        }
    }
}