@import '../../../../../common/variable';
@import '../../../../../common/mixin';
.tf-single-template__one.tf-single-feature-style1{
    .tf-hotel-single-features{
        ul{
            margin: 0;
            padding: 0;
            li{
                display: inline-flex;
                align-items: center;
                background-color: $color-filling-fg;
                border-radius: 5px;
                padding: 10px;
                text-transform: capitalize;
                margin: 5px 5px 5px 0px;
                font-size: 0.938rem;
                i{
                    margin-right: 8px;
                }
                img{
                    margin-right: 8px;
                }
            }
        }
    }
}
.tf-single-feature-section.tf-single-feature-style2{
    .tf-overview-popular-facilities {
        span.tf-popular-facilities-title {
            color: $color-text;
            font-size: 1rem;
            display: block;
            font-weight: 600;
            margin-bottom: 16px;
        }
        &>ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 12px 0;
            li {
                width: 25%;
                display: flex;
                @media #{$max768}{
                    width: 50%;
                }
                @media only screen and (max-width: 1280px) {
                    width: 33%;
                }
                i{
                    margin-right: 8px;
                    font-size: 1.25rem;
                }
            }
        }
    }
}