// Gallery
@import '../../../../../common/variable';
@import '../../../../../common/mixin';

//style 1 - Bottom nav
.tf-single-gallery__style-1.tf-hero-gallery{
    width: 100%;
    display: inline-block;

    img{
        width: 100%;
        border-radius: 5px;
        height: auto;
    }
    .tf-gallery-featured {
        position: relative;
        line-height: 0;
        margin-bottom: 18px;
        >img{
            min-height: 474px;
            max-height: 474px;
            object-fit: cover;

            @media #{$max1024}{
                min-height: auto;
                max-height: initial;
            }
        }
        .featured-column {
            background: $color-white;
            border-radius: 5px;
            a {
                display: flex;
                align-items: center;
                gap: 8px;
                text-decoration: none;
                color: $color-heading;
                padding: 5px 12px;
                border-radius: 5px;
                transition: all .6s ease;
                min-height: 35px;
                @media #{$max575}{
                    font-size: 0.875rem;
                    padding: 5px 8px;
                }

                &:hover{
                    background-color: $color-primary;
                    color: $color-white;
                    transition: all .6s ease;
                }
                i{
                    line-height: inherit;
                }
            }
        }
        .featured-meta-gallery-videos{
            display: flex;
            position: absolute;
            top: calc(0px - -25px);
            right: calc(0px - -25px);
            gap: 24px;
            @media #{$max768}{
                gap: 5px;
                right: calc(0px - -15px);
            }
        }
        .tf-single-review-box{
            position: absolute;
            top: calc(0px - -25px);
            left: calc(0px - -25px);
            gap: 24px;
            @media #{$max768}{
                gap: 5px;
                left: calc(0px - -15px);
            }
            .tf-single-rating{
                background-color: $color-primary;
                padding: 9px 8px;
                font-size: 1rem;
                text-decoration: none;
                span{
                    font-weight: 600;
                }
                &:hover{
                    color: $color-white;
                }
            }
        }
    }
    .tf-without-gallery-featured{
        >img{
            min-height: 596px;
            max-height: 596px;
            @media #{$max1024}{
                min-height: auto;
                max-height: auto;
            }
        }
    }
    .tf-gallery{
        display: flex;
        gap: 10px;
        line-height: 0;
        a {
            width: 20%;
            float: left;
            display: none;
            position: relative;

            img{
                height: 100%;
                min-height: 112px;
                max-height: 112px;
                object-fit: cover;
            }
        }
        a.tf-gallery-more {
            position: relative;

            &::before{
                content: "View More → ";
                position: absolute;
                color: $color-white;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                z-index: 1;
                background: #0000009c;
                font-size: 1rem;
                border-radius: 5px;
                @media #{$max1024}{
                    text-align: center;
                    font-size: 0.75rem;
                }
            }
        }
    }

    .tf-gallery a:nth-child(1) {
        display: block;
    }
    .tf-gallery a:nth-child(2) {
        display: block;
    }
    .tf-gallery a:nth-child(3) {
        display: block;
    }
    .tf-gallery a:nth-child(4) {
        display: block;
    }
    .tf-gallery a:nth-child(5) {
        display: block;
    }
}

// style 2 - Slider
.tf-single-gallery__style-2.tf-hero-gallery{
    position: relative;

    .tf-top-review {
        position: absolute;
        margin: 20px;
    }

    .single-slider-wrapper {
        position: relative;
        .slick-slide-item{
            img{
                width: 100%;
            }
        }
        a.slick-slide-item-link {
            width: 100%;
        }
        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            z-index: 9;
            top: 50%;
            transform: translateY(-50%);
            color: $color-white;
            background-color: $color-heading;
            text-align: center;
            cursor: pointer;
            padding: 0 13px;
            border-radius: 4px;
            width: auto;

            &::after{
                font-size: 20px;
            }
        }
        .swiper-button-prev {
            left: 20px;
            background-image: none;
        }
        .swiper-button-next {
            right: 20px;
            background-image: unset;
        }
        .slick-slide img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            cursor: zoom-in;
        }
        .tf-hotel-video {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }
}

.tf-apt-hero-section.tf-single-gallery__style-3 {
    margin-bottom: 0px;
    .tf-apt-hero-wrapper {
        position: relative;

        &>img {
            width: 100%;
            border-radius: 8px;
            height: auto;
        }

        .tf-apt-hero-gallery {
            @include flexbox();
            flex-wrap: wrap;
            gap: 24px;

            @media #{$max768} {
                gap: 16px;
            }
            @media #{$max320} {
                flex-direction: column;
            }

            img {
                object-fit: cover;
                width: 100%;
                border-radius: 8px;
                height: auto;
            }

            .tf-apt-hero-left {
                @include flex(0 0 100%);

                &.has-right {
                    @include flex(0 0 calc(70% - 12px));
                    @media #{$max1024} {
                        @include flex(0 0 calc(50% - 12px));
                    }
                    @media #{$max768} {
                        @include flex(0 0 calc(50% - 4px));
                    }
                }

                .hero-first-image {
                    height: 424px;
                    @media #{$max768} {
                        height: 350px;
                    }
                    @media #{$max575} {
                        height: 300px;
                    }
                }
            }

            .tf-apt-hero-right {
                @include flex(0 0 calc(30% - 12px));
                @include flexbox();
                @include flex-direction(column);
                gap: 24px;

                @media #{$max1024} {
                    @include flex(0 0 calc(50% - 12px));
                }

                @media #{$max768} {
                    gap: 16px;
                }

                .hero-second-image,
                .hero-third-image {
                    height: 200px;
                    @media #{$max768} {
                        height: 167px;
                    }
                    @media #{$max575} {
                        height: 142px;
                    }
                }

                .has-more {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background: $color-heading;
                        opacity: .5;
                        border-radius: 8px;
                    }
                }
            }

            .hero-first-image,
            .hero-second-image,
            .hero-third-image {
                @include flexbox();
            }
        }

        .gallery-all-photos {
            position: absolute;
            right: 15px;
            bottom: 15px;
            @include flexbox();
            z-index: 2;

            a.tf_btn {
                max-width: 130px;
                border: 1px solid rgba(255, 255, 255, 0.40);
                background: rgba(255, 255, 255, 0.60);
            }
        }

    }
}

.tf-single-template__one.tf-single-car-gallery-style-1{
    padding: 0;
    .tf-car-hero-gallery{
        width: 100%;
        .tf-featured-car{
            position: relative;
            border-radius: 16px;
            img{
                border-radius: 16px;
                height: 338px;
                width: 100%;
                object-fit: cover;
                @media #{$max575}{
                    height: 240px;
                }
            }
            .tf-featured-reviews{
                position: absolute;
                top: 16px;
                left: 16px;
                a{
                    text-decoration: none;
                    border-radius: 8px;
                    color: $color-text;
                    font-size: 1rem;
                    font-weight: 400;
                    background: rgba(255,255,255,0.24);
                    backdrop-filter: blur(32px);
                    span{
                        color: $color-text;
                        font-size: 1rem;
                        font-weight: 400;
                        i{
                            color: $color-warning;
                            font-size: 1.125rem;
                        }
                    }
                }
            }
            .tf-wish-and-share {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 16px;
                position: absolute;
                right: 16px;
                top: 16px;
                
                a.tf-share-toggle,
                a.tf-wishlist {
                    margin: 0;
                    padding: 0;
                    height: 32px;
                    width: 32px;
                    border-radius: 100px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $color-brand-dark;
                    cursor: pointer;
                    font-size: 1.5rem;
                    text-decoration: none;
                }
                
                .tf-off-canvas-share-box{
                    display: inline-flex;
                    align-items: center;
                    .share-car-content{
                        display: none;
                        margin: 0;
                        padding: 0;
                        align-items: center;
                        list-style: none;
                        &.show{
                            display: block;
                        }
                        @media #{$max768}{
                            left: auto;
                            right: 0px;
                        }
                        @media #{$max575}{
                            left: 0;
                            right: auto;
                        }
                        .tf-dropdown-share-content{
                            background: $color-filling-fg;
                            border-radius: 8px;
                            padding: 16px 10px;
                            width: 280px;
                            text-align: center;
                            position: absolute;
                            min-width: 100%;
                            top: 100%;
                            transform: translateY(8px);
                            z-index: 9999;
                            left: auto;
                            right: 0;
                            h4{
                                font-size: 0.875rem;
                                color: $color-primary;
                                font-weight: 600;
                                margin-bottom: 10px;
                                display: block;
                            }
                            ul{
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                li{
                                    display: inline-block;
                                    a{
                                        display: inline-block;
                                        padding: 10px 9px;
                                        margin: 0;
                                        i{
                                            font-size: 1.375rem;
                                        }
                                        color: $color-primary;
                                        &:hover{
                                            background: transparent;
                                        }
                                    }
                                    .tf_btn{
                                        padding: 10px 8px;
                                        background-color: transparent;
                                        border: 0px solid;
                                        font-size: 1.375rem;
                                        cursor: pointer;
                                        color: $color-primary;
                                        box-shadow: none;
                                        span{
                                            color: $color-primary;
                                        }
                                        .share-center-copied-message {
                                            display: none;
                                        }
                                    }
                                    
                                    input{
                                        @media #{$max768}{
                                            display: contents;
                                        }
                                        padding: 0;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .tf-gallery{
            margin-top: 15px;
            a{
                width: calc(25% - 12px);
                display: none;
                height: 122px;
                @media #{$max1024}{
                    height: 90px;
                }
                @media #{$max575}{
                    height: 60px;
                }

                img{
                    border-radius: 8px;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
                &.tf-gallery-more {
                    position: relative;
        
                    &::before{
                        border-radius: 8px;
                        content: "View More → ";
                        position: absolute;
                        color: $color-white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        z-index: 1;
                        background: $color-heading;
                        text-align: center;
                        @media #{$max1024}{
                            font-size: 0.875rem;
                        }
                        @media #{$max575}{
                            content: "→";
                        }
                    }
                }
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4){
                    display: block;
                }
            }   
        }
    }
}