@import '../../../../../common/variable';
@import '../../../../../common/mixin';

.tf-single-template__one.tf-single-car-terms-and-conditions-style-1{
    padding: 0;
    .tf-car-conditions-section{
        padding-bottom: 32px;
        h3{
            color: $color-heading;
            font-size: 1.313rem;
            font-weight: 400;
            margin-bottom: 16px;
        }
        table{
            border-left: 1px solid $color-border-lite;
            border-top: 1px solid $color-border-lite;
            margin: 0px;
            border-radius: 16px;
            tr{
                th{
                    color: $color-text;
                    font-size: 1rem;
                    font-weight: 400;
                    border-right: 1px solid $color-border-lite;
                    border-bottom: 1px solid $color-border-lite;
                    padding: 16px;
                    vertical-align: baseline;
                    text-align: left;
                    width: 210px;
                    @media #{$max768}{
                        padding: 8px; 
                        width: 33%;
                    }
                }
                td{
                    color: $color-text;
                    font-size: 1rem;
                    font-weight: 400;
                    border-right: 1px solid $color-border-lite;
                    border-bottom: 1px solid $color-border-lite;
                    padding: 16px 40px;
                    @media #{$max768}{
                        padding: 8px; 
                    }
                }
                &:first-child{
                    td{
                        border-radius: 0 16px 0 0;
                    }
                }
                &:last-child{
                    th{
                        border-radius: 0 0 0 16px;
                    }
                    td{
                        border-radius: 0 0 16px 0;
                    }
                }
            }
        }
    }
}