.post-type-archive-tf_room,
.page-template-tf-search{
    .tf-archive-template{
        &__one{
            .tf-archive-room-banner{
                // min-height: 532px;
                padding-top: 72px;
                padding-bottom: 96px;
                background-size: cover;
                background-position: center;
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                overflow: hidden;

                @media #{$max1024} {
                    padding-bottom: 56px;
                }

                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(21, 61, 58, 0.3) 0%, #153D3A 100%);
                    z-index: -1;
                }
                .tf-container{
                    width: 100%;

                    .tf-banner-content{
                        gap: 56px;

                        @media #{$max1024} {
                            gap: 32px;
                        }

                        h1{
                            color: $color-white;
                            font-size: 3.188rem;
                            line-height: 1.3;
                            font-weight: 700;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}