.post-type-archive-tf_room,
.page-template-tf-search{
    .tf-archive-template{
        &__one{
            .tf-archive-search-box{
                .tf-archive-search-box-wrapper{               
                    border-radius: 24px;
                    padding: 24px 32px;
                    background: #FFF8F51A;
                    backdrop-filter: blur(32px);
                    box-shadow: 0px 16px 40px 0px #EE550914;
                
                    label{
                        color: $color-white;
                        font-size: 1.25rem;
                        line-height: 1.5;
                    }
                    .tf-search-field{
                        backdrop-filter: blur(32px);
                        background: #FFF8F529;
                        padding: 8px 10px;
                        border-radius: 32px;
                        &.info-select{
                            padding: 9px 20px;
                        }
                        input{
                            color: $color-white;
                            background: transparent;
                            border: 0;
                            font-size: 1.25rem;
                            line-height: 1.5;
                            &::placeholder{
                                color: $color-white;
                            }
                        }
                        svg{
                            path{
                                stroke: $color-white;
                            }
                        }
                    }
                }
            }
        }
    }
}