.post-type-archive-tf_room,
.page-template-tf-search{
    .tf-archive-template{
        &__one{
            .tf-archive-filter {
                //margin-bottom: 24px;

                label input:checked ~ .tf-checkmark{
                    background-color: $color-primary;
                    border-color: $color-primary;
                }

                .tf-archive-filter-sidebar {
                    position: fixed;
                    top: 0;
                    left: -320px;
                    width: 300px;
                    height: 100vh;
                    background-color: $color-white;
                    box-shadow: 0px 4px 40px 0px rgba(80, 33, 0, 0.10);
                    padding: 16px;
                    z-index: 99999;
                    @include transition();

                    &.tf-show {
                        left: 0;
                    }
                }

                .tf-filter-title {
                    @include flexbox();
                    @include justify-content(space-between);
                    margin-bottom: 24px;

                    .tf-section-title {
                        margin: 0;
                        padding: 0;
                        font-size: 1rem;
                        font-weight: 500;
                        color: $color-heading;
                        line-height: 1.5;
                    }

                    button.filter-reset-btn {
                        margin: 0;
                        padding: 0;
                        border: none;
                        color: $color-primary;
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: 1.5;
                        background-color: transparent;
                        letter-spacing: 0.15px;
                        cursor: pointer;
                        display: none;

                        @media #{$max1024}{
                            font-size: 0.75rem;
                        }
                    }
                }

                .tf_widget {
                    .tf-hotel-result-price-range,
                    .tf-tour-result-price-range {
                        margin-top: 20px;
                        padding-bottom: 0px;
                    }

                    h4 {
                        font-size: 1.25rem;
                        font-weight: 500;
                    }

                    .al-range-slider__track {
                        background: $color-brand-lite;
                        height: 10px;
                        box-shadow: none;
                        margin: 30px 0px 10px 0px;
                    }

                    .al-range-slider_dark {
                        padding: 0px;

                        .al-range-slider__bar {
                            background: $color-text;
                            box-shadow: none;
                        }
                    }

                    .al-range-slider__knob {
                        background: $color-filling-bg;
                        height: 24px;
                        width: 24px;
                        box-shadow: none;
                        border: 1.5px solid $color-border;

                        &:first-child {
                            span {
                                left: 10px;
                            }
                        }
                    }

                    .al-range-slider__tooltip {
                        background: $color-primary;
                        border-radius: 5px;
                        box-shadow: none;
                        padding: 3px 10px;
                        color: $color-white;
                        font-size: 0.813rem;
                        margin-bottom: 0px;
                    }

                    .al-range-slider__input.js-al-range-slider__input {
                        display: none;
                    }
                }

                #tf_map_popup_sidebar{
                    display: none;
                }
                #tf__booking_sidebar {
                    max-height: calc(100vh - 100px);
                    overflow-y: auto;
                    overflow-x: hidden;

                    &::-webkit-scrollbar {
                        width: 4px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: $scrollbar-thumb-color;
                        border-radius: 32px;
                    }

                    &::-webkit-scrollbar-track {
                        border-radius: 32px;
                        background: rgba(6, 13, 28, 0.20);
                    }

                    .widget {
                        border: none;
                        background: inherit;
                        border-radius: 0;
                        margin-bottom: 32px;
                        padding: 0px;

                        .tf-widget-title {
                            background-color: inherit;
                            border: 0px solid;
                            padding: 0px;
                            border-radius: 0px;
                            height: auto;
                            pointer-events: none;
                            color: $color-text;
                            font-size: 1rem;
                            font-weight: 500;
                            line-height: 1.5;
                            letter-spacing: 0.15px;
                            margin-bottom: 16px;

                            i {
                                display: none;
                            }
                        }

                        .tf-filter {
                            padding: 0;

                            ul {
                                padding: 0;
                                margin-bottom: 8px;
                                @include flexbox();
                                @include flex-direction(column);
                                gap: 8px;

                                li {
                                    padding: 0;
                                    margin: 0;

                                    label {
                                        position: relative;
                                        cursor: pointer;
                                        width: 100%;
                                        display: inline-block;
                                        padding-left: 24px;
                                        color: $color-text;
                                        font-size: 0.875rem;
                                        font-weight: 500;
                                        line-height: 1.5;
                                        letter-spacing: 0.15px;

                                        .tf-checkmark {
                                            position: absolute;
                                            top: 50%;
                                            left: 0px;
                                            transform: translateY(-50%);
                                            height: 16px;
                                            width: 16px;
                                            background-color: $color-white;
                                            border-radius: 4px;
                                            border: 1px solid $color-primary;

                                            &:after{
                                                left: 4.5px;
                                                top: 1.5px;
                                                width: 5px;
                                                border-width: 0 2px 2px 0;
                                            }
                                        }
                                        input {
                                            display: none;
                                            &:checked ~ .tf-checkmark {
                                                background-color: $color-primary;
                                            }
                                        }
                                    }
                                }

                                li.active {
                                    background: transparent;
                                }
                            }

                            a.see-more,
                            a.see-less{
                                text-align: left;
                                color: $color-primary;
                                text-transform: capitalize;
                                font-weight: 400;
                                text-decoration: none;

                                span {
                                    margin-left: 8px;
                                }
                            }

                            a.see-less {
                                display: none;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}