@import '../../../../common/variable';
@import '../../../../common/mixin';

// Single Apartment Modules Start
@import './modules/single/_informations';
@import './modules/single/_rooms';
@import './modules/single/_rules';
@import './modules/single/_offer';
@import './modules/single/_faq';
@import './modules/single/_review';
@import './modules/single/_related-items';
@import './modules/single/_booking-form';
@import './modules/single/_host';
@import './modules/single/_terms-and-condition';

// Single Apartment Modules End

.tf-template-3.tf-apartment-single {
    #tf-apartment-booking .tf-apartment-form-fields .tf_booking-dates {
        flex-wrap: wrap;
        margin-bottom: 32px;

        .tf_label-row {
            margin-top: 8px;
        }
    }
}

.tf-apartment-title {
    padding-bottom: 40px;

    .tf-title-wrap {
        @include align-items(flex-end);

        @media #{$max767} {
            @include flex-direction(column);
        }
    }

    .tf-title-left-bottom {
        @include flexbox();
        @include align-items(center);
        gap: 32px;

        a {
            text-decoration: none;
        }

        .tf-single-rating {
            color: $color-text;
            background-color: transparent;
            padding: 0;
            font-size: 12px;
            @include flexbox();
            @include align-items(center);

            i {
                color: $color-primary;
                font-size: 16px;
                margin-top: -3px;
            }

            span {
                font-size: 14px;
                font-weight: 500;
                color: $color-gray;
                margin: 0 4px;
            }
        }
    }

    .tf-title-right {
        @include flex(0 0 350px);
        @include justify-content(flex-end);
        gap: 24px;

        @media #{$max767} {
            @include flex(0 0 100%);
            @include justify-content(flex-start);
            margin-top: 24px;
        }

        a {
            text-decoration: none;
        }

        .tf-wishlist-button {
            font-size: 14px;
            cursor: pointer;
            line-height: 1;
            color: $color-gray;
            display: flex;
            align-items: center;
            gap: 8px;

            i {
                font-size: 24px;
            }
        }

        .tf-share {
            position: relative;

            a {
                line-height: 1;
                font-size: 14px;
                display: flex;
                align-items: center;
                outline: none;
                color: $color-text;
                gap: 8px;
            }

            .share-tour-content {
                display: none;
                position: absolute;
                min-width: 100%;
                top: 100%;
                transform: translateY(8px);
                z-index: 99999;
                left: auto;
                right: 0;

                .tf-dropdown-content {
                    margin: 0;
                    background: $color-white;
                    border-radius: 4px;
                    overflow: hidden;
                    min-width: 200px;
                    z-index: 100;
                    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 3px -1px rgba(0, 0, 0, 0.2);

                    li {
                        display: inline-block;

                        a i {
                            color: #1D75E3;
                            font-size: 17px;
                        }

                        &:nth-child(2) a i {
                            color: #1D9BF0;
                        }

                        &:nth-child(3) a i {
                            color: #0A66C2;
                        }

                        &:nth-child(4) a i {
                            color: #CC0000;
                        }
                    }
                }

                .tf-dropdown-item-content {
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                }

                .tf-dropdown-item {
                    border: 0;
                    margin: 0;
                    cursor: pointer;
                    padding: 12px 16px;
                    white-space: nowrap;
                    text-decoration: none;
                    color: $color-heading;
                    background-color: $color-white;
                    fill: $color-heading;
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    font-size: 14px;

                    &:hover {
                        background-color: $color-light-bg;
                    }
                }

                .share-center-copy-form {
                    display: flex;
                    align-items: center;
                    padding: 12px 16px;
                }

                .share-center-copy-label {
                    white-space: nowrap;
                }

                .share-center-copied-message {
                    display: none;
                }

                #share_link_button {
                    white-space: nowrap;
                    font-size: 13px;
                    padding: 5px 12px;
                }

                input#share_link_input {
                    width: auto !important;
                    flex-grow: 1;
                    margin: 0 8px;
                    background-color: $color-white;
                    padding: 3px;
                    border: 2px solid $color-gray;
                }
            }

            .share-center-copy-cta.copied {
                .share-center-copied-message {
                    display: inline-block;
                    font-weight: bold;
                }

                .share-center-copy-message {
                    display: none;
                }
            }
        }
    }

    h1 {
        color: $color-heading;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 8px;
    }

    .tf-map-link {
        color: $color-text;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;

        .more-apartment {
            color: $color-gray-light;
            font-weight: 600;
        }
    }


}

.tf-apartment {

    .btn-primary {
        color: $color-white;
        font-size: 16px !important;
        font-weight: 500;
        line-height: 24px !important;
        letter-spacing: 0.5px;
        padding: 12px 24px;
        border-radius: 8px;
        background: $color-primary;
        box-shadow: 0px 1px 1px 0px rgba(0, 60, 121, 0.16);
    }

    .section-heading {
        font-weight: 600 !important;
        font-size: 24px !important;
        line-height: 32px !important;
        margin: 0 0 16px 0;
        color: $color-heading;
    }

    .tf-apt-hero-section {
        margin-bottom: 40px;
    }

    .tf-apt-hero-wrapper {
        position: relative;

        &>img {
            width: 100%;
            border-radius: 8px;
            height: auto;
        }

        .tf-apt-hero-gallery {
            @include flexbox();
            gap: 24px;

            @media #{$max575} {
                gap: 16px;
            }

            img {
                object-fit: cover;
                width: 100%;
                border-radius: 8px;
                height: auto;
            }

            .tf-apt-hero-left {
                @include flex(0 0 100%);

                &.has-right {
                    @include flex(0 0 calc(70% - 12px));

                    @media #{$max991} {
                        @include flex(0 0 calc(50% - 12px));
                    }
                }

                .hero-first-image {
                    height: 424px;

                    @media #{$max575} {
                        height: 300px;
                    }
                }
            }

            .tf-apt-hero-right {
                @include flex(0 0 calc(30% - 12px));
                @include flexbox();
                @include flex-direction(column);
                gap: 24px;

                @media #{$max991} {
                    @include flex(0 0 calc(50% - 12px));
                }

                @media #{$max575} {
                    gap: 16px;
                }

                .hero-second-image,
                .hero-third-image {
                    height: 200px;

                    @media #{$max575} {
                        height: 142px;
                    }
                }

                .has-more {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background: $color-heading;
                        opacity: .5;
                        border-radius: 8px;
                    }
                }
            }

            .hero-first-image,
            .hero-second-image,
            .hero-third-image {
                @include flexbox();
            }
        }

        .gallery-all-photos {
            position: absolute;
            right: 15px;
            bottom: 15px;
            @include flexbox();
            z-index: 2;

            a.tf_button {
                max-width: 130px;
                border-radius: 4px !important;
                border: 1px solid rgba(255, 255, 255, 0.40) !important;
                background: rgba(255, 255, 255, 0.60) !important;
            }
        }

    }

    .tf-apartment-content-wrapper {
        @include flexbox();
        @include flex-wrap(wrap);
        gap: 24px;

        @media #{$max991} {
            flex-direction: column-reverse;
        }
    }

    .tf-apartment-left {
        width: calc(66.66% - 32px);

        @media #{$max991} {
            width: 100%;
        }
    }

    .tf-apartment-right {
        width: 33.33%;

        @media #{$max991} {
            width: 100%;
        }
    }

    #tf-amenities-modal h2.section-heading {
        margin-bottom: 24px;
    }

    .tf-apartment-amenity-cat {
        border-bottom: 1px solid $color-gray;
        margin-bottom: 24px;

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

        h3 {
            font-size: 20px !important;
            color: $color-heading;
            margin-bottom: 16px;
        }
    }

    .apt-description {
        margin-bottom: 48px;

        p {
            margin: 0 0 20px 0;
            color: $color-text;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px !important;
            letter-spacing: 0.2px;
        }
    }
}

#tf_apt_room_details_qv {
    .room-detail-icon .icon-text {
        margin-top: 5px;
    }
}

.tf-map-link {
    a.more-hotel {
        font-weight: bold;
    }

    p {
        margin-bottom: 0;
        font-size: 16px;
    }
}

.show-on-map {
    .btn-styled {
        text-transform: uppercase;
        font-weight: bold;
    }
}

#apartment-map {
    margin-bottom: 80px;
}

.tf-map-content-wrapper {
    @include flexbox();
    @include flex-wrap(wrap);
    gap: 24px;

    &.tf-map-content-full {
        .tf-apartment-map {
            @include flex(0 0 100%);
        }

        .about-location {
            @include flex(0 0 100%);
        }
    }

    .tf-apartment-map {
        @include flex(0 0 calc(50% - 12px));

        @media #{$max767} {
            @include flex(0 0 100%);
        }

        h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: $color-heading;
            margin-bottom: 24px;
        }

        #apartment-location {
            border-radius: 8px;

            @media #{$tfmax767} {
                height: 250px !important;
            }
        }

        iframe {
            border-radius: 8px;
        }
    }

    .about-location {
        @include flex(0 0 calc(50% - 52px));
        padding-left: 40px;

        @media #{$max767} {
            @include flex(0 0 100%);
            padding-left: 0;
        }

        .surroundings_sec_title {
            font-weight: 600 !important;
            font-size: 24px !important;
            line-height: 32px !important;
            color: $color-heading;
            margin: 0 0 8px 0;
        }

        .surroundings_subtitle {
            color: $color-gray;
            font-size: 16px;
            margin: 0 0 30px 0;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.2px;
        }

        .tf-apartment-surronding-criteria {
            margin-bottom: 30px;
        }

        .tf-apartment-surronding-criteria-label {
            @include flexbox();
            @include align-items(center);
            font-size: 18px;
            font-weight: 500;
            color: $color-heading;

            i {
                margin-right: 8px;
                color: $color-text;
            }
        }

        .tf-apartment-surronding-places {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                padding: 8px 0 8px 32px;
                border-bottom: 1px solid $color-border;
                @include flexbox();
                @include align-items(center);
                @include justify-content(space-between);
                color: $color-text;
                font-size: 14px;

                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.2px;
            }
        }
    }
}

.tf-ask-question.apartment-question {
    background: transparent;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 80px;

    @media #{$max767} {
        max-width: 100%;
        padding: 0;
    }

    h3 {
        &::before {
            display: none;
        }
    }
}

.single-tf_apartment {
    #tf-ask-question {

        input[type="text"],
        input[type="email"],
        textarea {
            border: 1px solid $color-gray;
            border-radius: 4px;
            padding: 12px 16px;
            background-color: $color-white;
            color: $color-gray-light;
            font-size: 16px;
            font-weight: 400;
            transition: all 0.3s ease-in-out;

            &:focus {
                outline: none;
                border-color: $color-primary;
            }
        }

        textarea {
            height: 120px;
        }
    }
}

.apartment-question {
    .tf-question-left {
        @include flexbox();
        @include align-items(center);
        gap: 16px;

        .tf-apartment-question-icon {
            @include flexbox();
        }

        i {
            align-self: flex-start;
            font-size: 40px;
        }

        .default-enquiry-title-section {
            justify-content: flex-start;
        }

        h4 {
            margin: 0;
            font-size: 20px !important;
            color: $color-heading;
            font-weight: 600 !important;
            line-height: 32px !important;
        }

        p {
            color: $color-text;
            margin: 0;
            font-size: 14px !important;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.2px;
        }
    }

    .apartment-qa-wrapper {
        @include flexbox();
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(space-between);
        gap: 30px;

        @media #{$max575} {
            @include flex-direction(column);
        }
    }

    .tf-btn {
        width: auto;

        @media #{$max575} {
            width: 100%;
        }
    }
}

.apartment-qa-wrapper {
    .btn-styled {
        display: inline-block;
    }
}

.admin-bar {

    .fancybox-infobar,
    .fancybox-toolbar {
        top: 32px;
    }
}

.tf-host-rating-wrapper {
    @include flexbox();
    @include align-items(center);
    gap: 4px;

    .tf-host-rating {
        font-weight: 600;
    }

    h6 {
        margin-bottom: 0;
    }
}

div.tf-aq-inner .tf-ask-question-head-content h3 {
    margin: 0px;
}

#tf-apartment-booking{
    box-shadow: none;
    padding: 0px;
    margin: 0;
    border: none;
    border-radius: none;
    .tf-apartment-form-header{
        h3{
            span{
                color: $color-primary !important;
                font-size: 32px !important;
                font-style: normal;
                font-weight: 700 !important;
                line-height: 120%; /* 38.4px */
                @media #{$max767}{
                    font-size: 20px !important;
                }
                bdi{
                    font-size: 32px !important;
                    @media #{$max767}{
                        font-size: 20px !important;
                    }
                }
            }
            span.per-pricing-type{
                font-size: 18px !important;
            }
        }
    }
    .tf-apartment-form-fields{
        background-color: transparent;
        border: 0px solid;
        margin: 0;
        border-radius: none;
        .tf_booking-dates{
            .tf-check-in-out-date{
                height: 53px;
                padding: 16px 32px 16px 16px;
                background: $color-white;
                margin-bottom: 32px;
                .tf_label-row{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
            .tf-aprtment-check-in-out-date{
                height: 53px;
                padding: 15px 32px 16px 16px;
                background: $color-white;
                width: 100%;
                box-sizing: border-box;

                .tf_label_rows{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    input{
                        border: none;
                        background-color: rgba(0,0,0,0);
                        padding: 0;
                        width: 100% !important;
                        color: $color-text;
                        font-size: 16px;
                        text-align: left;
                        height: auto;

                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
        .tf-apartment-guest-row{
            border-top: 0px solid $color-border;
            padding: 0px;
            .tf_selectperson-wrap{
                display: block;
                .tf-form-title{
                    margin-bottom: 24px;
                    h3.tf-person-info-title{
                        color: $color-text;
                        font-size: 32px !important;
                        font-style: normal;
                        font-weight: 700 !important;
                        line-height: 120%;
                        margin: 0px;
                        @media #{$max767}{
                            font-size: 20px !important;
                        }
                    }
                }

                .tf_acrselection{
                    margin-bottom: 24px;

                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}