.el-license-container {
  .el-license-field {
    display: block;
    margin-bottom: 15px;
    input {
      font-size: 200%;
      padding: 8px 10px 10px;
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
  }
  .notice-error {
    background: rgba(220,50,50,0.11);
    margin: 0;
  }
  div.error {
    background: rgba(220,50,50,0.11);
    margin: 0;
  }
  .el-license-title {
    margin-top: 0;
    font-size: 30px;
  }
  .el-license-info {
    li {
      list-style: none;
      padding: 0;
    }
  }
  .el-license-info-title {
    width: 150px;
    display: inline-block;
    position: relative;
    padding-right: 5px;
    &:after {
      content: ":";
      position: absolute;
      right: 2px;
    }
  }
  .el-license-valid {
    padding: 0 5px 2px;
    color: #fff;
    background-color: #8fcc77;
    border-radius: 3px;
  }
  .el-license-invalid {
    padding: 0 5px 2px;
    color: #fff;
    background-color: #8fcc77;
    border-radius: 3px;
    background-color: #f44336;
  }
  .el-license-key {
    font-weight: 700;
    opacity: .8;
  }
  .el-green-btn {
    padding: 0 5px 2px;
    color: #fff;
    background-color: #8fcc77;
    border-radius: 3px;
    text-decoration: none;
    -webkit-box-shadow: 0 0 3px -1px rgba(0,0,0,0.38);
    -moz-box-shadow: 0 0 3px -1px rgba(0,0,0,0.38);
    box-shadow: 0 0 3px -1px rgba(0,0,0,0.38);
    &:hover {
      color: #fff;
      background-color: #84bc6c;
    }
  }
  .el-blue-btn {
    padding: 0 5px 2px;
    color: #fff;
    background-color: #20b1d2;
    border-radius: 3px;
    text-decoration: none;
    -webkit-box-shadow: 0 0 3px -1px rgba(0,0,0,0.38);
    -moz-box-shadow: 0 0 3px -1px rgba(0,0,0,0.38);
    box-shadow: 0 0 3px -1px rgba(0,0,0,0.38);
    &:hover {
      color: #fff;
      background-color: #219dbf;
    }
  }
  .el-license-active-btn {
    margin-top: 25px;
  }
}
a.tf-export-btn {
  margin-top: 10px !important;
  margin-left: 5px !important;
}
.tf-import-section-wrapper {
  max-width: 700px;
  margin: 50px auto;
  background: #fff;
  color: #828C99;
    form {
      overflow: hidden;
    }
}

ol.tf-progress-steps {
  list-style: none;
  display: inline-flex;
  width: 100%;
  margin: 0;
  padding: 0;
    li {
      border-top: 2px solid #003c7a7d;
      padding-top: 15px;
      width: 25%;
      position: relative;
      text-align: center;
    }
    li.active{      
      border-top: 2px solid #003C7A;
    }
    li:before {
      content: "";
      border: 2px solid #002043;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -10px;
      margin-bottom: 22px;
      background: #fff;
    }
    li.tf-step.active:before {
      width: 20px;
      height: 20px;
      padding: 0px;
      content: "\2713";
      color: #002043;
      font-weight: bold;
  }
}


.upload-form {
  padding: 20px;
}

table.tf-table-form {
  padding-top: 20px;
}

.tf-table-form th {
  width: 40%;
  padding-right: 28px;
  vertical-align: top;
  line-height: 1.7;
  text-align: left;
  padding: 25px 20px 28px 0;
  font-weight: 600;
}
