body.tourfic-settings_page_tf_license_info  {
  background-color: #F0F8F8;

  .tf_licensing_wrap{
      max-width: 850px;
      margin: 56px auto;
      .tf_licensing_header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 24px;
          .header-content{
              width: calc(100% - 229px);
              h2{
                  color: #252D2D;
                  font-size: 33px;
                  font-weight: 700;
                  line-height: 120%;
                  margin: 0 0 4px 0;
              }
              p{
                  color: #4E5555;
                  font-size: 19px;
                  font-weight: 400;
                  line-height: 150%;
                  margin: 0;
              }
          }
          a{
              color: #007A77;
              font-size: 19px;
              font-weight: 500;
              line-height: 150%;
              text-decoration: none;
              display: inline-flex;
              align-items: center;
              gap: 4px;
              &:focus{
                  outline: none;
                  box-shadow: none;
              }
          }
      }

      #tf_license_body{
          border-radius: 16px;
          background: #FFF;
          padding: 56px 32px;
          margin-top: 32px;
          &.tf_loading{
              position: relative;
              &::before{
                  background-color: rgba(255,255,255, .6);
                  position: absolute;
                  content: "";
                  left: 0;
                  top: 0;
                  height: 100%;
                  width: 100%;
                  border-radius: 16px;
                  z-index: 999;
                  pointer-events: none;
                  cursor: not-allowed;
              }
              button{
                  cursor: not-allowed;
                  pointer-events: none;
              }
          }
          h3{
              color: #252D2D;
              font-size: 16px;
              font-weight: 400;
              line-height: 150%;
              margin: 0 0 4px 0;
          }
          .tf_licensing_form{
              display: flex;
              gap: 24px;
              .license-input{
                  border-radius: 12px;
                  border: 1px solid #DEEDED;
                  background: #FAFFFF;
                  padding: 8px 16px;
                  display: flex;
                  align-items: center;
                  height: 40px;
                  box-sizing: border-box;
                  width: calc(100% - 194px);
                  input{
                      border: 0px solid;
                      color: #626A6A;
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 150%;
                      width: 100% !important;
                      &::placeholder{
                          color: #626A6A;
                      }
                      &:focus{
                          outline: none;
                          box-shadow: none;
                      }
                  }
              }
              button{
                  border-radius: 8px;
                  background: #007A77;
                  color: #fff;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 150%;
                  height: 40px;
                  width: 170px;
                  text-align: center;
                  cursor: pointer;
                  border: 0px solid;
              }
          }
          #tf_error_wrapper{
              .tf_error_notice{
                  color: #E7000B;
                  font-size: 13px;
                  margin: 4px 0 0 0;
                  font-weight: 400;
                  line-height: 150%;
              }
          }
          .tf_purchase_wrap{
              margin-top: 56px;
              p{
                  margin: 0;
                  color: #4E5555;
                  font-size: 19px;
                  font-weight: 400;
                  line-height: 150%;
                  a{
                      text-decoration: none;
                      color: #007A77;
                      font-weight: 500;
                      display: inline-flex;
                      align-items: center;
                      gap: 4px;
                      &:focus{
                          outline: none;
                          box-shadow: none;
                      }
                  }
              }
          }

          .tf-active-info{
            text-align: center;
            .icon{
                margin-bottom: 16px;
            }
            h3{
                margin-top: 0;
                margin-bottom: 4px;
                font-size: 18px;
                color: rgb(47, 52, 72);
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: rgb(86, 88, 101);
                margin: 0;
                a{
                    color: rgb(37 50 65);
                    text-decoration: none;
                    border-bottom: 1px solid rgb(37 50 65);
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
            .fct-license-box-content-details{
                margin: 20px auto;
                width: 100%;
                max-width: 400px;
                border-radius: 8px;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(234 236 240);
                p{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top-width: 0px;
                    border-left-width: 0px;
                    border-right-width: 0px;
                    border-bottom-width: 1px;
                    border-style: solid;
                    border-color: rgb(234 236 240 );
                    padding: 12px 16px;
                    font-size: 14px;
                    line-height: 1.25rem;
                    color: rgb(86 88 101);
                    &:last-child{
                        border-bottom-width: 0px;
                    }
                }
            }
            
          }
      }
  }

}