.post-type-archive-tf_carrental,
.tax-carrental_location,
.tax-carrental_brand,
.page-template-tf-search{
    .tf-archive-template{
        &__one{
            .tf-car-archive-result{
                width: calc(100% - 390px);
                @media #{$max1024}{
                    width: calc(100% - 322px);
                }
                @media #{$max768}{
                    width: 100%;
                }
                &.tf-car-lists-widgets{
                    width: 100%;
                    .tf-single-car-view{
                        width: calc(33% - 18px);
                        @media #{$max1199}{
                            width: calc(50% - 16px);
                        }
                        @media #{$max768}{
                            width: 100%;
                        }
                    }
                }
                .tf-heading{
                    text-align: center;
                    h2{
                        color: $color-heading;
                        font-size: 2.375rem;
                        font-weight: 400;
                        margin-bottom: 16px;
                    }
                    p{
                        color: $color-text;
                        font-size: 1rem;
                        font-weight: 400;
                        margin-bottom: 56px;
                    }
                }
                .tf-car-result{
                    flex-wrap: wrap;
                    .tf-single-car-view{
                        border-radius: 16px;
                        background: $color-filling-fg;
                        width: calc(50% - 16px);
                        @media #{$max1024}{
                            width: 100%;
                        }
                        .tf-car-image{
                            position: relative;
                            img{
                                border-radius: 16px;
                                height: 200px;
                                width: 100%;
                                object-fit: cover;
                            }
                            .tf-other-infos{
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                padding: 16px;
                                justify-content: space-between;
                                gap: 8px;
                                .tf-reviews-box{
                                    span{
                                        border-radius: 8px;
                                        background: rgba(255, 255, 255, 0.24);
                                        backdrop-filter: blur(32px);
                                        display: inline-block;
                                        padding: 0 8px;
                                        color: $color-text;
                                        font-size: 1rem;
                                        font-weight: 400;
                                        i{
                                            color: $color-primary;
                                        }
                                    }
                                }
                                .tf-tags-box{
                                    max-width: 155px;
                                    ul{
                                        margin: 0;
                                        padding: 0;
                                        list-style: none;
                                        li{
                                            border-radius: 8px;
                                            background: $color-primary;
                                            backdrop-filter: blur(32px);
                                            padding: 4px 8px;
                                            color: $color-white;
                                            font-size: 1rem;
                                            font-weight: 400;
                                            margin-bottom: 8px;
                                            &:last-child{
                                                margin-bottom: 0px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .tf-car-details{
                            padding: 24px 16px 16px 16px;
                            a{
                                text-decoration: none;
                                h3{
                                    color: $color-heading;
                                    font-size: 1.313rem;
                                    font-weight: 700;
                                    margin-top: 0px;
                                }
                            }
                            ul{
                                list-style: none;
                                margin-top: 0;
                                margin-left: 0;
                                margin-right: 0;
                                padding: 0;
                                display: flex;
                                align-items: flex-start;
                                flex-wrap: wrap;
                                gap: 16px 8px;
                                li{
                                    color: $color-text;
                                    font-size: 0.938rem;
                                    font-weight: 400;
                                    display: flex;
                                    width: calc(33.3333% - 8px);
                                    @media #{$max1024}{
                                        width: calc(50% - 16px);
                                    }
                                    svg{
                                        height: 20px;
                                        width: 20px;
                                        path{
                                            stroke: $color-text;
                                        }
                                    }
                                    p{
                                        width: 100%;
                                        margin: 0;
                                        padding-left: 4px;
                                    }
                                }
                            }
                            .tf-booking-btn{
                                align-items: center;
                                .tf-price-info{
                                    h3{
                                        color: $color-heading;
                                        font-size: 1.75rem;
                                        font-weight: 600;
                                        margin: 0;
                                        small{
                                            color: $color-text;
                                            font-size: 1rem;
                                            font-weight: 400;
                                            text-transform: capitalize;
                                        }
                                    }
                                }
                                button,
                                a.view-more{
                                    border-radius: 8px;
                                    border: 1px solid $color-primary;
                                    padding: 12px 32px;
                                    color: $color-primary;
                                    font-size: 1rem;
                                    font-weight: 700;
                                    background-color: $color-white;
                                    cursor: pointer;
                                    text-decoration: none;
                                    transition: .3s all ease;
                                    
                                    &:hover{
                                        border: 1px solid $color-primary;
                                        background: $color-primary;
                                        color: $color-white;
                                    }
                                }
                                .tf-car-booking-popup{
                                    display: none;
                                }
                            }
                        }
                    }
                    &.list-view{
                        .tf-single-car-view{
                            width: 100%;
                            display: flex;
                            @media #{$max1024}{
                                display: flow-root;
                            }
                            .tf-car-image{
                                width: 280px;
                                height: 200px;
                                @media #{$max1024}{
                                    width: 100%;
                                }
                                img{
                                    width: 100%;
                                    height: 200px;
                                }
                                .tf-other-infos{
                                    display: flow-root;
                                    .tf-tags-box{
                                        margin-top: 8px;
                                        max-width: none;
                                        ul{
                                            li{
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                            }
                            .tf-car-details{
                                width: calc(100% - 280px);
                                @media #{$max1024}{
                                    width: calc(100% - 200px);
                                }
                                display: flex;
                                padding: 24px;
                                justify-content: space-between;
                                @media #{$max1024}{
                                    display: flow-root;
                                    width: 100%;
                                }
                                .tf-car-content{
                                    width: calc(100% - 196px);
                                    @media #{$max1024}{
                                        width: 100%;
                                    }
                                    h3{
                                        margin-bottom: 16px;
                                    }
                                    ul{
                                        margin: 0;
                                        @media #{$max1024}{
                                            margin-bottom: 24px;
                                        }
                                        li{
                                            width: calc(50% - 16px);
                                        }
                                    }
                                }
                                .tf-booking-btn{
                                    flex-direction: column;
                                    @media #{$max1024}{
                                        flex-direction: row;
                                    }
                                    button{
                                        margin-top: auto;
                                    }
                                }
                            }
                        }
                    }

                    .tf_posts_navigation{
                        width: 100%;
                        .page-numbers{
                            background: $color-brand-lite;
                            color: $color-text;
                            border-radius: 8px;
                            border: 1px solid $color-border-lite;
                            &.current{
                                background: $color-primary;
                                color: $color-text;
                            }
                        }
                    }
                }
            }
        }
    }
}