.single-tf_tours{
    .tf-single-template{
        &__two{
            .tf-tour-contact-informations {
                background-color: $color-filling-fg;
                padding: 24px;
                @media #{$max768}{
                    margin: 32px 0;
                }
                .tf-contact-details-title {
                    h3 {
                        font-weight: 700;
                        font-size: 1.5rem;
                        margin-bottom: 0;
                    }
                }
                .tf-contact-details-items {
                    .tf-list {
                    margin: 0;
                    li {
                        margin-top: 5px;
                        margin-bottom: 15px;
                        align-items: center;
                        
                        a {
                            text-decoration: none;
                            color: $color-text;
                        }
                        i {
                            font-size: 1.25rem;
                            color: $color-primary;
                        }
                    }
                    }
                }
            }
        }
    }
}
.tf-contact-info{    
    h3 {
        margin-bottom: 30px;
    }
    div {
        margin: 15px 0;
        p {
            margin: 0;
            a{
                text-decoration: none;
                color: $color-primary;
            }
        }   
    }
}
div#tf-contact-info {
    border-radius: 8px;
}