.single-tf_hotel{
    .tf-single-template{
        &__one{
            .hero-section-wrap {
                display: grid;
                grid-template-columns: 75% 25%;
                @media only screen and (max-width: 767px) {
                    grid-template-columns: 60% 40%;
                }
                @media only screen and (max-width: 600px) {
                    grid-template-columns: 100%;
                }
                @media only screen and (min-width: 821px) and (max-width: 991px) {
                    grid-template-columns: 72% 28%;
                }
                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    grid-template-columns: 72% 28%;
                }
                @media only screen and (min-width: 768px) and (max-width: 820px) {
                    grid-template-columns: 67% 33%;
                }
                .hero-left {
                    padding-right: 15px;
                    @media only screen and (max-width: 600px) {
                        padding-right: 0;
                    }
                    .tf-top-review {
                        position: absolute;
                        margin: 20px;
                    }
                }
                .hero-right {
                    padding-left: 15px;
                    @media only screen and (max-width: 600px) {
                        padding-left: 0;
                        max-width: 316px;
                        margin: auto;
                    }
                    .tf-hero-booking{
                        .tf_booking-widget {
                            color: $color-white;
                        }
                        .widget {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &__two{
            .tf-single-head{
                .more-hotel{
                    color: $color-primary;
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: underline;
                    &.tf-d-ib{
                        @media only screen and (max-width: 767px) {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}