.tf-hotel-design-1{
    .tf-rooms-sections{
        .tf-rooms{
            @media #{$tfmax767}{
                overflow-x: scroll;
                width: auto;
            }
            .hotel-room-wrap {
                overflow-x: unset !important;
            }
            .tf-availability-table{
                background-color: $color-white;
                box-shadow: 0px 13px 30px 0px $color-gray;
                border-radius: 5px;
                margin-bottom: 0px;
                border-collapse: collapse;
                width: 100%;
                border-left: none !important;
                &>thead{
                    background-color: $color-primary;
                    tr{
                        th{
                            text-align: left;
                            color: $color-white;
                            border: 0px solid;
                            border-radius: 5px 5px 0px 0px;
                            padding: 13px 30px;
                            font-size: 16px;
                            font-weight: 500;
                            font-family: inherit;
                            border: 1px solid $color-border;
                        }
                    }
                }
                &>tbody{
                    tr{
                        td{
                            border: 1px solid $color-border;
                            padding: 8px;
                            border-right: none;
                            .tf-room-preview-img{
                                width: 170px;
                                margin-right: 20px;
                                border-radius: 4px;
                                position: relative;
                                @media #{$tfmax767}{
                                    width: 100% !important;
                                    margin-bottom: 10px;
                                }
                                img{
                                    border-radius: 4px;
                                }
                                span{
                                    display: inline-block;
                                    font-weight: 500;
                                    background: $color-primary;
                                    border-radius: 4px 0px 0px 0px;
                                    padding: 3px 14px;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    color: $color-white;
                                    font-size: 14px;
                                }
                                
                            }
                            .tf-features-infos{
                                @media #{$tfmax991}{
                                    width: 60% !important;
                                }
                                @media #{$tfmax767}{
                                    width: 100% !important;
                                }
                                .tf-room-type{
                                    h3{
                                        font-size: 25px;
                                        a{
                                            color: $color-heading;
                                            text-decoration: none;
                                        }
                                    }
                                }
                                ul{
                                    margin: 0;
                                    padding: 0;
                                    li{
                                        display: inline-block;
                                        background: $color-light-bg;
                                        border-radius: 5px;
                                        padding: 10px;
                                        margin: 5px 10px 5px 0px;
                                        line-height: 1rem;
                                        font-size: 12px;
                                        i,
                                        img{
                                            margin-right: 5px;
                                        }
                                    }
                                }
                                > a{
                                    color: $color-primary;
                                }
                            }
                            .hotel-room-book{
                                width: 100%;
                            }
                        }
                        td.description{
                            width: 60%;
                            padding-left: 30px;
                            padding-top: 30px;
                            padding-bottom: 30px;
                            border-left: 0px;
                            @media #{$tfmax767}{
                                width: auto;
                            }
                        }
                        td.pax{
                            .tf-tooltip{
                                @media #{$tfmax767}{
                                    width: 100px
                                }
                            }
                        }
                        td.reserve{
                            .hotel-room-availability,
                            .tf_air_service{
                                color: $color-primary;
                            }
                            .room-selection-wrap{
                                select{
                                    border: 1px solid $color-border;
                                }
                            }
                        }
                        td.options{
                            ul{
                                list-style: none;
                                margin-left: 0;
                                margin-bottom: 0;
                                li{
                                    margin-bottom: 4px;
                                    .room-extra-icon{
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}