/* 
Container
*/
.tf-container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}
.tf-car-template-container{
    max-width: 1140px;
    margin: 0 auto;
}
.tf-template-3 .tf-container {
    margin: 0 auto;
    max-width: 1520px;
    padding: 0;
}

/*
Button
*/
.tf_btn{
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
    font-size: 14px;
    line-height: 1.2;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: $tf-brds-default;
    font-weight: $font-weight-medium;
    display: inline-flex;
    @include justify-content(center);
    @include transition();
    border-width: 0;
    cursor: pointer;

    &:hover{
        color: $color-white;
        background-color: $color-secondary;
        border-color: $color-secondary;
    }

    &_secondary{
        color: $color-white;
        background-color: $color-secondary;
        border-color: $color-secondary;

        &:hover{
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }

    &_white{
        color: $color-primary;
        background-color: $color-white;
        border-color: $color-white;

        &:hover{
            color: $color-white;
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }

    &_border{
        border-width: 1px;
        border-style: solid;
        color: $color-primary;
        background-color: transparent;
    }

    &_full{
        width: 100%;
    }

    &_small{
        padding: 8px 20px;
    }
    &_large{
        padding: 16px 32px;
    }

    //disabled
    &:disabled,
    &.disabled {
        opacity: 0.7;
        pointer-events: none;
    }
}

/*
Button Group
*/
.tf_btn_group {
    @include flexbox();
    @include align-items(flex-start);
    @include flex-wrap();
    gap: 8px;
}

/*
Modal
*/
.tf-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    visibility: hidden;
    opacity: 0;
    @include scale(.7);
    @include transition(all, 0.3s, ease-in-out);

    &-show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    .tf-modal-dialog {
        @include flexbox();
        @include align-items(center);
        min-height: calc(100% - 40px);
        max-width: 100%;
        position: relative;
        pointer-events: none;

        @media #{$min576} {
            min-height: calc(100% - 40px);
        }
    }

    .tf-modal-content {
        position: relative;
        @include flexbox();
        @include flex-direction(column);
        width: 60%;
        max-width: 1080px;
        pointer-events: auto;
        background-color: $color-light-bg;
        outline: 0;
        margin: 0 auto;
        border-radius: 10px;
        padding: 30px;
        overflow: hidden;
    }

    .tf-modal-close {
        color: $color-primary;
        cursor: pointer;
        font-size: 22px;
        position: absolute;
        top: 12px;
        right: 16px;
        @include transition(all, 0.3s, ease-in-out);
    }

    &-small{
        .tf-modal-content {
            width: 50%;
        }
    }
    &-large{
        .tf-modal-content {
            width: 80%;
        }
    }

    &-fullscreen {
        .tf-modal-dialog {
            min-height: 100vh;
        }

        .tf-modal-content {
            width: 100%;
            max-width: 100%;
            height: 100vh;
            border-radius: 0;
        }
    }
}

body.tf-modal-open {
    overflow: hidden;

    .tf-modal {
        overflow-x: hidden;
        overflow-y: auto;

        &.tf-modal-fullscreen {
            overflow: hidden;
        }
    }

    &:after {
        content: "";
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        background: rgba(0, 0, 0, 0.4);
    }
}

/*
Ajax Loader
*/
.tf-btn-loading {
    padding-right: 40px;
    position: relative;
}

.tf-btn-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid $color-white;
    border-left-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease, visibility .2s ease;
    -webkit-animation: wd-rotate 450ms infinite linear;
    animation: wd-rotate 450ms infinite linear;
}

@-webkit-keyframes wd-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes wd-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*
Notice
*/
.tf-notice {
    @include flexbox();
    padding: 24px;
    border-radius: 8px;
    border: 1px solid $color-info;
    background-color: $color-info-light;

    .tf-notice-icon {
        margin-right: 10px;
        font-size: 20px;
        color: $color-info;
    }

    .tf-notice-content {
        color: $slate40;

        h6 {
            margin: 0;
            font-weight: 500;
            color: $color-heading;
            font-size: 16px;
        }

        &.has-content {
            h6 {
                margin-bottom: 5px;
            }
        }
    }

    &-success {
        border-color: $color-success;
        background-color: $color-success-light;

        .tf-notice-icon {
            color: $color-success;
        }
    }
    &-warning {
        border-color: $color-warning;
        background-color: $color-warning-light;

        .tf-notice-icon {
            color: $color-warning;
        }
    }
    &-danger {
        border-color: $color-danger;
        background-color: $color-danger-light;

        .tf-notice-icon {
            color: $color-danger;
        }
    }

}

/* 
Selections
*/
/* .tf_acrselection-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 12px;
    background: $color-white;
    padding: 24px 24px 8px;
    min-width: 250px;
    border-radius: 4px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    width: 100%;
    display: none;
}
.tf_acrselection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.acr-dec {
    width: 30px;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $color-white;
    color: $color-primary;
    border-color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 7px 15px;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    min-height: 36px;
    min-width: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    &:hover {
        color: $color-text;
        border-color: $color-text;
    }
}
.acr-inc {
    width: 30px;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $color-white;
    color: $color-primary;
    border-color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 7px 15px;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    min-height: 36px;
    min-width: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    &:hover {
        color: $color-text;
        border-color: $color-text;
    }
}
.acr-select {
    display: flex;
    align-items: center;
    width: 125px;
    input[type=number] {
        width: 50px !important;
        padding: 0px !important;
        margin: 0px !important;
        border: 0px !important;
        box-shadow: none;
        background: transparent !important;
        text-align: center;
        -moz-appearance: textfield !important;
        &:focus {
            outline: 0;
        }
    }
} */

/* 
Location/Desination Dropdown
*/
/* .autocomplete-items {
    max-height: 120px;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    div{
        padding: 10px;
        cursor: pointer;
        background-color: $color-white;
        border-bottom: 1px solid #d4d4d4;
        color: #444;
    }
} */