$t4-primary: #FF6B00;
$t4-orange-background: #FEF9F6;
$t4-orange-light: #FFEDE1;
$t4-orange-100: #FBF4EF;
$t4-orange-200: #F5E9E0;
$t4-orange-500: #BF7540;
$t4-yellow: #FFC700;
$t4-paragraph: #6E655E;
$t4-orange-1000: #1A0B00;
$t4-main-color: #060D1C;

.tf-hotel-template-4.tf-tour-template-4 {
    .tf-search-fields .tf-search-field .tf-search-input {
        width: 160px;
    }
    .tf-search-fields .tf-search-field-checkinout .tf-search-field .tf-search-input {
        width: 190px;
        cursor: pointer;
    }
}