$t4-primary: #FF6B00;
$t4-orange-background: #FEF9F6;
$t4-orange-light: #FFEDE1;
$t4-orange-100: #FBF4EF;
$t4-orange-200: #F5E9E0;
$t4-orange-500: #BF7540;
$t4-yellow: #FFC700;
$t4-paragraph: #6E655E;
$t4-orange-1000: #1A0B00;
$t4-main-color: #060D1C;

.tf-tour-template-4.tf-tour-single {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 24px;
    background: var(--Orange-Background, #FEF9F6);

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    .tf-container {
        max-width: 1250px;
    }

    .tf-hotel-title {
        padding-bottom: 20px;

        .tf-title-wrap {
            @media #{$max767} {
                @include flex-direction(column);
            }
        }

        .tf-title-right {
            @include flex(0 0 350px);
            @include justify-content(flex-end);

            @media #{$max767} {
                @include flex(0 0 100%);
                @include justify-content(flex-start);
                margin-top: 24px;
            }
        }

        h1 {
            color: $t4-orange-1000;
            font-weight: 500;
            font-size: 36px;
            line-height: 41px;
            margin: 0 0 16px 0 ;
        }

        .tf-map-link {
            color: $t4-primary;
            font-size: 16px;
            line-height: 18px;
            @include flexbox();
            gap: 8px;
            @include align-items(center);
        }
    }

    .tf-wish-and-share {
        gap: 16px;

        a.tf-share-toggle,
        a.tf-wishlist {
            margin: 0;
            padding: 0;
            height: 45px;
            width: 45px;
            line-height: 40px;
            border-radius: 100px;
            border: 1px solid $t4-orange-200;
            background: $t4-orange-100;
            box-shadow: 0px 4px 40px 0px rgba(80, 33, 0, 0.10);
            text-align: center;
            color: $t4-primary;
            cursor: pointer;
            font-size: 18px;
        }

        a.tf-share-toggle.actives,
        a.tf-wishlist.actives {
            background-color: $t4-primary;
            color: #fff;
            box-shadow: 0px 4px 40px 0px rgba(80, 33, 0, 0.10);

            i {
                color: #fff !important;
            }

            svg path {
                fill: #fff !important;
            }
        }

        .tf-off-canvas-share-box {
            display: inline-flex;
            align-items: center;

            .tf-off-canvas-share {
                display: none;
                margin: 0;
                padding: 0;
                align-items: center;
                list-style: none;

                li {
                    a {
                        margin-right: 16px;

                        i {
                            font-size: 18px;
                            color: $t4-primary;
                        }
                    }

                    &:last-child {
                        a {
                            margin-right: 9px;
                        }
                    }

                    #share_link_button {
                        padding: 0px;
                        background-color: transparent;
                        border: 0px solid;
                        display: inline-flex;
                        align-items: center;
                        gap: 5px;

                        span {
                            display: none;
                            font-size: 13px;
                            color: $t4-primary;
                        }
                    }

                    #share_link_button.copied {
                        span {
                            display: inline-block;
                        }
                    }

                    input {
                        padding: 0;
                        height: 0px;
                        width: 0px;
                    }
                }
            }

            .tf-off-canvas-share.show {
                display: inline-flex;
            }
        }
    }

    .tf-hotel-hero-section {
        margin-bottom: 32px;

        .tf-hotel-hero-wrapper {
            @include flexbox();
            gap: 24px;

            .tf-hotel-thumb {
                position: relative;
                @include flexbox();
                @include flex(0 0 calc(100% - 415px));

                img {
                    border-radius: 4px;
                    min-height: 500px;
                    max-height: 500px;
                    width: 100%;
                    object-fit: cover;

                    @media #{$tfmax991}{
                        min-height: auto;
                        max-height: auto;
                    }
                }

                &.without-gallery{
                    @include flex(0 0 100%);
                }
            }

            .tf-hotel-gallery {
                @include flexbox();
                @include flex-wrap(wrap);
                gap: 24px;
                position: relative;

                a {
                    @include flex(0 0 calc(50% - 12px));
                    @include flexbox();

                    img {
                        border-radius: 4px;
                        object-fit: cover;
                    }

                    &.tf-gallery-more {
                        position: relative;

                        &::before {
                            content: "View More → ";
                            position: absolute;
                            color: #fff;
                            @include flexbox();
                            @include align-items(center);
                            @include justify-content(center);
                            border-radius: 4px;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            z-index: 1;
                            background: rgba(0, 0, 0, 0.6117647059);
                            font-size: 16px;
                        }
                    }
                }

                &.tf-gallery-count-1 a{
                    @include flex(0 0 100%);
                }
                &.tf-gallery-count-6 {
                    a, img {
                        height: 150px;
                    }
                }
            }
        }

        .featured-column {
            a {
                @include flexbox();
                border-radius: 4px;
                border: 0.5px solid $t4-orange-light;
                background: #fff;
                box-shadow: 0px 4px 30px 0px rgba(255, 237, 225, 0.40);
                gap: 8px;
                line-height: 16px;
                color: $t4-paragraph;
                padding: 10px 12px;
                @include transition();

                &:hover {
                    background-color: $t4-primary;
                    border-color: $t4-primary;
                    color: #fff;
                }
            }
        }

        .featured-meta-gallery-videos {
            display: flex;
            position: absolute;
            top: calc(0px - -25px);
            right: calc(0px - -25px);
            gap: 24px;
            @media #{$tfmax767}{
                gap: 5px;
                right: calc(0px - -15px);
            }
        }
    }

    .tf-details {
        @include flexbox();
        gap: 24px;

        .tf-details-left {
            width: calc(100% - 415px);
            @include flexbox();
            @include flex-direction(column);
            gap: 32px;

            .tf-section-title {
                margin-bottom: 8px;
                color: $t4-orange-1000;
                font-size: 18px;
                font-weight: 500;
            }
        }

        .tf-details-right {
            width: 391px;

            &.tf-archive-right {
                background-color: #FCF4E8;
                padding: 32px;
                width: 480px;
                margin-bottom: 56px;
            }

            .tf-sidebar-widgets{
                position: sticky;
                top: 0;
                z-index: 99;
                @include flexbox();
                @include flex-direction(column);
                gap: 34px;
            }
        }

        .tf-archive-search-form {
            width: 100%;
            @media #{$max767}{
                margin-left: 16px;
                margin-right: 16px;
                width: auto;
            }
        }

        .tf-details-menu {
            background: $t4-orange-100;
            padding: 24px 24px 0 24px;
            border-radius: 4px;
            position: sticky;
            left: 0;
            top: 0;
            z-index: 99;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                @include flexbox();
                @include flex-wrap(wrap);
                gap: 40px;

                li {
                    a {
                        color: $t4-orange-1000;
                        font-weight: 500;
                        border-bottom: 2px solid;
                        padding-bottom: 16px;
                        display: inline-block;
                        border-color: transparent;

                        &.active {
                            border-color: $t4-primary;
                        }
                    }
                }
            }
        }
    }

    .tf-template-section{
        .tf-section-toggle-icon{
            i {
                font-size: 32px;
                color: $t4-primary;
                margin-right: -8px;
            }
            .tf-toggle-icon-down{
                display: block;
            }
            .tf-toggle-icon-up {
                display: none;
            }

            &.active{
                .tf-toggle-icon-up{
                    display: block;
                }
                .tf-toggle-icon-down {
                    display: none;
                }
            }
        }
    }

    @import './single-modules/description';
    @import './single-modules/room';
    @import './single-modules/availability';
    @import './single-modules/facilities';
    @import './single-modules/faq';
    @import './single-modules/review';
    @import './single-modules/trams-condition';
    @import './single-modules/map';
    @import './single-modules/enquiry';
}

.tf_template_4_single_hotel{
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 24px;

    #tf-ask-question{
        .tf-aq-outer{
            background: #FDF9F3;
            border-radius: 0px;
            h4{
                color: #595349;
                text-align: center;
                font-size: 32px !important;
                font-style: normal;
                font-weight: 700 !important;
                line-height: 120%;
                margin-bottom: 32px;
            }
        }
        .tf-aq-field{
            input{
                border: 1px solid #595349;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                color: #C1BFBB;
                background-color: #fdf9f3;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%; /* 20.8px */
                height: 45px;
                padding: 12px 14px;;
                border-radius: 0px;
                &::placeholder{
                    color: #C1BFBB;
                }
            }
            textarea{
                border: 1px solid #595349;
                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                background-color: #fdf9f3;
                color: #C1BFBB;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%; /* 20.8px */
                padding: 12px 14px;
                border-radius: 0px;
                &::placeholder{
                    color: #C1BFBB;
                }
            }
        }
        // .tf-aq-outer .close-aq{
        //     background: #B58E53 !important;
        // }
        button{
            background: #b58e53 !important;
            border-color: #b58e53 !important;
            border-radius: 0px !important;
            padding: 12px 32px !important;
            color: #fdf9f3 !important;
            font-size: 16px !important;
            font-style: normal;
            font-weight: 700;
            line-height: 150% !important;
            transition: .3s all ease;
            &::after{
                position: static !important;
            }
            &:hover{
                background: #917242 !important;
            }
        }
    }

    #tf-hotel-services{
        .tf-hotel-services{
            background: $t4-orange-100;
            border-radius: 4px;
            gap: 24px;

            .tf-hotel-services-text{
                h3 {
                    color: $t4-orange-1000;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0;
                    margin-bottom: 8px;
                }
                p{
                    color: $t4-paragraph;
                    margin-top: 0;
                }
            }
            .tf-hotel-service{
                label{
                    color: $t4-orange-1000;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 8px;
                    display: inline-block;
                }
                select{
                    border: 1px solid $t4-orange-200;
                    background: #fff;
                    padding: 15px 16px;
                    color: $t4-paragraph;
                    font-size: 14px;
                    line-height: 16px;
                    height: 48px;

                    &:focus{
                        outline: none;
                        border: none;
                    }
                }
            }

            .tf_button_group{
                button{
                    padding: 16px;
                    border-radius: 6px;
                    background-color: $t4-primary !important;
                    border-color: $t4-primary !important;
                    color: #fff !important;
                    cursor: pointer;

                    &:hover {
                        background-color: $t4-orange-500 !important;
                        border-color: $t4-orange-500 !important;
                    }
                }
            }
        }
    }
}

.admin-bar .tf-hotel-template-4.tf-hotel-single .tf-details .tf-details-right .tf-sidebar-widgets,
.admin-bar .tf-hotel-template-4.tf-hotel-single .tf-details-menu {
    top: 32px;
}