.tourfic-settings_page_tf_dashboard{
    #wpcontent{
        background-color: #EBF5FF;
    }
}
.tourfic-settings_page_tf_get_help{
    #wpcontent{
        background-color: #EBF5FF;
    }
}
.tf-setting-dashboard {
    .tf-setting-top-bar {
        background-color: #ffffff;
        padding: 15px 40px;
        margin-left: -20px;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .version {
            display: flex;
            align-items: center;

            img {
                width: 100px;
            }

            span {
                font-size: 11px;
                line-height: 11px;
                color: $admin-color-heading;
                font-weight: 700;
                border: 1px solid #003c79;
                border-radius: 4px;
                background-color: #003c790a;
                display: inline-block;
                padding: 2px 6px;
                margin-left: 10px;
            }
        }

        .other-document {
            position: relative;
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: all 0.2s ease;

            .dropdown {
                position: absolute;
                cursor: context-menu;
                top: 60px;
                right: -10px;
                z-index: 1;
                background-color: #ffffff;
                padding: 30px;
                border-radius: 8px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                min-width: 200px;
                max-width: 200px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s ease;
                z-index: 9999;

                &:after {
                    content: "";
                    position: absolute;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    top: -10px;
                    right: 25px;
                    border-bottom: 10px solid white;
                    margin-top: 0;
                    z-index: 1;
                }

                .list-item {
                    a {
                        font-size: 0.938rem;
                        font-weight: 500;
                        color: $admin-color-heading;
                        display: flex;
                        align-items: center;
                        transition: all 0.2s ease;
                        text-decoration: none;
                        padding: 10px 0px;

                        span {
                            margin-left: 10px;
                        }
                    }
                }
            }

            &:hover {
                .dropdown {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .tf-setting-banner {
        background-color: transparent;
        padding: 30px 100px;
        border-radius: 10px;
        margin: 40px 20px 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: radial-gradient(at center center, #004A9E 0%, #001C39 75%);
        @media #{$max1024}{
            display: flow-root;
        }
        @media #{$max768}{
            padding: 30px 40px;
        }

        .tf-setting-banner-content {
            width: 50%;
            @media #{$max1024}{
                width: 100%;
            }

            img {
                width: 200px;
                display: block;
                margin-bottom: 15px;
            }

            span {
                color: #ffffff;
                font-size: 38px;
                line-height: 1.2;
                font-weight: 200;
                @media #{$max575}{
                    font-size: 26px;
                }

                b {
                    display: block;
                    font-weight: 700;
                }
            }
        }

        .tf-setting-banner-image {
            width: 30%;
            @media #{$max1024}{
                width: 100%;
            }

            img {
                width: 100%;
            }
        }
    }

    .tf-setting-overview-section {
        margin: 24px 24px 0px 0;
        position: relative;
        .tf-performance-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 20px;
            @media #{$max1199}{
                display: flex;
                flex-wrap: wrap;
                column-gap: 16px;
                justify-content: flex-start;
            }

            .tf-single-performance-grid {
                padding: 20px;
                border-radius: 8px;
                background-color: #ffffff;
                display: flex;
                flex-wrap: wrap;
                flex-basis: calc(16.5% - 0px);
                @media #{$max1650}{
                    padding: 12px;
                }
                @media #{$max1199}{
                    flex-basis: calc(30% - 10px);
                }
                @media #{$max1024}{
                    flex-basis: calc(33.33% - 35px);
                    margin: 0;
                }
                @media #{$max768}{
                    width: inherit;
                    flex-basis: calc(50% - 35px);
                }
                @media #{$max480}{
                    flex-basis: 100%;
                }

                .tf-single-performance-icon {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    flex-shrink: 0;

                    img {
                        width: 100%;
                    }

                    @media #{$max1650}{
                        width: 42px;
                        height: 42px;
                    }
                }

                .tf-single-performance-content {
                    padding-left: 25px;
                    @media #{$max1650}{
                        padding-left: 10px;
                    }

                    p {
                        font-size: 1rem;
                        font-weight: 600;
                        color: #222;
                        margin: 0 0 10px;

                        @media #{$max1650}{
                            font-size: 0.875rem;
                        }
                    }

                    h3 {
                        margin: 0;
                        font-size: 30px;
                        font-weight: 700;
                        color: $admin-color-heading;
                        line-height: 0.8;

                        @media #{$max1650}{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    .tf-setting-performace-section {
        margin: 24px 24px 0px 0;
        @include flexbox();
        gap: 24px;
        position: relative;
        @media #{$max1199}{
            flex-direction: column;
        }
        h2 {
            font-size: 26px;
            font-weight: 600;
            line-height: 1;
            color: $admin-color-heading;
            margin: 0 0 16px;
        }

        .tf-report-wrapper{
            @include flex(0 0 calc(70% - 24px));
        }

        .tf-settings-sidebar{
            @include flex(0 0 30%);
        }

        #tf-report-loader {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999;
            opacity: 0;
            visibility: hidden;

            img {
                width: 120px;
            }
        }

        #tf-report-loader.show {
            opacity: 1;
            visibility: visible;
        }

        .tf-order-report {
            background: #ffffff;
            padding: 20px;
            border-radius: 10px;
            @media #{$max640}{
                padding: 0;
            }

            canvas{
                width: 100% !important;
            }
        }

        .tf-report-filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media #{$max640}{
                flex-direction: column;
                align-items: flex-start;
            }
            .tf-month-filter {
                margin-bottom: 15px;
                display: inline-block;

                span {
                    display: block;
                    font-size: 11px;
                    line-height: 13px;
                    font-weight: 600;
                    color: #77797E;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }

                select {
                    width: 180px;
                    color: #222;
                    border: 1px solid #ddd;
                    height: 40px;
                }
            }
        }

        .tf-settings-sidebar{
            .tf-sidebar-content {
                .tf-plugin-lists{
                    border-radius: 8px;
                    background: #F8F7FD;
                    padding: 16px;
                    h3{
                        color: #06040C;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%;
                        margin: 0 0 16px 0;
                    }
                    ul{
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 16px;
                        margin: 0;
                    }
                }
            }
            .tf-plugin-item { 
                border-radius: 6px;
                background: #FFF;
                box-shadow: 0 1px 4px 0 rgba(44, 39, 63, 0.01), 0 2px 2px 0 rgba(44, 39, 63, 0.02), 0 1px 1px 0 rgba(44, 39, 63, 0.04);

                padding: 20px 24px 24px 20px; 
                transition: all ease-in-out 0.3s;
                margin-bottom: 0;
                position: relative;

                &.featured {
                    border-radius: 6px;
                    border: 4px solid transparent;
                    background: linear-gradient(white, white) padding-box, 
                                linear-gradient(90deg, #489355 0%, #B8FC81 100%) border-box;
                    box-shadow: 0px 1px 4px 0px rgba(44, 39, 63, 0.01),
                                0px 2px 2px 0px rgba(44, 39, 63, 0.02),
                                0px 1px 1px 0px rgba(44, 39, 63, 0.04);
                    box-sizing: border-box;
                }
            }
            .tf-plugin-info-wrapper{
                .tf-plugin-content{
                    display: flex;
                    gap: 12px;
                    justify-content: space-between;
                    .tf-plugin-image{
                        border-radius: 16px;
                        background: #FFF;
                        box-shadow: 0 0 8px 0 rgba(65, 65, 65, 0.08);
                        height: 56px;
                        width: 56px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                    .tf-plugin-title{
                        width: calc(100% - 167px);
                        h4 {
                            color: #2C273F;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px; /* 160% */
                            margin: 0 0 2px 0;
                            .badge.free {
                                border-radius: 3px;
                                background: #E6FAEE;
                                font-size: 12px;
                                padding: 2px 8px;
                                color: #17723F;
                                font-size: 11px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 16px; /* 145.455% */
                                text-transform: uppercase;
                                margin-left: 6px;
                            }
                        }
                        p {
                            color: #5D5676;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 160% */
                            margin: 0;
                        }
                    }
                    .tf-plugin-btn{
                        font-weight: 600;
                        .tf-plugin-button { 
                            padding: 0px; 
                            color: #382673;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px; /* 160% */

                            text-decoration: none;
                            position: relative;
                            &.install{
                                color: #382673; 
                                cursor: pointer;
                            }
                            &.activate {
                                color: #382673; 
                                cursor: pointer;
                            }
                            &.pro,
                            &.activate-pro{
                                color: #ff9800; 
                            }
                            &.activate-pro{
                                color: #ff5722;
                                cursor: pointer;
                            }
                        }

                        .tf-plugin-status {
                            &.active{
                                color: #382673; 
                                opacity: 0.8; 
                            }
                            &.active-pro {
                                color: #ff5722; 
                                opacity: 0.8; 
                            }
                        }
                    }
                }
            }
            
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }

            /* Loader */
            .tf-plugin-button:not(.active):not(.active-pro) {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background 0.3s;
                position: relative;
                background-color: transparent;
                gap: 3px;
            }

            .tf-plugin-button.loading {
                background: #ccc;
                cursor: not-allowed;
            }

            .loader {
                display: none;
                width: 12px;
                height: 12px;
                border: 2px solid #b3b3b3;
                border-top: 2px solid transparent;
                border-radius: 50%;
                animation: spin 0.6s linear infinite;
                margin-left: 8px;
            }

            .tf-plugin-button.loading .loader {
                display: inline-block;
            }


            /* Customization */
            .tf-customization-quote{
                background: #fff;
                padding: 16px;
                border-radius: 6px;
                margin: 16px 0 16px 0;

                .tf-quote-content{

                    h3 {
                        margin: 0 0 4px 0;
                        color: #1B334B;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%; /* 27px */
                    }
                    p{
                        color: #344D65;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 21px */
                        margin: 0 0 16px 0;
                    }

                    a{
                        color: #FFF;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px; /* 160% */
                        text-decoration: none;
                        border-radius: 8px;
                        background: #003C7A;
                        padding: 8px 16px;
                        display: inline-flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }

            .tf-quick-access {
                background: #F7F8FA;
                border-radius: 8px;
                padding: 16px;
                h3 {
                    color: #06040C;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 25.5px */
                    margin-bottom: 16px;
                    margin-top: 0px;
                }
                .tf-quick-access-wrapper{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 16px;
                    flex-direction: column;

                    .tf-access-item {
                        background: #FFF;
                        box-shadow: 0 1px 4px 0 rgba(44, 39, 63, 0.01), 0 2px 2px 0 rgba(44, 39, 63, 0.02), 0 1px 1px 0 rgba(44, 39, 63, 0.04);
                        border-radius: 6px;
                        transition: all ease-in-out 0.3s;
                        width: 100%;

                        a {
                            display: flex;
                            align-items: center;
                            padding: 12px 16px;
                            text-decoration: none;
                            color: #2C273F;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px; /* 160% */
                            gap: 12px;
                        }
                    }
                }
            }
        }
    }
}

// get Help page
.tf-settings-help-center {
    .tf-support-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin: 24px 24px 32px 0;

        @media #{$max1199}{
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$max768}{
            grid-template-columns: 1fr;
        }

        .tf-single-support-card {
            background-color: #ffffff;
            border-radius: 16px;
            padding: 32px;
            @include flexbox();
            @include flex-direction(column);
            @include align-items(flex-start);
            gap: 24px;

            h3 {
                font-size: 1.5rem;
                line-height: 32px;
                color: #27333F;
                margin: 0 0 -8px 0;
            }

            p {
                font-size: 0.938rem;
                color: #566676;
                margin: 0;
            }

            a.tf-link-skip-btn{
                min-width: inherit;
            }
        }

        &.tf-support-cards-4 {
            padding: 24px;
            grid-template-columns: repeat(4, 1fr);
            border-radius: 16px;
            background: #F6FAFE;

            @media #{$max1199}{
                grid-template-columns: repeat(2, 1fr);
            }

            @media #{$max768}{
                grid-template-columns: 1fr;
            }

            .tf-single-support-card {
                h3 {
                    margin: 0 0 -16px 0;
                }
            }
        }
    }
    
    .tf-settings-faq {
        margin: 32px 20px 0 0;

        h2 {
            margin: 0 0 16px;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 32px;
            color: #27333F;
        }

        .tf-accordion-wrapper {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 24px;
            grid-template-columns: repeat(2, 1fr);
            display: grid;
            gap: 24px;
            @media #{$max768}{
                display: block;
            }

            .tf-single-faq {
                border-radius: 4px;
                border: 1px solid #EEF2F6;
                background:  #F8FAFC;
                @media #{$max768}{
                    margin-bottom: 16px;
                }

                .tf-faq-title {
                    @include flexbox();
                    @include justify-content(space-between);
                    @include align-items(center);
                    gap: 16px;
                    padding: 8px;
                    cursor: pointer;

                    i {
                        font-size: 0.938rem;
                        color: #566676;
                        @include transition();
                    }

                    h4 {
                        margin: 0;
                        font-size: 0.938rem;
                        font-weight: 500;
                        color: #566676;
                        line-height: 24px;
                        @media #{$max480}{
                            font-size: 1.063rem;
                        }
                    }
                }

                .tf-faq-title.active {
                    i {
                        transform: rotate(180deg);
                    }
                }

                .tf-faq-desc {
                    display: none;
                    padding: 16px;
                    border-top: 1px solid #EEF2F6;

                    p {
                        font-size: 0.938rem;
                        color: #566676;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.tf-setting-license {
    margin: 40px 40px 40px 20px;

    .tf-setting-license-tabs {
        ul {
            margin: 0;
            margin-left: 40px;

            li.active {
                display: inline-block;
                border: none;
                margin: 0;
                line-height: 18px;
                text-decoration: none;
                font-weight: 600;
                position: relative;
                background-color: #ffffff;
                border-radius: 5px 5px 0px 0px;

                &:before {
                    position: absolute;
                    content: "";
                    width: 16px;
                    height: 16px;
                    background-color: #ffffff;
                    bottom: -8px;
                    left: -5px;
                    transform: rotate(45deg);
                }

                &:after {
                    position: absolute;
                    content: "";
                    width: 16px;
                    height: 16px;
                    background-color: #ffffff;
                    bottom: -8px;
                    right: -5px;
                    transform: rotate(45deg);
                }

                span {
                    display: inline-block;
                    padding: 14px 22px;
                    color: $admin-color-heading;
                    font-size: 1.125rem;
                    text-decoration: none;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .tf-setting-license-field {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 0px 20px;
    }
}

.tf-swal-settings-reset-alert #swal2-title {
    line-height: 1.2;
}

.tf-setting-wrapper {
    max-width: 100%;
    margin: 30px 20px 30px 0px;
    background-color: #ffffff;
    border-radius: 10px;
    scroll-margin-top: 100px;

    .tourfic-settings-header {
        padding: 20px 20px 20px 20px;
        border-bottom: 1px solid #003c79;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        border-radius: 10px 10px 0px 0px;
        position: sticky;
        top: 32px;
        z-index: 999;

        .settings-header-left {
            min-width: 40%;
            display: flex;
            align-items: center;
            gap: 16px;

            .tf-setting-title {
                font-size: 1.125rem;
                margin: 0;
            }

            .tf-setting-search {
                min-width: 55%;
                display: flex;
                align-items: center;
                padding-left: 12px;
                border: 1px solid #c4cbd4;
                background-color: #f5f8ff;
                gap: 8px;
                border-radius: 4px;
                color: #363e4a;

                i {
                    font-size: 16px
                }

                .search-input {
                    min-width: 100%;
                }

                input {
                    min-width: calc(100% - 22px);
                    padding: 8px 12px 8px 0px;
                    border: none;
                    position: relative;
                    background-color: transparent;
                    height: 42px;
                    font-size: 1rem;
                    z-index: 999;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                .tf-search-results {
                    position: absolute;
                    top: 75%;
                    left: 164px;
                    right: 0;
                    width: 379px;
                    background-color: #ffffff;
                    box-sizing: border-box;
                    border-radius: 4px;
                    min-height: 60px;
                    max-height: 300px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    scrollbar-width: thin;
                    border: 1px solid #ddd;
                    transition: all 0.5s ease;

                    .tf-search-not-found {
                        text-align: center;
                        font-size: 0.875rem;
                        font-weight: 500;
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        a {
                            border-bottom: 1px solid #f0f0f0;
                            display: flex;
                            padding: 5px 10px 5px 10px;
                            align-items: center;
                            gap: 12px;
                            cursor: pointer;
                            border-radius: 4px;
                            margin: 0;
                            text-decoration: none;
                            color: $admin-color-heading;

                            &:focus {
                                box-shadow: none;
                            }

                            .tf-search-result-title {
                                line-height: 1.4;
                            }

                            i {
                                font-size: 20px !important;
                                color: #8997a9;
                            }

                            p {
                                margin: 0;
                                font-size: 0.875rem;
                                font-weight: 600;
                            }

                            span {
                                font-size: 0.75rem;
                                color: #777;
                            }

                            &:hover{
                                background-color: #f0f2f4;
                            }
                            &:active{
                                background-color: #f0f2f4;
                            }
                        }
                        
                    }
                }
            }
        }

        .tf-setting-save-btn {
            display: flex;
            align-items: center;
            gap: 8px;

            .tf-reset-btn {
                background-color: #dc3545;
                border-color: #dc3545;

                &:hover {
                    background-color: #bc362d;
                    border-color: #bc362d;
                }
            }
        }
    }

    .tf-option-form {
        padding: 30px 30px 30px 0px;

        .tf-option {
            @include flexbox();
            z-index: 10;
            position: relative;

            @media #{$max1024}{
                position: relative;
                min-height: 500px;
            }

            &.tf-taxonomy-metabox {
                display: block;
                margin: 0;
                max-width: 95%;
            }

            .tf-admin-tab.active {
                display: block;
                position: absolute;
                z-index: 99999;
                top: 0;
                bottom: 0;
                background-color: #ffffff;
                @include transition(all, 0.3s, ease);
            }

            .tf-admin-tab {
                min-width: 280px;
                @include transition(all, 0.3s, ease);
                @media #{$max1024}{
                    display: none;
                }

                a.tf-tablinks {
                    font-style: normal;
                    @include flexbox();
                    @include align-items(center);
                    text-decoration: none;
                    color: $admin-color-heading;
                    padding: 18px 30px;
                    font-size: 1rem;
                    text-align: left;
                    line-height: 24px;
                    cursor: pointer;
                    @include transition(all, 0.3s, ease);

                    .tf-sec-icon {
                        margin-right: 10px;
                        color: $slate40;
                        min-width: 25px;
                        @include flexbox();
                        @include justify-content(center);
                        @include transition(all, 0.3s, ease);
                    }

                    &:hover {
                        background-color: #ffffff;
                        outline: none;
                    }

                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }

                    &.active {
                        background-color: #003c791c;
                        color: #003c79;
                        position: relative;
                        overflow: hidden;
                        border-radius: 0px 5px 0px 0px;
                        @media #{$max1024}{
                            position: static;
                        }

                        .tf-sec-icon {
                            color: #003c79;
                        }

                        &::before {
                            position: absolute;
                            content: "\f105";
                            font-size: 0.875rem;
                            color: #003c79;
                            font-family: "FontAwesome" !important;
                            right: 10px;
                        }

                        &::after {
                            position: absolute;
                            content: "";
                            width: 8px;
                            border: none;
                            left: -4px;
                            bottom: 0;
                            top: 0;
                            background: #003c79;
                            height: 28px;
                            margin: auto;
                            border-radius: 25px;
                            @media #{$max1024}{
                                position: static;
                                display: none;
                            }
                        }
                    }
                }

                ul.tf-submenu {
                    margin: 0;
                    display: none;

                    li {
                        margin-bottom: 0;

                        a.tf-tablinks {
                            padding: 0;

                            span.tf-tablinks-inner {
                                @include flexbox();
                                @include align-items(center);
                                padding: 18px 30px;
                                margin-left: 24px;
                            }
                        }

                        &:last-child {
                            a.tf-tablinks {
                                span.tf-tablinks-inner {
                                    border-left: none;

                                    &::after {
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .tf-tab-wrapper {
                @include flex(0 0 calc(100% - 280px));
                padding-top: 0px;
                @media #{$max1024}{
                    flex: 0 0 calc(100% - 0px);
                }

                .tf-mobile-setting {
                    text-align: right;
                    padding-bottom: 15px;
                    display: none;
                    @media #{$max1024}{
                        display: block;
                    }

                    a {
                        i {
                            color: $admin-color-heading;
                            font-size: 22px;
                        }
                    }
                }

                .tf-tab-content {
                    display: none;
                    @include flex-wrap(wrap);
                    @include justify-content(space-between);
                    padding: 20px 20px;
                    background: #ededf8;
                    margin: 0px 0px 0px 20px;
                    border-radius: 5px;

                    &.active {
                        @include flexbox();
                    }

                    > .tf-field {
                        background-color: #ffffff;
                        margin: 5px 0px;
                        border-radius: 8px;
                        padding: 20px 30px;

                        p.description {
                            font-size: 0.875rem;
                            margin-top: 10px;
                        }
                    }

                    > .tf-field.tf-field-heading {
                        border-radius: 0px;
                    }

                    > .tf-field.tf-field-color {
                        background-color: transparent;
                        padding: 0px;
                    }
                }
            }
        }
    }
}

.tf-shortcode-generator-section {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    margin-right: 20px;

    .tf-shortcode-generators {
        background: #ededf8;
        border-radius: 8px;
        padding: 20px;

        .tf-shortcode-generator-single:not(:last-child) {
            margin-bottom: 20px;
        }

        .tf-shortcode-generator-label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 30px;
            flex-wrap: wrap;
            flex-direction: row;
            background-color: #ffffff;
            padding: 20px 30px;
            align-items: center;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            @media #{$max640}{
                display: flow-root !important;
            }

            .tf-labels {
                label {
                    font-size: 0.875rem;
                    line-height: 22px;
                    font-weight: 600;
                    color: #0d165e;
                    display: inline-block;
                    margin-bottom: 3px;
                }

                p {
                    margin: 0;
                    font-size: 13px;
                    line-height: 18px;
                    color: #838790;
                    font-weight: 400;
                }
            }
        }
        .shortcode-section-heading {
            padding: 5px 30px;
            border-bottom: 3px solid #003c79;
        }

        .tf-shortcode-btn {
            button {
                font-size: 1rem;
                line-height: 20px;
                text-decoration: none;
                font-weight: 500;
                padding: 0 20px;
                margin-left: 15px;
                height: 45px;
                background-color: #003c79;
                color: #ffffff;
                border: none;
                box-shadow: none !important;
                outline: none;
                cursor: pointer;
                border-radius: 5px;
                @media #{$max640}{
                    margin-left: 0px !important;
                    margin-top: 10px !important;
                }

                &:hover {
                    background-color: #002f5e;
                }
            }
        }

        .tf-sg-form-wrapper {
            display: none;
            overflow-x: auto;
            overflow-y: scroll;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1050;
            -webkit-overflow-scrolling: touch;
            outline: 0;

            .tf-shortcode-generator-form {
                transform: translateY(10%);
                width: 600px;
                margin: 30px auto;
                padding: 30px;
                background-color: #ffffff;
                box-shadow: 0 10px 30px rgba(0, 0, 0, .18);
                border-radius: 10px;
                @media #{$max640}{
                    width: 320px;
                }

                .tf-sg-row {
                    display: flex;
                    margin-right: 15px;
                    margin-left: -15px;
                    margin-bottom: 15px;
                    flex-wrap: wrap;
                    @media #{$max640}{
                        display: flow-root;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

                .tf-col-lg-6 {
                    flex: 0 0 50%;
                    max-width: 50%;
                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;
                    box-sizing: border-box;
                    @media #{$max640}{
                        max-width: 100%;
                    }
                }

                .tf-col-lg-4 {
                    flex: 0 0 33%;
                    max-width: 50%;
                    position: relative;
                    width: 100%;
                    padding-right: 4px;
                    padding-left: 4px;
                    box-sizing: border-box;
                    @media #{$max640} {
                        max-width: 100%;
                    }

                    &:first-child {
                        padding-left: 15px;
                    
                    }&:last-child {
                        padding-right: 15px;
                    }
                }

                select.tf-select-field[multiple] {
                    height: auto;
                }

                span.select2-container {
                    width: 100% !important;

                    span.select2-selection {
                        min-height: 40px; 
                    }
                }

                .select2-search__field {
                    // padding-top: 5px;
                    margin: 10px;
                    font-size: 0.875rem;
                }

                .tf-setting-field {
                    width: 100%;
                    box-shadow: none;
                    height: 44px;
                    padding: 10px 25px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    font-size: 0.875rem;
                    line-height: 16px;
                    appearance: none;

                    &:active {
                        border-color: #8c8f94;
                        box-shadow: none;
                    }
                }

                .tf-sg-close {
                    position: absolute;
                    right: -7px;
                    top: -5px;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    background: red;
                    color: #ffffff;
                    text-align: center;
                    font-size: 1.25rem;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .tf-copy-item {
                    display: none;
                }

                .tf-shortcode-field.copy-shortcode {
                    align-self: start;
                    float: none;
                    display: flex;
                }

                input.tf-shortcode-value {
                    width: 100%;
                    height: 45px;
                    background: #ffffff;
                    padding: 10px 15px;
                    border: 1px solid #ccc;
                }

                .tf-copy-btn {
                    margin-left: 10px;
                    line-height: 22px;
                    vertical-align: middle;
                }
            }
        }
    }
}

.tf-copy-item span.tf-copied-msg {
    display: flex;
    justify-content: end;
    margin-bottom: 9px;
    padding-right: 10px;
}  

#tfhotel_docs,
#tftour_docs,
#tfapartment_docs{
    border: 0px solid;
    box-shadow: none;
    background-color: transparent;
    .postbox-header{
        display: none;
    }
    .inside{
        margin: 0px;
        padding: 0px;
        .tf_docs_preview{
            a{
                text-decoration: none;
                img{
                    width: 100%;
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}
.tf-copy-item span.tf-copied-msg{
  display: flex;
  justify-content: end;
  margin-bottom: 9px;
  padding-right: 10px;
}
.tf-exp-imp-field {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}