.tf-field {
  padding: 12px 0;

  @media #{$max1024} {
    width: 100% !important;
  }

  .tf-field-label {
    display: block;
    font-style: normal;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 17px;
    color: $tf_text_title;
    display: flex !important;
    align-items: center;
    line-height: 25.5px;
    letter-spacing: -0.25px;
    margin-bottom: 4px;

    .tf-csf-badge {
      margin-left: 13px;
      .tf-pro {
        background-color: #F44336 !important;
        margin: 0;
      }

      .tf-upcoming {
        background-color: #006600 !important;
        margin: 0;
      }
    }

  }
  
.tf-label-field {
  .tf-fieldset {
    .tf-inline{
      li {
        background: #ededf8 !important;
        padding: 20px 30px 13px 30px;
        margin: 10px 0px;
        border-radius: 8px;
      }
    }
  }
}

  .tf-fieldset {
    font-style: normal;
    font-size: 0.875rem;
    a {
      font-style: normal;
      font-weight: 600;
    }
  }

  .tf-field-sub-title {
    color: $tf_text_paragraph;
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 4px;
    display: block;
  }
}
.tf-field.tf-field-heading{
  .tf-fieldset{
    margin-top: 0px;
  }
}
.tf-taxonomy-metabox {
  .tf-field {
    padding: 12px 0;
  }
}
.tf-inline-list{
  display: inline-block;
}