/**
 * Common
 */
.tf-post-states{
    display: inline-block;
    font-size: 11px;
    padding: 1px 8px;
    border-radius: 10px;
    background: #333;
    color: #fff; 
}
.post-new-php.post-type-tf_hotel .wp-header-end,
.post-php.post-type-tf_hotel .wp-header-end{
	position: relative;
	height: 25px;
	width: 100%;
}
.post-new-php.post-type-tf_hotel .wp-header-end::before,
.post-php.post-type-tf_hotel .wp-header-end::before{
  position: absolute;
  content: "SETUP 1: GENERAL INFORMATION";
  left: 0;
  bottom: 0;
  font-size: 23px;
  color: rgb(121,121,121);
 visibility: visible;
}
#tfhotel_docs {
  border: 0px solid;
  background: transparent;
  margin: 0;
  box-shadow: none;
}
#tfhotel_docs h2 {
  width: 100%;
  font-size: 23px;
  color: rgb(121,121,121);
  padding: 0;
  line-height: 19px;
}
#tfhotel_docs .postbox-header{
	display: flow-root;
	border: 0px solid;
}
#tfhotel_docs .handle-actions.hide-if-no-js{
	display: none;
}
/** 
 * Meta field
 * Common
 */
.csf-section .csf-field.tf-csf-disable {
    opacity: 1;
    user-select: none;
    border-top: 1px solid #eee;
}
.csf-section .csf-field.tf-csf-disable .clear:before {
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #eee;
    opacity: 0.25;
    z-index: 10;
}

.csf-section .csf-field.tf-csf-pro {
    cursor: pointer;
}

.tf-csf-badge .tf-upcoming, .tf-csf-badge .tf-pro {
    display: inline-block;
    color: #fff;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 12px;
    font-weight: 600;
}
.tf-csf-badge .tf-upcoming {
    background: #006600;
    margin-right: 5px;
}
.tf-csf-badge .tf-pro {
    background: #b30000;
}

/**
 * Hotel
 */
.room-repeater .unique-id,
.room-repeater .tf-order_id {
    display: none;
}

/**
 * General Settings
 */
 .document-button {
    display: block;
    background: #ddd;
    color: #050505;
    border-radius: 3px;
    line-height: 1;
    padding: 10px 15px;
    margin: 0;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.document-button:hover {
    background: #135e96;
    color: #fff;
}

/**
 * Major Update Notice
 */
.tf-major-update-warning {
    margin-bottom: 15px;
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.tf-major-update-warning__separator {
    margin: 15px -12px;
}
.tf-major-update-warning__icon {
    margin-right: 9px;
    margin-left: 2px;
}
.tf-major-update-warning__icon svg{
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    line-height: 1;
}
.tf-major-update-warning__title {
    font-weight: 600;
    margin-bottom: 10px;
}
.tf-major-update-warning + p {
    display: none;
}
.notice-success .tf-major-update-warning__separator {
    border: 1px solid #46b450;
}
.notice-success .tf-major-update-warning__icon {
    fill: #79ba49;
} 
.notice-warning .tf-major-update-warning__separator {
    border: 1px solid #ffb900;
} 
.notice-warning .tf-major-update-warning__icon {
    fill: #f56e28;
}

/**
 * Codestar
 */
.disable-sortable .csf-repeater-sort,
.disable-sortable .csf-repeater-clone {
    display: none !important;
}
/**
 * Override Codestar repeater for Hotel Room
 */
.csf-section .room-repeater > .csf-title{
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 18px;
}
.csf-section .room-repeater > .csf-fieldset{
    width: 100%;
}
.csf-section .room-repeater .csf-repeater-wrapper .csf-repeater-item {
    margin: 0 0 20px 0;
    border-bottom: 2px solid #2271b1;
}

.csf-section .room-repeater .repeater-by-date > .csf-title{
    display: none;
}
.csf-section .room-repeater .repeater-by-date > .csf-fieldset{
    width: 100%;
}
.csf-section .room-repeater .repeater-by-date .csf-repeater-wrapper .csf-repeater-item {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #eee;
}

/**
 * Change admin menu color
 */
#adminmenu .toplevel_page_tourfic .dashicons-before:before {
    color: #8bc34a;
}
#adminmenu .menu-icon-tf_hotel .dashicons-before:before {
    color: #03a9f4;
}
#adminmenu .menu-icon-tf_tours .dashicons-before:before {
    color: #ffc107;
}