/*
Button
*/
.tf-admin-btn {
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  padding: 10px 25px;
  border: 1px solid #003c79;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tf-admin-btn i {
  margin-right: 8px;
  font-size: 18px;
}
.tf-admin-btn.tf-btn-secondary {
  background-color: #003c79;
  border-color: #003c79;
  color: #fff;
  font-weight: 600;
}
.tf-admin-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.tf-link-btn {
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  padding: 10px 25px;
  border: none;
  border-radius: 0;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  color: #003c79;
}
.tf-link-btn i {
  margin-right: 8px;
  font-size: 18px;
}

body.admin_page_tf-setup-wizard {
  background-color: #ecf5ff;
}

.admin_page_tf-setup-wizard #wpcontent {
  margin-left: 0 !important;
}

.admin_page_tf-setup-wizard #wpbody-content, .admin_page_tf-setup-wizard #wpcontent {
  padding: 0;
  overflow-x: hidden !important;
  min-height: calc(100vh - 32px);
}

.admin_page_tf-setup-wizard #adminmenumain, .admin_page_tf-setup-wizard .error, .admin_page_tf-setup-wizard .notice, .admin_page_tf-setup-wizard .update-nag, .admin_page_tf-setup-wizard .updated, .admin_page_tf-setup-wizard div#wpadminbar, .admin_page_tf-setup-wizard div#wpfooter {
  display: none;
}

.tf-setup-wizard-wrapper {
  max-width: 900px;
  margin: auto;
  width: calc(100% - 40px);
}

.tf-setup-header {
  padding: 0 0 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.tf-setup-header .get-help-link a {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}

/*
Welcome Step
*/
.tf-setup-content-layout {
  padding: 40px 50px 25px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  min-height: 700px;
  display: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.tf-setup-content-layout.active {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.tf-setup-content-layout .welcome-img {
  margin-bottom: 50px;
  min-height: 295px;
}
.tf-setup-content-layout .tf-setup-welcome-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #11142e;
  margin: 0 0 10px;
}
.tf-setup-content-layout .tf-setup-welcome-description {
  max-width: 450px;
  margin: 14px auto 30px;
}
.tf-setup-content-layout .tf-setup-welcome-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.tf-setup-content-layout .tf-setup-welcome-footer .tf-admin-btn {
  margin-bottom: 10px;
}
.tf-setup-content-layout .tf-setup-welcome-footer .tf-link-btn {
  color: #11142e;
  font-weight: 500;
  text-decoration: underline;
}

/*
Steps
*/
.tf-setup-steps {
  max-width: 600px;
  margin: 0 auto 40px;
  box-sizing: border-box;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0;
  line-height: 1.5715;
  list-style: none;
  display: flex;
  width: 100%;
  text-align: initial;
}
.tf-setup-steps .tf-steps-item {
  position: relative;
  display: inline-block;
  flex: 1;
  vertical-align: top;
}
.tf-setup-steps .tf-steps-item .tf-steps-item-container {
  outline: 0;
}
.tf-setup-steps .tf-steps-item .tf-steps-item-tail {
  padding: 3.5px 45px 3.5px 35px;
  margin-left: 58px;
  top: 8px;
  position: absolute;
  left: 0;
  width: 70%;
}
.tf-setup-steps .tf-steps-item .tf-steps-item-tail::after {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #f0f0f0;
  border-radius: 1px;
  transition: background 0.3s;
  content: "";
}
.tf-setup-steps .tf-steps-item .tf-steps-item-icon {
  width: auto;
  height: inherit;
  line-height: inherit;
  background: 0 0;
  border: 0;
  border-radius: 0;
  margin: 0 8px 0 0;
  margin-left: 46px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  border-color: #1890ff;
}
.tf-setup-steps .tf-steps-item .tf-steps-item-icon .tf-steps-icon {
  font-size: 24px;
  line-height: 24px;
  transform: none;
  color: #1890ff;
  top: 0;
  left: 0.5px;
  width: 32px;
  height: 32px;
  position: relative;
}
.tf-setup-steps .tf-steps-item .tf-steps-item-title {
  margin-top: -4px;
  text-align: center;
  display: block;
  vertical-align: top;
  width: 116px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
.tf-setup-steps .tf-steps-item:last-child {
  flex: none;
}
.tf-setup-steps .tf-steps-item:last-child .tf-steps-item-tail {
  display: none;
}

.tf-setup-step-container {
  display: none;
  /*
  Ajax Loader
  */
}
.tf-setup-step-container.active {
  display: block;
}
.tf-setup-step-container .tf-setup-step-layout {
  padding: 40px 50px 25px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  min-height: 700px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tf-setup-step-container .tf-setup-step-title {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 32px;
  line-height: 47px;
  color: #003c79;
  margin: 0 0 15px;
}
.tf-setup-step-container .tf-setup-step-subtitle {
  text-transform: capitalize;
  color: #003c79;
  margin: 20px 0 15px;
  text-align: left;
}
.tf-setup-step-container .tf-select-service {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 20px;
}
.tf-setup-step-container .tf-select-service li {
  -webkit-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
}
.tf-setup-step-container .tf-select-service input[type=checkbox] {
  display: none;
}
.tf-setup-step-container .tf-select-service label {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  padding: 10px;
  display: block;
  position: relative;
  cursor: pointer;
  border-radius: 6px;
}
.tf-setup-step-container .tf-select-service label span {
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  margin-top: 5px;
}
.tf-setup-step-container .tf-select-service label:before {
  background-color: white;
  color: white;
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 26px;
  transition-duration: 0.4s;
  transform: scale(0);
  font-family: "dashicons";
  font-size: 20px;
}
.tf-setup-step-container .tf-select-service label img {
  width: 100%;
}
.tf-setup-step-container .tf-select-service :checked + label:before {
  content: "\f15e";
  background-color: #003c79;
  transform: scale(1);
}
.tf-setup-step-container .tf-setup-action-btn-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 30px 0 50px 0;
}
.tf-setup-step-container .tf-setup-form-item {
  text-align: end;
  background: #f8f9fb;
  padding: 14px 30px 14px 25px;
  border-radius: 10px;
  margin: 0 0 13px 0;
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
}
.tf-setup-step-container .tf-setup-form-item .tf-setup-form-item-label {
  display: inline-block;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  vertical-align: middle;
}
.tf-setup-step-container .tf-setup-form-item .tf-setup-form-item-label label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  height: 32px;
  color: rgba(0, 0, 0, 0.85);
}
.tf-setup-step-container .tf-setup-form-item .tf-setup-form-item-input {
  flex: 1 1 0;
  min-width: 0;
}
.tf-setup-step-container .tf-setup-form-item .tf-setup-form-item-input select {
  border: 1px solid #e4e6eb;
  border-radius: 5px;
  height: 36px;
  padding: 6px 18px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  transition: all 0.3s;
}
.tf-setup-step-container .tf-setup-form-item .tf-setup-form-item-input select:focus {
  border-color: #1890ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.tf-setup-step-container .tf-setup-form-item .tf-switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  border-radius: 20px;
}
.tf-setup-step-container .tf-setup-form-item .tf-switch-label input {
  display: none;
}
.tf-setup-step-container .tf-setup-form-item .tf-switch-label .tf-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f44336;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.tf-setup-step-container .tf-setup-form-item .tf-switch-label .tf-switch-slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 12px;
  top: 4px;
  left: 4px;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(27, 25, 25, 0.3);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.tf-setup-step-container .tf-setup-form-item .tf-switch-label input:checked + .tf-switch-slider {
  background-color: #060;
}
.tf-setup-step-container .tf-setup-form-item .tf-switch-label input:checked + .tf-switch-slider:before {
  left: 100%;
  margin-left: -22px;
}
.tf-setup-step-container .tf-setup-step-description {
  margin-bottom: 30px;
}
.tf-setup-step-container .tf-btn-loading {
  padding-right: 40px;
  position: relative;
}
.tf-setup-step-container .tf-btn-loading:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-left-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  -webkit-animation: wd-rotate 450ms infinite linear;
  animation: wd-rotate 450ms infinite linear;
}
@-webkit-keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes wd-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=setup-wizard.css.map */
