.tf-place-offer-section{
    @media #{$max767}{
        padding-left: 16px;
        padding-right: 16px;
    }
    h2{
        color: $color-heading;
        font-size: 32px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        margin-bottom: 24px !important;
        @media #{$max767}{
            font-size: 24px !important;
        }
    }
    .place-offer-items{
        display: grid;
        gap: 8px 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media #{$max767}{
            grid-template-columns: 1fr 1fr;
        }
        .tf-apt-amenity{
            display: flex;
            gap: 9px;
            align-items: center;
            .tf-apt-amenity-icon{
                line-height: 11px;
                img{
                    height: 16px !important;
                    width: 16px !important;
                }
            }
            span{
                color: $color-text;
                font-size: 14px !important;
                font-weight: 400 !important;
                line-height: 13px;
            }
        }
    }
}