.tf-apartment-rooms-section{
    margin-left: 32px;
    margin-right: 32px;
    .tf-apartment-room-details{
        border-radius: 4px;
        background: #FCF4E8;
        padding: 24px 24px 28px 24px;
        h4{
            color: $color-heading;
            font-size: 20px !important;
            font-weight: 700 !important;
            margin: 0 0 16px 0;
        }
        .slick-track{
            margin: 0 !important;
            .slick-slide{
                margin: 0px 5px !important;
            }
        }
        .tf-apartment-room-item{
            .tf-apartment-room-item-thumb{
                a{
                    text-decoration: none;
                    img{
                        height: 200px;
                        border-radius: 4px;
                        object-fit: cover;
                    }
                }
            }
            .tf-apartment-room-item-content{
                margin-top: 16px;
                a{
                    text-decoration: none;
                    span{
                        color: $color-text;
                        font-size: 16px !important;
                        font-weight: 600 !important;
                    }
                }
                p{
                    margin: 8px 0 0 0;
                    color: $color-text;
                    font-size: 16px !important;
                    font-weight: 400 !important;
                }
            }
        }
        .slick-dots {
            bottom: -36px;
            li {
                width: 16px;
                height: 16px;

                button {
                    background: transparent;
                    border-radius: 30px;
                    border: 1px solid $color-gray;
                    height: 12px;
                    width: 12px;

                    &:before {
                        opacity: 0;
                        font-size: 0;
                        width: 6px;
                        height: 6px;
                        background: $color-primary;
                        top: 50%;
                        left: 50%;
                        border-radius: 100%;
                        transform: translate(-50%, -50%);
                    }
                }

                &.slick-active {
                    button {
                        background: transparent;
                        border: 1px solid $color-primary;
                        height: 16px;
                        width: 16px;
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}