
// 
// Page-title
// 


.page-title-box {

    .page-title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .breadcrumb {
        padding:  0rem;
    }

    .dropdown {
        .show.header-item {
            background-color: rgba($gray-100, 0.1);
        }
    }

}

