.tf-place-offer-section{
    h2{
        color: #595349;
        font-size: 32px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 120%;
        margin-bottom: 24px !important;
    }
    .place-offer-items{
        display: grid;
        gap: 8px 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .tf-apt-amenity{
            display: flex;
            gap: 9px;
            align-items: center;
            .tf-apt-amenity-icon{
                line-height: 11px;
                img{
                    height: 16px !important;
                    width: 16px !important;
                }
            }
            span{
                color: #99948D;
                font-size: 14px !important;
                font-style: normal;
                font-weight: 400 !important;
                line-height: 13px;
            }
        }
    }
}