.tf-apartment-rooms-section{
    margin-left: 32px;
    margin-right: 32px;
    .tf-apartment-room-details{
        border-radius: 4px;
        background: #FCF4E8;
        padding: 24px 24px 28px 24px;
        h4{
            color: #595349;
            font-size: 20px !important;
            font-style: normal !important;
            font-weight: 700 !important;
            line-height: 130%; /* 26px */
            margin: 0 0 16px 0;
        }
        .slick-track{
            margin: 0 !important;
        }
        .tf-apartment-room-item{
            .tf-apartment-room-item-thumb{
                a{
                    text-decoration: none;
                    img{
                        height: 200px;
                        border-radius: 4px;
                    }
                }
            }
            .tf-apartment-room-item-content{
                margin-top: 16px;
                a{
                    text-decoration: none;
                    span{
                        color: #595349;
                        font-size: 16px !important;
                        font-style: normal !important;
                        font-weight: 600 !important;
                        line-height: 130%; /* 20.8px */
                    }
                }
                p{
                    margin: 8px 0 0 0;
                    color: #99948D;
                    font-size: 16px !important;
                    font-style: normal !important;
                    font-weight: 400 !important;
                    line-height: 130%; /* 20.8px */
                }
            }
        }
        .slick-dots {
            bottom: -36px;
            li {
                width: 16px;
                height: 16px;

                button {
                    background: transparent;
                    border-radius: 30px;
                    border: 1px solid rgba(153, 148, 141, 1);
                    height: 12px;
                    width: 12px;

                    &:before {
                        opacity: 0;
                        font-size: 0;
                        width: 6px;
                        height: 6px;
                        background: rgba(181, 142, 83, 1);
                        top: 49%;
                        left: 50%;
                        border-radius: 100%;
                        transform: translate(-50%, -50%);
                    }
                }

                &.slick-active {
                    button {
                        background: transparent;
                        border: 1px solid rgba(181, 142, 83, 1);
                        height: 16px;
                        width: 16px;
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}