.tf-archive-car-section{
    background-color: #EEF2F6;
    .tf-archive-car-banner{
        background: #B8C5D2;
        height: 350px;
        .tf-banner-content{
            height: 100%;
            h1{
                color: #FFF;
                text-align: center;
                font-size: 38px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 45.6px */
            }
        }
    }

    .tf-archive-car-details-warper{
        padding: 56px 0px;
        .tf-archive-header{
            .tf-archive-view{
                ul{
                    li{
                        height: 52px;
                        width: 52px;
                        line-height: 52px;
                        display: flex;
                        border-radius: 8px;
                        background: #F5FAFF;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        i{
                            color: #27333F;
                        }
                        &.active{
                            background-color: #0866C4;
                            i{
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
            .tf-total-result-bar{
                text-align: right;
                span{
                    color: #27333F;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                }
            }
        }
        .tf-car-details-column{
            .tf-car-archive-sidebar{
                width: 358px;
                border-radius: 16px;
                background: #E6F2FE;
                padding: 32px;
                .tf-sidebar-header{
                    margin-bottom: 32px;
                    h4{
                        color: #27333F;
                        font-size: 16px !important;
                        font-style: normal;
                        font-weight: 400 !important;
                        line-height: 150%; /* 24px */
                    }
                    button{
                        color: #27333F;
                        font-size: 16px !important;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        background-color: transparent;
                        padding: 0px;
                        border: 0px solid;
                    }
                }
                .tf-category-widget{
                    margin-bottom: 32px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    .tf-category-heading{
                        h3{
                            color: #27333F;
                            font-size: 16px !important;
                            font-style: normal !important;
                            font-weight: 400 !important;
                            line-height: 150%; /* 24px */
                            margin-bottom: 16px;
                        }
                    }
                    .tf-category-lists{
                        ul{
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 8px;
                            li{
                                width: 100%;
                                label{
                                    color: #566676;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 150%; /* 24px */
                                    display: block;
                                    position: relative;
                                    padding-left: 35px;
                                    margin-bottom: 0px;
                                    cursor: pointer;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    
                                    input{
                                        position: absolute;
                                        opacity: 0;
                                        cursor: pointer;
                                        height: 0;
                                        width: 0;
                                    }
                                    input:checked ~ .checkmark:after {
                                        display: block;
                                    }
                                    input:checked ~ .checkmark{
                                        background-color: #F8FAFC;
                                    }
                                    .checkmark {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        height: 20px;
                                        width: 20px;
                                        border: 2px solid #566676;
                                        background-color: transparent;
                                        border-radius: 5px;
                                        &::after{
                                            content: "";
                                            position: absolute;
                                            display: none;
                                            left: 5px;
                                            top: 2px;
                                            width: 7px;
                                            height: 10px;
                                            border: solid #566676;
                                            border-width: 0 3px 3px 0;
                                            -webkit-transform: rotate(45deg);
                                            -ms-transform: rotate(45deg);
                                            transform: rotate(45deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .tf-car-archive-result{
                width: calc(100% - 390px);

                .tf-car-result{
                    flex-wrap: wrap;
                    .tf-single-car-view{
                        border-radius: 16px;
                        background: #FFF;
                        width: calc(50% - 16px);
                        .tf-car-image{
                            position: relative;
                            img{
                                border-radius: 16px;
                                height: 200px;
                                width: 100%;
                                object-fit: cover;
                            }
                            .tf-other-infos{
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                padding: 16px;
                                .tf-reviews-box{
                                    span{
                                        border-radius: 8px;
                                        background: rgba(255, 255, 255, 0.24);
                                        backdrop-filter: blur(32px);
                                        display: inline-block;
                                        padding: 0 8px;
                                        color: #27333F;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 150%; /* 24px */
                                        i{
                                            color: #FFBF0F;
                                        }
                                    }
                                }
                                .tf-tags-box{
                                    ul{
                                        margin: 0;
                                        padding: 0;
                                        list-style: none;
                                        li{
                                            border-radius: 8px;
                                            background: #FFBF0F;
                                            backdrop-filter: blur(32px);
                                            padding: 4px 8px;
                                            color: #382900;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 150%; /* 24px */
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                        .tf-car-details{
                            padding: 24px 16px 16px 16px;
                            h3{
                                color:#27333F;
                                font-size: 21px !important;
                                font-style: normal !important;
                                font-weight: 700 !important;
                                line-height: 150% !important; /* 31.5px */
                            }
                            ul{
                                list-style: none;
                                flex-wrap: wrap;
                                gap: 16px;
                                li{
                                    color: #566676;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 150%; /* 24px */
                                    width: calc(33% - 16px);
                                }
                            }
                            .tf-booking-btn{
                                .tf-price-info{
                                    h3{
                                        color: #27333F;
                                        font-size: 28px !important;
                                        font-style: normal !important;
                                        font-weight: 600 !important;
                                        line-height: 120%; /* 33.6px */
                                        small{
                                            color: #566676;
                                            font-size: 16px !important;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 150%; /* 24px */
                                        }
                                    }
                                }
                                button{
                                    border-radius: 8px;
                                    border: 1px solid #0866C4;
                                    padding: 12px 32px;
                                    color: #0866C4;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 150%; /* 24px */
                                    background-color: #fff;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}