.tf-single-car-section{
    .tf-single-car-details-warper{
        padding: 32px 0;
        display: flex;
        gap: 40px;
        @media #{$tfmax991}{
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$max767}{
            flex-wrap: wrap;
            padding-left: 15px;
            padding-right: 15px;
        }
        .tf-car-details-column{
            width: calc(100% - 480px);
            display: flex;
            gap: 32px;
            flex-wrap: wrap;
            @media #{$tfmax991}{
                width: calc(100% - 360px);
            }
            @media #{$max767}{
                width: 100%;
            }
            h3{
                color: #27333F;
                font-size: 21px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 31.5px */
                margin-bottom: 16px;
            }

            .tf-car-hero-gallery{
                width: 100%;
                .tf-featured-car{
                    position: relative;
                    border-radius: 16px;
                    img{
                        border-radius: 16px;
                        height: 338px;
                        width: 100%;
                        object-fit: cover;
                    }
                    .tf-featured-reviews{
                        position: absolute;
                        top: 16px;
                        left: 16px;
                        a{
                            text-decoration: none;
                            border-radius: 8px;
                            background: #F8FAFC;
                            color: #566676;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                            span{
                                color: #566676;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                i{
                                    color: #FFBF0F;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
                .tf-gallery{
                    margin-top: 15px;
                    a{
                        width: calc(25% - 12px);
                        img{
                            border-radius: 8px;
                        }
                    }
                }
            }


            .tf-details-menu{
                ul{
                    li{
                        display: inline-block;
                        a{
                            text-decoration: none;
                            color: #27333F;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                            padding: 0 8px 8px 8px;
                            display: inline-block;
                        }
                        &.active{
                            a{
                                color: #0866C4;
                                border-bottom: 2px solid #0866C4;
                            }
                        }
                    }
                }
            }

            .tf-short-description{
                color: #566676;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 24px */
            }

            .tf-car-info{
                width: 100%;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    gap: 16px 8px;
                    li{
                        color: #566676;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        width: calc(25% - 8px);
                        i{
                            font-size: 20px;
                        }
                        @media #{$max575}{
                            width: calc(50% - 8px);
                        }
                    }
                }
            }

            .tf-car-benefits{
                width: 100%;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    gap: 16px 8px;
                    li{
                        color: #566676;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        width: calc(50% - 8px);
                        @media #{$max575}{
                            width: 100%;
                        }
                    }
                }
            }
            .tf-car-specification{
                width: 100%;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    gap: 16px;
                    li{
                        color: #566676;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        width: calc(50% - 8px);
                        border-bottom: 1px solid #DFE6ED;
                        span.label{
                            color: #27333F;
                            padding: 8px 16px;
                        }
                        span.value{
                            padding: 8px 16px;
                        }
                        @media #{$max575}{
                            width: 100%;
                            justify-content: space-between;
                        }
                    }
                }
            }

            .tf-car-location{
                width: 100%;
                .tf-car-location-map{
                    border-radius: 8px;
                    background: #EEF2F6;
                    height: 260px;
                    width: 100%;
                }
            }


            .tf-car-faq-section{
                width: 100%;
                .tf-faq-col{
                    margin-bottom: 16px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    .tf-faq-head{
                        border-radius: 8px;
                        background: #FFF;
                        padding: 8px 16px;
                        cursor: pointer;
                        span{
                            color:#27333F;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                            gap: 8px;
                            flex-wrap: nowrap;
                            i{
                                color: #566676;
                            }
                        }
                    }
                    .tf-question-desc{
                        color:#27333F;
                        font-size: 15px;
                        padding: 8px 16px;
                        display: none;
                    }
                }
            }
        }

        .tf-car-booking-form{
            width: 440px;
            @media #{$tfmax991}{
                width: 400px;
            }
            @media #{$max767}{
                width: 100%;
            }
            .tf-price-header{
                h2{
                    color: #27333F;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%; /* 33.6px */
                    margin-bottom: 8px;
                    del{
                        color: #566676;
                        text-decoration-line: strikethrough;
                    }
                }
                p{
                    color: #566676;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                    margin: 0;
                }
            }
            .tf-extra-added-info{
                border-radius: 16px;
                background: #EEF2F6;
                padding: 16px 24px 24px 24px;
                margin-bottom: 32px;
                .tf-extra-added-box{
                    h3{
                        color: #27333F;
                        font-size: 21px !important;
                        font-style: normal !important;
                        font-weight: 400 !important;
                        line-height: 150%; /* 31.5px */
                    }
                    .tf-single-added-extra{
                        border-radius: 8px;
                        background: #FFF;
                        padding: 16px;
                        gap: 8px;
                        h4{
                            color: #27333F;
                            font-size: 16px !important;
                            font-style: normal !important;
                            font-weight: 400 !important;
                            line-height: 150%; /* 24px */
                            margin: 0;
                            width: calc(100% - 148px);
                        }
                        .qty-price{
                            color: #27333F;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                            width: 140px;
                            span.price{
                                margin-left: 10px;
                            }
                            i{
                                color: #566676;
                                font-size: 20px;
                            }
                            span.delete{
                                margin-left: 40px;
                            }
                        }
                    }
                }
            }

            .tf-date-select-box{
                border-radius: 16px;
                background:#EEF2F6;
                padding: 8px 8px 16px 8px;
                margin-bottom: 32px;
                .tf-date-single-select{
                    border-radius: 8px;
                    background: #FFF;
                    padding: 16px;
                    margin-bottom: 8px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    .tf-select-date{
                        width: calc(50% - 8px);
                        &:first-child{
                            border-right: 1px solid #DFE6ED;
                        }
                        
                        i{
                            color: #566676;
                        }
                        
                        .info-select{
                            width: 100%;
                            h5{
                                color: #27333F;
                                font-size: 12px !important;
                                font-style: normal !important;
                                font-weight: 400 !important;
                                line-height: 120% !important; /* 14.4px */
                                margin-bottom: 8px;
                            }
                            input{
                                min-width: auto;
                                width: 100% !important;
                                color: #27333F;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
                                border: 0px solid !important;
                                &:focus{
                                    outline: none;
                                    box-shadow: none;
                                }
                                &::placeholder{
                                    color: #27333F;
                                }
                            }
                            select{
                                min-width: auto;
                                width: 100% !important;
                                color: #27333F;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
                                border: 0px solid !important;
                                background-color: transparent;
                            }
                        }
                    }
                    
                }
                .tf-form-submit-btn{
                    button{
                        padding: 16px 32px;
                        border-radius: 8px;
                        background: #0866C4;
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%; /* 24px */
                        cursor: pointer;
                        width: 100%;
                    }
                }
                .tf-instraction-btn{
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: #0866C4;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                    }
                }
            }

            .tf-add-extra-section{
                border-radius: 16px;
                background: #EEF2F6;
                padding: 24px;
                margin-bottom: 32px;
                h3{
                    color: #27333F;
                    font-size: 21px !important;
                    font-style: normal !important;
                    font-weight: 400 !important;
                    line-height: 150% !important; /* 31.5px */
                    margin-bottom: 16px;
                }
                .tf-car-extra-infos{
                    .tf-car-single-extra{
                        padding: 12px 16px 16px 16px;
                        border-radius: 8px;
                        background: #F8FAFC;
                        .tf-extra-title{
                            h4{
                                color: #27333F;
                                font-size: 16px !important;
                                font-style: normal !important;
                                font-weight: 400 !important;
                                line-height: 150% !important; /* 24px */
                            }
                            .acr-select{
                                border-radius: 8px;
                                background: #E6F2FE;
                                padding: 4px 8px;
                                width: auto;
                                display: inline-flex;
                                gap: 10px;
                                .acr-dec,
                                .acr-inc{
                                    color: #0866C4;
                                    border: 0px solid;
                                    background-color: transparent;
                                    width: auto;
                                    height: auto;
                                    padding: 0;
                                }
                                input{
                                    color: #566676;
                                    font-size: 16px;
                                    width: 18px !important;
                                }
                            }
                        }
                        .tf-extra-price{
                            h4{
                                color: #27333F;
                                font-size: 21px !important;
                                font-style: normal !important;
                                font-weight: 400 !important;
                                line-height: 150%; /* 24px */
                                margin-bottom: 8px;
                                small{
                                    display: block;
                                    font-size: 16px !important;
                                }
                            }
                        }

                    }
                    .tf-extra-apply-btn{
                        text-align: right;
                        button{
                            padding: 12px 32px;
                            border-radius: 16px;
                            background: #EEF2F6;
                            color:#0866C4;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 150%; /* 24px */
                            cursor: pointer;
                        }
                    }
                }
            }
            .tf-driver-details{
                border-radius: 16px;
                background: #EEF2F6;
                padding: 24px;
                .tf-driver-details-header{
                    h3{
                        color: #27333F;
                        font-size: 21px !important;
                        font-style: normal !important;
                        font-weight: 400 !important;
                        line-height: 150% !important; /* 31.5px */
                        margin: 0;
                    }
                    span{
                        color: #288FF6;
                        font-size: 16px !important;
                        font-style: normal !important;
                        font-weight: 400 !important;
                        line-height: 150% !important; /* 24px */
                        i{
                            color: #288FF6;
                        }
                    }
                }
                .tf-driver-photo{
                    border-bottom: 1px solid #C0CCD8;
                    padding-bottom: 16px;
                    img{
                        height: 56px;
                        width: 56px;
                        border-radius: 50%;
                    }
                    .tf-driver-info{
                        h4{
                            color: #27333F;
                            font-size: 16px !important;
                            font-style: normal !important;
                            font-weight: 700 !important;
                            line-height: 150% !important;
                            margin: 0;
                        }
                        p{
                            color: #27333F;
                            font-size: 16px !important;
                            font-style: normal !important;
                            font-weight: 400 !important;
                            line-height: 150% !important; /* 24px */
                            margin: 0;
                        }
                    }
                    
                }
                .tf-driver-contact-info{
                    ul{

                        li{
                            i{
                                font-size: 20px;
                            }
                            color: #566676;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                        }
                    }
                }
            }
        }
    }
    .tf-car-conditions-section{
        padding-bottom: 100px;
        @media #{$tfmax991}{
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$max767}{
            padding-left: 15px;
            padding-right: 15px;
        }
        h3{
            color: #27333F;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 31.5px */
            margin-bottom: 16px;
        }
        table{
            border-left: 1px solid #DFE6ED;
            border-top: 1px solid #DFE6ED;
            margin: 0px;
            tr{
                th{
                    color: #27333F;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                    border-right: 1px solid #DFE6ED;
                    border-bottom: 1px solid #DFE6ED;
                    padding: 16px;
                    vertical-align: baseline;
                    text-align: left;
                    width: 210px;
                }
                td{
                    color: #566676;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                    border-right: 1px solid #DFE6ED;
                    border-bottom: 1px solid #DFE6ED;
                    padding: 16px 40px;
                }
            }
        }
    }
}