.tf-single-car-section{
    .tf-single-car-details-warper{
        padding: 32px 0;
        .tf-car-details-column{
            width: calc(100% - 480px);
            display: flex;
            gap: 32px;
            flex-wrap: wrap;

            h3{
                color: #27333F;
                font-size: 21px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 31.5px */
                margin-bottom: 16px;
            }

            .tf-car-hero-gallery{
                width: 100%;
                .tf-featured-car{
                    border-radius: 16px;
                    img{
                        border-radius: 16px;
                        height: 338px;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .tf-gallery{
                    margin-top: 15px;
                    a{
                        width: 25%;
                        img{
                            border-radius: 8px;
                        }
                    }
                }
            }


            .tf-details-menu{
                ul{
                    li{
                        display: inline-block;
                        a{
                            text-decoration: none;
                            color: #27333F;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                            padding: 0 8px 8px 8px;
                            display: inline-block;
                        }
                        &.active{
                            a{
                                color: #0866C4;
                                border-bottom: 2px solid #0866C4;
                            }
                        }
                    }
                }
            }

            .tf-short-description{
                color: #566676;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 24px */
            }

            .tf-car-info{
                width: 100%;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    gap: 16px 8px;
                    li{
                        color: #566676;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        width: calc(25% - 8px);
                        i{
                            font-size: 20px;
                        }
                    }
                }
            }

            .tf-car-benefits{
                width: 100%;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    gap: 16px 8px;
                    li{
                        color: #566676;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        width: calc(50% - 8px);
                    }
                }
            }
            .tf-car-specification{
                width: 100%;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    gap: 16px;
                    li{
                        color: #566676;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        width: calc(50% - 8px);
                        border-bottom: 1px solid #DFE6ED;
                        span.label{
                            color: #27333F;
                            padding: 8px 16px;
                        }
                        span.value{
                            padding: 8px 16px;
                        }
                    }
                }
            }

            .tf-car-location{
                width: 100%;
                .tf-car-location-map{
                    border-radius: 8px;
                    background: #EEF2F6;
                    height: 260px;
                    width: 100%;
                }
            }


            .tf-car-faq-section{
                width: 100%;
                .tf-faq-col{
                    margin-bottom: 16px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    .tf-faq-head{
                        border-radius: 8px;
                        background: #FFF;
                        padding: 8px 16px;
                        cursor: pointer;
                        span{
                            color:#27333F;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                            i{
                                color: #566676;
                            }
                        }
                    }
                    .tf-question-desc{
                        color:#27333F;
                        font-size: 15px;
                        padding: 8px 16px;
                        display: none;
                    }
                }
            }
        }
    }
    .tf-car-conditions-section{
        padding-bottom: 100px;
        h3{
            color: #27333F;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 31.5px */
            margin-bottom: 16px;
        }
        table{
            border-left: 1px solid #DFE6ED;
            border-top: 1px solid #DFE6ED;
            margin: 0px;
            tr{
                th{
                    color: #27333F;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                    border-right: 1px solid #DFE6ED;
                    border-bottom: 1px solid #DFE6ED;
                    padding: 16px;
                    vertical-align: baseline;
                    text-align: left;
                    width: 210px;
                }
                td{
                    color: #566676;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                    border-right: 1px solid #DFE6ED;
                    border-bottom: 1px solid #DFE6ED;
                    padding: 16px 40px;
                }
            }
        }
    }
}