

.tf-hotel-template-4.tf-tour-template-4 {
    .tf-search-fields .tf-search-field .tf-search-input {
        width: 120px;
    }
    .tf-search-fields .tf-search-field-checkinout .tf-search-field .tf-search-input {
        width: 180px;
        cursor: pointer;
    }
}