#tf-map{
    height: 600px;
}
// QR CODE Scanner Page

.tf-scanner-section{
    padding: 50px 0px;
    min-width: 340px;
    width: 450px;
    text-align: center;
    margin: 0 auto;
    a.tf_btn{
        padding: 10px 30px;
        width: 230px;
        font-size: 1rem;
        text-decoration: none;
    }
    .tf-qr-option{
        margin-bottom: 20px;
    }
    .tf-qr-code-preview{
        position: relative;
        padding: 10px;
        border: 1px solid #ececec;
        border-radius: 20px;
        #tf-video-preview{
            width: 100%;
            height: 230px;
        }
        .tf-final-submission-form{
            position: absolute;
            background-color: $color-white;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            padding: 10px 15px;
            border-radius: 20px;
            display: none;
            .tf-qr-submission{
                display: flex;
                justify-content: center;
                height: 100%;
                flex-direction: column;
                .tf-scanner-quick-review{
                    text-align: left;
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        margin-bottom: 20px;
                        li{
                            display: block;
                            font-size: 0.875rem;
                        }
                    }
                }
                .tf-action-btn{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    gap: 16px;
                }
            }
        }
        .tf-final-submission-feedback,
        .tf-final-error-feedback{
            position: absolute;
            background-color: $color-white;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            padding: 10px 30px;
            border-radius: 20px;
            display: none;
            .tf-qr-submission-feedback{
                display: flex;
                justify-content: center;
                height: 100%;
                align-items: center; 
                flex-direction: column;
                span{
                    color: #002043;
                    font-size: 1.25rem;
                    font-weight: 700;
                    margin: 15px 0px 10px 0px;
                    line-height: 26px;
                }
                p{
                    margin-bottom: 15px;
                    font-size: 0.938rem;
                    color: rgba(0, 0, 0, 0.9);
                    line-height: 20px;
                }
                .tf-action-btn{
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    gap: 16px;
                }
            }

            .tf-tour-infos{
                text-align: left;
                margin-bottom: 20px;
            }
        }
        .tf-final-error-feedback{
            .tf-qr-submission-feedback{
                i{
                    background-color: #F6AF39;
                }
            }
        }
        .tf-scanner-preloader{
            position: absolute;
            background-color: $color-white;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            padding: 10px 30px;
            border-radius: 4px;
            display: none;
            .tf-preloader{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 130px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px){
    #tf-map{
        height: 220px;
    }
    .tf-scanner-section{
        min-width: 100% ;
        width: 100% ;
    }

    .tf-scanner-section .tf-qr-code-preview #tf-video-preview {
        max-width: 100%;
        height: 400px;
        object-fit: cover;
    }
}