.tf-apt-cal-wrap,
.tf-room-cal-wrap,
.tf-tour-cal-wrap {
    .fc-view-harness {
        height: 395px !important;
    }

    .fc-direction-ltr .fc-daygrid-event.fc-event-end,
    .fc-direction-rtl .fc-daygrid-event.fc-event-start {
        font-size: 0.625rem;
    }

    .fc .fc-bg-event .fc-event-title {
        font-size: 0.625rem;
    }

    .fc .fc-daygrid-event {
        cursor: pointer;
    }

    table {
        margin-bottom: 0 !important;
    }
}

.tf-room-cal-field a.button-primary {
    background-color: #003c79;
    border-color: #003c79;
}
.tf-field-ical a.button-primary,
.tf-field-ical_export a.button-primary{
    background-color: #003c79;
    border-color: #003c79;
}
.tf-single-options{
    width: 100%;
    @include flexbox();
    gap: 10px;
    flex-wrap: wrap;
}
.tf-single-package{
    .tf-field-switch{
        width: 160px;
    }
    .tf-form-fields{
        width: calc(100% - 160px);
        display: flex;
        gap: 12px;
        .tf_option_pricing_type_person{
            width: 33%
        }
    }
}
.tf-single-option{
    @include flexbox();
    gap: 10px;
    width: 100%;
}

.tf-content-loading {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -8px;
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 2px solid $admin-color-heading;
        border-left-color: transparent;
        border-radius: 50%;
        vertical-align: middle;
        visibility: visible;
        opacity: 1;
        z-index: 9;
        transition: opacity .2s ease, visibility .2s ease;
        -webkit-animation: tf-rotate 450ms infinite linear;
        animation: tf-rotate 450ms infinite linear;
    }

}

@-webkit-keyframes tf-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes tf-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}