.tf-apt-cal-wrap,
.tf-room-cal-wrap,
.tf-tour-cal-wrap {
    .fc-view-harness {
        height: 395px !important;
    }

    .fc-direction-ltr .fc-daygrid-event.fc-event-end,
    .fc-direction-rtl .fc-daygrid-event.fc-event-start {
        font-size: 0.625rem;
    }

    .fc .fc-bg-event .fc-event-title {
        font-size: 0.625rem;
    }

    .fc .fc-daygrid-event {
        cursor: pointer;
        &.tf_tour_disable_date{
            background-color: #003c79 !important;
            border-color: #003c79 !important;
            opacity: .3;
        }
    }

    table {
        margin-bottom: 0 !important;
    }
    .bulk-popup-content{
        display: flex; 
        gap: 10px; 
        flex-wrap: wrap; 
        margin-top: 15px;
        .tf-bulk-edit-header{
            display: none;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid #ddd;
            padding-bottom: 14px;
            h3{
                margin: 0;
            }
        }
        .tf-bulk-repeater-section{
            display: none;
        }
        .tf-field.tf-field-repeater{
            padding-bottom: 0px;
        }
    }
}

.tf-room-cal-field a.button-primary {
    background-color: #003c79;
    border-color: #003c79;
}
.tf-field-ical a.button-primary,
.tf-field-ical_export a.button-primary{
    background-color: #003c79;
    border-color: #003c79;
}
.tf-single-options{
    width: 100%;
    @include flexbox();
    gap: 10px;
    flex-wrap: wrap;
}
.tf-bulk-popup,
.tf-reset-confirmation-box{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    .bulk-popup-content{
        background-color: $color-white;
        border-radius: 10px;
        padding: 14px;
        width: 560px;
        max-height: 360px;
        overflow-y: auto;
        .tf-repeater .tf-repeater-add .tf-repeater-icon{
            font-size: 12px;
            padding: 6px 10px;
        }
        .tf-mb-5{
            margin-bottom: 10px;
        }
    }
}
.tf-single-package{
    .tf-field-switch{
        width: 160px;
    }
    .tf-form-fields{
        width: calc(100% - 160px);
        display: flex;
        gap: 12px;
        .tf_option_pricing_type_person{
            width: 33%
        }
    }
}
.tf-tour-limitation-group {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
}
.tf-single-option{
    @include flexbox();
    gap: 10px;
    width: 100%;
}

.tf-content-loading {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -8px;
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 2px solid $admin-color-heading;
        border-left-color: transparent;
        border-radius: 50%;
        vertical-align: middle;
        visibility: visible;
        opacity: 1;
        z-index: 9;
        transition: opacity .2s ease, visibility .2s ease;
        -webkit-animation: tf-rotate 450ms infinite linear;
        animation: tf-rotate 450ms infinite linear;
    }

}
.tf-reset-confirmation-box{
    display: none;
    .tf-confirmation-content{
        width: 280px;
        padding: 24px;
        background-color: $color-white;
        border-radius: 10px;
        h3{
            margin: 0 0 35px 0;
        }
        .tf-confirmation-actions{
            display: flex;
            align-items: center;
            justify-content: space-between;
            button{
                border-radius: 8px;
                border: 1px solid $color-success-light;
                font-size: 14px;
                background-color: transparent;
                cursor: pointer;
                padding: 10px;
                &.tf-confirmed-btn{
                    background-color: #003c79;
                    border-color: #003c79;
                    color: $color-white;
                }
            }
        }
    }
}

// Tour Calender
.tf-tour-cal-wrap{
    .tf-tour-cal{
        border-radius: 8px;
        border: 1px solid $tf_border_faint;
        background: $tf_fill_white;
        padding: 24px;
        .fc-header-toolbar{
            margin-bottom: 16px;
            .fc-toolbar-title{
                padding: 0 !important;
                color: $tf_text_title;
                font-size: 15px;
                font-weight: 600;
                line-height: 24px;
            }
            .fc-button-group{
                border-radius: 8px;
                border: 0.5px solid $tf_border_faint;
                background: $tf_fill_white;
                padding: 6px 8px;
                gap: 20px;
                .fc-button{
                    background-color: transparent;
                    border: 0px;
                    padding: 0;
                    .fc-icon-chevron-left::before,
                    .fc-icon-chevron-right::before {
                        color: $tf_text_paragraph;
                    }
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                    &.fc-next-button{
                        position: relative;
                        &::after{
                            position: absolute;
                            content: "";
                            width: 8px;
                            height: 8px;
                            background-color: $tf_text_paragraph;
                            border-radius: 50%;
                            left: -14px;
                            top: 8.5px;
                        }
                    }
                }
            }
        }
        .fc-view-harness{
            table{
                border: 0px;
                .fc-scrollgrid-section-header{
                    th{
                        border: 0px;
                    }

                    .fc-col-header {
                        border-top: 0.5px solid $tf_border_faint;
                        margin-bottom: 16px !important;
                        tr{
                            th{
                                border: 0px;
                                padding-top: 12px;
                                a{
                                    color: $tf_text_title;
                                    font-size: 13px;
                                    font-weight: 400;
                                    line-height: 20px;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
                .fc-scrollgrid-section-body{
                    > td{
                        border: 0px solid;
                    }
                    .fc-daygrid-body{
                        .fc-scrollgrid-sync-table{
                            tbody{
                                tr{
                                    display: flex;
                                    gap: 8px;
                                    margin-bottom: 8px;
                                    &:last-child{
                                        margin-bottom: 0px;
                                    }
                                    td{
                                        width: calc((100% - 48px) / 7); 
                                        border-radius: 8px;
                                        border: 0.5px solid $tf_border_faint;
                                        background: $tf_fill_white;
                                        .fc-daygrid-day-top{
                                            flex-direction: row;
                                            a{
                                                padding: 8px;
                                                color: $tf_text_title;
                                                font-size: 15px;
                                                font-weight: 600;
                                                line-height: 24px; 
                                            }
                                        }
                                        .fc-h-event{
                                            border-radius: 4px;
                                            border: 0px;
                                            border-left: 1px solid $tf_info_text;
                                            background: $tf_info_background;
                                            padding-top: 6px;
                                            padding-bottom: 6px;
                                            padding-left: 8px;
                                            .fc-event-title{
                                                color: $tf_info_text;
                                                font-size: 11px;
                                                font-weight: 600;
                                                line-height: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@-webkit-keyframes tf-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes tf-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}