// .tf-field-notice {

  .tf-field-notice-inner {
    @include flexbox();
    padding: 24px;
    border: 1px solid $teal10;
    border-radius: 8px;
    background-color: $teal0;

    .tf-field-notice-icon {
      margin-right: 10px;
      font-size: 1.25rem;
      color: $teal60;
    }

    .tf-field-notice-content {
      color: $slate40;
      align-self: center;
 
      h6 {
        margin: 0;
        font-weight: 500;
        color: $slate80;
        font-size: 1rem;
      }

      &.has-content {
        h6 {
          margin-bottom: 5px;
        }
      }
    }

    &.tf-notice-success {
      border-color: $green10;
      background-color: $green0;

      .tf-field-notice-icon {
        color: $color-success;
      }
    }
    &.tf-notice-warning {
      border-color: $yellow10;
      background-color: $yellow0;

      .tf-field-notice-icon {
        color: $yellow60;
      }
    }
    &.tf-notice-danger {
      border-color: $red10;
      background-color: $red0;

      .tf-field-notice-icon {
        color: $color-error;
      }
    }

  }

  .tour-option-itinerary-notice{
    .tf-field-notice-content {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .tour-option-itinerary-notice{
    .tf-field-notice-content {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .tf-pro-notice {
    .tf-field-notice-inner {
      background-color: #EBEFFF;
      border: 1.5px solid #295BFF;

      .tf-field-notice-icon {
        font-size: 1.5rem;
        color: #295BFF;
        margin-right: 8px;
      }

      .tf-field-notice-content {
        color: $admin-color-heading;
        font-size: 0.875rem;
        line-height: 1.6;
        align-self: center;
        font-weight: 400;

        b {
          font-weight: 600;
        }

        a {
          color: #295BFF;
        }
      }
    } 
  }
// }