.tf-field-number {

  input {
    width: 100%;
    border-radius: 4px;
    height: 40px;
    color: $tf_text_paragraph;
    font-size: 15px;
    padding: 8px 8px 8px 12px;
    border: 1px solid $tf_border_default;
    background: $tf_fill_background;
    -webkit-appearance : textfield;
    -moz-appearance : textfield;

    &:focus {
      background: transparent;
      box-shadow: none;
      border-radius: 4px;
      border: 1px solid $tf_border_default;
    }

    &::-webkit-input-placeholder {
      color: $slate30;
    }

    &::-ms-input-placeholder {
      color: $slate30;
    }

    input:-ms-input-placeholder {
      color: $slate30;
    }

    &::-moz-placeholder {
      opacity: 1;
      color: $slate30;
    }

    &:-moz-placeholder {
      opacity: 1;
      color: $slate30;
    }

    &::placeholder {
      color: $slate30;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  }

  .tf-unit-price-box{
    border-radius: 4px;
    border: 1px solid $tf_border_default;
    background: $tf_fill_white;
    display: flex;
    width: 100%;
    input,
    select{
      width: 50%;
    }
    input{
      border: 0px solid;
      color: $tf_text_paragraph;
      text-align: center;
      font-size: 15px;
      background-color: transparent;
      -webkit-appearance : textfield;
      -moz-appearance : textfield;
      &:focus{
        outline: none;
        box-shadow: none;
        border: none;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
    }
    select{
      background-color: $tf_fill_background;
      border-radius: 0px;
      border: 0px solid;
      color: $tf_text_paragraph;
      text-align: center;
      &:focus{
        outline: none;
        box-shadow: none;
        border: none;
      }
    }
  }
  .tf-number-range{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    flex-wrap: nowrap;

    .tf-number-field-box{
      border-radius: 4px;
      border: 1px solid $tf_border_default;
      background: $tf_fill_white;
      height: 40px;
      padding: 8px 8px 8px 12px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: calc(50% - 12px);
      input{
        height: 24px;
        border: 0px solid;
        background: transparent;
      }
    }
  }
}