.tf-field-number {

  input {
    width: 100%;
    padding: 12px 8px 12px 12px;
    border: 1px solid $slate20;
    background-color: $blue0;
    border-radius: 4px;
    height: 40px;
    color: #363e4a;
    font-size: 0.875rem;

    &:focus {
      background: #ffffff;
      box-shadow: 0 0 0 2px $admin-color-primary;
      border-radius: 4px;
    }

    &::-webkit-input-placeholder {
      color: $slate30;
    }

    &::-ms-input-placeholder {
      color: $slate30;
    }

    input:-ms-input-placeholder {
      color: $slate30;
    }

    &::-moz-placeholder {
      opacity: 1;
      color: $slate30;
    }

    &:-moz-placeholder {
      opacity: 1;
      color: $slate30;
    }

    &::placeholder {
      color: $slate30;
    }
  }

  .tf-unit-price-box{
    border-radius: 4px;
    border: 1px solid $tf_border_default;
    background: $tf_fill_white;
    display: flex;
    width: 100%;
    input,
    select{
      width: 50%;
    }
    input{
      border: 0px solid;
      color: $tf_text_paragraph;
      text-align: center;
      font-size: 15px;
      background-color: transparent;
      -webkit-appearance : textfield;
      -moz-appearance : textfield;
      &:focus{
        outline: none;
        box-shadow: none;
        border: none;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    select{
      background-color: $tf_fill_background;
      border-radius: 0px;
      border: 0px solid;
      color: $tf_text_paragraph;
      text-align: center;
      &:focus{
        outline: none;
        box-shadow: none;
        border: none;
      }
    }
  }
}