.tf-field-select{

  select.tf-select{
    width: 100%;
    max-width: 100%;
    padding: 12px 8px 12px 12px;
    border: 1px solid $slate20;
    background-color: $blue0;
    border-radius: 4px;
    height: 48px;
    color: $slate80;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Lato';
    &:focus{
      outline: none;
    }
  }
}