.tf-field-select2{

  .select2-container{
    width: 100% !important;
    display: block !important;

    .select2-selection{
      width: 100%;
      padding: 2px 8px 0 12px;
      border: 1px solid $slate20;
      background-color: $blue0;
      border-radius: 4px;
      min-height: 48px;
      color: $slate80;
      font-size: 0.875rem;

      .select2-selection__choice {
        background-color: $slate10;
        border: none;
        margin-left: 4px;
        margin-top: 0;
        padding: 4px 20px 4px 4px !important;
        color: $slate80;

        &:first-child{
          margin-left: 0;
        }
      }
      .select2-selection__choice__remove {
        border-right: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: $slate80;
        font-size: 1rem;
        padding: 0;
        position: absolute;
        left: auto;
        top: 2px;
        right: 4px;
      }

      .select2-selection__clear {
        margin-top: 0;
      }
    }
    .select2-search--inline .select2-search__field {
      margin-top: 0;
      margin-left: 5px;
      padding: 4px 0 0 0;
      max-width: 100%;
      resize: none;
      height: 30px;
      vertical-align: middle;
      font-family: sans-serif;
      overflow: hidden;
      word-break: keep-all;
    }
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 48px;
  }
  .tf-select-box-option {
    
    .tf-add-category{
      margin-top: 16px;
      &>i{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 11px;
        cursor: pointer;
      }
    }
  }

  .tf-popup-box{
    position: fixed;
    z-index: 900000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    &::before{
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      content: "";
      background-color: rgba(0,0,0,.2);
    }

    .tf-add-category-box{
      display: inline-block;
      z-index: 1;
      min-width: 400px;
      min-height: 160px;
      border-color: #aaaaaa;
      box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.25);
      text-align: left;
      background: #ffffff;
      position: relative;
      .tf-add-category-box-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccd0d4;
        margin: 0;
        padding: 15px;
        h3{
          font-size: 0.875rem;
          line-height: 1em;
          margin: 0;
          padding: 0;
        }
        .tf-add-category-box-close{
          background: #b4b9be;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          i{
            color: #ffffff;
          }
        }
      }
      .tf-add-category-box-content{
        padding: 15px;
        .tf-single-category-box{
          margin-bottom: 15px;
          label{
            display: block;
            margin-bottom: 10px;
          }
          input{
            width: 100%;
            height: 35px;
            border: 1px solid #ddd;
            border-radius: 5px;
          }
          select{
            width: 100%;
            height: 35px;
            border: 1px solid #ddd;
            border-radius: 5px;
          }
        }
      }

      .tf-admin-btn.tf-btn-secondary{
        padding: 7px 25px;
        font-size: 14px !important;
        font-weight: 500 !important;
      }
    }
  }
  
}
.tf-field.tf-field-select2 .tf-fieldset span.select2:nth-child(3) {
  display: none;
}