.tf-field-switch {

  .tf-inline-switch{
    display: flex;
    gap: 8px;
    align-items: center;
    .tf-field-label{
      margin-bottom: 0px;
    }
  }
  .tf-switch-label {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
    border-radius: 32px;

    input {
      display: none;
    }

    .tf-switch-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $tf_text_faint;
      border-radius: 50px;
      @include transition(all, 0.4s);

      &::before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        border-radius: 50px;
        top: 3px;
        left: 4px;
        background-color: $tf_fill_white;
        filter: drop-shadow(0px 2px 4px rgba(12, 31, 49, 0.12));
        @include transition(all, 0.4s);
      }

      .tf-switch-on, .tf-switch-off {
        color: #ffffff;
        position: absolute;
        @include translateY(-50%);
        top: 50%;
        left: 12px;
        font-size: 0.75rem;
        opacity: 0;
        @include transition(all, 0.4s);
      }

      .tf-switch-off {
        color: #8999A9;
        left: auto;
        right: 12px;
        opacity: 1;
      }
    }

    input:checked {
      & + .tf-switch-slider {
        background-color: $tf_primary_default;

        &:before {
          left: 100%;
          margin-left: -18px;
          background-color: #ffffff;
          filter: drop-shadow(0px 2px 4px rgba(12, 31, 49, 0.12));
        }

        .tf-switch-on {
          opacity: 1;
        }

        .tf-switch-off {
          opacity: 0;
        }
      }
    }
  }

}