.tf-field-ical,
.tf-field-ical_export,
.tf-field-text, .tf-field-password {

    input {
        width: 100%;
        padding: 12px 8px 12px 12px;
        height: 40px;
        color: $tf_text_paragraph;
        font-size: 15px;
        padding: 8px 8px 8px 12px;
        border: 1px solid $tf_border_default;
        background: $tf_fill_background;
        border-radius: 4px;

        &:focus {
            background: transparent;
            box-shadow: none;
            border-radius: 4px;
            border: 1px solid $tf_border_default;
        }

        &::-webkit-input-placeholder {
            color: $tf_text_paragraph;
        }

        &::-ms-input-placeholder {
            color: $tf_text_paragraph;
        }

        input:-ms-input-placeholder {
            color: $tf_text_paragraph;
        }

        &::-moz-placeholder {
            opacity: 1;
            color: $tf_text_paragraph;
        }

        &:-moz-placeholder {
            opacity: 1;
            color: $tf_text_paragraph;
        }

        &::placeholder {
            color: $tf_text_paragraph;
        }

        &:read-only {
            box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
            background-color: $blue5;

            &:focus {
                box-shadow: none;
                border: 1px solid $slate20;
            }
        }
    }
}