.tf-field-text {

    input {
        width: 100%;
        padding: 12px 8px 12px 12px;
        border: 1px solid $slate20;
        background-color: $blue0;
        border-radius: 4px;
        height: 48px;
        color: $slate80;
        font-size: 14px;

        &:focus {
            background: #FFFFFF;
            box-shadow: 0 0 0 2px $blue60;
            border-radius: 4px;
        }

        &::-webkit-input-placeholder {
            color: $slate30;
        }

        &::-ms-input-placeholder {
            color: $slate30;
        }

        input:-ms-input-placeholder {
            color: $slate30;
        }

        &::-moz-placeholder {
            opacity: 1;
            color: $slate30;
        }

        &:-moz-placeholder {
            opacity: 1;
            color: $slate30;
        }

        &::placeholder {
            color: $slate30;
        }

        &:read-only {
            box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
            background-color: $blue5;

            &:focus {
                box-shadow: none;
                border: 1px solid $slate20;
            }
        }
    }
}