/**************** Global ****************/
.tf-apartment .section-heading {
  font-size: 22px;
}

.tf-apartment-title h1 {
  font-size: 30px;
}

.tf-apartment-title .tf-map-link p {
  font-size: 15px;
}

/**************** TITLE ****************/
.tf-map-link a.more-hotel {
    font-weight: bold;
}

.tf-map-link p {
    margin-bottom: 0;
    font-size: 16px;
}

.tf-apartment-title {
    padding-bottom: 20px;
}

.tf-apartment-title .tf-single-rating {
    background: none;
    color: inherit;
}

.tf-apartment-title .tf-single-rating i {
    font-size: 16px;
}

.tf-apartment-title .tf-share a,
.tf-apartment-title .tf-wishlist-button {
    color: inherit;;
    font-size: 16px;
}

.tf-apartment-title .tf-share i,
.tf-apartment-title .tf-wishlist-button i:before {
    padding-right: 5px;
}

.tf-apartment-title .tf-share,
.tf-apartment-title .tf-wishlist-button {
    margin-left: 8px;
}

.tf-wishlist-button {
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px 0 0;
    line-height: 1;
}

.tf-share {
    position: relative;
}

.share-tour-content {
    display: none;
    position: absolute;
    min-width: 100%;
    top: 100%;
    transform: translateY(8px);
    z-index: 200;
    left: auto;
    right: 0;
}

.share-tour-content .tf-dropdown-content {
    margin: 0;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    min-width: 200px;
    z-index: 100;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 3px -1px rgba(0, 0, 0, 0.2);
}

.share-tour-content .tf-dropdown-item-content {
    white-space: nowrap;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.tf-dropdown-content li {
    display: inline-block;
}

.tf-dropdown-content li a i {
    color: #1D75E3;
    font-size: 17px;
}

.tf-dropdown-content li:nth-child(2) a i {
    color: #1D9BF0;
}

.tf-dropdown-content li:nth-child(3) a i {
    color: #0A66C2;
}

.tf-dropdown-content li:nth-child(4) a i {
    color: #CC0000;
}

.share-tour-content .tf-dropdown-item {
    border: 0;
    margin: 0;
    cursor: pointer;
    padding: 12px 16px;
    white-space: nowrap;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    fill: #333;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}

.share-tour-content .tf-dropdown-item:hover {
    background-color: #f5f5f5;
}

.share-tour-content .share-center-copy-form {
    display: flex;
    align-items: center;
    padding: 12px 16px;
}

.share-tour-content .share-center-copy-label {
    white-space: nowrap;
}

.share-tour-content .share-center-copied-message {
    display: none;
}

.share-center-copy-cta.copied .share-center-copied-message {
    display: inline-block;
    font-weight: bold;
}

.share-center-copy-cta.copied .share-center-copy-message {
    display: none;
}

.share-tour-content #share_link_button {
    white-space: nowrap;
    font-size: 13px;
    padding: 5px 12px;
}

.share-tour-content input#share_link_input {
    width: auto !important;
    flex-grow: 1;
    margin: 0 8px;
    background-color: #e6e6e6;
    padding: 0;
    border: 2px solid rgba(118, 118, 118, 0.3);
}

.tf-share a {
    line-height: 1;
    font-size: 22px;
    display: block;
    margin: 0 10px 0 0;
    outline: none;
}

.show-on-map .btn-styled {
    text-transform: uppercase;
    font-weight: bold;
}

/**************** Hero ****************/
  .tf-apartment .hero-wrapper {
    display: flex;
    gap: 11px;
  }

  .tf-apartment .hero-left {
    width: 70%;
  }

  .tf-apartment  .hero-right {
    width: 28.5%;
  }

  .tf-apartment .hero-wrapper img {
    object-fit: cover;
    width: 100%;
  }

  .tf-apartment .hero-right img {
    height: 231px;
  }

  .tf-apartment .hero-first-image img {
    height: 475px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .tf-apartment .hero-wrapper .hero-second-image {
    margin-bottom: 13px;
  }

  .tf-apartment .hero-wrapper .hero-second-image img {
    border-top-right-radius: 8px;
  }

  .tf-apartment .hero-third-image {
    text-align: right;
  }

  .tf-apartment .hero-third-image a {
    max-width: 130px;
    margin-right: 12px;
    background: rgba(0,0,0,0.85);
    border:none;
  }

  .tf-apartment .hero-third-image a:hover {
    background:  #0054a8;
  }
 
  .tf-apartment .hero-third-image img {
    margin-bottom: -60px;
    border-bottom-right-radius: 8px;
  }
  
/**************** Content - Features ****************/
.tf-apartment .cf-wrapper {
    display: flex;
    gap: 4%;
  }

  .tf-apartment .cf-left {
    width: 61%;
  }

  .tf-apartment  .cf-right {
    width: 35%;
  }

  .apt-description p:last-child {
    margin-bottom: 0;
  }

  .content-feature-section {
    padding-top: 40px;
  }

  .tf-apartment .features-details ul {
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1%;
  }
  .tf-apartment  .features-details ul li {
    margin-right: 1%;
    padding: 12px 0;
    font-weight: bold;
  }

  .tf-apartment  .features-details ul li span {
    font-weight: normal;
    font-size:14px;
    opacity: 0.75;
    display: block;
  }
  
  .tf-apartment  .features-details ul li i {
    color: inherit;
    font-size: 18px;
    padding-right: 8px;
  }

  .tf-apartment  .amenities-details {
    background: #F5F8FF;
    border: 1px solid #F0F2F4;
    border-radius: 4px;
    padding:10px 30px;
  }


  .tf-apartment  .features-details.amenities-details ul li {
    border-top: 1px solid #F0F2F4;
    padding: 12px 0;
    font-weight: normal;
  }

  .tf-apartment .amenities-details ul li:nth-child(-n+2) {
    border:none;
  }


  /**************** What you will get here ****************/

  .tf-apartment-option-slider-wrapper .slick-prev::before, .tf-apartment-option-slider-wrapper .slick-next::before {
    color: #2A3343;
    font-size: 26px;
    opacity: 1;
  }
  .tf-apartment-option-slider-wrapper .slick-arrow {
    z-index: 999;
  }

  .tf-apartment-option-slider-wrapper .slick-next {
    margin-right: 5px;
  }

  .tf-apartment-option-slider-item.slick-slide {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }

  .tf-apartment-option-slider-wrapper img {
    border-radius: 8px;
    height: 171px;
    object-fit: cover;
    width: 100%;
  }
  
  .tf-apartment-option-slider-desc h3 {
    font-size: 18px;
  }
  .tf-apartment-option-slider-desc {
    padding-top: 10px;
  }
  .tf-apartment-option-slider-desc p {
    opacity: 0.85;
    font-size: 14px;
  }

/**************** Host ****************/
.host-details {
    background: #EBF2FF;
    border-radius: 4px;
    padding: 25px;
    border: 1px solid #EBF2FF;
    margin-bottom: 25px;
  }
  .host-top {
    display: flex;
    gap: 15px;
  }
  .host-top img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  .host-meta p {
    margin-bottom: 0;
  }

.host-meta i {
    color: #FFC314;
  }
  .host-meta span {
    font-weight: bold;
  }

.host-bottom p {
    margin-bottom: 0;
  }
  .host-desc {
    padding: 25px 0;
  }
  .host-bottom ul {
    list-style: none;
    margin: 0;
    margin-bottom: 25px;
  }
  .host-bottom ul li span {
    text-align: right;
    font-weight: bold;
    float: right;
  }
  .host-bottom ul li {
    padding-bottom: 10px;
  }
  .host-bottom ul li:last-child {
    padding-bottom: 0;
  }
  .host-bottom a i {
    padding-right: 8px;
  }

  /**************** MAP ****************/

.tf-map-content-wrapper {
  display: flex;
  gap: 30px;
}
.tf-map-content-wrapper .about-location {
  width: 40%;
}

#tour-map .tf-container {
  border-top: 1px solid #e8e8e8;
  padding: 60px 0;
  border-bottom: 1px solid #e8e8e8;
}

  /**************** FAQ ****************/
  .tf-apartment-faq .tf-faq-sec-title {
    margin-bottom: 20px;
    text-align: left;
  }

  .tf-apartment-faq .tf-faq-sec-title p {
    max-width: 100%;
  }

  .tf-apartment-faq .tf-faq-content-wrapper {
    background: #F5F8FF;
    padding: 20px 25px;
    border-radius: 4px;
    border: 1px solid #F0F2F4;
  }
  .tf-apartment-faq #tf-faq-item {
    border-bottom: 1px solid #dfdfdf;
  }
  .tf-apartment-faq #tf-faq-item .tf-faq-desc {
    background-color: transparent;
    padding-bottom: 0;
  }
  .tf-apartment-faq .tf-faq-desc p {
    margin-bottom: 20px;
  }
  .tf-apartment-faq .tf-faq-items-wrapper #tf-faq-item:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

/** Ask Question **/

.tf-ask-question.apartment-question h3::before {
  display: none;
}

.tf-ask-question.apartment-question {
  background: transparent;
  padding-top: 0;
  text-align: left;
  padding-top:10px;
}
.apartment-question .question-left:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f674";
  padding-right: 7px;
  color: #003162;
  position: absolute;
  font-size: 30px;
}

.apartment-question .question-left h3, .question-left p {
  padding-left: 45px;
}

.apartment-question .apartment-qa-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.apartment-question .tf-btn {
  display: block;
  width: auto;
  margin-left: auto;
}
.apartment-question .question-left p {
  margin-bottom: 0;
}

.apartment-qa-wrapper .btn-styled {
  display: inline-block;
}

/**************** Terms & Conditions ****************/
.tf-toc-wrap {
  padding: 40px;
  border-radius: 4px;
  border: 1px solid #F0F2F4;
}
.tf-toc-wrap p:last-child {
  margin-bottom: 0;
}

/**************** Related Properties ****************/

.tf-apartment-option-slider-content img {
  border-radius: 8px;
  height: 171px;
  object-fit: cover;
  width: 100%;
}

.apartment-sugestion .section-heading {
  font-size: 24px;
}

/**************************************** RESPONSIVE **************************************/
@media only screen and (max-width: 1200px) {
#tour-map .tf-container {
  padding: 40px 15px;
}
}

@media only screen and (max-width: 991px) {
  .tf-map-content-wrapper {
    display: block;
  }
  .tf-map-content-wrapper .about-location {
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 991px) {
.host-top {
  display: block;
  text-align: center;
}
.host-top img {
  margin-bottom: 15px;
}
.host-bottom ul li span {
  float: none;
}
.tf-apartment .features-details ul {
  display: block;
}
}

@media only screen and (max-width: 640px) {
  .tf-apartment-title .tf-title-wrap, .tf-apartment .hero-wrapper {
    display: block;
  }
  .tf-apartment-title .tf-title-right {
    margin-top: 15px;
  }
  .tf-apartment-title .tf-single-rating, .tf-apartment-title .tf-share a, .tf-apartment-title .tf-wishlist-button {
    font-size: 14px;
  }

  .tf-apartment .hero-left {
    margin-bottom: 15px;
    width: 100%;
  }

  .tf-apartment .hero-right {
    width: 100%;
    display: flex;
    gap: 15px;
  }

  .tf-apartment .hero-first-image img {
    height: 350px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
  }

  .tf-apartment .hero-wrapper .hero-second-image {
    margin-bottom: 0;
    width: 50%;
  }

  .tf-apartment .hero-wrapper .hero-second-image img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
  }

  .tf-apartment .hero-third-image {
    width: 50%;
  }

  .share-tour-content .tf-dropdown-content {
      min-width: 270px;
      margin-left: -170px;
  }

  .tf-dropdown-content li {
      display: block;
  }

  .share-tour-content input#share_link_input {
      width: 100% !important;
      margin: 5px 0;
      max-width: 100%;
      display: block;
  }

  .share-tour-content {
      left: 50px;
  }

  .share-tour-content .share-center-copy-form {
      display: block;
  }

  .tf-apartment .cf-wrapper {
    flex-direction: column;
  }

  .tf-apartment .cf-left {
    width: 100%;
    order: 2;
  }

  .tf-apartment .cf-right {
    width: 100%;
    order: 1;
    margin-bottom: 35px;
  }
  .tf-map-content-wrapper iframe {
    height: 280px;
  }
}

@media only screen and (max-width: 480px) {
  .tf-apartment .hero-first-image img {
    height: 220px;
  }
  .tf-apartment .hero-right img {
    height: 140px;
  }
  .tf-apartment .features-details ul {
    display: block;
  }
  .tf-map-content-wrapper iframe {
    height: 200px;
  }
  .apartment-question .apartment-qa-wrapper {
    flex-direction: column;
  }
  .apartment-question .tf-btn {
    margin-left: 0;
    width: 100%;
  }
}