/**************** TITLE ****************/
.tf-map-link a.more-hotel {
    font-weight: bold;
}

.tf-wishlist-button {
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px 0 0;
    line-height: 1;
}

.tf-share {
    position: relative;
}

.share-tour-content {
    display: none;
    position: absolute;
    min-width: 100%;
    top: 100%;
    transform: translateY(8px);
    z-index: 200;
    left: auto;
    right: 0;
}

.share-tour-content .tf-dropdown-content {
    margin: 0;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    min-width: 200px;
    z-index: 100;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 3px -1px rgba(0, 0, 0, 0.2);
}

.share-tour-content .tf-dropdown-item-content {
    white-space: nowrap;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.tf-dropdown-content li {
    display: inline-block;
}


.tf-dropdown-content li a i {
    color: #1D75E3;
    font-size: 17px;
}

.tf-dropdown-content li:nth-child(2) a i {
    color: #1D9BF0;
}

.tf-dropdown-content li:nth-child(3) a i {
    color: #0A66C2;
}

.tf-dropdown-content li:nth-child(4) a i {
    color: #CC0000;
}

.share-tour-content .tf-dropdown-item {
    border: 0;
    margin: 0;
    cursor: pointer;
    padding: 12px 16px;
    white-space: nowrap;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    fill: #333;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}

.share-tour-content .tf-dropdown-item:hover {
    background-color: #f5f5f5;
}

.share-tour-content .share-center-copy-form {
    display: flex;
    align-items: center;
    padding: 12px 16px;
}

.share-tour-content .share-center-copy-label {
    white-space: nowrap;
}

.share-tour-content .share-center-copied-message {
    display: none;
}

.share-center-copy-cta.copied .share-center-copied-message {
    display: inline-block;
    font-weight: bold;
}

.share-center-copy-cta.copied .share-center-copy-message {
    display: none;
}

.share-tour-content #share_link_button {
    white-space: nowrap;
    font-size: 13px;
    padding: 5px 12px;
}

.share-tour-content input#share_link_input {
    width: auto !important;
    flex-grow: 1;
    margin: 0 8px;
    background-color: #e6e6e6;
    padding: 0;
    border: 2px solid rgba(118, 118, 118, 0.3);
}

.tf-share a {
    line-height: 1;
    font-size: 22px;
    display: block;
    margin: 0 10px 0 0;
    outline: none;
}

.show-on-map .btn-styled {
    text-transform: uppercase;
    font-weight: bold;
}

/**************** Hero ****************/
 .hero-wrapper {
    display: grid;
    grid-template-columns: 68.5% 29%;
    gap: 1.5%;
  }
  .hero-wrapper img {
    border-radius: 4px;
  }

  .hero-wrapper .hero-second-image {
    margin-bottom: 22px;
  }

/**************** Content - Features ****************/
  .cf-wrapper {
    display: grid;
    grid-template-columns: 63.5% 34%;
    gap: 1.5%;
  }