.tf-main-wrapper{
  background-color: #C1FCFF;
}
.search-result-inner {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 60px 0;
}
.tf-custom-search-results{
  display: grid;
  grid-template-columns: 25% 75%;
}

.tf-search-left {
  padding-right: 15px;
}

.tf-search-right {
  padding-left: 15px;
}
.tf-custom-search-results .tf-search-right{
  padding-left: 0px;
  margin-right: 15px;
}
.tf-custom-search-results .tf-search-right .tf_booking-widget{
  background: #9B008A;
  border-color: #9B008A;
  border-radius: 16px;
  margin-bottom: 24px;
}
.tf-custom-search-results .tf-search-right .tf_booking-widget .tf_form-row .tf_label-row h4{
  margin: 0 0 5px 0;
  color: #fff;
  font-size: 16px;
}
.tf-custom-search-results .tf-search-right .tf_booking-widget .tf_form-row .tf_form-inner{
  display: inherit;
}
.tf-custom-search-results .tf-search-right .tf_booking-widget .tf_form-row .tf_calendar_select{
  display: flex;
  gap: 8px;
  padding: 0px 1rem;
  color: #333;
}
.tf-custom-search-results .tf-search-right .tf_booking-widget .tf_form-row .tf_calendar_select i,
.tf-custom-search-results .tf-search-right .tf_booking-widget .tf_form-row .tf_calendar_select input::placeholder{
  color: #333;
}
.tf-custom-search-results .tf-search-right .tf-archive-filter-box{
  background: #110375;
  border-radius: 24px;
  padding: 24px;
}
.tf-custom-search-results .tf-search-right h2{
  color: #fff;
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 18px;
}
.tf-custom-search-results .tf-search-right #tf_hotel_filter-3{
  margin-bottom: 15px;
}
.tf-custom-search-results .tf-search-right #tf_hotel_filter-3:last-child{
  margin-bottom: 0px;
}
.tf-custom-search-results .tf-search-right #tf_hotel_filter-3 h4{
  color: #fff;
  text-align: center;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 15px;
}
.tf-custom-search-results .tf-search-right #tf_hotel_filter-3 ul{
  margin: 0;
  padding: 0;
}
.tf-custom-search-results .tf-search-right #tf_hotel_filter-3 ul ul{
  margin-left: 20px;
}
.tf-custom-search-results .tf-search-right #tf_hotel_filter-3 ul li{
  list-style: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 2px 0;
}
.tf-custom-search-results .tf-search-right #tf_hotel_filter-3 ul li label{
  display: flex;
  gap: 5px;
  text-transform: capitalize;
}
.tf-custom-search-results .tf-search-right #tf_hotel_filter-3 .tf-activities-all-show,
.tf-custom-search-results .tf-search-right #tf_hotel_filter-3 .tf-theme-all-show,
.tf-custom-search-results .tf-search-right #tf_hotel_filter-3 .tf-feature-all-show{
  color: #fff;
  font-weight: 600;
}
.page-template-tf_search-result .tf_form-row .tf_button {
  padding: 15px 20px;
  width: 100%;
}

.single-tour-inner {
  overflow: hidden;
}

.single-tour-inner {
  display: block;
  width: 100%;
  min-height: 149px;
  /* padding: 20px; */
  margin: 16px 0;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: default;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  background: #FEFFF4;
}
.single-tour-wrap.tf-featured .single-tour-inner {
  background: #F5F9FF;
  border-color: #dbedff;
  box-shadow: 0px 2px 4px rgba(179, 180, 202, 0.48);
}
.tourfic-single-left {
  order: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: main-size;
  width: 210px;
  min-height: 210px;
}

.tourfic-single-right {
  order: 2;
  flex-grow: 1;
  flex-basis: 200px;
  padding: 0;
}

.tourfic_hotel-title {
  display: inline-block;
  margin: 0 !important;
  padding-right: 2px;
  color: #080994;
}

.single-tour-wrap:first-child .single-tour-inner {
  margin-top: 0;
}

.tf_property_block_main_row {
  min-height: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  background-color: #FFFFCF;
  padding: 5px 10px 10px 20px;
}

.tf_item_main_block {
  order: 2;
  flex-grow: 1;
}

.tf-hotel__title-wrap {
  margin-bottom: 4px;
}

.tourfic_hotel-title:hover {
  color: #003162;
}

.sr_rooms_table_block, .tf_search_result .tf-tour-desc {
  margin-top: 8px;
  padding: 0 20px 20px 20px;
}

.room_details, .tf_search_result .tf-tour-desc {
  border-top: 1px solid #bdbdbd;
  padding-top: 8px;
}

.featuredRooms {
  margin: 0;
  clear: both;
  width: 100%;
  line-height: 1;
}

.roomrow_flex {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 14px;
}

.roomName_flex {
  flex-grow: 1;
  width: auto;
  max-width: 50%;
}

.roomPrice.roomPrice_flex.sr_discount {
  text-align: right;
  max-width: 50%;
}

#am_posts_navigation {
  display: none;
}

.tf-archive-shortdesc, .tf-tour-desc {
  line-height: 1.8;
  margin: 5px 0 10px;
  font-size: 14px;
  opacity: 0.85;
}
.tf-archive-desc li {
  display: inline-block;
  margin-right: 7px;
}
.availability-btn-area.tour-search {
  font-size: 14px;
  max-width: 120px;
  line-height: 1;
  margin-left: auto;
}
.single-tour-wrap,
.single-tour-wrap * {
  transition: all 0.3s ease-out;
}

.roomrow-price-details ul {
margin: 0;
padding: 0;
list-style: none;
margin-top: 20px;
}
.roomrow-price-details ul li{
  color: #222;
  font-size: 17px;
  padding: 3px 0px;
}
.tf-d-ib a{
  text-decoration: underline;
margin-right: 5px
}
.availability-btn-area a i {
margin-left: 10px;
}
.roomName_flex ul.tf-archive-desc{
padding: 0;
}
.tf-action-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.tf-list-grid {
  display: flex;
  align-items: center;
}

.tf-list-grid a {
  display: inline-flex;
  margin-left: 10px;
  font-size: 20px;
}
.tf-search-result-hotel{
grid-template-columns: 100% 0%;
}

.tf-archive-rating {
  width: 40px;
  height: 40px;
  line-height: 1;
  background: #003162;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: right;
  margin-bottom: 3px;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}
.tf-archive-rating-wrapper h6 {
  color: #737373;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
  text-align: right;
}


.tf-archive-desc {
  margin: 0;
}

.tf-archive-desc i {
  color: #549501;
  font-size: 15px;
}

/* Feature */
.tf-hide-feature {
  display: none;
}
.tf-feature-all-show{
  display: inline-block;
  cursor: pointer;
}
.tf-hide-feature.active{
  display: block;
}
.tf-hide-all-feature{
  display: none;
}

/* Activities */
.tf-hide-activities {
  display: none;
}
.tf-activities-all-show{
  display: inline-block;
  cursor: pointer;
}
.tf-hide-activities.active{
  display: block;
}
.tf-hide-all-activities{
  display: none;
}


/* Theme */
.tf-hide-theme {
  display: none;
}
.tf-theme-all-show{
  display: inline-block;
  cursor: pointer;
}
.tf-hide-theme.active{
  display: block;
}
.tf-hide-all-theme{
  display: none;
}

/** GRID VIEW **/

.tourfic-single-left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
}

.archive_ajax_result.tours-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.archive_ajax_result.tours-grid .single-tour-wrap {
  width: 50%;
  padding: 0 5px;
  margin-bottom: 10px;
  flex: 0 0 50%;
}

.archive_ajax_result.tours-grid .single-tour-inner {
  margin: 0;
  height: 100%;
  padding: 20px;
}

.archive_ajax_result.tours-grid .tourfic-single-left {
  width: 100%;
  margin-bottom: 16px;
}

.archive_ajax_result.tours-grid .tourfic-single-right {
  padding: 0;
  width: 100%;
  height: 100%;
}

.archive_ajax_result.tours-grid .roomrow_flex {
  padding: 0;
  flex-wrap: wrap;
}

.archive_ajax_result.tours-grid .roomName_flex {
  width: 100%;
  max-width: 100%;
}

.archive_ajax_result.tours-grid .availability-btn-area .tf_button {
  width: 100%;
  margin-top: 15px;
}

.archive_ajax_result.tours-grid .roomPrice.roomPrice_flex.sr_discount {
  text-align: left;
  margin: 10px 0;
}
.tf-line-box p{
  display: flex;
  gap: 5px;
}
@media only screen and (max-width: 991px) {
  .widget_tf_hotel_filter {
      margin-top: 20px;
      margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search-result-inner {
      grid-template-columns: 65% 35%;
  }
}

@media only screen and (min-width: 660px) and (max-width: 767px) {
  .search-result-inner {
      grid-template-columns: 60% 40%;
  }
}

@media only screen and (min-width: 635px) and (max-width: 659px) {
  .archive_ajax_result {
      display: grid;
      grid-template-columns: 49% 49%;
      gap: 2%;
    }
    .archive_ajax_result .single-tour-wrap {
      margin-bottom: 0px;
    }
    .tf_property_block_main_row {
      display: block;
    }
    .tf-archive-rating-wrapper {
      margin-top: 20px;
    }
    .tf-archive-rating {
      float: none;
    }
    .tf-archive-rating-wrapper h6 {
      text-align: left;
    }
}

@media only screen and (max-width: 659px) {
  .search-result-inner {
      grid-template-columns: 100%;
  }
  .widget_tf_hotel_filter .tf-filter ul li {
      display: inline-block;
      padding-right: 25px;
      margin-top: 5px;
    }
  .search-result-inner .tf-search-right {
      grid-row: 1; /* NEW */
  }
  .tf-search-right, .tf-search-left {
      padding: 0!important;
  }
}