/*================================
|            Search Form CSS     |
================================*/
/* Auto complete */
.tf_form-inner .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.tf_form-inner .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    color: #444;
}

.tf_form-inner .autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.tf_booking-widget .tf_form-row .tf_button {
    padding: 10px 20px;
    width: 100%;
	font-size: 18px;
}

/* Horizontal Search Form */
.tf_booking-widget #check-in-out-date {
    font-size: 17px;
    min-width: 150px;
}

.tf_submit-wrap .btn-styled {
    padding: 20px 20px;
}

.tf-tabcontent {
    display: none;
    border-top: none;
}

button.tf-tablinks.active {
    background: #003162;
    color: #f1f1f1;
    outline: none;
}

button.tf-tablinks:focus {
    outline: none;
}

.tf_booking-widget.default-form {
    padding: 0;
    background: none;
    border: none;
}

.tf_booking-widget.default-form .tf_form-inner {
    padding: 0;
    grid-template-columns: 6% 94%;
    align-items: center;
}

.tf_booking-widget.default-form .tf-label {
    display: none;
}


.single_recomended_content {
    height: 270px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.single_recomended_item {
    box-sizing: border-box;
    margin-bottom: 15px;
    float: left;
    width: 33%;
}

.recomended_inner .single_recomended_item {
    width: calc((100% - 30px) / 3);
    float: left;
    margin-right: 14.9px;
}

.recomended_inner .single_recomended_item:nth-child(3) {
    margin-right: 0;
}

#recomended_section_wrapper {
    overflow: hidden;
}

#recomended_section_wrapper a {
    text-decoration: none;
    display: block;
}

.recomended_place_info_header h3 {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.recomended_place_info_header p {
    margin: 0px;
    padding: 0px;
    color: #fff;
    text-decoration: none;
}

.recomended_place_info_header {
    text-align: center;
    padding: 10px 18px;
    background: rgba(0, 0, 0, 0.65);
    display: inline-block;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.single_recomended_item:hover {
    box-shadow: 0 0 1px #febb02;
}

.single_recomended_item:hover .recomended_place_info_header {
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 27, 65, 0.85)), color-stop(100%, rgba(0, 27, 65, 0)));
    background: linear-gradient(to bottom, rgba(0, 27, 65, 0.85) 0, rgba(0, 27, 65, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00224F", endColorstr="#00001e47", GradientType=0);
}

.tf_homepage-booking {
    display: table;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;
    border: 1px solid #CEF6FE;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    height: 55px;
    margin: 24px 0 16px;
    background: #CEF6FE;
}
.tf-seach-box-bar{
    margin-top: -60px;
}
.tf_destination-wrap {
    border-left: 0;
    min-width: 150px;
    width: 25%;
}

.tf_submit-wrap {
    border-right: 0;
    background: #003162;
    width: 15%;
}

.tf_submit-wrap button {
    width: 100%;
    height: 100%;
}

.tf-widget-slider .tf-heading {
    margin: 0 0 30px 0;
}

.recent-tour-slider a,
.recent-hotel-slider a,
.tf-wishlists a {
    text-decoration: none !important;
}

.recent-tour-slider h3,
.recent-hotel-slider h3 {
    margin-bottom: 0 !important;
}

.recent-tour-slider p,
.recent-hotel-slider p,
.recent-tour-slider .tf-slider-rating-star,
.recent-hotel-slider .tf-slider-rating-star {
    margin-top: 7px;
    margin-bottom: 0 !important;
}

.recent-hotel-slider .tf-slider-rating-star i,
.recent-tour-slider .tf-slider-rating-star i {
    color: #FFCD3D;
}

.tf-wishlists i {
    padding-left: 10px;
    color: #0054a8;
}

.tf-wishlists td {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 15px;
}

/*================================
|       Adavance Search Form     |
================================*/

.tf_more_info_selections {
    position: relative;
    cursor: pointer;
}

.tf-more-info {
    position: absolute;
    width: 620px;
    padding: 15px 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .175);
    border-radius: 0 0 4px 4px;
    border-color: #dfdfdf;
    margin-top: 0;
    background: #fff;
    right: 0;
    top: 102%;
    display: none;
    z-index: 999;
}

.tf_form-inner .tf-hotel-results {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.tf_form-inner .tf-hotel-results #ui-id-1 li,
.tf_form-inner .tf-hotel-results #ui-id-2 li {
    padding: 10px;
    cursor: pointer;
    background-color: #CEF6FE;
    border-bottom: 1px solid #d4d4d4;
    color: #444;
}

.tf_form-inner .tf-hotel-results #ui-id-1 li:hover,
.tf_form-inner .tf-hotel-results #ui-id-2 li:hover {
    background-color: #e9e9e9;
}

.tf-more-info .form-group.form-check {
    width: 33%;
    float: left;
}

.tf-more-info span {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.tf-more-info.show {
    display: block;
}

.tf_form-inner .tf-hotel-results #ui-id-1 li,
.tf_form-inner .tf-hotel-results #ui-id-2 li {
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}

.tf-filter-price-range .al-range-slider__track {
    background: #EEE;
    height: 10px;
    box-shadow: none !important;
    margin: 30px 0px 10px 0px;
}

.tf-filter-price-range .al-range-slider_dark {
    padding: 0px !important;
}

.tf-filter-price-range .al-range-slider_dark .al-range-slider__bar {
    background: #003162;
    box-shadow: none !important;
}

.tf-filter-price-range .al-range-slider__knob {
    background: #003162;
    height: 15px;
    width: 15px;
    box-shadow: none !important;
    border: 3px solid #003162;
}

.tf-filter-price-range .al-range-slider__tooltip {
    background: #003162;
    border-radius: 5px;
    box-shadow: none;
    padding: 3px 10px;
    color: #fff !important;
    font-size: 13px !important;
    margin-bottom: 0px !important;
}

.tf-filter-price-range .al-range-slider__knob:first-child span {
    left: 10px !important;
}

.tf-filter-price-range .al-range-slider__input.js-al-range-slider__input {
    display: none;
}

.tf_form-inner .tf-hotel-results ul#ui-id-1,
.tf_form-inner .tf-hotel-results ul#ui-id-2,
.tf_form-inner .tf-hotel-results ul#ui-id-3 {
    left: 0 !important;
    width: 100% !important;
    right: 0 !important;
    margin: 0 !important;
    list-style: none;
    top: 100% !important;
    max-height: 225px;
    z-index: 99999;
    overflow-y: auto;
    padding-left: 0px !important;
}

.tf_form-inner .tf-hotel-results #ui-id-1 li,
.tf_form-inner .tf-hotel-results #ui-id-2 li {
    text-transform: capitalize;
	font-size: 18px;
}

.tf_tf_booking-widget-wrap {
    z-index: 999;
}

/* Quick question */

#tf-ask-question {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: transparent;
}

.tf-aq-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
}

.tf-aq-outer {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    width: 100%;
    max-width: 428px;
    background: #fff;
    padding: 40px;
    border-radius: 4px;
    overflow: auto;
    transform: translateY(-50%);
    max-height: 95%;
}

span.close-aq {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    text-align: center;
    height: 25px;
    background: #e00d0d;
    color: #fff;
    line-height: 25px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 50%;
}

.tf-aq-field {
    position: relative;
    margin: 10px 0;
    overflow: hidden;
}

.tf-aq-field input,
.tf-aq-field textarea {
    width: 100%;
}


/**************************************** RESPONSIVE **************************************/

@media screen and (max-width: 767px) {
    .tf_form-inner .autocomplete-items {
        top: 70px!important;
    }
    .tf-more-info {
        width: 100%;
    }
    .tf_form-inner .tf-hotel-results #ui-id-1, .tf_form-inner .tf-hotel-results #ui-id-2 {
        top: -255px!important;
    }
    .tf_destination-wrap {
        padding: 10px !important;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }

    .tf_submit-wrap {
        width: 100%;
    }

    .tf_destination-wrap .tf_input-inner {
        padding: 0 10px;
    }

    .recomended_inner {
        margin-left: -15px;
        margin-right: -15px;
        clear: both;
    }

    .recomended_inner .single_recomended_item {
        width: 50%;
        float: left;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 450px) {
    .recomended_inner .single_recomended_item {
        width: 100%;
        float: none;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}