






/*----------------------------------------------------
            Map CSS Start
-----------------------------------------------------*/



/*--------- map CSS End ---------*/

/*----------------------------------------------------
            Accordion CSS Start
-----------------------------------------------------*/



/*--------- Accordion Itinerary CSS End ---------*/




/*----------------------------------------------------
            sec CSS Start
-----------------------------------------------------*/



.tf-review-item {
    background: #FAFCFE;
    box-shadow: 0px 5px 10px rgba(0, 44, 102, 0.2);
    padding: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tf-review-rating {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #152B47;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.tf-review-rating i {
    color: #FFCD3D;
    font-size: 15px;
}

.tf-review-item h3 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #152B47;
    text-align: center;
}

.tf-review-item h3 span {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #213650;
    display: block;
}

.tf-review-desc {}

.tf-review-desc {
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    letter-spacing: 0.2px;
    position: relative;
    padding: 0 15px;
}

.tf-review-desc img {
    width: 16px !important;
}

.tf-review-desc img:last-child {
    left: auto;
    right: 0;
    bottom: 0;
}

.tf-review-wrapper .tf-container {
    max-width: 1240px;
}

.tf-review-sec-head {
    max-width: 1170px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

.tf-review-sec-head h2 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.4px;
    color: #002C66;
    font-weight: bold;
}

.tf-review-sec-head p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #152B47;
}

.tf-review-wrapper {
    background: #FAFCFE;
    padding: 50px 0;
    margin-bottom: 40px;
}

.tf-review-avater {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tf-review-avater img {
    position: unset !important;
}

.tf-review-write a {
    background: #002C66;
    box-shadow: 0px 5px 10px rgba(0, 44, 102, 0.2);
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FAFCFE;
    padding: 12px 30px;
}

.tf-review-write a:hover {
    background: #002c66d6;
}

.tf-review-write {
    text-align: center;
}

.tf-review-form-area {
    background: rgba(2, 51, 110, 0.1);
    padding: 50px 100px;
    margin-top: 60px;
}

form.tf-review-form {
    display: flex;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.tf-field-wrapper {
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
}

.tf-field-wrapper input,
.tf-field-wrapper textarea {
    width: -webkit-fill-available;
    background: #FAFCFE;
    border-radius: 5px;
    margin: 0px 0px;
    border: 1px;
    padding: 12px 17px;
}

.tf-width-100 {
    width: 100%;
}

.tf-review-form-stars-rating {
    display: flex;
    justify-content: space-between;
}

.tf-review-form-stars-rating h5 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #152B47;
}

.tf-review-form-stars i {
    color: #C7D6E6;
}

.tf-bg-white {
    background: #FAFCFE;
    border-radius: 5px;
    border: 1px;
}


.tf-review-form-area .tf-bg-white {
    padding: 45px 0;
}

.tf-review-form-area .tf-bg-white .tf-review-form-stars-rating {
    padding: 0 50px;
}

.tf-field-wrapper textarea {
    height: -webkit-fill-available;
}
button.tf-review-form-btn {
    padding: 16px 32px;
    background: #002C66;
    border-radius: 5px;
    width: max-content;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.367568px;
    color: #FAFCFE;
    margin: 0px 0px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

button.tf-review-form-btn:hover {
    background: #002c66d6;
}
.tf-review-title h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.4px;
    color: #002C66;
    margin-bottom: 40px;
}
/*--------- review CSS End ---------*/


/*----------------------------------------------------
            subscribe CSS Start
-----------------------------------------------------*/

.tf-subscribe-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    padding: 50px 0;
}

.tf-subscribe-left h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.4px;
    color: #002C66;
    margin: 0;
}

.tf-subscribe-content-wrapper p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #152B47;
}

.tf-subscribe-inputs-wrapper {
    background: #FAFCFE;
    border: 1px solid #002C66;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    width: fit-content;
}

.tf-subscribe-inputs-wrapper input,
.tf-subscribe-inputs-wrapper input:focus {
    margin: 0;
    border: 0;
    padding: 14px 18px;
    outline: none;
    border-radius: 20px;
    width: 230px;
}

.tf-subscribe-inputs-wrapper button {
    background: #002C66;
    border-radius: 3px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FAFCFE;
    padding: 12px 30px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.tf-subscribe-inputs-wrapper button:hover {
    background: #002c66d9;
}

.tf-subscribe-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tf-subscribe-wrapper {
    background: #FAFCFE;
    margin-bottom: 100px;
}

/*--------- subscribe CSS End ---------*/


/*----------------------------------------------------
            footer CSS Start
-----------------------------------------------------*/

.tf-footer-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.tf-footer-content-wrapper>div {
    width: 20%;
}

.tf-footer-colunm-item:first-child {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.tf-footer-desc p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #152B47;
    margin-bottom: 30px;
}

.tf-footer-desc img {
    width: 130px;
    height: auto;
    margin-bottom: 20px;
}

.tf-footer-colunm-item h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #152B47;
    margin-bottom: 20px;
}

.tf-footer-colunm-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tf-footer-colunm-item ul li a {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #152B47;
}

.tf-footer-colunm-item ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tf-footer-colunm-item:last-child {
    display: flex;
    justify-content: flex-end;
}

.tf-footer-colunm-item {
    display: flex;
    justify-content: center;
}

.tf-footer-socials a {
    color: #002c66;
    font-size: 24px;
}

.tf-footer-socials {
    display: flex;
    gap: 10px;
}

.tf-footer-wrapper {
    padding: 50px 0;
    background: #FAFCFE;
}

.tf-footer-bottom {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #152B47;
    text-align: center;
    margin-top: 40px;
}

/*--------- footer CSS End ---------*/