/* All Variables should be declared here which makes it easier to update if something changes globally */
/*================================
=            Basic CSS            =
================================*/
.tourfic-wrap {
  font-size: 14px;
  padding-top: 30px;
  background-color: #fff;
  width: 100%;
}
.tourfic-wrap ul {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
}
.tourfic-wrap svg {
  display: block;
}
.tourfic-wrap p {
  margin-bottom: 3px;
}

.tf_container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  width: 100%;
}

.tf_content.tf_content-full {
  width: 100%;
}

.tf_row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.tf_row.thin {
  margin: 0 -10px;
}

.tf_content,
.tf_sidebar {
  padding-left: 15px;
  padding-right: 15px;
}

.tf_content {
  width: 75%;
  box-sizing: border-box;
}

.tf_sidebar {
  width: 25%;
  box-sizing: border-box;
}

.tf_content-full {
  width: 100%;
}

.tf_col-6 {
  padding: 0 10px;
  width: 50%;
}

.mb-15 {
  margin-bottom: 15px;
}

.itinerary-title h4, .highlights-title h4, .listing-title h4, .tf_features h4, .tf-tourbox-title h4 {
  font-size: 36px;
  color: #002c66;
  margin-bottom: 30px;
}

/*=====  End of Basic CSS  ======*/
/*===============================
=            Buttons            =
===============================*/
.tf_button {
  background: #003162;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  border: 1px solid #003162;
  border-radius: 2px;
  padding: 20px;
}
.tf_button:hover {
  text-decoration: none;
}
.tf_button.btn-outline {
  background: #fff;
  color: #333;
  border-color: #333;
}

.page-template-tf_search-result .tf_form-row .tf_button, .single-tourfic .tf_form-row .tf_button {
  padding: 15px 20px;
  width: 100%;
}

.page-template-tf_search-result .single-tour-inner .tf_button {
  padding: 15px 20px;
}

.single-tourfic .tf_container .tf_button {
  padding: 15px 20px;
}

/*=====  End of Buttons  ======*/
.tf_title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tf_title {
  font-family: "rubik";
  font-size: 26px;
  margin: 0;
  color: #152B47;
}

.tf_title-right {
  display: flex;
  align-items: center;
}

.reviews span {
  margin-left: 10px;
  font-size: 18px;
}

.share-tour {
  margin-right: 14px;
}

.tf_price {
  font-size: 20px;
}

span.tf-price .amount {
  font-weight: bold;
}

.tf_map-link {
  font-size: 18px;
  color: #666;
}
.tf_map-link a {
  color: #7893B0;
}
.tf_map-link a:hover {
  color: #003162;
}
.tf_map-link svg {
  margin-right: 4px;
}

.show-on-map {
  padding-right: 8px;
}

.tf-map-tour-wrap {
  position: relative;
  margin-top: 30px;
  background: #ddd;
}

.tf-map-tour-wrap .map-bg {
  width: 100%;
  height: 170px;
}
.tf-map-tour-wrap .map-bg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tf-map-tour-wrap .map-buttons {
  position: absolute;
  width: 100%;
  bottom: 30px;
}
.tf-map-tour-wrap .map-buttons a {
  width: 100%;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.swiper-button-next {
  background-image: unset;
}

.slick-slide-item img {
  width: 100% !important;
}

a.slick-slide-item-link {
  width: 100% !important;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.single-slider-wrapper {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background-color: #000;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.swiper-button-prev i,
.swiper-button-next i {
  font-size: 28px;
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

.tf_gallery-wrap {
  position: relative;
  overflow: hidden;
}

.tf_gallery-wrap .swiper-button-prev,
.tf_gallery-wrap .swiper-container-rtl .swiper-button-next {
  background-image: "";
}

.tf_contents {
  margin-top: 40px;
}

.tf_toc-wrap td {
  white-space: break-spaces;
}

.tf_gallery-wrap .slick-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: zoom-in;
}

.tf_contents.reviews .comment-respond {
  padding: 0;
  background: transparent;
}

.tf_toc-wrap {
  margin-top: 30px;
}

.tf-comments-count-wrapper {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tf_comment-metas .comment-meta {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.tf_comment-metas .comment-meta label {
  min-width: 230px;
  margin: 0;
}

.tf_comment-metas {
  margin-bottom: 31px;
}

.author-email {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-email > p {
  min-width: 50%;
  max-width: 50%;
}

.author-email input {
  width: 100%;
}

p.comment-form-author {
  padding-right: 7px;
}

p.comment-form-email {
  padding-left: 7px;
}

.tf_comment-metas .comment-meta .tf_comment_meta-key {
  font-weight: normal;
  text-transform: capitalize;
}

.tf-comment-list {
  padding: 0;
  margin: 0;
}

.tf-comment-list .comment {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 15px 0;
  overflow: hidden;
  clear: both;
}

.tf-overall-ratings {
  text-align: center;
  position: relative;
  padding-right: 15%;
}
.tf-overall-ratings:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #ddd;
  top: 0;
  bottom: 0;
  right: 0;
}
.tf-overall-ratings .overall-rate {
  font-size: 24px;
  line-height: 1;
}
.tf-overall-ratings .overall-rate-stars {
  line-height: 1;
}

.star-ratings {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 28px;
  position: relative;
  margin: 0;
  padding: 0;
  width: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 117px;
}
.star-ratings .fill-ratings {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: width 1s ease-in-out;
}
.star-ratings .fill-ratings span {
  display: inline-block;
}
.star-ratings .empty-ratings {
  padding: 0;
  display: block;
  z-index: 0;
}

.tf-comments-count-wrapper .tf_comment-metas {
  margin: 0;
}
.tf-comments-count-wrapper .tf_comment-metas .comment-meta label {
  min-width: 80px;
  text-align: right;
}

.tf_comment_meta-percent {
  width: 200px;
  height: 7px;
  background: #ddd;
  margin: 0 17px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.percent-progress {
  position: absolute;
  width: 0;
  background-color: #e7711b;
  height: 100%;
  transition: width 1s ease-in-out;
}

#reply-title {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#reply-title .faq-indicator {
  position: relative;
}

.comment-respond {
  background-color: #f6f6f6 !important;
  padding: 20px !important;
  border: 1px solid #ddd !important;
}
.comment-respond #commentform {
  display: none;
}

/*Informations style*/
.tf_informations {
  overflow: hidden;
  padding: 50px 0;
}

.tf_informations h4 {
  color: #152B47;
}

.tf_informations p {
  color: #2F4E74;
  font-weight: 400;
  font-size: 16px;
}

.tf_informations .item {
  width: 20%;
  background: #FAFCFE;
  box-shadow: 0px 5px 10px rgba(0, 44, 102, 0.2);
  border-radius: 5px;
  float: left;
  margin: 0 2%;
  text-align: center;
  padding: 4% 0%;
}

.tf_informations .item .icon {
  font-size: 26px;
}

.tf-ratings {
  display: flex;
  align-items: center;
  justify-content: end;
}

.tf_tab-wrap {
  margin-top: 50px;
}

.tf_tab-nav-link {
  color: inherit;
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-color: transparent;
}
.tf_tab-nav-link.active {
  border-color: #ddd;
}

.tf_tab-content {
  padding: 8px 15px;
  display: none;
}
.tf_tab-content.active {
  display: block;
}

.tf-tab-container {
  border: 1px solid #ddd;
}

/* search widget tab styles */
/* Style the buttons inside the tab */
.tf-booking-search-tabs {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tf-booking-search-tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tf-tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

div#tf-booking-search-tabs {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 13px;
}

.tf-booking-form-tab {
  padding: 0 11px;
}

button.tf-tablinks.active {
  background: #003162;
  color: #f1f1f1;
}

.tf_room-type {
  margin-top: 40px;
}

.tf-room ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tf_room-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.tf_room-row .tf-room {
  width: 50%;
  padding: 10px;
}

.tf-room-header {
  background: #0076cd;
  color: #fff;
  padding: 10px 15px;
}
.tf-room-header .last-booked {
  font-size: 12px;
}

.tf-room-content-wrap {
  border: 1px solid #ddd;
  border-top: 0;
  padding-bottom: 20px;
}

.tf-room-content-inner {
  display: flex;
  flex-wrap: wrap;
}
.tf-room-content-inner .tf-room-inner-column {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #ddd;
}

.tf-sale-tag {
  background: #cd2653;
  display: inline-block;
  color: #fff;
  padding: 3px 15px;
  margin-left: -10px;
  font-size: 10px;
}

.img-price-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.price-per-night {
  font-size: 12px;
  white-space: nowrap;
}

.room-selection-wrap {
  text-align: center;
  margin-bottom: 16px;
}

.room-submit-wrap {
  text-align: center;
}

#room-selection {
  padding: 6px 12px;
}

.bed-facilities {
  margin: 8px 0;
  text-align: justify;
}

.tf_room-type-head {
  font-weight: 500;
  font-size: 16px;
}

.tf_form-row .tf_label-row {
  margin-bottom: 15px;
  display: block;
  font-size: inherit;
}

.tf_form-inner input[type=text],
.tf_form-inner select {
  width: 100%;
  background: transparent;
  border: 0;
  box-shadow: none;
  height: 45px;
  font-size: inherit;
}
.tf_form-inner input[type=text]:focus,
.tf_form-inner select:focus {
  background: transparent;
  border: 0;
  outline: 0;
}

#destinationautocomplete-list {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

#destinationautocomplete-list div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
#destinationautocomplete-list div:hover {
  background-color: #e9e9e9;
}

.tf_widget-title {
  font-size: 26px;
  margin-bottom: 10px;
  text-align: center;
}

.tf_booking-widget {
  background: #FA5535;
  background: linear-gradient(to bottom, #FA5535 0, #FA5535 100%);
  border-color: #FA5535;
  color: #fff;
  padding: 20px;
  border-radius: 7px;
}
.tf_booking-widget.default-form {
  padding: 0;
  background: none;
  border: none;
  color: #333;
}
.tf_booking-widget.default-form .tf_form-inner {
  padding: 0;
  grid-template-columns: 6% 94%;
  align-items: center;
}
.tf_booking-widget.default-form .tf-label {
  display: none;
}
.tf_booking-widget.default-form .tf_widget-title {
  margin-bottom: 0;
  line-height: 1;
}
.tf_booking-widget.default-form .tf_widget-subtitle {
  text-align: center;
}
.tf_booking-widget svg {
  height: 20px;
  width: 20px;
}
.tf_booking-widget svg path {
  fill: #BDBDBD;
}

.tf_acrselection-wrap {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 12px;
  background: #fff;
  padding: 24px 24px 8px;
  min-width: 250px;
  border-radius: 4px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
  z-index: 999;
  width: 100%;
  display: none;
}

.tf_acrselection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.acr-dec,
.acr-inc {
  width: 30px;
  height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
  color: #003162;
  border-color: #003162;
  border: 1px solid #003162;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 7px 15px;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  min-height: 36px;
  min-width: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.acr-dec:hover,
.acr-inc:hover {
  color: #333;
  border-color: #333;
}

.acr-select {
  display: flex;
  align-items: center;
  width: 125px;
}
.acr-select input[type=number] {
  width: 50px;
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
  background: transparent;
  text-align: center;
  -moz-appearance: textfield;
}
.acr-select input[type=number]:focus {
  outline: 0;
}
.acr-select input[type=number]::-webkit-outer-spin-button, .acr-select input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tf_date-icon {
  padding-right: 12px;
}

.tf_person-icon {
  padding-right: 10px;
}
.tf_person-icon svg{
  width: 20px;
}

.tf_person-selection-wrap {
  margin-top: 12px;
  background: #fff;
  padding: 24px 24px 8px;
  min-width: 250px;
  border-radius: 4px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
  z-index: 999;
  width: 100%;
}

.tf-tour-booking-wrap {
  font-weight: bold;
}

.tf_person-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.single_recomended_content {
  height: 270px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.single_recomended_item {
  box-sizing: border-box;
  margin-bottom: 15px;
  float: left;
  width: 33%;
}

.recomended_inner .single_recomended_item {
  width: calc((100% - 30px) / 3);
  float: left;
  margin-right: 14.9px;
}

.recomended_inner .single_recomended_item:nth-child(3), .recomended_inner .single_recomended_item:nth-child(6) {
  margin-right: 0;
}

/*.recomended_inner .single_recomended_item {
  &:nth-child(1), &:nth-child(2) {
    width: calc( (100% - 30px) / 3 );
    float: left;
  }

  &:nth-child(1), &:nth-child(2) {
    margin-right: 14.9px;
  }

  &:nth-child(3), &:nth-child(4), &:nth-child(5) {
    width: calc( (100% - 30px) / 3 );
    float: left;
  }

  &:nth-child(3), &:nth-child(4) {
    margin-right: 14.9px;
  }
}*/
/* Inner Style */
#recomended_section_wrapper {
  overflow: hidden;
}
#recomended_section_wrapper a {
  text-decoration: none;
  display: block;
}

.recomended_place_info_header h3 {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.recomended_place_info_header p {
  margin: 0px;
  padding: 0px;
  color: #fff;
  text-decoration: none;
}

.recomended_place_info_footer {
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-align: right;
  background: #333;
  padding: 5px 7px;
  box-sizing: border-box;
  border-radius: 4px;
}
.recomended_place_info_footer h3 {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
.recomended_place_info_footer p {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.6;
}

.recomended_place_info_header {
  text-align: center;
  padding: 10px 18px;
  background: rgba(0, 0, 0, 0.65);
  display: inline-block;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.single_recomended_item:hover {
  box-shadow: 0 0 1px #febb02;
}
.single_recomended_item:hover .recomended_place_info_header {
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 27, 65, 0.85)), color-stop(100%, rgba(0, 27, 65, 0)));
  background: linear-gradient(to bottom, rgba(0, 27, 65, 0.85) 0, rgba(0, 27, 65, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00224F",endColorstr="#00001e47",GradientType=0);
}

/*================ Explore =====================*/
#populer_section_wrapper a {
  text-decoration: none;
}

.populer_widget_inner .slick-slider {
  margin: 0 -7px;
}

.populer_widget_inner .slick-slide {
  padding: 0px;
  margin: 30px 7px;
}

p.tourfic_widget_location_title {
  font-weight: 700;
  display: block;
  margin-top: 12px;
  color: black;
  text-transform: capitalize;
  margin: 0px;
  line-height: 1.3;
}

p.tourfic_widget_location_subtitle {
  font-size: 14px;
  display: block;
  margin: 0px;
}

p.price {
  font-size: 14px;
  display: block;
  margin: 0px;
  color: #000;
  font-weight: 700;
}

.tourfic_review_part {
  margin-top: 7px;
}

p.review_number_wrap {
  font-size: 13px;
}

span.review_num {
  background: #003580;
  padding: 5px;
  border-radius: 8px;
  font-weight: 700;
  color: white;
  font-size: 14px;
}

.populer_item_img {
  height: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
}

.populer_section_heading h3 {
  margin: 0px;
  padding: 0px;
}

.populer_section_heading p {
  margin: 0px;
  padding: 0px;
}

.populer_section_heading {
  padding: 20px 5px;
}

.tf_tf_booking-widget-wrap {
  padding: 50px 0;
  position: relative;
}

.tf_custom-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1240px;
}

.tf_homepage-booking {
  display: table;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: #333;
  border-radius: 4px;
  position: relative;
  border: 1px solid #cccccc;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  height: 55px;
  margin: 24px 0 16px;
  background: #fff;
}
.tf_homepage-booking svg {
  display: block;
}

.tf_destination-wrap,
.tf_selectdate-wrap,
.tf_selectperson-wrap,
.tf_submit-wrap {
  border-right: 1px solid #cccccc;
  display: table-cell;
  vertical-align: middle;
}

.tf_destination-wrap {
  border-left: 0;
  min-width: 150px;
  width: 25%;
}

.tf_submit-wrap {
  border-right: 0;
  background: #003162;
}

.tf_selectdate-wrap .tf_input-inner,
.tf_selectperson-wrap .tf_input-inner {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tf_homepage-booking .tf_form-row .tf_label-row {
  margin: 0;
}

.date-sep {
  margin: 0 10px;
  position: relative;
  text-align: center;
  width: 10px;
}
.date-sep:after {
  content: "";
  position: absolute;
  height: 1px;
  background: #bdbdbd;
  width: 10px;
  left: 0;
  top: 50%;
  z-index: 2;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.daterangepicker .active.start-date {
  pointer-events: none;
}

.tf_destination-wrap .tf_input-inner,
.tf_selectdate-wrap,
.tf_selectperson-wrap {
  padding: 0 15px;
}

.person-sep {
  padding: 0 8px;
  position: relative;
}
.person-sep:after {
  content: "";
  position: absolute;
  height: 2px;
  background: #7d7d7d;
  width: 2px;
  left: 0;
  top: 0px;
  z-index: 2;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.checkin-date-text,
.date-sep,
.checkout-date-text,
.adults-text,
.person-sep,
.child-text,
.room-text,
.infant-text {
  white-space: nowrap;
}

.tf_selectdate-wrap {
  width: 20%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tf_selectperson-wrap {
  width: 25%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tf_submit-wrap {
  width: 15%;
}

.tf_submit-wrap button {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .tf_destination-wrap,
.tf_selectdate-wrap,
.tf_selectperson-wrap,
.tf_submit-wrap {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .tf_selectdate-wrap,
.tf_selectperson-wrap {
    padding: 20px !important;
    border-bottom: 1px solid #ccc;
  }
}

@media screen and (max-width: 767px) {
  .tf_destination-wrap {
    padding: 10px !important;
    border-bottom: 1px solid #ccc;
  }
}

@media screen and (max-width: 767px) {
  .tf_destination-wrap .tf_input-inner {
    padding: 0 10px;
  }
}

.share-tour {
  position: relative;
}

.share-tour-content {
  display: none;
  position: absolute;
  min-width: 100%;
  top: 100%;
  transform: translateY(8px);
  z-index: 200;
  left: auto;
  right: 0;
}
.share-tour-content .tf-dropdown__content {
  margin: 0;
  padding: 16px 0;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  min-width: 200px;
  z-index: 100;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 3px -1px rgba(0, 0, 0, 0.2);
}
.share-tour-content .tf-dropdown__item-content {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.share-tour-content .tf-dropdown__item-content svg {
  margin-right: 8px;
}
.share-tour-content .tf-dropdown__item {
  border: 0;
  margin: 0;
  cursor: pointer;
  padding: 12px 16px;
  white-space: nowrap;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  fill: #333;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.share-tour-content .tf-dropdown__item:hover {
  background-color: #f5f5f5;
}
.share-tour-content .share_center_copy_form {
  display: flex;
  align-items: center;
  height: 33px;
  padding-top: 0;
  padding-bottom: 0;
}
.share-tour-content .share_center_copy_label {
  white-space: nowrap;
}
.share-tour-content .share_center_copied_message {
  display: none;
}
.share-tour-content #share_link_button {
  padding: 0 15px;
  white-space: nowrap;
  height: 100%;
  border: 2px solid #fff;
  box-shadow: 0 0 3px #aaa;
  font-size: 13px;
  min-width: 88px;
  text-align: center;
}
.share-tour-content #share_link_button.copied .share_center_copy_message {
  display: none;
}
.share-tour-content #share_link_button.copied .share_center_copied_message {
  display: block;
}
.share-tour-content input#share_link_input {
  width: auto !important;
  flex-grow: 1;
  margin: 0 8px;
  background-color: #e6e6e6;
  padding: 0;
  border: 2px solid rgba(118, 118, 118, 0.3);
}

.tourfic-wrap.default-style .tf_slider-nav.fl-wrap {
  margin-top: 3px;
}
.tourfic-wrap.default-style .tf_slider-nav.fl-wrap img {
  padding: 3px;
  cursor: pointer;
}
.tourfic-wrap.default-style .tf-room {
  width: 100%;
  padding: 0;
}
.tourfic-wrap.default-style button[type=submit] {
  white-space: nowrap;
}
.tourfic-wrap.default-style .tf-room-title {
  font-size: 15px;
  font-weight: 600;
}
.tourfic-wrap.default-style .room-features {
  padding-top: 8px;
}
.tourfic-wrap.default-style .tf_desc ul {
  list-style: disc;
  padding-left: 16px;
  font-size: 11px;
  line-height: 1.4;
}
.tourfic-wrap.default-style .bed-facilities i {
  margin-right: 4px;
}
.tourfic-wrap.default-style .tf-price-column {
  text-align: center;
  margin: 0 0 10px 0;
}

.highlights-title,
.listing-title {
  margin-bottom: 14px;
  text-transform: uppercase;
}

.tf_contents.highlights {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 20px;
}
.tf_contents.highlights ul {
  list-style: circle;
  padding-left: 40px;
}
.tf_contents.highlights ul li {
  margin-bottom: 7px;
}

.room-feature-list li {
  margin-right: 15px;
}

.tf-similar-tour-wrap {
  overflow: hidden;
  padding: 10px;
  border: 1px solid #ebf3fe;
  margin-top: 30px;
  background-color: #fbfcff;
}

.not-impressive {
  line-height: 1;
  margin-bottom: 13px;
}

.ni-buttons .button {
  border-color: #003162;
  color: #003162;
  min-width: 100%;
}
.ni-buttons .button:hover {
  background: #003162;
  color: #fff;
}

.tf-gotq-tour-wrap {
  margin: 28px 0;
}

.gotq-top {
  margin-bottom: 12px;
}

.tf_gallery-wrap .swiper-button-prev, .tf_gallery-wrap .swiper-container-rtl .swiper-button-next {
  background-image: none !important;
}

.tf-featured {
  display: block;
  position: absolute;
  left: -56px;
  top: -24px;
  padding-top: 51px;
  background: #003162;
  color: white;
  transform: rotate(310deg);
  width: 131px;
  height: 80px;
  text-align: center;
}

.single-tour-inner {
  overflow: hidden;
}

#tf-ask-question {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: transparent;
}

.tf-aq-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
}

.tf-aq-outer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  width: 100%;
  max-width: 428px;
  background: #fff;
  padding: 40px;
  border-radius: 4px;
  overflow: auto;
  transform: translateY(-50%);
  max-height: 95%;
}

span.close-aq {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  text-align: center;
  height: 25px;
  background: #e00d0d;
  color: #fff;
  line-height: 20px;
  font-size: 20px;
  cursor: pointer;
}

.tf-aq-field {
  position: relative;
  margin: 10px 0;
  overflow: hidden;
}

.tf-aq-field input, .tf-aq-field textarea {
  width: 100%;
}

.tourfic-popup-wrapper button.mfp-close {
  background-color: unset !important;
  opacity: 1;
}
.tourfic-popup-wrapper .mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: unset;
  background: unset;
}

.single-tourfic .elementor-lightbox {
  display: none !important;
}

.tf_features {
  border-top: 1px solid #0000001a;
  margin-top: 40px;
  padding: 35px 0px;
}
.tf_features .feature_list_title {
  margin: 0;
  padding-left: 8px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.tf_features .single_feature_box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 5px;
  padding: 6px 9px;
  border-radius: 5px;
  border: 1px solid #0000002e;
  box-shadow: -1px 1px 6px -1px #0000002e;
}
.tf_features .tf_feature_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tf-tour-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.tf-tour-details .tf_features {
  border-top: none;
  margin: unset;
  padding: 0;
}
.tf-tour-details .tf-tour-price {
  font-size: 20px;
}
.tf-tour-details .single_feature_box {
  padding: 4px 5px;
}
.tf-tour-details .single_feature_box img {
  width: 16px;
}

.tf-single-slide-wrapper {
  min-height: 500px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  padding: 0 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tf-hero-slider-top-icons {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 20px;
}

.tf-tours_gallery-wrap {
  min-height: 300px;
}

.tf-hero-slider-bottom-area {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 70px;
}

.tf-hero-slider-icon {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.tf-hero-slider-icon span {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #fff;
}

.tf-hero-slider-content h2 {
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -0.4px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.tf-hero-slider-wrapper {
  position: relative;
}

.tf-hero-slider-arrow {
  position: absolute;
  top: calc(50% - 30px);
  z-index: 9;
  border: none;
  background: none !important;
  color: #fff !important;
  transition: 0.3s;
}

button.tf-hero-slider-arrow.next-arrow {
  right: 0;
}

.tf-hero-slider-arrow:hover {
  color: #000 !important;
}

.tf-hero-slider-arrow:focus {
  outline: none;
}

.tf-hero-area {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 20px 70px 50px;
  background-size: cover;
  background-position: center;
}

.tf-hero-top-icons {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.tf-hero-bottom-area {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  justify-content: end;
  column-gap: 10px;
}

.tf-hero-slider-fixed {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: #000000de;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.3s;
}

.tf-hero-slider-wrapper {
  width: 1130px;
  display: inline-block;
  margin: auto;
}

.tf-hero-btm-icon {
  cursor: pointer;
  transition: 0.3s;
}

.tf-hero-slider-fixed.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.tf-hero-slider-cross-icon {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 30px;
  width: 30px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.tf-hero-slider-relative {
  position: relative;
}

.tf-tours-informations {
  display: flex;
  justify-content: center;
  -moz-column-gap: 55px;
       column-gap: 55px;
}
.tf-tours-informations .item {
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 44, 102, 0.2);
  border-radius: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tf-tours-informations .item h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.tf-tours-informations .item .icon i {
  font-size: 28px;
}
.tf-tours-informations .item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.tf_tours-content_wrapper_inner {
  padding: 0 70px;
}

.tf-page-wrapper span.tf-price .amount {
  font-weight: normal;
}

.tf_tours-title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #152B47;
  margin-bottom: 10px;
  font-weight: 400;
}

.tf-tours-map-link a {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #7893B0;
  text-decoration: none !important;
}

.tf_tours-title-area {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 50px;
  padding: 0 70px;
}

.tf-tours-price * {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #152B47;
  font-weight: normal !important;
}

.tf-tours-ratings {
  display: flex;
  justify-content: flex-end;
}

.tf-tours-ratings {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  /* Neutral/900 */
  color: #152B47;
}

.tf-tours-ratings .fa {
  color: #FFCD3D;
}

.tf-itinerary {
  padding: 50px 70px;
  background: #fff;
}
.tf-itinerary .tf-single-itinerary {
  margin: 0;
  position: relative;
  margin-bottom: 30px;
}
.tf-itinerary .tf-single-itinerary .tf-single-itinerary_inner {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 44, 102, 0.2) !important;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
}
.tf-itinerary .tf-single-itinerary span.time {
  width: 100px;
  background: #002C66;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  padding: 25px;
  margin-right: 15px;
}

.itinerary-head {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.itinerary-title h4 {
  display: flex;
}

.itinerary-head h5 {
  color: #152b47;
  display: flex;
  font-size: 18px;
  justify-content: start;
  padding-left: 0;
  width: 100%;
}

.tf-tours_itinerary_time {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px 0px 0px 5px;
  overflow: hidden;
}

.itinerary-head span.time {
  font-weight: bold;
}

.itinerary-content {
  background: #fff;
  border-radius: initial;
  overflow: hidden;
  padding: 14px 0px;
  font-size: 18px;
}

.tf-single-itinerary .itinerary-content img {
  float: left;
  padding-right: 10px;
}

.tf-single-itinerary .icon {
  transform: rotate(180deg);
  justify-content: start;
}

.tf-single-itinerary.active .icon {
  transform: rotate(0deg);
  justify-content: end;
}

.tf-single-itinerary .icon, .tf-single-itinerary.active .icon {
  display: flex;
  align-items: center;
  width: 10%;
}

.tf-single-itinerary .itinerary-content {
  display: none;
}

.inc-exc-content {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 15%;
  border: 5px solid #C4C4C4;
}

.inc-exc-content:before {
  content: url(../img/quote.png);
  font-weight: 700;
  left: 55px;
  position: absolute;
  top: 10%;
  background: #fff;
}

.inc-exc-content:after {
  content: url(../img/quote.png);
  font-weight: 700;
  right: 55px;
  position: absolute;
  bottom: 10%;
  background: #fff;
  transform: rotate(180deg);
}

.inc-exc-content h4 {
  font-size: 36px;
  font-weight: 700;
}

.inc-exc-content ul li {
  font-size: 18px;
  line-height: 28px;
}

.inc-title {
  margin-bottom: 30px;
}

.single_feature_box img {
  width: 25px;
}

.inc-exc-section {
  padding: 60px 60px;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.inc-exc-title {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.tf-exclude ul, .tf-include ul {
  list-style: none;
}

.tf-exclude ul li:before {
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  margin-right: 5px;
  color: #e12608;
}

.tf-include ul li:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  margin-right: 5px;
  color: #00698f;
}

.tf-include {
  width: 50%;
}

.tf-exclude {
  width: 50%;
}

.inc-exc-content:before {
  width: 50px;
  height: 44px;
}

.inc-exc-content ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #152B47;
}

.tf-include ul li:before, .tf-exclude ul li:before {
  margin-right: 10px;
}

.inc-exc-content h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.4px;
  color: #002C66;
}

.tf-tours_recomendation_area_wrapper {
  background: #fff;
  padding: 50px 0px;
}

.tf-tourbox-title {
  text-align: center;
  padding: 30px 30px;
}

.tf-tourbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  position: relative;
}

.single-tourbox {
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  margin: 1em;
  height: 500px;
  display: flex;
  align-items: end;
  /* Blue Dark */
  background: #002248;
  /* Neutral/100 */
  border: 5px solid #fff;
  /* Shadow 2 */
  box-shadow: 0px 5px 10px rgba(0, 44, 102, 0.2);
  border-radius: 10px;
}
.single-tourbox h3 a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin: 2px 0;
}

.tf-tourbox-info {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: rgba(2, 51, 110, 0.3);
  /* Neutral/100 */
  border: 1px solid #fff;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
  padding: 15px 8px;
  margin-bottom: 25px;
}
.tf-tourbox-info .right-info {
  text-align: right;
  width: 50%;
}
.tf-tourbox-info .left-info {
  text-align: left;
  width: 50%;
}

.tf-rating .star {
  color: #FFC314;
}

button.tf-tourbox-arrow {
  align-items: center;
  background: none !important;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 44, 102, 0.2);
  display: flex;
  height: 50px;
  justify-content: center;
  position: absolute;
  top: calc(50% - 30px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  transition: 0.3s;
  width: 50px;
  z-index: 999;
}

button.tf-tourbox-arrow.prev-arrow.slick-arrow {
  left: -60px;
}

button.tf-tourbox-arrow.next-arrow.slick-arrow {
  right: -60px;
}

.slick-initialized .slick-slide.single-tourbox {
  display: flex;
}

button.tf-tourbox-arrow {
  color: black;
}

.tf-custom-review-section-wrapper {
  padding: 30px;
  background-color: #fff;
}

.tf-single-custom-review {
  padding: 26px 20px;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 44, 102, 0.2);
  margin: 15px;
}

.tf-custom-review-slider-area {
  position: relative;
}

button.tf-cr-slider-arrow {
  position: absolute;
  z-index: 999;
  border: none;
  background: none !important;
  top: calc(50% - 30px);
  box-shadow: 0px 0px 5px rgba(0, 44, 102, 0.2);
  border-radius: 5px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

button.tf-cr-slider-arrow.next-arrow {
  right: -60px;
}

button.tf-cr-slider-arrow.prev-arrow {
  left: -60px;
}

.tf-cr-reting {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #152B47;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.tf-cr-reting i {
  color: #FFCD3D;
  font-size: 16px;
}

.tf-cr-avater-image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.tf-cr-avater-image {
  display: flex;
  justify-content: center;
}

.tf-cr-avater-meta h4 {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2px;
  text-align: center;
}

.tf-cr-avater-meta h4 span {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  display: block;
}

.tf-cr-avater-meta {
  display: flex;
  justify-content: center;
}

.tf-cr-desc p {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
  letter-spacing: 0.2px;
  color: #213650;
}

.tf-cr-desc {
  position: relative;
  margin: 0 6px;
}

.tf-cr-desc img {
  position: absolute;
  height: 16px;
  width: 16px;
  left: -20px;
  top: -5px;
}

.tf-cr-slider-arrow i {
  color: #002c66;
}

.tf-cr-slider-arrow i {
  color: #002c66;
}

.tf-custom-review-title-area {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.tf-custom-review-title-area h2 {
  font-weight: bold;
  color: #002c66;
  font-size: 36px;
}

.tf-custom-review-title-area p {
  font-size: 18px;
  line-height: 26px;
}

.tf_map_section iframe {
  min-width: 100%;
}

.tf-tours_map_area_wrapper {
  background: #fff;
}

.tf-tours_section_title {
  color: #002c66;
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.tf-tours-content {
  width: 100%;
}

.tf-tours_section {
  margin-bottom: 50px;
}

.tf-tours_nosidebar_layout .tf_content {
  width: 100%;
}

.plr-15 {
  padding: 0 15px;
}

.tf-tours_toc_area_wrapper .tf-tours-content {
  padding: 35px 0px;
}

.tf_tours-content_wrapper {
  background: #fff;
}

.tf-single-faq {
  position: relative;
  padding-left: 41px;
}
.tf-single-faq .tf-tours_single_faq_inner {
  border-bottom: 1px solid #ddd;
  background: #fff;
  /* Shadow */
  box-shadow: 0px 2px 10px rgba(2, 51, 110, 0.2);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0 10px;
}
.tf-single-faq .faq-content {
  display: none;
  padding-bottom: 20px;
  padding-left: 20px;
  position: relative;
  font-size: 18px;
  line-height: 26px;
  color: #152b47;
}
.tf-single-faq .tf-tours_faq_icon {
  position: absolute;
  left: 0px;
  top: 30px;
}
.tf-single-faq .tf-tours_faq_icon i {
  color: #002C66;
  font-size: 24px;
}
.tf-single-faq .faq-head {
  cursor: pointer;
  font-weight: 700;
  padding: 26px 14px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: #152B47;
}
.tf-single-faq .faq-head .faq-indicator {
  position: absolute;
  right: 15px;
}
.tf-single-faq .faq-head .faq-indicator i {
  font-size: 20px;
}
.tf-single-faq .faq-head .faq-indicator .fa-minus {
  display: none;
}

.tf-tours_faq h4.tf-tours_section_title {
  text-align: center;
  display: block;
  margin-bottom: 60px;
}

.tf-single-faq.active .faq-indicator .fa-minus {
  display: block;
}

.tf-single-faq.active .faq-indicator .fa-plus {
  display: none;
}

.faqs.tf-tours_faq {
  padding: 50px 70px;
  background: #fff;
}

.tf-tours_single_faq_inner.active .faq-head .faq-indicator .fa-minus {
  display: block;
}

.tf-tours_single_faq_inner.active .faq-head .faq-indicator .fa-plus {
  display: none;
}

.tf-tours_submit_review .comment-respond {
  background-color: unset !important;
  border: 0px solid #ddd !important;
  padding: 0 !important;
}
.tf-tours_submit_review div#reply-title {
  background: #002C66;
  color: white;
  text-align: center;
  display: block;
  padding: 12px 24px;
  border-radius: 5px;
  max-width: 185px;
  margin: 0 auto;
}
.tf-tours_submit_review div#reply-title span {
  display: none !important;
}

.tf-tours_submit_review .tf-comments-count-wrapper {
  display: none;
}

.tf-tours_submit_review ol.tf-comment-list {
  display: none;
}

.tf-review-wrapper {
  background: #fff;
}
.tf-review-wrapper label {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.tf-review-wrapper form#commentform {
  background: rgba(2, 51, 110, 0.1);
  padding: 50px 100px;
  overflow: hidden;
  margin-top: 30px;
}
.tf-review-wrapper .tf_comment-metas {
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  width: 48%;
  float: left;
  margin-right: 10px;
}
.tf-review-wrapper select {
  padding: 0;
  background: unset;
  border: unset;
}
.tf-review-wrapper .comment_form_fields {
  width: 50%;
  float: right;
  padding: 0px 15px;
}
.tf-review-wrapper p.form-submit input[type=submit] {
  padding: 12px 43px;
  font-size: 18px;
  font-weight: 400 !important;
  color: white !important;
  border-radius: 5px;
  background: #002c66 !important;
  border: unset !important;
}
.tf-review-wrapper p.form-submit {
  width: 100%;
  float: none;
  display: block;
  overflow: hidden;
  margin-top: 15px;
}
.tf-review-wrapper .comment_form_fields textarea {
  border: unset !important;
  height: 153px;
  border-radius: 5px;
}
.tf-review-wrapper .author-email input {
  border: unset;
  border-radius: 5px;
}
.tf-review-wrapper p.logged-in-as {
  padding-bottom: 22px;
}

.tf-tours_gallery-wrap {
  position: relative;
}

.tf-hero-btm-icon.tf-tour-gallery {
  background: rgba(26,43,72,.6);
  border-radius: 50%;
  width: 40px;
  color: #fff;
  line-height: 42px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}
.tf-hero-btm-icon.tf-tour-gallery:hover {
  background: rgba(26,43,72,.8);
}
.tf-hero-btm-icon.tf-tour-video {
  background: rgba(26,43,72,.6);
  border-radius: 50%;
  width: 40px;
  color: #fff;
  line-height: 42px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}
.tf-hero-btm-icon.tf-tour-video:hover {
  background: rgba(26,43,72,.8);
}

.tf-tour-booking-wrap {
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  background: #FAFCFE;
  box-shadow: 0px 5px 10px rgba(0, 44, 102, 0.2);
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32%;
  width: 80%;
}
.tf-tour-booking-wrap form.tf_tours_booking {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
  width: 100%;
}
.tf-tour-booking-wrap .tf_selectperson-wrap {
  width: 36%;
  color: #152B47;
}
.tf-tour-booking-wrap .tf_form-row .tf_label-row {
  margin-bottom: 0;
}
.tf-tour-booking-wrap .tf_form-row {
  color: #152B47;
}
.tf-tour-booking-wrap .tours-check-in-out {
  color: #152B47;
}

.tf-tour-booking-wrap.tf-tours-fixed {
  width: 100%;
  z-index: 10;
  background-color: #ecf0f2;
  height: 60px;
}
.tf-tour-booking-wrap.tf-tours-fixed .tf_acrselection-wrap {
  position: absolute;
  top: -237px;
}
.tf-tour-booking-wrap.tf-tours-fixed .tf_tours_booking {
  width: 80%;
}

.tf-tours-booking-btn .tf_button {
  background: #002C66;
}
.tf-tours-booking-btn .tf_button:hover {
  color: #fff;
}

form.tf_tours_booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 0;
}
form.tf_tours_booking .tf_selectperson-wrap {
  border: none;
}

.tf-tours-fixed {
  position: fixed;
  bottom: 0;
  left: 0%;
  right: 0;
}
.tf-tours-fixed button[type=submit] {
  padding: 12px;
}
.tf-tours-fixed form.tf_tours_booking {
  width: 55%;
}

/* Medium device */
@media (min-width: 767px) and (max-width: 991px) {
  .tf-tour-booking-wrap {
    width: 98%;
    padding: 0 10px;
    left: unset;
    right: unset;
  }

  form.tf_tours_booking {
    width: 100%;
  }
}
/* Mobile devices */
@media (max-width: 766px) {
  .tf-hero-area {
    margin-bottom: 30px;
  }

  .tf_tours-title-area {
    padding: 0 15px;
    flex-direction: column;
  }

  .tf_tours-title {
    font-weight: 600;
  }

  .tf-tours-price * {
    font-size: 16px;
  }

  .tf-tours-ratings {
    justify-content: flex-start;
  }

  .tf-tour-booking-wrap {
    height: auto;
    width: 95%;
  }
  .tf-tour-booking-wrap form.tf_tours_booking {
    display: block !important;
  }
  .tf-tour-booking-wrap form.tf_tours_booking .tf_selectperson-wrap {
    width: 100%;
  }
  .tf-tour-booking-wrap .tf_button {
    width: 100%;
  }

  .tf-tours-informations .item {
    width: 245px;
  }

  .tourfic-wrap.default-style button[type=submit] {
    width: 100%;
    margin-top: 10px;
  }


  .tf-tours-informations {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }
  .tf-tours-informations .item {
    margin-bottom: 15px;
  }

  .tf-tours-fixed form.tf_tours_booking {
    width: 90%;
  }

  .tf-itinerary {
    padding: 50px 15px;
  }
  .tf-itinerary .tf-single-itinerary {
    margin: 0 0 15px;
    padding-left: unset;
  }
  .tf-itinerary .tf-single-itinerary .tf-single-itinerary_inner {
    padding: 4px;
  }

  .tf-itinerary .tf-single-itinerary span.time {
    padding: 20px;
    margin-right: 10px;
  }

  .faqs.tf-tours_faq {
    background: #fff;
    padding: 15px 10px;
  }

  .tf-tour-booking-wrap.tf-tours-fixed {
    width: 95.5%;
    z-index: 99999;
    height: auto;
  }

  .tf-review-wrapper form#commentform {
    padding: 10px 0px;
  }

  .tf-review-wrapper .tf_comment-metas {
    padding: 8px;
    width: 100%;
  }

  .tf-review-wrapper .comment_form_fields {
    width: 100%;
  }

  .tf-review-wrapper {
    padding: 15px;
  }

  .tf-tours_features_area_wrapper.tf-tours_section {
    padding: 0 15px;
  }

  .inc-exc-section {
    padding: 15px;
  }

  .tf_features {
    padding: 15px 30px;
  }

  .tf_tours-content_wrapper {
    padding: 20px 15px;
  }

  .tf-tours_toc_area_wrapper .tf-tours-content {
    padding: 15px 20px;
  }

  .tf_tours-content_wrapper_inner {
    padding: 10px;
  }

  h4.tf-tours_section_title {
    font-size: 25px;
    text-align: center;
    justify-content: center;
  }

  .highlights-title h4 {
    font-size: 25px;
    text-align: center;
  }

  .tf-tours_section {
    margin-bottom: 15px;
  }

  .tf_comment-metas .comment-meta label {
    min-width: 180px;
  }

  .itinerary-head h5 {
    font-size: 17px;
  }

  .tf-tours-title-right {
    display: flex;
    justify-content: space-between;
  }

  .tf-tours-price {
    margin-right: 30px;
  }

  .tf_tours-title-left {
    display: flex;
    justify-content: space-between;
  }

  .tf-hero-pricing {
    display: flex;
    justify-content: flex-end;
  }
}
/*Archive page*/
.archive_ajax_result .price-per-night {
  line-height: 1;
}

.single-tour-inner {
  display: block;
  width: 100%;
  min-height: 149px;
  padding: 20px;
  margin: 16px 0;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: default;
  clear: both;
  align-items: top;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.tourfic-single-left {
  order: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: main-size;
  width: 200px;
  height: 200px;
}

.tourfic-single-left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tourfic-single-right {
  order: 2;
  flex-grow: 1;
  -ms-flex: 1;
  flex-basis: 200px;
  padding: 0 0 0 16px;
}

.tourfic-single-left img {
  border-radius: 3px;
}

.tourfic_hotel-title {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  display: inline-block;
  margin: 0 !important;
  padding-right: 2px;
  color: #003162;
}

.single-tour-wrap:first-child .single-tour-inner {
  margin-top: 0;
}

.tf_card_address_line, .tf_card_address_line a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

.tf_property_block_main_row {
  min-height: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.tf_item_main_block {
  order: 2;
  flex-grow: 1;
  -ms-flex: 1;
}

.tf_item_review_block {
  order: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: main-size;
  width: auto;
  max-width: 45%;
}

.reviewFloater {
  margin-left: 24px;
  float: none;
  text-align: right;
}

.sr-review-score__link {
  text-decoration: none;
}

.bui-review-score {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  flex-direction: row-reverse;
}

.bui-review-score__badge {
  background: #003162;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  vertical-align: baseline;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.bui-review-score__content {
  margin-left: 0;
  margin-right: 8px;
  text-align: right;
}

.bui-review-score__title {
  color: #003580;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.bui-review-score__text {
  color: #707070;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-top: 4px;
}

.tf_card_address_line a {
  color: #0a75c2;
}

.tf_card_address_line i {
  color: #bdbdbd;
  margin: 0 2px 2px 2px;
  font-size: 4px;
  vertical-align: middle;
}

.tf-hotel__title-wrap {
  margin-bottom: 4px;
}

.tourfic_hotel-title:hover {
  color: #b75f00;
}

.sr_rooms_table_block {
  margin-top: 8px;
}

.room_details {
  border-top: 1px solid #bdbdbd;
  padding-top: 8px;
}

.featuredRooms {
  margin: 0;
  clear: both;
  width: 100%;
  line-height: 18px;
}

.roomrow_flex {
  width: 100%;
  display: flex;
  padding: 4px;
  border-radius: 2px;
  line-height: 18px;
  font-size: 13px;
  justify-content: space-between;
}

.roomName_flex {
  flex-grow: 1;
  width: auto;
  max-width: 50%;
}

.roomPrice.roomPrice_flex.sr_discount {
  text-align: right;
  max-width: 50%;
}

.bui-price-display__value {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #383838;
}

.availability-btn {
  margin-top: 8px;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
}

.availability-btn-area {
  text-align: right;
}

.availability-btn i {
  margin-left: 8px;
}

#am_posts_navigation {
  display: none;
}

.tf-archive-shortdesc {
  line-height: 1.8;
  margin: 10px 0 15px;
  text-align: justify;
}

.tourfic-wrap .tf-archive-desc {
  margin-bottom: 12px;
}
.tf-archive-desc li {
  display: inline-block;
  margin-right: 7px;
}

.tf-archive-roomname {
  display: flex;
  margin-bottom: 12px;
}
.tf-archive-roomname span.dash {
  margin: 0 10px;
}

.single-tour-wrap,
.single-tour-wrap * {
  transition: all 0.3s ease-out;
}

.archive_ajax_result.tours-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  /*.roomPrice.roomPrice_flex.sr_discount {
      display: none;
  }*/
}
.archive_ajax_result.tours-grid .single-tour-wrap {
  width: 50%;
  padding: 0 5px;
  margin-bottom: 10px;
  flex: 0 0 50%;
}
.archive_ajax_result.tours-grid .single-tour-inner {
  margin: 0;
  height: 100%;
  padding: 20px;
}
.archive_ajax_result.tours-grid .tourfic-single-left {
  width: 100%;
  margin-bottom: 16px;
}
.archive_ajax_result.tours-grid .tourfic-single-right {
  padding: 0;
  width: 100%;
  height: 100%;
}
.archive_ajax_result.tours-grid .tf_item_review_block {
  max-width: 40%;
}
.archive_ajax_result.tours-grid .tf_item_main_block {
  max-width: 60%;
}
.archive_ajax_result.tours-grid .bui-review-score__title {
  font-size: 14px;
}
.archive_ajax_result.tours-grid .tf_map-link {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}
.archive_ajax_result.tours-grid .tf_map-link svg {
  min-width: 20px;
}
.archive_ajax_result.tours-grid .tf_map-link a {
  overflow: hidden;
  text-overflow: ellipsis;
}
.archive_ajax_result.tours-grid .roomrow_flex {
  padding: 0;
  flex-wrap: wrap;
}
.archive_ajax_result.tours-grid .roomName_flex {
  width: 100%;
  max-width: 100%;
}
.archive_ajax_result.tours-grid .availability-btn-area .tf_button {
  width: 100%;
  margin-top: 15px;
}
.archive_ajax_result.tours-grid .roomPrice.roomPrice_flex.sr_discount {
  text-align: left;
}
.archive_ajax_result.tours-grid .roomPrice.roomPrice_flex.sr_discount {
  margin: 10px 0;
}

.tf-action-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.tf-list-grid {
  display: flex;
  align-items: center;
}
.tf-list-grid a {
  display: inline-flex;
  margin-left: 10px;
  opacity: 0.4;
}
.tf-list-grid a:hover, .tf-list-grid a.active {
  opacity: 1;
}

.tf-popular_filter {
  margin-top: 10px !important;
}
.tf-popular_filter li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tf-popular_filter li label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.tf-popular_filter li input {
  height: 16px;
  width: 16px;
  margin-right: 7px;
}
.tf-popular_filter li span {
  opacity: 0.8;
  font-size: 90%;
}

.tf_pax {
  white-space: nowrap;
}

/* Medium devices (0 - 991px) */
@media (max-width: 991px) {
  .archive_ajax_result .single-tour-wrap {
    width: 100% !important;
    flex: none;
    margin-bottom: 20px;
  }

  .tf_search_result .tf-action-top {
    display: none;
  }

  .archive_ajax_result .tourfic-single-left {
    width: 100%;
    margin-bottom: 16px;
  }

  .archive_ajax_result .single-tour-inner {
    margin: 0;
    height: 100%;
    padding: 20px;
  }

  .archive_ajax_result tourfic-single-left {
    width: 100%;
    margin-bottom: 16px;
  }

  .archive_ajax_result .tourfic-single-right {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .archive_ajax_result .roomrow_flex {
    padding: 0;
    flex-wrap: wrap;
  }

  .archive_ajax_result .roomName_flex {
    width: 100%;
    max-width: 100%;
  }

  .archive_ajax_result .tf_item_main_block {
    max-width: 60% !important;
  }

  .tf_item_review_block {
    max-width: 40%;
  }

  .archive_ajax_result .bui-review-score__title {
    font-size: 14px;
  }

  .archive_ajax_result .roomPrice.roomPrice_flex.sr_discount {
    text-align: left;
    margin: 10px 0;
  }

  .archive_ajax_result .availability-btn-area .tf_button {
    width: 100%;
    margin-top: 15px;
  }
}
/* Medium devices (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .tf_content {
    width: 70%;
  }

  .tf_sidebar {
    width: 30%;
  }
}
/* Mobile devices */
@media (max-width: 767px) {
  .recomended_inner {
    margin-left: -15px;
    margin-right: -15px;
    clear: both;
  }

  .recomended_inner .single_recomended_item {
    width: 50%;
    float: left;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .tf_container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .tf_content {
    width: 100%;
  }

  .tf_sidebar {
    width: 100%;
  }

  .tf_title-area {
    display: block;
  }

  .tf_title-right {
    margin: 10px 0;
  }

  .tf_title-left {
    width: 50%;
    float: left;
  }

  /*Tourbox styles*/
  .single-tourbox {
    width: 100%;
    height: 320px;
  }

  /**Information box*/
  .tf_informations .item {
    width: 100%;
    margin-bottom: 15px;
  }

  /*Inlcude Exclude*/
  .inc-exc-content {
    display: block;
    padding: 25px;
  }
  .inc-exc-content .tf-include, .inc-exc-content .tf-exclude {
    width: 100%;
    float: none;
    margin: 15px 0;
  }

  .inc-exc-content:before {
    left: 4%;
    top: 2%;
  }

  .inc-exc-content:after {
    bottom: 2%;
    right: 4%;
  }
}
@media (max-width: 450px) {
  .recomended_inner .single_recomended_item {
    width: 100%;
    float: none;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
