/**
 * Global re-usable classes
 */
/* Display */
.tf-d-b {
    display: block !important;
}
.tf-d-g {
    display: grid !important;
}
.tf-d-f {
    display: flex !important;
}
.tf-d-i {
    display: inline !important;
}
.tf-d-ib {
    display: inline-block !important;
}
.tf-d-ig {
    display: inline-grid !important;
}
.tf-d-if {
    display: inline-flex !important;
}
.tf-d-n {
    display: none !important;
}
/* Position */
.tf-p-a {
    position: absolute !important;
}
.tf-p-f {
    position: fixed !important;
}
.tf-p-r {
    position: relative !important;
}

/**
 * tf-tooltip
 */
.tf-tooltip {
    position:relative;
}
.tf-tooltip .tf-top {
    top: -20px;
    left: 50%;
    transform: translate(-50%, -74%);
    padding: 10px 10px;
    color: #FFFFFF;
    background-color: #333333;
    font-weight: normal;
    font-size: 12px;
    border-radius: 4px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    border: 1px solid #333333;
    box-shadow: 0 1px 8px transparent;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
}
.tf-tooltip:hover .tf-top {
    visibility:visible; opacity:1;
}
.tf-tooltip .tf-top i.tool-i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}
.tf-tooltip .tf-top i.tool-i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#333333;
    border:1px solid #333333;box-shadow:0 1px 8px transparent;
}

/*================================
|            Hotel CSS           |
================================*/
.tf_room-table .availability-table tbody tr:nth-child(odd) td{
    background: #fff;
}

/* the slides */
.slick-slide {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

/* the parent */
.slick-list {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

/** 
 * TF Hotel Sidebar Booking
 */
.tf-hotel-side-booking .tf_form-inner {
    position: relative;
    display: grid;
    padding: 0 0 0 0;
    background: #fff;
    grid-template-columns: 38px auto;
    align-items: center;
    justify-items: center;
}
.tf-hotel-side-booking .tf_form-inner i{
    color: #bfbfbf;
    font-size: 16px;
}

/**
 * Room table 
 */
.hotel-room-wrap {
    overflow-x: auto;
    width: 100%;
}

.tf_room-table th.description {
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}
.tf_room-table th.pax {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
}
.tf_room-table th.pricing {
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
}
.tf_room-table th.reserve {
    border-top: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
}

.tf_room-table td.description {
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}
.tf_room-table td.pax {
    border-bottom: 1px solid #f2f2f2;
    min-width: 80px;
}
.tf_room-table td.pricing {
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.tf_room-table td.reserve {
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

/**
 * Hotel Room Details
 */
.room-detail-icon {
    text-align: center;
    margin: 15px 0 0 0;
}
.room-detail-icon .room-icon-wrap{
    border: 1px solid #eaeef3;
    border-radius: 5px;
    padding: 8px 10px 4px 10px;
}
.room-detail-icon  .room-icon-wrap i{
    font-size: 18px;
    color: #5e6d77;
}
.room-detail-icon .icon-text{
    font-size: 14px;
    color: #5e6d77;
}

.hotel-room-availability, .hotel-room-book {
    background: #003162;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    border: 1px solid #003162;
    border-radius: 2px;
    padding: 6px 12px;
    white-space: nowrap;
}
#hotel-room-selected {
    width: 50%;
    height: 30px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    outline: none;
}