.tf-image-radio-group {
    display: flex;
    align-items: initial;
    flex-wrap: wrap;

    li {
        display: inline-block;
        margin-right: 20px;
        cursor: n-resize;
        border-radius: 5px;

        .tf-image-checkbox img {
            width: 240px;
            object-fit: cover;
            object-position: top;
            height: 180px;
            transition: object-position 2s ease-in-out, border-color 0.3s ease-in-out;

            &:hover {
                object-position: bottom;
            }
        }
        .tf-image-checkbox span.tf-template-title{
            display: block;
            text-align: center;
            margin-top: 5px;
            font-weight: 500;
            cursor: pointer;
        }
        .tf-image-checkbox > input {
            display: none
        }

        .tf-image-checkbox > img {
            cursor: pointer;
            border: 3px solid transparent !important;
        }

        .tf-image-checkbox > input:checked + img {
            border-color: #607085 !important;
            border-radius: 5px;
        }

        &.tf-pro-item{
            position: relative;

            span{
                position: absolute;
                top: -1px;
                right: -2px;
                background-color: #295BFF;
                padding: 3px 10px;
                color: $color-white;
                font-size: 0.75rem;
                font-weight: 600;
                line-height: 13px;
                border-radius: 3px;
                z-index: 9;
            }

            img{
                opacity: .5;
                cursor: not-allowed;
            }
        }
    }
}