.tf_template_3_hotel_archive .flatpickr-calendar {
    left: 495px !important;
    @media only screen and (max-width: 1280px) {
        left: 285px !important;
    }
    @media #{$max1024}{
        left: 170px !important;
    }
    @media only screen and (max-width: 660px) {
        left: 30px !important;
    }
}