.post-type-archive-tf_hotel,
.page-template-tf-search{
    .tf-archive-template{
        &__one{
            .flatpickr-calendar {
                left: 495px;
                @media only screen and (max-width: 1280px) {
                    left: 285px;
                }
                @media #{$max1024}{
                    left: 170px;
                }
                @media only screen and (max-width: 660px) {
                    left: 30px;
                }
            }
        }
    }
}