.tf_features {
    .feature-list-title {
        margin: 0;
        padding-left: 8px;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        font-size: 13px;
    }
    i {
        color: $color-success;
    }
    .single-feature-box {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-right: 10px;
        padding: 6px 10px;
        border-radius: 4px;
        border: 1px solid $color-heading;
        box-shadow: -1px 1px 6px -1px $color-heading;
        margin-top: 10px;
    }
    .tf-feature-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}
.tf-toc-wrap{
    background-color: $color-light-bg;
    td {
        white-space: break-spaces;
    }
}
.tf-highlight-wrapper{
    background-color: $color-light-bg;
}
.tf-travel-itinerary-wrapper{
    background-color: $color-light-bg;
}
.tf-suggestion-wrapper{
    background-color: $color-light-bg;
}