.single-tf_carrental{
    .tf-single-template{
        &__one{
            .tf-short-description,
            .tf-full-description{
                color: $color-text;
                font-size: 1rem;
                font-weight: 400;
                p{
                    color: $color-text;
                    font-size: 1rem;
                    font-weight: 400;
                    margin: 0;
                    
                }
                span.tf-see-description,
                span.tf-see-less-description{
                    color: $color-primary;
                    cursor: pointer;
                }
            }
            .tf-full-description{
                display: none;
            }
        }
    }
}