/* Availability */
.tf-hotel-availability-form{
    padding: 24px;
    border-radius: 8px;
    background: $t4-orange-100;

    //.tf-field-group.tf_form-inner,
    .tf-field-group {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;

        svg.tf-hotel-booking-form-icon{
            position: absolute;
            left: 16px;
        }
        .tf-field {
            border: 1px solid $t4-orange-200 !important;
            background: #fff !important;
            padding: 15px 16px 15px 37px !important;
            color: $t4-paragraph !important;
            font-size: 14px !important;
            line-height: 16px;
            height: 48px;

            &:focus{
                outline: none;
                border: none;
            }
        }
        input::placeholder {
            font-weight: $font-size-normal;
            font-size: 14px;
            color: $color-primary;
        }
    }

    .tf-date-required .tf-field{
        border-color: red !important;
    }

    .tf_acrselection-child{
        margin-bottom: 0;
    }

    .acr-inc,
    .acr-dec {
        width: inherit;
        height: inherit;
        background-color: transparent;
        border: none;
        border-radius: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 0;
        min-height: inherit;
        min-width: inherit;

        svg{
            width: 20px;
        }
    }

    .acr-select {
        display: flex;
        align-items: center;
        width: 125px;

        input[type=number] {
            width: 56px !important;
            border-radius: 4px;
            background-color: #FBF4EF !important;
            font-size: 14px !important;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    .tf-hotel-error-msg{
        display: none;
        margin-top: 8px;
        color: red;
    }

    .tf-btn{
        margin-top: 24px;
    }
    .tf-btn-normal.btn-primary{
        margin-top: 0;
        padding: 16px;
        border-radius: 6px;
        background-color: $t4-primary !important;

        &:hover {
            background-color: $t4-orange-500 !important;
        }
    }
}