/* Facilities */
.tf-hotel-faqs-section {
    padding: 24px;
    border-radius: 4px;
    background: $t4-orange-100;

    .tf-hotel-faq-title-area {
        @include flexbox();
        @include justify-content(space-between);
        align-items: center;
        cursor: pointer;

        .tf-section-title {
            color: $t4-orange-1000;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
            margin-bottom: 0;
        }

        i {
            font-size: 32px;
            color: $t4-primary;
            margin-right: -8px;
        }

        .hotel-faq-icon-up.active,
        .hotel-faq-icon-down {
            display: none;
        }
    }

    .tf-hotel-faqs {
        margin-top: 24px;

        .tf-faq-single {
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid $t4-orange-200;

            &:last-child{
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }

            .tf-faq-collaps{
                @include flexbox();
                @include align-items(center);
                @include justify-content(space-between);
                cursor: pointer;

                span.title{
                    color: $t4-orange-1000;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 18px;
                }

                .faq-icon{
                    font-size: 18px;
                    color: $t4-orange-1000;

                    i.fa-plus{
                        display: block;
                    }
                    i.fa-minus{
                        display: none;
                    }
                }
            }

            .tf-faq-content{
                display: none;
                color: $t4-paragraph;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                margin-top: 8px;
            }

            &.active{
                .tf-faq-collaps {
                    .faq-icon {
                        i.fa-plus {
                            display: none;
                        }
                        i.fa-minus {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}