/* Map */
#hotel-map-location{
    padding: 24px;
    border-radius: 8px;
    background: $t4-orange-100;

    #hotel-location,
    iframe{
        border-radius: 4px;
    }

    .tf-whats-around{
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px solid $t4-orange-200;

        .tf-whats-around-title{
            color: $t4-orange-1000;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            display: inline-block;
            margin-bottom: 16px;
        }

        ul{
            list-style: none;
            @include flexbox();
            @include flex-direction(column);
            gap: 16px;

            li{
                @include flexbox();
                @include justify-content(space-between);
                gap: 24px;
                color: $t4-paragraph;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;

                i{
                    margin-right: 8px;
                }
            }
        }
    }
}