/* Review */
.tf-review-wrapper{

    .tf-section-title {
        color: $t4-orange-1000;
        font-size: 18px !important;
        font-weight: 500 !important;
        line-height: 21px !important;
        margin-bottom: 24px !important;
    }

    .tf-review-box{
        padding: 24px;
        border-radius: 4px;
        background: $t4-orange-100;
    }

    .tf-review-data.tf-box {
        padding: 24px;
        border-radius: 4px;
        background: $t4-orange-100;
        box-shadow: none;

        .tf-review-data-inner{
            gap: 0;
        }

        .tf-review-data{
            flex-basis: 130px;
            margin-right: 32px;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
        }
        .tf-review-data-average p{
            padding: 16px 20px;
            background: $t4-orange-200;
            font-size: 30px !important;
            line-height: 46px;
            color: $t4-orange-500 !important;
            font-weight: 500 !important;
            border-radius: 8px;
            width: 100%;
            height: 69px;
            @include flexbox();
            @include justify-content(center);

            span{
                font-size: 16px;
                display: inline-block;
                margin-top: 10px;
            }
        }

        .tf-review-all-info {
            @include flexbox();
            @include flex-direction(column);
            gap: 8px;
            margin-top: 24px;

            span{
                color: $t4-orange-1000;
                font-size: 16px;
                font-weight: 500;
                line-height: 18px;
            }

            .tf-list{
                margin-top: 0;
                li {
                    margin-top: 0;
                    color: $t4-orange-500 !important;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;

                    i{
                        width: auto;
                        margin-right: 8px;
                    }
                }
            }
        }


        .tf-review-data-features {
            flex-basis: calc(100% - 162px);
            background-color: transparent;
            box-shadow: none;
            padding: 0;

            .tf-percent-progress{
                column-gap: 32px;
                row-gap: 16px;
            }
            .tf-progress-bar {
                height: 5px;
                background: $t4-orange-200;
                border-radius: 32px;
                margin-bottom: 8px;

                .percent-progress{
                    background: $t4-orange-500;
                }
            }

            .tf-progress-item {
                width: calc(50% - 16px);
                font-size: 14px !important;
                font-weight: 400 !important;
                line-height: 16px !important;
                margin-bottom: 0;

                .feature-label{
                    color: $t4-paragraph;
                }
                .feature-rating{
                    color: $t4-orange-500;
                    font-weight: 500 !important;
                }
            }

        }
    }

    .tf-review-reply{
        border-bottom: none;
        padding: 24px;
        border-radius: 4px;
        background: $t4-orange-100;
        margin-top: 32px;

        .tf-review-details{
            .tf-review-ratings {
                i {
                    color: #FF6B00;
                }
                h3{
                    font-size: 20px;
                }
            }
            .tf-review-date{
                li{
                    color: $color-black;
                    i{
                        color: $color-black;
                    }
                }
            }
        }

        .tf-review-reply-data{
            gap: 32px;
            padding-bottom: 32px;
            margin-bottom: 32px;
            border-bottom: .5px solid rgba(110, 101, 94, .3);

            &:last-child{
                padding-bottom: 0;
                margin-bottom: 0;
                border: none;
            }
        }
        .tf-review-author {
            max-width: inherit !important;

            img {
                width: auto;
                height: auto;
            }
        }
        .tf-review-details{
            max-width: calc(100% - 128px);

            .tf-review-author-name{
                @include flexbox();
                @include justify-content(space-between);
                @include align-items(center);

                h3{
                    color: $t4-orange-1000;
                    font-size: 14px !important;
                    font-weight: 500 !important;
                    line-height: 22px !important;
                    text-transform: capitalize;
                }

                .tf-review-date{
                    color: $t4-orange-1000;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
            .tf-review-ratings{
                span{
                    display: none;
                }
                div{
                    @include flexbox();
                    @include align-items(center);
                    gap: 8px;
                }
            }
            .tf-review-message{
                margin-top: 16px;

                p{
                    color: $t4-paragraph;
                    font-size: 14px !important;
                    font-weight: 400;
                    line-height: 24px !important;
                }
            }
        }
    }

    div.tf-review-form{
        margin-top: 24px;
        padding: 24px;
        border-radius: 4px;
        background: $t4-orange-100;

        .tf-section-title {
            margin-bottom: 8px !important;
        }

        form.tf-review-form{
            padding-bottom: 0;
        }

        .tf-rating-wrapper{
            gap: 24px;
            margin: 24px 0 32px 0;
            @include flexbox();
            @include justify-content(space-between);

            .tf-form-single-rating {
                width: 196px;

                &>label{
                    color: $t4-orange-1000;
                    font-size: 14px !important;
                    font-weight: 500 !important;
                    line-height: 22px !important;
                }

                .ratings-container{
                    margin-left: -5px;

                    label::before {
                        color: #FFC700;
                    }
                }
            }

            &.tf-star-base-10{
                .tf-form-single-rating {
                    width: 230px;
                }
            }
        }

        .review-desc{
            textarea{
                border-radius: 4px;
                border: $t4-orange-200;
                background: #fff;
                padding: 8px 16px;
                color: $t4-paragraph;
                height: 112px;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
            }
        }
        .tf-visitor-info{
            column-gap: 32px;
            grid-template-columns: calc(50% - 16px) calc(50% - 16px);

            input{
                border-radius: 4px;
                border: $t4-orange-200;
                background: #fff;
                padding: 8px 16px;
                color: $t4-paragraph;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                height: 36px;
            }
        }

        .tf-review-submit{
            margin: 24px 0 0 0;

            input[type="submit"]{
                padding: 16px 32px !important;
                border-radius: 4px !important;
                background-color: $t4-primary !important;
                font-size: 15px !important;
                font-weight: 700;
                border: none !important;

                &:hover {
                    background-color: $t4-paragraph !important;
                }
            }
        }
    }
}