/* Description */
.tf-hotel-desc-section {
    @include flexbox();
    padding: 24px;
    flex-direction: column;
    align-self: stretch;
    border-radius: 4px;
    background: $t4-orange-100;

    p {
        margin: 0;
        padding: 0;
        color: $t4-paragraph;
    }

    .tf-short-description {
        color: #99948D;
    }

    span.tf-see-description,
    span.tf-see-less-description {
        color: #595349;
        cursor: pointer;
    }

    .tf-full-description {
        display: none;
        color: #99948D;
    }

    .tf-hotel-description {
        margin-bottom: 24px;
    }

    .tf-hotel-features {
        & > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            @include flexbox();
            @include flex-wrap();
            gap: 18px 36px;

            li {
                @include flexbox();
                color: $t4-paragraph;

                i {
                    margin-right: 12px;
                    font-size: 20px;
                }
            }
        }
    }
}