/* Enquiry */
.tf-send-inquiry{
    padding: 24px;
    border-radius: 8px;
    background: $t4-orange-100;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    gap: 16px;

    .tf-enquiry-icon-wrap{
        height: 64px;
        width: 64px;
        line-height: 64px;
        text-align: center;
        border-radius: 50%;
        background-color: $t4-orange-200;

        i{
            font-size: 34px;
            color: $t4-primary;
        }
    }

    h5{
        color: $t4-orange-1000;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
    }
    p{
        color: $t4-paragraph;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }
    .tf-btn{
        width: auto;
        .tf-send-inquiry-btn{
            border-radius: 4px;
            background: $t4-primary;
            padding: 16px 32px;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            display: inline-block;
            text-align: center;
            transition: .3s all ease;
            text-decoration: none;

            &:hover {
                background-color: $t4-paragraph;
            }
        }
    }
}