.section-heading {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 600;
}
h3.section-heading {
    font-size: 24px;
}

.fancybox-navigation .fancybox-button--arrow_left > div,
.fancybox-navigation .fancybox-button--arrow_right > div{
    background-color: $color-heading;
}

.tf-title-area {
    h1 {
        font-size: 35px;
        margin-top: 0;
        margin-bottom: 6px;
        @media only screen and (max-width: 767px){
            font-size: 28px;
        }
    }
    &.tf-tour-title {
        @media only screen and (max-width: 650px) {
            text-align: center;
        }
    }

    .tf-title-wrap {
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 650px) {
            display: block;
        }
    
        .tf-title-left {
            span.post-type {
                background: $color-primary;
                color: $color-white;
                padding: 0 10px;
                font-size: 13px;
                border-radius: 25px;
                margin-bottom: 5px;
                display: inline-block;
            }
        }
    
        .tf-title-right {
            display: flex;
            align-items: center;
            column-gap: 5px;
            @media only screen and (max-width: 600px) {
                margin-top: 15px;
                justify-content: end;
            }
            .tf-wishlist-button {
                font-size: 24px;
                cursor: pointer;
                margin: 0 5px 0 0;
                line-height: 1;
            }
        }
    }
}

.tf-single-rating {
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    z-index: 999;
    display: inline-block;
    background: rgba(19, 55, 116, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    padding: 8px;
    color: $color-white;
    border-radius: 4px;
    position: relative;

    @media only screen and (max-width: 600px) {
        font-size: 14px;
        padding: 6px;
    }

    i {
        font-size: 14px;
        color: $color-primary;
    }
    span {
        margin: 0 3px 0 5px;
        font-weight: 700;
        font-size: 18px;

        @media only screen and (max-width: 600px) {
            font-size: 14px;
        }
    }
}
.tf_room_name_inner {
    padding-top: 20px;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    .slick-track {
        transform: translate3d(0, 0, 0);
        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        &:before {
            display: table;
            content: "";
        }
        &:after {
            display: table;
            content: "";
            clear: both;
        }
    }
    .slick-list {
        transform: translate3d(0, 0, 0);
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
        margin-left: -5px !important;
        margin-right: -5px !important;
        &:focus {
            outline: none;
        }
    }

    .slick-slide {
        margin-left: 5px !important;
        margin-right: 5px !important;
        
        img {
            display: block;
        }
    }

    &.slick-initialized {
        .slick-slide {
            display: block;
            @media #{$tfmax767}{
                margin: 0px !important;
            }
        }
    }
}

.tf_form-row {
    .tf_label-row {
        margin-bottom: 15px;
        display: block;
    }
    .tf_form-inner {
        input[type=text] {
            width: 100%;
            background: transparent;
            border: 0;
            box-shadow: none;
            height: 45px;
            margin: 0px;
            &:focus {
                background: transparent;
                border: 0;
                outline: 0;
            }
        }
        select {
            width: 100%;
            background: transparent;
            border: 0;
            box-shadow: none;
            height: 45px;
            margin: 0px;
            &:focus {
                background: transparent;
                border: 0;
                outline: 0;
            }
        }
    }
}
.tf_booking-widget {
    background: $color-light-bg;
    background: linear-gradient(to bottom, $color-light-bg 0, $color-light-bg 100%);
    border-color: $color-light-bg;
    padding: 20px;
    border-radius: 4px;
    font-size: 14px;
    @media only screen and (max-width: 830px) {
        margin-bottom: 0;
    }
    #check-in-out-date {
        min-width: 150px;
    }
    .tf_form-row {
        .tf_btn {
            padding: 15px 20px;
            width: 100%;
        }
    }
}
.tf-hotel-side-booking {
    .tf_form-inner {
        position: relative;
        display: grid;
        padding: 0;
        background: $form-input-bg;
        grid-template-columns: 38px auto;
        @include align-items(center);
        justify-items: center;
        i {
            color: $color-text;
            font-size: 16px;
        }
    }
    #check-in-out-date {
        min-width: 150px;
        padding: 0;
    }
}

.tf_acrselection-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 12px;
    background: $color-white;
    padding: 24px 24px 8px;
    min-width: 250px;
    border-radius: 4px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    width: 100%;
    display: none;
}
.tf_acrselection {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    margin-bottom: 16px;

    .acr-select {
        @include flexbox();
        @include align-items(center);
        width: 125px;

        input[type=number] {
            width: 50px !important;
            padding: 0px !important;
            margin: 0px !important;
            border: 0px !important;
            box-shadow: none;
            background: transparent !important;
            text-align: center;
            appearance: textfield !important;
            -moz-appearance: textfield !important;

            &:focus {
                outline: 0;
            }
        }
    }

    .acr-dec {
        width: 30px;
        height: 30px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: $color-white;
        color: $color-secondary;
        border-color: $color-secondary;
        border: 1px solid $color-secondary;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 7px 15px;
        cursor: pointer;
        font-family: inherit;
        text-decoration: none;
        box-sizing: border-box;
        vertical-align: middle;
        position: relative;
        min-height: 36px;
        min-width: 36px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        &:hover {
            color: $color-text;
            border-color: $color-text;
        }
    }
    .acr-inc {
        width: 30px;
        height: 30px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: $color-white;
        color: $color-secondary;
        border-color: $color-secondary;
        border: 1px solid $color-secondary;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 7px 15px;
        cursor: pointer;
        font-family: inherit;
        text-decoration: none;
        box-sizing: border-box;
        vertical-align: middle;
        position: relative;
        min-height: 36px;
        min-width: 36px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        &:hover {
            color: $color-text;
            border-color: $color-text;
        }
    }
}
.tf-search-form-field-icon {
    margin-right: 8px;
}
.tf_destination-wrap {
    border-right: 1px solid $color-border;
    display: table-cell;
    vertical-align: middle;

    @media screen and (max-width: 767px) {
        width: 100%;
        display: block;
    }

    .tf_input-inner {
        padding: 0 15px;
    }
}
.tf_selectdate-wrap {
    border-right: 1px solid $color-border;
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
    width: 20%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media screen and (max-width: 767px) {
        width: 100%;
        display: block;
        padding: 10px 20px !important;
        border-bottom: 1px solid $color-gray;

        &.tf_more_info_selections {
            padding: 20px !important;
        }
    }

    .tf_input-inner {
        @include flexbox();
        @include align-items(center);
        cursor: pointer;
    }
}
.tf_selectperson-wrap {
    border-right: 1px solid $color-border;
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
    width: auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media screen and (max-width: 767px) {
        width: 100%;
        display: block;
        padding: 20px !important;
        border-bottom: 1px solid $color-gray;
    }

    .tf_input-inner {
        @include flexbox();
        @include align-items(center);
        cursor: pointer;
    }
    .person-sep {
        padding: 0 8px;
        position: relative;
        white-space: nowrap;
        &:after {
            content: "";
            position: absolute;
            height: 2px;
            background: $color-light-bg;
            width: 2px;
            left: 0;
            top: 0px;
            z-index: 2;
            right: 0;
            text-align: center;
            margin: 0 auto;
        }
    }
    .adults-text {
        white-space: nowrap;
    }
    .child-text {
        white-space: nowrap;
    }
    .room-text {
        white-space: nowrap;
    }
    .infant-text {
        white-space: nowrap;
    }
}
.tf_submit-wrap {
    border-right: 1px solid $color-border;
    display: table-cell;
    vertical-align: middle;

    @media screen and (max-width: 767px) {
        width: 100%;
        display: block;
    }
}

.tf-review-form-container {
    min-width: 600px;
    padding: 0 !important;
    margin: 0 !important;
    background: $color-white !important;
    @media only screen and (max-width: 1000px) {
        min-width: 500px;
    }
    @media only screen and (min-width: 1000px) {
        min-width: 800px;
    }
    @media screen and (max-width: 767px) {
        min-width: auto;
    }
    .logged-in-as {
        display: none;
    }
    .tf-rating-wrapper {
        display: grid;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
        column-gap: 40px;
        row-gap: 15px;
        margin: 0 0 80px 0;

        @media screen and (max-width: 767px) {
            grid-template-columns: 100%;
        }
        .tf-form-single-rating {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;
            label {
                color: $color-text;
                font-style: normal;
                font-weight: 500 !important;
                font-size: 16px !important;
                line-height: 1 !important;
                text-transform: capitalize !important;
            }
        }
    }
    .tf-form-single-rating {
        .error {
            color: $color-danger;
        }
        .ratings-container {
            line-height: 1;
            unicode-bidi: bidi-override;
            direction: rtl;
            label {
                padding: 0;
                margin: 0;
                height: auto;
                line-height: 1;
                color: transparent;
            }
            >input {
                display: none;
            }
        }
        .ratings-container.star10 {
            width: 220px;
        }
        .ratings-container.star5 {
            width: 110px;
        }
    }
    .ratings-container {
        >input+label {
            text-indent: -9999px;
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            overflow: hidden;
            width: 22px;
            white-space: nowrap;
            cursor: pointer;
            color: transparent;
            &:before {
                text-indent: 9999px;
                display: inline-block;
                content: "\f005";
                color: $color-warning;
                font-size: 18px;
            }
            &:hover~label {
                &:before {
                    content: "\f005";
                    color: $color-warning;
                    font-weight: 900;
                }
            }
            &:hover {
                &:before {
                    content: "\f005";
                    color: $color-warning;
                    font-weight: 900;
                }
            }
        }
        >.star-cb-clear+label {
            text-indent: 9999px;
            text-indent: -9999px;
            width: 0.5em;
            margin-left: -0.5em;
            &:before {
                width: 0.5em;
            }
        }
        >input {
            &:checked~label {
                &:before {
                    content: "\f005";
                    color: $color-warning;
                    font-weight: 900;
                }
            }
        }
        &:hover {
            >input+label {
                &:before {
                    content: "\f005";
                    color: $color-warning;
                }
                &:hover~label {
                    &:before {
                        content: "\f005";
                        color: $color-warning;
                        font-weight: 900;
                    }
                }
                &:hover {
                    &:before {
                        content: "\f005";
                        color: $color-warning;
                        font-weight: 900;
                    }
                }
            }
        }
    }
    .review-desc {
        textarea {
            background: $color-gray-light;
            border: 1px solid $color-border;
            border-radius: 4px;
            padding: 16px 8px 16px 16px;
            height: 160px;
            outline: none;
            color: $color-text;
            box-shadow: none;
            width: 100%;
        }
    }
    .tf-visitor-info {
        display: grid;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
        column-gap: 40px;
        margin: 40px 0 0 0;
        input {
            background: $color-light-bg;
            border: 1px solid $color-border;
            box-sizing: border-box;
            border-radius: 4px;
            height: 56px;
            padding: 16px 8px 16px 16px;
            outline: none;
            color: $color-text;
            box-shadow: none;
            width: 100%;
        }
        .error {
            color: $color-danger;
        }
    }
    .tf-review-submit {
        margin: 25px 0 0 0;
    }
    form.tf-review-form {
        @media only screen and (max-width: 1000px) {
            gap: 20px;
        }
    }
}
#tf-rating {
    .logged-in-as {
        text-align: center;
        margin-bottom: 25px;
    }
}
.tf-review-container {
    .no-comments {
        display: none;
    }
    .tf-total-review {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 25px 0;
        .tf-total-average {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            div {
                width: 60px;
                height: 60px;
                background: $color-primary;
                border-radius: 4px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 16px;
                color: $color-white;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
            }
            span {
                color: $color-text;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin: 0px 16px;
            }
        }
    }
    .tf-review-progress-bar {
        background: $color-light-bg;
        display: grid;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
        column-gap: 40px;
        row-gap: 20px;
        padding: 24px;
        border: 1px solid $color-border;
        box-sizing: border-box;
        border-radius: 4px;
        margin: 0 0 25px 0;

        @media (min-width: 768px) and (max-width: 991px) {
            grid-template-columns: auto;
        }
        @media only screen and (max-width: 600px) {
            grid-template-columns: auto;
        }
        .tf-single {
            display: grid;
            grid-template-columns: calc(50% - 15px) calc(50% - 15px) 30px;
            align-items: center;
            .tf-text {
                text-align: left;
                color: $color-text;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1;
                text-transform: capitalize;
            }
            .tf-p-bar {
                width: 100%;
                height: 7px;
                background: $color-light-bg;
                border-radius: 4px;
                position: relative;
                overflow: hidden;
                .percent-progress {
                    position: absolute;
                    width: 0;
                    background-color: $color-primary;
                    height: 100%;
                    transition: width 1s ease-in-out;
                }
            }
            .tf-p-b-rating {
                text-align: right;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 1;
                color: $color-text;
            }
        }
    }
    .no-review {
        h4 {
            text-align: center;
            color: $color-heading;
            margin-bottom: 10px;
        }
        .btn-styled {
            padding: 18px 20px;
        }
    }
}
.tf-single-review {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    column-gap: 20px;
    row-gap: 40px;

    @media (min-width: 768px) and (max-width: 991px) {
        grid-template-columns: auto;
    }
    @media only screen and (max-width: 600px) {
        grid-template-columns: auto;
    }

    &.tf-reviews-slider ul.slick-dots {
        margin: 0;
    }

    .tf-single-details {
        display: grid;
        grid-template-columns: 56px calc(100% - 72px);
        column-gap: 16px;
        background: $color-light-bg;
        padding: 25px 25px 35px;
        border-radius: 4px;
    }
    .tf-review-avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        overflow: hidden;
    }
    .tf-review-details {
        .tf-name {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 1;
            color: $color-heading;
            margin: 0 0 8px 0;
            text-transform: capitalize;
        }
        .tf-date {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1;
            color: $color-text;
            letter-spacing: 0.2px;
            margin: 0 0 8px;
        }
        .tf-rating-stars {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 5px;
            align-items: center;
            justify-content: start;
            line-height: 1;
            i {
                color: $color-primary;
                font-size: 10px;
                height: 14px;
            }
        }
        .tf-description {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: $color-text;
            margin: 8px 0 0 0;
        }
    }
}
.tf-review-pending {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    background: $color-white;
    border-radius: 4px;
    padding: 10px 10px;
    color: $color-text;
    margin: 30px 0 10px 0;
}

.tf-ask-question {
    background: $color-gray-info;
    padding: 30px;
    border-radius: 4px;
    flex: 2;
    text-align: center;
    @media only screen and (max-width: 767px) {
        max-width: 450px;
        margin: auto;
    }
    .default-enquiry-title-section {
        @include flexbox();
        justify-content: center;
        align-items: baseline;

        h3 {
            font-size: 22px;
            color: $color-heading;
            margin-bottom: 10px;
        }
        i {
            font-weight: 900;
            padding-right: 10px;
            font-size: 22px;
            color: $color-primary;
        }
    }
}

.tf-slider-item {
    border: 12px solid $color-white;
    box-shadow: 0px 2px 4px rgba(90, 91, 106, 0.08);
    border-radius: 4px;
    height: 450px !important;
    padding: 20px;
    display: flex !important;
    align-items: flex-end;
    margin: 0 15px 15px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 0 !important;
    @media only screen and (min-width: 768px) and (max-width: 970px) {
        border: 7px solid $color-white;
        height: 300px !important;
        padding: 15px;
        margin: 0 7px 15px !important;
    }
    @media only screen and (max-width: 767px) {
        border: 7px solid $color-white;
        height: 250px !important;
        padding: 15px;
        margin: 0 7px 15px !important;
    }

    .tf-slider-content {
        background: rgba(0, 0, 0, 0.45);
        border: 1px solid rgba(255, 255, 255, 0.16);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        border-radius: 4px;
        width: 100%;
        padding: 15px;
        color: $color-white;
    }

    .tf-slider-desc {
        h3 {
            font-size: 20px;
            color: $color-white;
            @media only screen and (max-width: 980px) {
                font-size: 18px;
            }
            @media only screen and (max-width: 480px) {
                font-size: 16px;
            }
            span {
                font-size: 15px;
                line-height: 26px;
                margin-top: 5px;
                display: block;
                font-weight: 400;
            }
        }
        a {
            color: $color-white;
            text-decoration: none;
            &:hover {
                color: $color-secondary;
            }
        }
    }
}

.tf-wishlists {
    .remove-wishlist {
        cursor: pointer;
    }
}
.tf-wishlist-button {
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px 0 0;
    line-height: 1;
    color: $color-text;
}
.tf-wishlist {
    text-align: right;
    margin-bottom: 20px;
}
.single-tour-wish-bt {
    color: $color-text;
    font-size: 24px;
    cursor: pointer;
    i {
        background: rgba(26, 43, 72, .6);
        border-radius: 50%;
        color: $color-white;
        font-size: 18px;
        padding: 10px 9px 7px 10px;
        transition: 0.3s;
    }
}
.tf-text-red {
    color: $color-danger !important;
}
.tf-filter {
    padding: 10px 10px;
}
.tf-checkmark {
    position: absolute;
    top: 2px;
    left: 0px;
    height: 15px;
    width: 15px;
    background-color: $color-white;
    border-radius: 2px;
    border: 1px solid $color-border;
}
.tf-filter-item {
    label {
        position: relative;
        cursor: pointer;
        width: 100%;
        display: inline-block;
        padding-left: 25px;
        line-height: 1.3;        
    }
}
li.tf-filter-item {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    padding: 2px 0px;
    border-radius: 4px;
    margin: 5px;
}
.tf-widget-title {
    @include flexbox();
    align-items: center;
    padding: 10px 16px;
    height: 48px;
    background: $color-light-bg;
    border: 1px solid $color-border;
    border-radius: 8px 8px 0px 0px;
    justify-content: space-between;
}
.tf-product-total {
    @include flexbox();
    @include justify-content(flex-end);
    gap: 15px;
}
.tf-refund-confirmation-box{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    .tf-refund-box-content{
        width: 450px;
        background-color: $color-white;
        padding: 24px;
        border-radius: 8px;
        text-align: center;
        i{
            font-size: 32px;
        }
        h3{
            margin: 10px 0;
            color: $color-heading;
            font-size: 20px;
        }
        p{
            color: $color-text;
            font-size: 16px;
            margin: 0 0 20px 0;
        }
        .tf-refund-confirmation-button{
            display: flex;
            gap: 24px;
            justify-content: center;
            button{
                border-radius: 8px;
                background: $color-primary;
                padding: 8px 30px;
                border: 0px solid;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                cursor: pointer;
                color: $color-white;
                transition: .3s all ease;
                &:hover{
                    background: $color-secondary;
                }
                &.tf-refund-cancel{
                    background: $color-light-bg;
                    color: $color-text;
                    &:hover{
                        background: $color-primary;
                        color: $color-white;
                    }
                }
            }
        }
    }
}
.tf-box-wrapper {
    h4{
        margin-bottom: 20px !important;
        font-family: "rubik", sans-serif;
        font-size: 16px;
    }
    .al-range-slider__track {
        background: $color-gray-light;
        height: 10px;
        box-shadow: none !important;
        margin: 30px 0px 10px 0px;
        .al-range-slider__grid{
            pointer-events: inherit !important;
        }
    }
    .al-range-slider_dark {
        padding: 0px !important;
        .al-range-slider__bar {
            background: $color-primary !important;
            box-shadow: none !important;
            pointer-events: none !important;
        }
    }
    .al-range-slider__knob {
        background: $color-primary !important;
        height: 15px;
        width: 15px;
        box-shadow: none !important;
        border: 3px solid $color-primary !important;
        &:first-child {
            span {
                left: 10px !important;
            }
        }
    }
    .al-range-slider__tooltip {
        background: $color-primary !important;
        border-radius: 5px;
        box-shadow: none;
        padding: 3px 10px;
        color: $color-white !important;
        font-size: 13px !important;
        margin-bottom: 0px !important;
    }
    .al-range-slider__input.js-al-range-slider__input {
        display: none;
    }
}

// UNFOLD Theme Compatibily
#commentform label{
    position: static !important;
    display: inline-block !important;
}

// Blocksy Theme Single Product image
.woocommerce-product-gallery .ct-image-container {
    width: 100% !important;
}

@media screen and (max-width: 767px) {
    #check-in-out-date {
        width: 220px !important;
    }
    .tours-check-in-out.flatpickr-input.flatpickr-mobile {
        width: 200px !important;
        text-transform: uppercase;
        height: 40px;
        border: 1px solid $color-gray;
        color: $color-text;
        text-align: center;
        background: transparent !important;
    }
}

