.tf-main-wrapper {
    width: 100%;
    padding: 30px 0;
}
.tf-container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}
.tf-divider {
    background: #e5e5e5;
    height: 1px;
}
.gray-wrap {
    background-color: #f5f8ff;
}
.section-heading {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 600;
}
h3.section-heading {
    font-size: 24px;
}
.sp-20 {
    padding: 20px 0;
}
.sp-30 {
    padding: 30px 0;
}
.sp-t-30 {
    padding-top: 30px;
}
.sp-40 {
    padding: 40px 0;
}
.sp-t-40 {
    padding-top: 40px;
}
.sp-50 {
    padding: 50px 0;
}
.sp-t-50 {
    padding-top: 50px;
}
.sp-70 {
    padding: 70px 0;
}
.sp-t-70 {
    padding-top: 70px;
}
.tf-d-b {
    display: block;
}
.tf-d-ib {
    display: inline-block;
}
.tf-t-c {
    text-align: center;
}
.tf-d-n {
    display: none !important;
}
.tf-d-g {
    display: grid !important;
}
.tf-toc-wrap {
    td {
        white-space: break-spaces;
    }
}
.fancybox-navigation .fancybox-button--arrow_left > div,
.fancybox-navigation .fancybox-button--arrow_right > div{
    background-color: #000;
}
.tf-tooltip {
    position: relative;
    .tf-top {
        top: -20px;
        left: 50%;
        transform: translate(-50%, -74%);
        padding: 10px 10px;
        color: #FFFFFF;
        background-color: #333333;
        font-weight: normal;
        font-size: 12px;
        border-radius: 4px;
        position: absolute;
        z-index: 99999999;
        box-sizing: border-box;
        border: 1px solid #333333;
        box-shadow: 0 1px 8px transparent;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        line-height: 1;
        white-space: nowrap;
        i.tool-i {
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -12px;
            width: 24px;
            height: 12px;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                background-color: #333333;
                border: 1px solid #333333;
                box-shadow: 0 1px 8px transparent;
            }
        }
    }
    &:hover {
        .tf-top {
            visibility: visible;
            opacity: 1;
        }
    }
}
.tf_button {
    background: #003162;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #003162;
    border-radius: 4px;
    padding: 10px 20px;
    &:hover {
        background: #0054a8;
        color: #fff;
        text-decoration: none;
        border: 1px solid #006dda;
    }
}
.tf_button.btn-outline {
    background: #fff;
    border-color: #333;
    color: #333;
}
.tf-btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    &:hover {
        &:after {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }
        &:before {
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
    }
    &:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #fff;
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #0054a8;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
        border-radius: 4px;
        padding: 6px 20px;
    }
    &:before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #fff;
        display: block;
        transition: 0.5s;
        position: relative;
        background: #003162;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
        border-radius: 4px;
        padding: 6px 20px;
    }
}
.tf-btn {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    width: 100%;
}
.btn-styled {
    border: 1px solid #003162 !important;
    border-radius: 4px !important;
    overflow: hidden;
    position: relative;
    color: #fff !important;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    background: #003162 !important;
    padding: 10px 18px !important;
    span {
        z-index: 20;
    }
    &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .25;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
    }
    &:hover {
        color: #fff;
        background: #838383;
        &:after {
            left: 120%;
            transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}
a.tf_button.btn-styled {
    &:focus {
        color: #fff;
    }
}
.tf-sml-btn {
    font-size: 13px;
    padding: 6px 12px;
    white-space: nowrap;
    &:hover {
        background: #0054a8;
        color: #fff;
        text-decoration: none;
        border: 1px solid #006dda;
    }
}
.tf-title-wrap {
    display: flex;
    justify-content: space-between;
}
.tf-title-left {
    span.post-type {
        background: #FA5535;
        color: #fff;
        padding: 0 10px;
        font-size: 13px;
        border-radius: 25px;
        margin-bottom: 5px;
        display: inline-block;
    }
}
.tf-title-area {
    h1 {
        font-size: 35px;
        margin-top: 0;
        margin-bottom: 6px;
    }
}
.tf-title-right {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.tf-map-link {
    a {
        font-size: 14px;
        color: #393939;
    }
}
.tf-single-rating {
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    z-index: 999;
    display: inline-block;
    background: rgba(19, 55, 116, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-sizing: border-box;
    padding: 8px;
    color: #fff;
    border-radius: 4px;
    position: relative;
    i {
        font-size: 14px;
        color: #FFBF00;
    }
    span {
        margin: 0 3px 0 5px;
        font-weight: 700;
        font-size: 18px;
    }
}
.roomNameInner {
    padding-top: 20px;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    .slick-track {
        transform: translate3d(0, 0, 0);
    }
    .slick-list {
        transform: translate3d(0, 0, 0);
    }
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-left: -5px !important;
    margin-right: -5px !important;
    &:focus {
        outline: none;
    }
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:before {
        display: table;
        content: "";
    }
    &:after {
        display: table;
        content: "";
        clear: both;
    }
}
.slick-slide {
    img {
        display: block;
    }
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.slick-initialized {
    .slick-slide {
        display: block;
        @media #{$tfmax767}{
            margin: 0px !important;
        }
    }
}
.tf_form-row {
    .tf_label-row {
        margin-bottom: 15px;
        display: block;
        font-size: inherit;
    }
}
.tf_form-inner {
    input[type=text] {
        width: 100% !important;
        background: transparent !important;
        border: 0 !important;
        box-shadow: none;
        height: 45px;
        font-size: inherit !important;
        margin: 0px !important;
        &:focus {
            background: transparent;
            border: 0;
            outline: 0;
        }
    }
    select {
        width: 100% !important;
        background: transparent !important;
        border: 0 !important;
        box-shadow: none;
        height: 45px;
        font-size: inherit !important;
        margin: 0px !important;
        &:focus {
            background: transparent;
            border: 0;
            outline: 0;
        }
    }
}
ul.tf-sidebar-checkbox {
    display: block;
    color: #000;
    label {
        margin-left: 10px;
    }
}
.tf-sidebar-filter {
    .tf-sidebar-checkbox {
        color: #fff;
    }
    h3 {
        color: #fff;
    }
}
.tf_booking-widget {
    background: #FA5535 !important;
    background: linear-gradient(to bottom, #FD6143 0, #FA5535 100%);
    border-color: #FA5535;
    padding: 20px !important;
    border-radius: 4px;
    font-size: 14px;
    #check-in-out-date {
        min-width: 150px;
    }
    .tf_form-row {
        .tf_button {
            padding: 15px 20px;
            width: 100%;
        }
    }
}
.hero-booking {
    .tf_booking-widget {
        color: #fff;
    }
}
.tf-hotel-side-booking {
    .tf_form-inner {
        position: relative;
        display: grid;
        padding: 0 0 0 0;
        background: #fff;
        grid-template-columns: 38px auto;
        align-items: center;
        justify-items: center;
        i {
            color: #bfbfbf;
            font-size: 16px;
        }
    }
    #check-in-out-date {
        min-width: 150px;
        padding: 0;
    }
}
h3.tf-sidebar-widget_title {
    font-size: 16px;
    margin-bottom: 10px;
}
.tf_acrselection-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 12px;
    background: #fff;
    padding: 24px 24px 8px;
    min-width: 250px;
    border-radius: 4px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    width: 100%;
    display: none;
}
.tf_acrselection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.acr-dec {
    width: 30px;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    color: #003162;
    border-color: #003162;
    border: 1px solid #003162;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 7px 15px;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    min-height: 36px;
    min-width: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    &:hover {
        color: #333;
        border-color: #333;
    }
}
.acr-inc {
    width: 30px;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    color: #003162;
    border-color: #003162;
    border: 1px solid #003162;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 7px 15px;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    min-height: 36px;
    min-width: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    &:hover {
        color: #333;
        border-color: #333;
    }
}
.acr-select {
    display: flex;
    align-items: center;
    width: 125px;
    input[type=number] {
        width: 50px !important;
        padding: 0px !important;
        margin: 0px !important;
        border: 0px !important;
        box-shadow: none;
        background: transparent !important;
        text-align: center;
        -moz-appearance: textfield !important;
        &:focus {
            outline: 0;
        }
    }
}
.tf_person-icon {
    padding-right: 10px;
}
.tf_destination-wrap {
    border-right: 1px solid #cccccc;
    display: table-cell;
    vertical-align: middle;
    .tf_input-inner {
        padding: 0 15px;
    }
}
.tf_selectdate-wrap {
    border-right: 1px solid #cccccc;
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
    width: 20%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .tf_input-inner {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}
.tf_selectperson-wrap {
    border-right: 1px solid #cccccc;
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
    width: auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .tf_input-inner {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}
.tf_submit-wrap {
    border-right: 1px solid #cccccc;
    display: table-cell;
    vertical-align: middle;
}
.tf_homepage-booking {
    .tf_form-row {
        .tf_label-row {
            margin: 0;
        }
    }
}
.person-sep {
    padding: 0 8px;
    position: relative;
    white-space: nowrap;
    &:after {
        content: "";
        position: absolute;
        height: 2px;
        background: #7d7d7d;
        width: 2px;
        left: 0;
        top: 0px;
        z-index: 2;
        right: 0;
        text-align: center;
        margin: 0 auto;
    }
}
.adults-text {
    white-space: nowrap;
}
.child-text {
    white-space: nowrap;
}
.room-text {
    white-space: nowrap;
}
.infant-text {
    white-space: nowrap;
}
.tf-review-form-container {
    min-width: 600px;
    padding: 0 !important;
    margin: 0 !important;
    background: #fff !important;
    .logged-in-as {
        display: none;
    }
    .tf-rating-wrapper {
        display: grid;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
        column-gap: 40px;
        row-gap: 15px;
        margin: 0 0 80px 0;
        .tf-form-single-rating {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;
            label {
                color: #333;
                font-style: normal;
                font-weight: 500 !important;
                font-size: 16px !important;
                line-height: 1 !important;
                text-transform: capitalize !important;
            }
        }
    }
    .tf-form-single-rating {
        .error {
            color: red;
        }
        .ratings-container {
            line-height: 1;
            unicode-bidi: bidi-override;
            direction: rtl;
            label {
                padding: 0;
                margin: 0;
                height: auto;
                line-height: 1;
                color: transparent;
            }
            >input {
                display: none;
            }
        }
        .ratings-container.star10 {
            width: 220px;
        }
        .ratings-container.star5 {
            width: 110px;
        }
    }
    .ratings-container {
        >input+label {
            text-indent: -9999px;
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            overflow: hidden;
            width: 22px;
            white-space: nowrap;
            cursor: pointer;
            color: transparent;
            &:before {
                text-indent: 9999px;
                display: inline-block;
                content: "\f005";
                color: #E1E1E3;
                font-size: 18px;
            }
            &:hover~label {
                &:before {
                    content: "\f005";
                    color: #FFC314;
                    font-weight: 900;
                }
            }
            &:hover {
                &:before {
                    content: "\f005";
                    color: #FFC314;
                    font-weight: 900;
                }
            }
        }
        >.star-cb-clear+label {
            text-indent: 9999px;
            text-indent: -9999px;
            width: 0.5em;
            margin-left: -0.5em;
            &:before {
                width: 0.5em;
            }
        }
        >input {
            &:checked~label {
                &:before {
                    content: "\f005";
                    color: #FFC314;
                    font-weight: 900;
                }
            }
        }
        &:hover {
            >input+label {
                &:before {
                    content: "\f005";
                    color: #E1E1E3;
                }
                &:hover~label {
                    &:before {
                        content: "\f005";
                        color: #FFC314;
                        font-weight: 900;
                    }
                }
                &:hover {
                    &:before {
                        content: "\f005";
                        color: #FFC314;
                        font-weight: 900;
                    }
                }
            }
        }
    }
    .review-desc {
        textarea {
            background: #F7F7FA;
            border: 1px solid #EDEDF0;
            border-radius: 4px;
            padding: 16px 8px 16px 16px;
            height: 160px;
            outline: none;
            color: #333;
            box-shadow: none;
            width: 100%;
        }
    }
    .tf-visitor-info {
        display: grid;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
        column-gap: 40px;
        margin: 40px 0 0 0;
        input {
            background: #F7F7FA;
            border: 1px solid #EDEDF0;
            box-sizing: border-box;
            border-radius: 4px;
            height: 56px;
            padding: 16px 8px 16px 16px;
            outline: none;
            color: #333;
            box-shadow: none;
            width: 100%;
        }
        .error {
            color: red;
        }
    }
    .tf-review-submit {
        margin: 25px 0 0 0;
        input[type="submit"] {
            background: #003162;
            color: #fff;
            text-decoration: none;
            display: inline-block;
            text-align: center;
            border: 1px solid #003162;
            border-radius: 4px;
            padding: 10px 20px;
            &:hover {
                background: #0054a8;
                color: #fff;
                text-decoration: none;
                border: 1px solid #006dda;
            }
        }
    }
}
#tourfic-rating {
    .logged-in-as {
        text-align: center;
        margin-bottom: 25px;
    }
}
.tf-review-container {
    .no-comments {
        display: none;
    }
    .tf-total-review {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 25px 0;
        .tf-total-average {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            div {
                width: 60px;
                height: 60px;
                background: #4F91FF;
                border-radius: 4px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 16px;
                color: #FFFFFF;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
            }
            span {
                color: #9696A0;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin: 0px 16px;
            }
        }
    }
    .tf-review-progress-bar {
        background: #F7F7FA;
        display: grid;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
        column-gap: 40px;
        row-gap: 20px;
        padding: 24px;
        border: 1px solid #EDEDF0;
        box-sizing: border-box;
        border-radius: 4px;
        margin: 0 0 25px 0;
        .tf-single {
            display: grid;
            grid-template-columns: calc(50% - 15px) calc(50% - 15px) 30px;
            align-items: center;
            .tf-text {
                text-align: left;
                color: #5A5B6A;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1;
                text-transform: capitalize;
            }
            .tf-p-bar {
                width: 100%;
                height: 7px;
                background: #D8E6FF;
                border-radius: 4px;
                position: relative;
                overflow: hidden;
                .percent-progress {
                    position: absolute;
                    width: 0;
                    background-color: #76A9FF;
                    height: 100%;
                    transition: width 1s ease-in-out;
                }
            }
            .tf-p-b-rating {
                text-align: right;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 1;
                color: #5A5B6A;
            }
        }
    }
    .no-review {
        h4 {
            text-align: center;
            color: #828282;
            margin-bottom: 10px;
        }
        .btn-styled {
            padding: 18px 20px;
        }
    }
}
.tf-single-review {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    column-gap: 20px;
    row-gap: 40px;
    .tf-single-details {
        display: grid;
        grid-template-columns: 56px calc(100% - 72px);
        column-gap: 16px;
        background: #F7F7FA;
        padding: 25px 25px 35px;
        border-radius: 4px;
    }
    .tf-review-avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        overflow: hidden;
    }
    .tf-review-details {
        .tf-name {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 1;
            color: #3A3A44;
            margin: 0 0 8px 0;
            text-transform: capitalize;
        }
        .tf-date {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1;
            color: #5A5B6A;
            letter-spacing: 0.2px;
            margin: 0 0 8px;
        }
        .tf-rating-stars {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 5px;
            align-items: center;
            justify-content: start;
            line-height: 1;
            i {
                color: #FFBF00;
                font-size: 10px;
                height: 14px;
            }
        }
        .tf-description {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #5A5B6A;
            margin: 8px 0 0 0;
        }
    }
}
.tf-review-pending {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    background: #FFF4A3;
    border-radius: 4px;
    padding: 10px 10px;
    color: #333;
    margin: 30px 0 10px 0;
}
.tf-faq-sec-title {
    margin-bottom: 60px;
    text-align: center;
    p {
        max-width: 480px;
        margin: auto;
    }
}
.tf-faq-content-wrapper {
    display: flex;
    gap: 35px;
}
.tf-ask-question {
    background: #F7F7FA;
    padding: 30px;
    border-radius: 4px;
    flex: 2;
    text-align: center;
    h3 {
        &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f059";
            padding-right: 7px;
            color: #003162 !important;
        }
        font-size: 22px;
        color: #3A3A44;
    }
}
.tf-faq-items-wrapper {
    flex: 5;
}
#tf-faq-item {
    border-bottom: 1px solid #c8e2fc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    .tf-faq-title {
        cursor: pointer;
        transition: 0.2s ease;
        display: flex;
        align-items: center;
        h4{
            font-size: 18px !important;
        }
    }
    .tf-faq-title.active {
        margin-bottom: 15px;
    }
    .arrow {
        transition: 0.25s ease;
        transform: rotate(-90deg);
        font-size: 20px;
        color: #4F91FF;
    }
    .arrow-animate {
        transform: rotate(0deg);
    }
    .tf-faq-desc {
        background-color: #FFFFFF;
        display: none;
        padding: 20px;
        color: #333333;
        margin-top: -2px;
        z-index: 999;
        position: relative;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.tf-faq-title {
    h4 {
        width: 100%;
        color: #000;
    }
}
.tf-slider-item {
    border: 12px solid #fff;
    box-shadow: 0px 2px 4px rgba(90, 91, 106, 0.08);
    border-radius: 4px;
    height: 450px !important;
    padding: 20px;
    display: flex !important;
    align-items: flex-end;
    margin: 0 15px 15px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 0 !important;
}
.tf-slider-content {
    background: rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.16);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
}
.tf-slider-desc {
    h3 {
        font-size: 20px;
        color: #FFFFFF;
        span {
            font-size: 15px;
            line-height: 26px;
            margin-top: 5px;
            display: block;
            font-weight: 400;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #FFCD3D;
        }
    }
}
.wish-button {
    background: #f1fbf3;
    color: #333;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    padding: 5px 7px;
    border-radius: 2px;
    margin: 0;
    transition: 0.3s;
    &:hover {
        background: #333;
        color: #f1fbf3;
    }
}
.tf-wishlists {
    .remove-wishlist {
        cursor: pointer;
    }
}
.tf-wishlist-button {
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px 0 0;
    line-height: 1;
    color: #333;
}
.tf-wishlist {
    text-align: right;
    margin-bottom: 20px;
}
.single-tour-wish-bt {
    color: #333;
    font-size: 24px;
    cursor: pointer;
    i {
        background: rgba(26, 43, 72, .6);
        border-radius: 50%;
        color: #fff;
        font-size: 18px;
        padding: 10px 9px 7px 10px;
        transition: 0.3s;
    }
}
.tf-text-red {
    color: red !important;
}
.tf-filter {
    padding: 10px 10px;
}
.checkmark {
    position: absolute;
    top: 2px;
    left: 0px;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #D2D2D6;
}
.filter-item {
    label {
        position: relative;
        cursor: pointer;
        width: 100%;
        display: inline-block;
        padding-left: 25px;
        line-height: 1.3;        
    }
}
li.filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0px;
    border-radius: 4px;
    margin: 5px;
}
.tf-widget-title {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    height: 48px;
    background: #F5F8FF;
    border: 1px solid #EDEDF0;
    border-radius: 8px 8px 0px 0px;
    justify-content: space-between;
}
.fa {
    font-family: "FontAwesome" !important;
}
.far {
    font-family: "FontAwesome" !important;
}
.fas {
    font-family: "FontAwesome" !important;
}
.tf-single-review.tf-reviews-slider ul.slick-dots {
    margin: 0;
}
.tf-product-total {
    @include flexbox();
    @include justify-content(flex-end);
    gap: 15px;
}

.tf-box-wrapper {
    h4{
        margin-bottom: 20px !important;
        font-family: "rubik", sans-serif;
        font-size: 16px;
    }
    .al-range-slider__track {
        background: #EEE;
        height: 10px;
        box-shadow: none !important;
        margin: 30px 0px 10px 0px;
        .al-range-slider__grid{
            pointer-events: inherit !important;
        }
    }
    .al-range-slider_dark {
        padding: 0px !important;
        .al-range-slider__bar {
            background: #003162 !important;
            box-shadow: none !important;
            pointer-events: none !important;
        }
    }
    .al-range-slider__knob {
        background: #003162 !important;
        height: 15px;
        width: 15px;
        box-shadow: none !important;
        border: 3px solid #003162 !important;
        &:first-child {
            span {
                left: 10px !important;
            }
        }
    }
    .al-range-slider__tooltip {
        background: #003162 !important;
        border-radius: 5px;
        box-shadow: none;
        padding: 3px 10px;
        color: #fff !important;
        font-size: 13px !important;
        margin-bottom: 0px !important;
    }
    .al-range-slider__input.js-al-range-slider__input {
        display: none;
    }
}

/*
Ajax Loader Booking Availability
*/
.tf-btn-booking-loading {
    padding-right: 40px;
    position: relative;
  }
  
  .tf-btn-booking-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-left-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    -webkit-animation: tf-wd-rotate 450ms infinite linear;
    animation: tf-wd-rotate 450ms infinite linear;
  }
  
  @-webkit-keyframes tf-wd-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes tf-wd-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }



// Blocksy Theme Single Product image

.woocommerce-product-gallery .ct-image-container {
    width: 100% !important;
}








@media only screen and (max-width: 1000px) {
    form.tf-review-form {
        gap: 20px;
    }
    .tf-review-form-container {
        min-width: 500px;
    }
}
@media only screen and (min-width: 1000px) {
    .tf-review-form-container {
        min-width: 800px;
    }
}
@media (max-width: 991px) {
    .archive_ajax_result {
        .single-tour-wrap {
            width: 100% !important;
            flex: none;
            margin-bottom: 20px;
        }
        .tourfic-single-left {
            width: 100%;
            margin-bottom: 16px;
        }
        .single-tour-inner {
            margin: 0;
            height: 100%;
            padding: 20px;
        }
        .tourfic-single-right {
            padding: 0;
            width: 100%;
            height: 100%;
        }
        .roomrow_flex {
            padding: 0;
            flex-wrap: wrap;
        }
        .roomName_flex {
            width: 100%;
            max-width: 100%;
        }
        .roomPrice.roomPrice_flex.sr_discount {
            text-align: left;
            margin: 10px 0;
        }
        .availability-btn-area {
            .tf_button {
                width: 100%;
                margin-top: 15px;
            }
        }
    }
    .tf_search_result {
        .tf-action-top {
            display: none;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .tf-review-container {
        .tf-review-progress-bar {
            grid-template-columns: auto;
        }
    }
    .tf-single-review {
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 767px) {
    .tf-review-form-container {
        .tf-rating-wrapper {
            grid-template-columns: 100%;
        }
        min-width: auto;
    }
    .tf_destination-wrap {
        width: 100%;
        display: block;
    }
    .tf_selectdate-wrap {
        width: 100%;
        display: block;
        padding: 10px 20px !important;
        border-bottom: 1px solid #ccc;
    }
    .tf_selectperson-wrap {
        width: 100%;
        display: block;
        padding: 20px !important;
        border-bottom: 1px solid #ccc;
    }
    .tf_submit-wrap {
        width: 100%;
        display: block;
    }
    .tf_selectdate-wrap.tf_more_info_selections {
        padding: 20px !important;
    }
    .tf-container {
        width: 100%;
    }
    #check-in-out-date {
        width: 220px !important;
    }
    .tours-check-in-out.flatpickr-input.flatpickr-mobile {
        width: 200px !important;
        text-transform: uppercase;
        height: 40px;
        border: 1px solid #ddd;
        color: #777;
        text-align: center;
        background: transparent !important;
    }
}
@media only screen and (max-width: 600px) {
    .tf-review-container {
        .tf-review-progress-bar {
            grid-template-columns: auto;
        }
    }
    .tf-single-review {
        grid-template-columns: auto;
    }
    .tf-single-rating {
        span {
            font-size: 14px;
        }
        font-size: 14px;
        padding: 6px;
    }
}
