.search-result-wrapper {
    padding: 30px 0;
}

.search-result-inner {
    display: grid;
    grid-template-columns: 75% 25%;
}

.tf-search-left {
    padding-right: 15px;
}

.tf-search-right {
    padding-left: 15px;
}

.page-template-tf_search-result {
    .tf_form-row {
        .tf_button {
            padding: 15px 20px;
            width: 100%;
        }
    }
}

.single-tour-inner {
    overflow: hidden;
    width: 100%;
    min-height: 149px;
    padding: 20px;
    margin: 16px 0;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: default;
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.single-tour-wrap.tf-featured {
    .single-tour-inner {
        background: #F5F9FF;
        border-color: #dbedff;
        box-shadow: 0px 2px 4px rgba(179, 180, 202, 0.48);
    }
}

.tourfic-single-left {
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: main-size;
    width: 210px;
    min-height: 210px;

    img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 4px;
    }
}

.tourfic-single-right {
    order: 2;
    flex-grow: 1;
    flex-basis: 200px;
    padding: 0 0 0 16px;
}

.tourfic_hotel-title {
    display: inline-block;
    margin: 0 !important;
    padding-right: 2px;

    &:hover {
        color: #003162;
    }
}

.single-tour-wrap {
    &:first-child {
        .single-tour-inner {
            margin-top: 0;
        }
    }

    transition: all 0.3s ease-out;

    * {
        transition: all 0.3s ease-out;
    }
}

.tf_property_block_main_row {
    min-height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.tf_item_main_block {
    order: 2;
    flex-grow: 1;
}

.tf-hotel__title-wrap {
    margin-bottom: 4px;
}

.sr_rooms_table_block {
    margin-top: 8px;
}

.tf_search_result {
    .tf-tour-desc {
        margin-top: 8px;
        border-top: 1px solid #bdbdbd;
        padding-top: 8px;
    }
}

.room_details {
    border-top: 1px solid #bdbdbd;
    padding-top: 8px;
}

.featuredRooms {
    margin: 0;
    clear: both;
    width: 100%;
    line-height: 1;
}

.roomrow_flex {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 14px;
    align-items: center;
}

.roomName_flex {
    flex-grow: 1;
    width: auto;
    max-width: 50%;
}

.roomPrice.roomPrice_flex.sr_discount {
    text-align: right;
    max-width: 50%;
}

a.page-numbers {
    background: #003162;
    color: #fff;
    padding: 5px 15px;
}

.archive_ajax_result.loading {
    opacity: 0.3;
}

.tf_posts_navigation {
    .page-numbers.current {
        background: #c9ddfa;
        padding: 5px 15px;
    }
}

.tf-archive-shortdesc {
    line-height: 1.8;
    margin: 5px 0 10px;
    font-size: 14px;
    opacity: 0.85;
}

.tf-tour-desc {
    line-height: 1.8;
    margin: 5px 0 10px;
    font-size: 14px;
    opacity: 0.85;
}

.tf-archive-desc {
    li {
        display: inline-block;
        margin-right: 7px;
    }

    margin: 0;
    padding: 0;
    i {
        color: #549501;
        font-size: 15px;
        margin-bottom: 10px;
    }
}

.availability-btn-area.tour-search {
    font-size: 14px;
    max-width: 120px;
    line-height: 1;
    margin-left: auto;
}

.tf-room-price {
    margin-top: 10px;

    .amount {
        font-weight: bold;
        margin-left: 5px;
    }
}

.tf-tour-price {
    .amount {
        font-weight: bold;
        margin-left: 5px;
    }
}

.tf-action-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    .tf-result-counter-info{
        display: flex;
        .tf-counter-title{
            margin-right: 5px;
        }
    }
}

.tf-list-grid {
    display: flex;
    align-items: center;

    a {
        display: inline-flex;
        margin-left: 10px;
        font-size: 20px;
    }
}

.tf-archive-rating {
    width: 40px;
    height: 40px;
    line-height: 1;
    background: #003162;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: right;
    margin-bottom: 3px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}

.tf-archive-rating-wrapper {
    h6 {
        color: #737373;
        font-weight: 400;
        text-transform: capitalize;
        font-size: 14px;
        text-align: right;
    }
}

.archive_ajax_result.tours-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    .single-tour-wrap {
        width: 50%;
        padding: 0 5px;
        margin-bottom: 10px;
        flex: 0 0 50%;
    }

    .single-tour-inner {
        margin: 0;
        height: 100%;
        padding: 20px;
    }

    .tourfic-single-left {
        width: 100%;
        margin-bottom: 16px;
    }

    .tourfic-single-right {
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .roomrow_flex {
        padding: 0;
        flex-wrap: wrap;
    }

    .roomName_flex {
        width: 100%;
        max-width: 100%;
    }

    .availability-btn-area {
        .tf_button {
            width: 100%;
            margin-top: 15px;
        }
    }

    .roomPrice.roomPrice_flex.sr_discount {
        text-align: left;
        margin: 10px 0;
    }
}

.archive_ajax_result {
    .tf-tour-price {
        display: flex;
        justify-content: end;
    }
}


/* Search result sidebar  */
.tf_widget {
    border: 1px solid #EDEDF0;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0px !important;
    .tf-hotel-result-price-range,
    .tf-tour-result-price-range,
    .tf-apartment-result-price-range{
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    h4{
        font-size: 20px;
        font-weight: 500;
    }
    .al-range-slider__track {
        background: #EEE;
        height: 10px;
        box-shadow: none !important;
        margin: 30px 0px 10px 0px;
    }
    .al-range-slider_dark {
        padding: 0px !important;
        .al-range-slider__bar {
            background: #003162 !important;
            box-shadow: none !important;
        }
    }
    .al-range-slider__knob {
        background: #003162 !important;
        height: 15px;
        width: 15px;
        box-shadow: none !important;
        border: 3px solid #003162 !important;
        &:first-child {
            span {
                left: 10px !important;
            }
        }
    }
    .al-range-slider__tooltip {
        background: #003162 !important;
        border-radius: 5px;
        box-shadow: none;
        padding: 3px 10px;
        color: #fff !important;
        font-size: 13px !important;
        margin-bottom: 0px !important;
    }
    .al-range-slider__input.js-al-range-slider__input {
        display: none !important;
    }
    
    .tf-widget-title {
        display: flex;
        align-items: center;
        padding: 10px;
        height: 48px;
        background: #F5F8FF;
        border: 1px solid #EDEDF0;
        border-radius: 8px 8px 0px 0px;
        justify-content: space-between;

        h4 {
            font-size: 16px;
            line-height: 24px;
            font-family: 'rubik', sans-serif;
            cursor: pointer;
            width: 100%;
        }

        i.fa {
            display: flex;
            align-items: end;
            justify-content: space-between;
        }

        i.fa.collapsed {
            transform: rotate(180deg);
        }
    }

    .filter-item.active {
        background-color: #F5F8FF;
    }
    ul{
        margin: 0;
        padding: 0;
        li.filter-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px 10px;
            border-radius: 4px;
            margin: 5px;

        }
    }


    a.see-more.btn-link {
        text-align: center;
        display: block;
        font-weight: 600;
    }
    a.see-less.btn-link {
        text-align: center;
        display: block;
        font-weight: 600;
        display: none
    }
    a.see-more span {
        margin-left: 3px;
        vertical-align: middle;
    }

    li.filter-item.hidden {
        display: none;
    }

}

/* Create a custom checkbox */
.filter-item,.tf-room-checkbox {
    label {
        position: relative;
        cursor: pointer;
        width: 100%;
        display: inline-block;
        padding-left: 25px;
        font-weight: 400 !important;
    }
    .checkmark {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #D2D2D6;
    }

    input[type=checkbox] {
        display: none !important;
    }

    label:hover input~.checkmark {
        background-color: #ccc;
    }

    label input:checked~.checkmark {
        background-color: #2196F3;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    label input:checked~.checkmark:after {
        display: block;
    }

/* Style the checkmark/indicator */
    label .checkmark:after {
        left: 6px;
        top: 3px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.tf-hide-pagination {
    display: none !important;
}

@media only screen and (max-width: 991px) {
    .widget_tf_hotel_filter {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .search-result-inner {
        grid-template-columns: 65% 35%;
    }
}

@media only screen and (min-width: 660px) and (max-width: 767px) {
    .search-result-inner {
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (min-width: 635px) and (max-width: 659px) {
    .archive_ajax_result {
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 2%;

        .single-tour-wrap {
            margin-bottom: 0px;
        }
    }

    .tf_property_block_main_row {
        display: block;
    }

    .tf-archive-rating-wrapper {
        margin-top: 20px;

        h6 {
            text-align: left;
        }
    }

    .tf-archive-rating {
        float: none;
    }
}

@media only screen and (max-width: 659px) {
    .search-result-inner {
        grid-template-columns: 100%;

        .tf-search-right {
            grid-row: 1;
        }
    }

    .widget_tf_hotel_filter {
        .tf-filter {
            ul {
                li {
                    display: inline-block;
                    padding-right: 25px;
                    margin-top: 5px;
                }
            }
        }
    }

    .tf-search-right {
        padding: 0 !important;
    }

    .tf-search-left {
        padding: 0 !important;
    }
}