.tf-tour-contact-informations {
    background-color: $color-light-bg;
    padding: 24px;

    .tf-contact-details-title {
        h3 {
            font-weight: 700 !important;
            font-size: 30px;
            margin-bottom: 5px;
        }
    }
    .tf-contact-details-items {
        .tf-list {
        li {
            margin-top: 5px;
            margin-bottom: 15px;
            align-items: center;
            
            a {
                text-decoration: none;
                color: $color-primary;
            }
            i {
                font-size: 20px;
                color: $color-primary;
            }
        }
        }
    }

}