.tf-bottom-booking-bar {
    position: fixed;
    width: calc(100% - 64px);
    bottom: 0;
    left: 0;
    padding: 32px;
    background-color: rgba(255, 255, 255, .9);
    //box-shadow: 0px 0px 24px 5px #e0e8ee;
    z-index: 9999;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    gap: 24px;
    transform-origin: bottom;
    transform: rotateX(90deg);
    transition: all 0.3s ease-in-out;

    @media #{$max1199} {
        @include flex-wrap();
        padding: 16px;
        gap: 8px;
        width:calc(100% - 32px);
    }

    @media #{$max767} {
        transform: rotateX(0);
        z-index: 9999;
        width: 100%;
    }
    &.active{
        transform: rotateX(0deg);
        width: 100%;
    }

    &.mobile-active{
        .tf-bottom-booking-fields{
            @include flexbox();
        }

        .tf-booking-popup-btn{
            display: block;
        }
        .tf-booking-mobile-btn{
            display: none;
        }
    }

    .tf-bottom-booking-fields{
        @include flexbox();
        gap: 24px;

        @media #{$max1199} {
            width: 100%;
            gap: 16px;
            @include justify-content(center);
        }

        @media #{$max767} {
            @include flex-wrap();
            display: none;
        }
    }

    .tf-bottom-booking-field{
        @include flexbox();
        gap: 8px;

        @media #{$max767} {
            width: 100%;
        }

        input.tf-field, select.tf-field {
            border-radius: 8px;
            border: 1px solid $color-primary;
            padding: 0 16px;
            background-color: $color-white;
            outline: none;
            min-width: 220px;
            font-size: 16px;

            @media #{$max767} {
                flex-grow: 1;
            }
        }
    }
    .tf-bottom-booking-field.check-in-time-div{
        display: none;
    }

    .tf-bottom-booking-field-icon{
        height: 56px;
        width: 56px;
        line-height: 56px;
        font-size: 24px;
        border-radius: 8px;
        background-color: $color-primary;
        text-align: center;
        color: $color-white;

        @media #{$max767} {
            height: 44px;
            width: 44px;
            line-height: 44px;
            font-size: 18px;
        }
    }

    .tf_selectperson-wrap{
        border-right: none;
        padding: 0;

        @media #{$max767} {
            border-bottom: none;
            padding: 0 !important;
        }

        .tf_input-inner{
            border-radius: 8px;
            border: 1px solid $color-secondary;
            padding: 0 16px;
            background-color: $color-white;

            @media #{$max767} {
                flex-grow: 1;
                width: 100%;
            }
        }
    }

    .tf_acrselection-wrap{
        left: 64px;
        right: auto;
        top: unset;
        bottom: 100%;
        width: auto;
    }

    .tf-booking-mobile-btn{
        display: none;

        @media #{$max767} {
            display: block;
        }
    }

    .tf-btn-normal {
        padding: 19px 32px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 8px;

        @media #{$max767} {
            padding: 12px 24px;
        }
    }

    @media #{$max767} {
        .tf-booking-popup-btn{
            display: none;
        }
        .tf-tours-booking-btn{
            width: 100%;
        }
    }
}