.single-tf_tours{
    .tf-single-template{
        &__one{
            #tour-map{
                margin-top: 0px;
            }
            .tf-map-wrapper {
                .tf-container {
                    max-width: 100%;
                    padding: 0;
                }
            }
            .itn-gm-m {
                background-color: $color-primary;
            }
            .gm-style {
                .marker-label {
                    display: block;
                    padding-top: 30px;
                    padding-left: 82px;
                    line-height: 1.33;
                    font-family: inherit;
                    font-weight: 600;
                    align-items: baseline;
                    
                    &:before {
                        content: "\eb21";
                        font-size: 16px;
                        padding-right: 4px;
                        margin-top: 4px;
                        font-weight: 300;
                        font-family: 'remixicon';
                    }
                }
            }
            .gm-style-iw {

                padding: 0px;
                width: 296px;
                border-radius: 12px;

                .gm-style-iw-d {
                    overflow: hidden;

                    .itinerary-map-popup {
                        .itinerary-map-popup-img-wrap {
                            width: 296px;
                            height: 140px;
                            overflow: hidden;
                            margin: 0px;

                            img {
                                width: 100%;
                                height: 140px;
                                border-radius: 12px 12px 0px 0px;
                                object-fit: cover;
                            }
                        }
                        .popup-arrow-active {
                            display: none;
                        }

                        .itinerary-map-popup-img-icons {
                            display: block;
                            z-index: 99;

                            .itinerary-map-popup-img-icon-right {
                                cursor: pointer;
                                user-select: none;
                                position: absolute;
                                top: 51px;
                                right: 0;
                            }
                            .itinerary-map-popup-img-icon-left {
                                cursor: pointer;
                                user-select: none;
                                position: absolute;
                                top: 51px;
                                left: 0;
                            }

                        }
                        .itinerary-map-popup-content {
                            padding: 12px;
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            font-size: 14px;
                            font-weight: 500;
                            color: black;

                            .itinerary-map-popup-time-wrap {
                                padding: 8px 16px;
                                background: $color-white;
                                width: 70px;
                                height: auto;
                                border-radius: 32px;
                                text-align: center;
                                margin-bottom: 4px;

                                .itinerary-map-popup-time {
                                    color: $color-text;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: normal;
                                }

                                .itinerary-map-popup-title {
                                    color: $color-heading;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 18px;
                                }
                            }

                            .itinerary-map-popup-desc {
                                color: $color-text;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 1.5;
                                margin-bottom: 4px;
                            }
                            .itinerary-map-popup-options {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                flex-wrap: wrap;

                                .itinerary-map-popup-option {
                                    padding: 4px 8px;
                                    border: 1px solid $color-border;
                                    border-radius: 32px;
                                    font-weight: 400;
                                    color: $color-text;

                                    .map-popup-option-icon {
                                        margin-right: 4px;
                                    }

                                    .map-popup-option-mode {
                                        font-size: 12px;
                                    }

                                }
                            }
                        }
                    }
                }
                
                button[title~=Close] {
                top: 8px;
                right: 8px;
                background-color: $color-white;
                opacity: 1;
                border-radius: 6px;
                height: 24px;
                width: 24px;
                
                span {
                    margin: auto;
                    
                    }
                }
                
                button:hover {
                    border-radius: 24px;
                    border: 1px solid $color-gray;
                
                }

                
                @media only screen and (max-width: 480px) {
                
                    .gm-style-iw {
                        width: 148px;
                        .gm-style-iw-d {
                            .itinerary-map-popup {
                
                                .itinerary-map-popup-img-wrap {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                @media only screen and (max-width: 480px) {
                
                    .gm-style-iw {
                        width: 148px;
                        .gm-style-iw-d {
                            .itinerary-map-popup {
                
                                .itinerary-map-popup-img-wrap {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__two{
            #tf-tour-map{
                .tf-map-area{
                    #tour-location{
                        height: 500px;
                        width: 100%;
                        max-width: 100%;
                        max-height: 100%;
            
                        @media #{$tfmax767}{
                            height: 220px;
                        }
                    }
                }
            }
        }
    }
}