.tf-trip-info{
    background-color: $color-white;
    border-radius: $tf-brds-default;
    box-shadow: 0px 0px 24px 5px #E0E8EE;

    // trip info -
    .person-info.active {
        background: $color-light-bg;
    }
    ul {
        padding: 0;
        list-style: none;
    }
    li {
        font-size: $font-size-small;
        font-family: inherit;
        color: $color-primary;
        margin-top: $tf-space-8;
        align-items: center;
        i{
            margin-right: 10px;
            width: 10px;
        }
    } 
    // trip person info
    .person-info {
        border: 1px solid $color-border;
        border-radius: $tf-brds-default;
        box-shadow: 0px 9px 12px 0px #0e132305;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        width: 50px;
        height: 60px;
        margin-top: 0px;
        &:hover{
            cursor: pointer;
        }
        p {
            font-size: 12px;
            font-weight: $font-weight-medium;
            color: $color-heading;
        }
        i {
            color: $color-primary;
            margin-right: 0px;
        }
    }
    //pricing
    .tf-trip-pricing {
        flex-direction: column;
        text-align: right;
        color: $color-primary;
        font-size: $font-size-small;
        display: none;
        @media #{$tfmax991}{
            text-align: left;
        }
        .tf-price-amount {
            color: $color-heading;
            font-size: 26px;
            margin: 4px 0px;
            font-weight: $font-weight-medium;
            
            @media #{$tfmax767}{
                font-size: 22px;
            }
        }
    }
    .tf-trip-pricing.active{
        display: flex;
    }
}
.tf-trip-description{
    h2 {
        font-size: 30px;
    }
}