.tf-available-rooms-wrapper {
    background: #FCF4E8;
    padding: 32px;
    margin-bottom: 32px;
    .tf-available-rooms-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        &>h2{
            color: #595349;
            font-size: 24px;
            font-weight: 400;
            line-height: 130%;            
            font-family: 'Josefin Sans', sans-serif;
        }
    }
    .tf-available-rooms {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .tf-room-table.hotel-room-wrap{
            overflow: unset;
            .tf-available-room{
                margin-bottom: 32px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
    .tf-available-room {
        background: #FDF9F3;
        display: flex;
        .tf-available-room-gallery {
            min-width: 230px;
            max-width: 230px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            height: fit-content;
            .tf-room-gallery {
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                &:nth-child(1) {
                    width: 100%;
                    height: 270px;
                }
                &:nth-child(n+2) {
                    width: 110px;
                    height: 110px;
                }
                &.tf-popup-buttons {
                    background-size: cover;
                    background-position: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 1;
                    img {
                        height: 30px;
                        width: 30px;
                    }
                    &:after {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 100%;
                        background: #000;
                        opacity: .5;
                        z-index: -1;
                    }
                }
            }
        }
        .tf-available-room-content {
            width: calc(100% - 230px);
            display: flex;
            justify-content: space-between;
            padding: 24px;
            .tf-available-room-content-left {
                width: 395px;
                h3 {
                    margin-bottom: 20px;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-bottom: 32px;
                    gap: 12px 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    li {
                        width: 50%;
                        i {
                            margin-right: 4px;
                            ;
                        }
                        a {
                            color: #595349;
                            text-decoration: none;
                        }
                    }
                }
                h4 {
                    color: #595349;
                    font-size: 16px;
                    font-weight: 600;
                    font-family: "Josefin Sans", sans-serif;
                    margin-bottom: 16px;
                }
            }
            .tf-available-room-content-right {
                width: 180px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .tf-cancellation-refundable-text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 4px;
                    margin-bottom: 24px;
                    span {
                        display: flex;
                        align-items: center;
                        color: #595349;
                        svg{
                            margin-left: 8px;
                        }
                    }
                    i {
                        font-size: 10px;
                        border: 1px solid;
                        height: 14px;
                        width: 14px;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 6px;
                    }
                }
                .tf-available-room-price {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 4px;
                    margin-bottom: 58px;
                    .tf-price {
                        color: #595349;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 31.20px;
                        span {
                            font-size: 24px;
                        }
                    }
                }
                .tf-available-room-select {
                    color: #595349;
                    font-size: 16px;
                    display: flex;
                    width: fit-content;
                    margin-bottom: 26px;
                    select {
                        height: 37px;
                        width: 70px;
                        padding: 8px 20px 8px 13px;
                        background-size: 10px;
                        background-position: 80% 49%;
                        text-align: center;
                        background-color: #FAEEDC;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
            .tf-available-room-purchase-summery {
                font-size: 12px;
                display: flex;
                .price-per-night{
                    margin-left: 5px;
                }
            }
            .tf-deposit-content{
                text-align: right;
                label{
                    font-size: 12px;
                }
            }
            .roomselectissue{
                text-align: right !important;
            }
            button,
            a.tf_air_service,
            a.availability {
                color: #FDF9F3;
                font-size: 16px;
                font-family: "Josefin Sans", sans-serif;
                font-weight: 700;
                line-height: 24px;
                background: #B58E53;
                min-width: 166px;
                border: none;
                padding: 12px 32px;
                display: inline-block;
                text-decoration: none;
            }
        }
    }
    .tf-available-room-off {
        padding: 4px 12px;
        background: #22C55E;
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 8px;
        width: fit-content;
    }
}
// Archive page
.tf-available-archive-hetels-wrapper {
    background: #FAEEDC;
    .tf-archive-available-rooms-head {
        .tf-filter {
            background: #C1BFBB;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #fff;
            padding: 12px 16px;
        }
    }
    .tf-archive-available-rooms {
        .tf-available-room {
            overflow: hidden;
            .tf-available-room-gallery {
                min-width: 283px;
                max-width: 283px;
                position: relative;
                height: auto;
                .tf-room-gallery {
                    &:nth-child(n+1) {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                    }
                    &:nth-child(n+2) {
                        position: absolute;
                        height: 70px !important;
                        width: 70px !important;
                        left: unset !important;
                        top: unset !important;
                        bottom: 16px;
                        right: 16px;
                        img {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
                .tf-available-labels {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    top: 16px;
                    left: 16px;
                    gap: 8px;
                    &>span {
                        color: #fff;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        padding: 8px;
                        min-width: 84px;
                        text-align: center;
                        line-height: 1;
                    }
                    span.tf-available-labels-populer {
                        background: #F97316;
                    }
                    span.tf-available-labels-featured {
                        background: #3B82F6;
                    }
                    span.tf-available-labels-visited {
                        background: #84CC16;
                    }
                }
                .tf-available-ratings {
                    position: absolute;
                    right: 16px;
                    top: 16px;
                    background: rgba(253, 249, 243, 0.80);
                    padding: 5px 4px 0 8px;
                    font-size: 16px;
                    i {
                        color: #FEBB03;
                    }
                }
            }
            .tf-available-room-content {
                .tf-available-room-content-left {
                    .tf-section-title-and-location {
                        margin-bottom: 64px;
                        .tf-section-title {
                            margin: 0 0 10px 0;
                        }
                        .tf-title-location {
                            display: flex;
                            svg{
                                margin-right: 8px;
                            }
                        }
                    }
                    .tf-mobile {
                        .tf-available-room-off {
                            span {}
                        }
                        .tf-available-room-price {
                            .tf-price-from {}
                            .tf-price {
                                span {}
                            }
                        }
                    }
                }
                .tf-available-room-content-right {
                    width: 196px;
                    .tf-cancellation-refundable-text {
                        margin-bottom: 48px;
                    }
                    .tf-available-room-price {
                        margin-bottom: 12px;
                    }
                    button {
                        padding: 12px 20px;
                    }
                    a.view-hotel{
                        color: #FDF9F3;
                        font-size: 16px;
                        font-family: "Josefin Sans", sans-serif;
                        font-weight: 700;
                        line-height: 24px;
                        background: #B58E53;
                        min-width: 166px;
                        padding: 12px 20px;
                        text-decoration: none;
                    }
                }
            }
        }
        #tf_posts_navigation_bar,
        .tf_posts_ajax_navigation,
        .tf_posts_page_navigation{
            display: inline-flex;
            margin-top: 30px;
            .page-numbers{
                border: 0.5px solid #99948D;
                background: #FDF9F3;
                height: 40px;
                color: #99948D;
                font-family: Josefin Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                letter-spacing: 0.16px;
                padding: 0px 20px;
                text-decoration: none;
                display: flex;
                align-items: center;
            }
            .page-numbers.current{
                background: #FAEEDC;
                color: #595349;
            }
        }
    }
}