.tf-booking-form-wrapper {
    background: #FAEEDC;
    .tf-booking-form {
        display: flex;
        .tf-booking-form-fields {
            display: flex;
            width: 78%;
            padding: 24px;
            padding-right: 0;
            &>div {
                width: 32%;
                border-right: 1px solid #D6D4D2;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                &.tf-booking-form-guest-and-room {
                    width: 36%;
                    padding-left: 70px;
                    align-items: start;
                    border-right: none;
                    cursor: pointer;
                }
            }
        }
        .tf-booking-form-checkout,
        .tf-booking-form-checkin {
            input {
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
            }
        }
        .tf-booking-date {
            color: #595349;
            font-size: 24px;
            font-weight: 400;
            line-height: 31.20px;
            min-width: 28px;
            text-align: right;
            margin-right: 5px;
        }
        span.tf-booking-form-title {
            font-size: 16px;
            font-weight: 600;
            line-height: 20.80px;
            margin-bottom: 6px;
        }
        span.tf-booking-month {
            color: #595349;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .tf-booking-date-wrap {
            display: flex;
            gap: 6px;
            cursor: pointer;
        }
        .tf_label-row{
            span#tf-required{
                font-size: 12px;
                color: red !important;
            }
        }
        .tf-booking-guest-and-room-wrap {
            display: flex;
        }
        .tf-booking-person-count span {
            margin-right: 12px;
        }
        .tf-cancellation-refundable-text {
            display: flex;
            flex-direction: column;
        }
        .tf-booking-form-submit {
            width: 22%;
            button {
                height: 100%;
                width: 100%;
                background: #B58E53 !important;
                border: 0;
                outline: none;
                color: #FDF9F3;
                font-size: 16px !important;
                font-family: Josefin Sans;
                font-weight: 700;
                line-height: 24px !important;
                cursor: pointer;
            }
        }
    }
}
.tf-archive-search-form { 
	.tf-booking-form { 
		.tf-booking-form-fields { 
			.tf-booking-form-location { 
                display: flex;
                align-items: flex-start !important;
                padding-right: 40px;
                
				.tf-booking-location-wrap { 
                    display: flex;
                    flex-direction: row;
                    background: #fff;
                    padding: 0 12px;
                    max-width: 150px;
                    align-items: center;
					position: relative;
                    input{
                        padding: 9px;
                        border: none;
                        outline: none;
                        width: 100%;
                    }

                    #tf-locationautocomplete-list,
                    #tf-destinationautocomplete-list{
                        position: absolute;
                        left: 0;
                        top: 100%;
                        width: 100%;
                        background: #fff;
                        z-index: 999;
                        border: 1px solid #d4d4d4;
                        div{
                            padding: 10px;
                            cursor: pointer;
                            background-color: #fff;
                            border-bottom: 1px solid #d4d4d4;
                            color: #444;
                            display: block;
                        }
                    }
				}
			}
			.tf-booking-form-checkin { 
				.tf-booking-form-title { 
				}
				.tf-booking-date-wrap { 
					.tf-booking-date { 
					}
					.tf-booking-month { 
						span { 
						}
						img { 
						}
					}
				}
				.flatpickr-input { 
				}
			}
			.tf-booking-form-checkout { 
				.tf-booking-form-title { 
				}
				.tf-booking-date-wrap { 
					.tf-booking-date { 
					}
					.tf-booking-month { 
						span { 
						}
						img { 
						}
					}
				}
				.flatpickr-input { 
				}
			}
			.tf-booking-form-guest-and-room { 
                padding-left: 40px !important;
                min-width: 200px;
				.tf-booking-form-guest-and-room-inner {
					.tf-booking-guest-and-room-wrap.tf-archive-guest-info { 
                        margin-top: 6px;
                        color: #595349;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        gap: 5px;
                        span{
                            font-size: 24px;
                            margin-bottom: -3px;
                            color: #595349;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            gap: 5px;
                        }
					}
                    .tf-arrow-icons{
                        text-align: right;
                        margin-top: -10px;
                    }
				}
			}
		}
	}
}
.tf_acrselection-wrap {
    display: unset;
    top: 80%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.tf_acrselection-wrap.tf-show {
    visibility: visible;
    opacity: 1;
    top: 100%;
    display: block !important;
}

.tf-search-date-wrapper {

    background: #FAEEDC;
    padding: 24px;

    .tf-booking-date-wrap {
        display: flex;
        flex-direction: row;
        background: #fff;
        padding: 0 12px;
        max-width: 150px;
        margin-right: 40px;
        justify-content: flex-start;
        padding: 16px !important;
        width: inherit;
        max-width: unset !important;
        margin: 0 !important;

        input {
            padding: 9px;
            border: none;
            outline: none;
            width: -webkit-fill-available;
        }
    }

    .tf-booking-date-wrap input {
        padding: 0 9px;
    }

    .acr-dec,
    .acr-inc {
        background: transparent;
        border: none;
        font-size: 31px;
        font-weight: 400;
        color: #595349;
    }

    .acr-select input[type=number] {
        width: 35px !important;
        height: 46px;
        border: 1px solid !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        color: #999 !important;
        text-align: center;
        padding-left: 14px !important;
        padding-right: -1px !important;
        border-radius: 20px;
        background: #FCF4E8 !important;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    h2 {
        padding: 0 !important;
        margin: 0 !important;
    }

    .tf_acrselection-wrap {
        position: unset;
        visibility: unset;
        opacity: unset;
        margin: 0;
        padding: 0;
        background: transparent;
        box-shadow: none;
    }

    .acr-label {
        color: #595349;
        font-family: Josefin Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }

    .acr-label span {
        color: #99948D;
        font-family: Josefin Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        display: block;
    }

    span.tf-search-date-info {
        color: #595349;
        font-size: 32px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
        line-height: 1;
    }
}