.tf-modify-search-btn{
    background: #B58E53;
    padding: 8px 32px;
    color: #FDF9F3;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
    display: none;
    @media #{$max767}{
        display: block;
        margin-bottom: -16px;
    }
}
.tf-booking-form-wrapper {
    background: #FAEEDC;
   
    .tf-booking-form {
        display: flex;
        margin: 0;
        .tf-booking-form-fields {
            display: flex;
            width: 78%;
            padding: 24px;
            padding-right: 0;
            @media #{$max1024}{
                width: calc(100% - 150px) !important;
            }
            &>div {
                width: 32%;
                border-right: 1px solid #D6D4D2;
                display: flex;
                flex-direction: column;
                position: relative;
                &.tf-booking-form-guest-and-room {
                    width: 36%;
                    padding-left: 70px;
                    align-items: start;
                    border-right: none;
                    cursor: pointer;
                }
            }
        }
        .tf-booking-form-checkout,
        .tf-booking-form-checkin {
            padding-left: 40px;
            padding-right: 40px;
            @media #{$max1200}{
                padding-right: 28px;
                padding-left: 28px;
            }
            @media #{$max1024}{
                padding-right: 15px;
                padding-left: 15px;
            }
            input {
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
            }
        }
        .tf-booking-form-checkin{
            max-width: 146px;
        }
        .tf-booking-form-checkout{
            max-width: 155px;
        }
        .tf-booking-date {
            color: #595349;
            font-size: 24px;
            font-weight: 400;
            line-height: 31.20px;
            text-align: right;
            margin-right: 5px;
            @media #{$max1024}{
                font-size: 20px;
            }
        }
        span.tf-booking-form-title {
            font-size: 16px;
            font-weight: 600;
            line-height: 20.80px;
            margin-bottom: 8px;
            @media #{$max1024}{
                font-size: 14px;
            }
        }
        span.tf-booking-month {
            color: #595349;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: capitalize;
            @media #{$max1024}{
                font-size: 14px;
            }
        }
        .tf-booking-date-wrap {
            display: flex;
            gap: 6px;
            cursor: pointer;
        }
        .tf_label-row{
            span#tf-required{
                font-size: 12px;
                color: red !important;
            }
        }
        .tf-booking-guest-and-room-wrap {
            display: flex;
            gap: 6px;
            margin-top: 4px;
            text-transform: capitalize;
        }
        .tf-booking-person-count span {
            margin-right: 12px;
        }
        .tf-cancellation-refundable-text {
            display: flex;
            flex-direction: column;
        }
        .tf-booking-form-submit {
            width: 22%;
            @media #{$max1024}{
                width: 150px !important;
            }
            button {
                height: 100%;
                width: 100%;
                background: #B58E53 !important;
                border: 0;
                outline: none;
                color: #FDF9F3 !important;
                font-size: 16px !important;
                font-weight: 700;
                line-height: 24px !important;
                cursor: pointer;
                border-radius: 0px;
                transition: .3s all ease;
                &:hover{
                    background-color: #917242 !important;
                }
                @media #{$max1024}{
                    font-size: 12px !important;
                }
            }
        }
    }
}
.tf-archive-search-form { 
	.tf-booking-form { 
		.tf-booking-form-fields { 
			.tf-booking-form-location { 
                display: flex;
                align-items: flex-start !important;
                padding-right: 40px;
                padding-left: 16px;
                @media #{$max1200}{
                    padding-right: 28px !important;
                    padding-left: 4px !important;
                }
                @media #{$max1024}{
                    padding-right: 15px !important;
                    padding-left: 0px !important;
                }
				.tf-booking-location-wrap { 
                    display: flex;
                    flex-direction: row;
                    background: #FDF9F3;
                    padding: 0 12px;
                    width: 100%;
                    align-items: center;
					position: relative;
                    input{
                        padding: 9px;
                        border: none;
                        outline: none;
                        width: 100%;
                        background: transparent;
                        box-shadow: none;
                        font-size: 12px;
                        color: #595349 !important;
                        &::placeholder{
                            color: #595349 !important;
                        }
                    }

                    #tf-locationautocomplete-list,
                    #tf-destinationautocomplete-list,
                    #tf-apartment-locationautocomplete-list{
                        position: absolute;
                        left: 0;
                        top: 100%;
                        width: 250px;
                        background: #FCF4E8;
                        box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
                        z-index: 999;
                        max-height: 200px;
                        overflow: auto;
                        scrollbar-width: thin;
                        scrollbar-color: #aaa #eee;
                        padding: 8px;
                        &::-webkit-scrollbar{
                            width: 5px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: #aaa;
                            border-radius: 4px;
                        }
                        &::-webkit-scrollbar-track {
                            background-color: #eee;
                        }
                        div{
                            padding: 10px;
                            cursor: pointer;
                            background-color: #fff;
                            margin-bottom: 4px;
                            color: #444;
                            display: block;
                            transition: .3s all ease;
                            &:last-child{
                                margin-bottom: 0px;
                            }
                            &:hover{
                                background: #FAEEDC;
                            }
                            &::before{
                                display: none;
                            }
                        }
                    }
				}
			}
			
			.tf-booking-form-guest-and-room { 
                padding-left: 40px !important;
                padding-right: 40px;
                min-width: 200px;
                @media #{$max1200}{
                    padding-right: 28px !important;
                    padding-left: 28px !important;
                }
                @media #{$max1024}{
                    padding-right: 15px !important;
                    padding-left: 15px !important;
                    min-width: 160px;
                }
				.tf-booking-form-guest-and-room-inner {
					.tf-booking-guest-and-room-wrap.tf-archive-guest-info { 
                        margin-top: 8px;
                        color: #595349;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        gap: 5px;
                        span{
                            font-size: 24px;
                            margin-bottom: -3px;
                            color: #595349;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            gap: 5px;
                            @media #{$max1024}{
                                font-size: 20px;
                            }
                        }
					}
                    .tf-arrow-icons{
                        text-align: right;
                    }
				}
			}
		}
	}

    .tf-tour-archive-block{
        .tf-booking-form-checkin{
            max-width: none;
            width: 37% !important;
            .tf-tour-searching-date-block{
                display: flex;
                align-items: center;
                .tf-duration{
                    span{
                        font-size: 24px;
                        margin: 0px 15px;
                        color: #595349;
                        @media #{$max1024}{
                            margin: 0px 5px;
                        }
                    }
                }
                span.tf-booking-month{
                    flex-direction: row;
                    svg{
                        margin-left: 4px;
                    }
                }
            }
        }
        .tf-booking-form-guest-and-room{
            span.tf-booking-month{
                flex-direction: row;
                svg{
                    margin-left: 4px;
                }
            }
        }
    }
}
.tf_acrselection-wrap {
    display: unset;
    top: 80%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background: #FDF9F3;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.10);
    .acr-label{
        color: #595349;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
    }
    .acr-select{
        text-align: right;
        width: 96px;
        input[type=tel]{
            width: 34px !important;
            height: 48px;
            border: 1px solid !important;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            color: #595349 !important;
            text-align: center;
            padding-left: 0px !important;
            padding-right: 0px !important;
            border-radius: 20px;
            background: #FCF4E8 !important;
        }
        .acr-dec,
        .acr-inc{
            background: transparent;
            border: none;
            font-size: 31px;
            font-weight: 400;
            color: #595349;
            padding: 0px;
        }
    }
}
.tf_acrselection-wrap.tf-show {
    visibility: visible;
    opacity: 1;
    top: 116%;
    display: block !important;
}
#tf-apartment-booking{
    box-shadow: none;
    padding: 0px;
    margin: 0;
    border: none;
    border-radius: none;
    .tf-apartment-form-header{
        h3{
            span{
                color: #B58E53 !important;
                font-size: 32px !important;
                font-style: normal;
                font-weight: 700 !important;
                line-height: 120%; /* 38.4px */
                @media #{$max767}{
                    font-size: 20px !important;
                }
                bdi{
                    font-size: 32px !important;
                    @media #{$max767}{
                        font-size: 20px !important;
                    }
                }
            }
            span.per-pricing-type{
                font-size: 18px !important;
            }
        }
    }
    .tf-apartment-form-fields{
        background-color: transparent;
        border: 0px solid;
        margin: 0;
        border-radius: none;
        .tf_booking-dates{
            .tf-check-in-out-date{
                height: 53px;
                padding: 16px 32px 16px 16px;
                background: #FDF9F3;
                margin-bottom: 32px;
                .tf_label-row{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
            .tf-aprtment-check-in-out-date{
                height: 53px;
                padding: 15px 32px 16px 16px;
                background: #FDF9F3;
                width: 100%;
                box-sizing: border-box;

                .tf_label_rows{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    input{
                        border: none;
                        background-color: rgba(0,0,0,0);
                        padding: 0;
                        width: 100% !important;
                        color: #607085;
                        font-size: 16px;
                        text-align: left;
                        height: auto;

                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
        .tf-apartment-guest-row{
            border-top: 0px solid #e1e5ea;
            padding: 0px;
            .tf_selectperson-wrap{
                display: block;
                .tf-form-title{
                    margin-bottom: 24px;
                    h3.tf-person-info-title{
                        color: #595349;
                        font-size: 32px !important;
                        font-style: normal;
                        font-weight: 700 !important;
                        line-height: 120%;
                        margin: 0px;
                        @media #{$max767}{
                            font-size: 20px !important;
                        }
                    }
                }

                .tf_acrselection{
                    margin-bottom: 24px;

                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    .tf-btn-booking{
        button,
        a{
            border: 1px solid #B58E53;
            background: #B58E53;
            padding: 12px 32px;
            color: #FDF9F3;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            width: 100%;
            transition: .3s all ease;
            text-decoration: none;
            display: block;
            &:hover{
                background-color: #917242;
            }
        }
    }
}
.tf-search-date-wrapper {

    background: #FAEEDC;
    padding: 24px;

    .tf-booking-date-wrap {
        display: flex;
        flex-direction: row;
        background: #fff;
        padding: 0 12px;
        max-width: 150px;
        margin-right: 40px;
        justify-content: flex-start;
        padding: 16px !important;
        width: inherit;
        max-width: unset !important;
        margin: 0 !important;

        input {
            padding: 9px;
            border: none;
            outline: none;
            width: -webkit-fill-available;
        }
    }

    .tf-booking-date-wrap input {
        padding: 0 9px;
    }

    .acr-dec,
    .acr-inc {
        background: transparent;
        border: none;
        font-size: 31px;
        font-weight: 400;
        color: #595349;
        padding: 0px;
    }

    .acr-select input[type=tel] {
        width: 34px !important;
        height: 48px;
        border: 1px solid !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        color: #595349 !important;
        text-align: center;
        padding-left: 0px !important;
        padding-right: 0px !important;
        border-radius: 20px;
        background: #FCF4E8 !important;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .tf-booking-person.tf-tour-booking-box{
            margin-top: 8px;
        }
    }

    h2 {
        padding: 0 !important;
        margin: 0 !important;
    }

    .tf_acrselection-wrap {
        position: unset;
        visibility: unset;
        opacity: unset;
        margin: 0;
        padding: 0;
        background: transparent;
        box-shadow: none;
    }

    .acr-label {
        color: #595349;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        @media #{$max1024}{
            font-size: 14px;
        }
        div{
            margin-left: 5px;
            span{
                display: inline-block;
                color: #595349;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                @media #{$max1024}{
                    font-size: 14px;
                }
            }
        }
    }
    .acr-select{
        justify-content: end;
        @media #{$max1024}{
            width: 100px;
        }
    }

    .acr-label span {
        color: #99948D;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        display: block;
    }

    span.tf-search-date-info {
        color: #595349;
        font-size: 32px;
        font-weight: 700;
        line-height: 1;
    }
}

.tf_tours_booking{
    .tf-form-title{
        h3.tf-person-info-title{
            color: #595349;
            font-size: 32px !important;
            font-style: normal !important;
            font-weight: 700 !important;
            line-height: 120% !important;
            margin: 0;
            @media #{$max1024}{
                font-size: 24px !important;
            }
        }
    }
    .tf-field-group {
        margin: 0px !important;
        .tf-field{
            background-color: transparent !important;
            padding: 12px 0px !important;
            align-items: center;
            justify-content: space-between;
            .acr-label{
                i{
                    position: static;
                }
            }
            .acr-select{
                input{
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                    -webkit-appearance: none !important;
                    -moz-appearance: none !important;
                    appearance: none !important;
                }
            }
        }
    }
    .tf-field-calander {
        i{
            margin-top: -3px;
        }
        .tf-field{
            padding: 15px 40px !important;
            width: 100% !important;
            background-color: #FDF9F3 !important;
            border-radius: 0px !important;
            color: #99948D !important;
            &::placeholder{
                color: #99948D !important;
            }
        }
    }
    .tf-field-calander.check-in-time-div .tf-field{
        padding: 18.7px 40px !important;
    }
    .tf-tours-booking-btn.tf-booking-bttns{
        a{
            border: 1px solid #B58E53 !important;
            background: #B58E53 !important;
            padding: 12px 32px !important;
            justify-content: center;
            transition: .3s all ease;
            border-radius: 0px;
            &:hover{
                background-color: #917242 !important;
            }
        }
    }
}
.tf-mobile-booking-btn{
    border: 1px solid #B58E53;
    background: #B58E53;
    padding: 12px 32px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: none;
    transition: .3s all ease;
    &:hover{
        background-color: #917242;
        border-color: #917242;
    }
    @media #{$max1024}{
        display: block;
    }
    span{
        color: #FDF9F3;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 24px */
    }
}
.tf-bottom-booking-bar{
    width: 100% !important;
    background: #FAEEDC;
    box-shadow: none;
    gap: 24px;
    .tf-booking-form-fields{
        display: flex;
        @media #{$max640}{
            justify-content: center;
        }
        .tf-booking-form-checkinout{
            border-right: 1px solid #D6D4D2;
            flex-direction: column;
            position: relative;
            padding: 0px 38px;
            display: flex;
            @media #{$max640}{
                padding: 0px 10px;
            }
            span.tf-booking-form-title {
                font-size: 16px;
                font-weight: 600;
                line-height: 20.8px;
                margin-bottom: 0px;
            }
            .tf-booking-date-wrap {
                display: flex;
                gap: 6px;
                cursor: pointer;
                background: transparent;
                padding: 0px !important;
                justify-content: start;
            }
            .tf-booking-date {
                color: #595349;
                font-size: 24px;
                font-weight: 400;
                line-height: 31.2px;
                text-align: right;
                margin-right: 5px;
            }
            span.tf-booking-month {
                color: #595349;
                font-size: 16px;
                display: flex;
                align-items: center;
                span{
                    margin-right: 5px;
                }
            }
            input{
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
            }
        }
        .tf-bottom-booking-field.check-in-time-div{
            select{
                border: 0px solid;
                min-width: auto;
                padding: 0px 38px;
                color: #99948d;
                font-size: 16px;
                font-weight: 600;
                line-height: 20.8px;
                margin-bottom: 0px;
                border-right: 1px solid #D6D4D2;
                border-radius: 0px !important;
                background-image: none;
                text-align: center;
                @media #{$max640}{
                    padding: 0px 10px;
                }
            }
        }
        .tf-booking-form-guest-and-room{
            position: relative;
            padding: 0px 38px;
            @media #{$max640}{
                padding: 0px 10px;
            }
            .tf-booking-form-title{
                font-size: 16px;
                font-weight: 600;
                line-height: 20.8px;
                margin-bottom: 0px;
                color: #99948D;
            }
            .tf-booking-guest-and-room-wrap{
                display: flex;
                align-items: center;
                gap: 6px;
            }
            .tf-guest.tf-booking-date{
                color: #595349;
                font-size: 24px;
                font-weight: 400;
                line-height: 31.2px;
                min-width: none;
                text-align: right;
                margin-right: 5px;
            }
            .tf-booking-month{
                display: flex;
                align-items: center;
                span{
                    color: #595349;
                    font-size: 16px;
                    margin-right: 5px;
                }
            }
            .tf_acrselection-wrap {
                position: absolute;
                top: 100%;
                right: 0;
                margin-top: 12px;
                background: #fff;
                padding: 24px 24px 8px;
                min-width: 250px;
                border-radius: 4px;
                box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
                z-index: 9999;
                width: 100%;
                display: none;
                .acr-select input[type="number"]{
                    padding-left: 0px !important;
                }
            }
            .tf_acrselection-wrap.tf-show{
                left: 0;
                right: auto;
                width: auto;
                visibility: visible;
                opacity: 1;
                top: 100%;
                display: block !important;
                margin-top: 0px;
                bottom: 162%;
                top: auto;
                @media #{$max1199}{
                    bottom: 131%;
                }
                @media #{$max640}{
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    .tf-tours-booking-btn.tf-booking-bttns a{
        padding: 16px 32px !important;
    }
    
}

.tf-withoutpayment-booking .tf-withoutpayment-popup, 
.tf-withoutpayment-booking-confirm .tf-withoutpayment-popup{
    background-color: #FDF9F3;
    box-shadow: 0px 3px 60px 0px rgba(0, 0, 0, 0.10);
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs, 
.tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs{
    background-color: #FDF9F3;
    border-bottom: 0.3px solid #CCCED1;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul, .tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul{
    background-color: #595349;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li, .tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li{
    color: #FDF9F3;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.active, 
.tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.active{
    background-color: #99948D;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.active::before, 
.tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.active::before {
    background-color: #99948D;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-content-summery .tf-booking-content .traveller-info .traveller-single-info input[type="text"],
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-content-summery .tf-booking-content .traveller-info .traveller-single-info input[type="textarea"],
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-content-summery .tf-booking-content .traveller-info .traveller-single-info input[type="date"],
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-content-summery .tf-booking-content .traveller-info .traveller-single-info select{
    background: #FCF4E8 !important;
}

.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-pagination .tf-control-pagination button, .tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-pagination .tf-control-pagination button{
    background-color: #B58E53;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-pagination .tf-control-pagination a.tf-back-control, .tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-pagination .tf-control-pagination a.tf-back-control{
    background-color: transparent !important;
    color: #B58E53;
    padding: 0px !important;
    border: 0px solid !important;
}

.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.done, .tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.done{
    background-color: #99948D;
}

.tf-single-tour-extra .tf_quantity-acrselection .quanity-acr-fields {
    background-color: #f3f7fa !important;
    padding: 15px 40px !important;
    margin-bottom: 10px !important;
    margin-left: 23px !important;
}