.tf-booking-form-wrapper {
    background: #FAEEDC;
    .tf-booking-form {
        display: flex;
        .tf-booking-form-fields {
            display: flex;
            width: 78%;
            padding: 24px;
            padding-right: 0;
            &>div {
                width: 32%;
                border-right: 1px solid #D6D4D2;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                &.tf-booking-form-guest-and-room {
                    width: 36%;
                    padding-left: 70px;
                    align-items: start;
                    border-right: none;
                    cursor: pointer;
                }
            }
        }
        .tf-booking-form-checkout,
        .tf-booking-form-checkin {
            input {
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
            }
        }
        .tf-booking-date {
            color: #595349;
            font-size: 24px;
            font-weight: 400;
            line-height: 31.20px;
            min-width: 28px;
            text-align: right;
            margin-right: 5px;
        }
        span.tf-booking-form-title {
            font-size: 16px;
            font-weight: 600;
            line-height: 20.80px;
            margin-bottom: 6px;
        }
        span.tf-booking-month {
            color: #595349;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .tf-booking-date-wrap {
            display: flex;
            gap: 6px;
            cursor: pointer;
        }
        .tf_label-row{
            span#tf-required{
                font-size: 12px;
                color: red !important;
            }
        }
        .tf-booking-guest-and-room-wrap {
            display: flex;
            gap: 6px;
        }
        .tf-booking-person-count span {
            margin-right: 12px;
        }
        .tf-cancellation-refundable-text {
            display: flex;
            flex-direction: column;
        }
        .tf-booking-form-submit {
            width: 22%;
            button {
                height: 100%;
                width: 100%;
                background: #B58E53 !important;
                border: 0;
                outline: none;
                color: #FDF9F3;
                font-size: 16px !important;
                font-family: Josefin Sans;
                font-weight: 700;
                line-height: 24px !important;
                cursor: pointer;
                border-radius: 0px;
                transition: .3s all ease;
            }
        }
    }
}
.tf-archive-search-form { 
	.tf-booking-form { 
		.tf-booking-form-fields { 
			.tf-booking-form-location { 
                display: flex;
                align-items: flex-start !important;
                padding-right: 40px;
                
				.tf-booking-location-wrap { 
                    display: flex;
                    flex-direction: row;
                    background: #fff;
                    padding: 0 12px;
                    max-width: 150px;
                    align-items: center;
					position: relative;
                    input{
                        padding: 9px;
                        border: none;
                        outline: none;
                        width: 100%;
                        background: transparent;
                        box-shadow: none;
                    }

                    #tf-locationautocomplete-list,
                    #tf-destinationautocomplete-list{
                        position: absolute;
                        left: 0;
                        top: 100%;
                        width: 100%;
                        background: #fff;
                        z-index: 999;
                        border: 1px solid #d4d4d4;
                        max-height: 200px;
                        overflow: auto;
                        scrollbar-width: thin;
                        scrollbar-color: #aaa #eee;
                        div{
                            padding: 10px;
                            cursor: pointer;
                            background-color: #fff;
                            border-bottom: 1px solid #d4d4d4;
                            color: #444;
                            display: block;
                        }
                    }
				}
			}
			
			.tf-booking-form-guest-and-room { 
                padding-left: 40px !important;
                min-width: 200px;
				.tf-booking-form-guest-and-room-inner {
					.tf-booking-guest-and-room-wrap.tf-archive-guest-info { 
                        margin-top: 6px;
                        color: #595349;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        gap: 5px;
                        span{
                            font-size: 24px;
                            margin-bottom: -3px;
                            color: #595349;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            gap: 5px;
                        }
					}
                    .tf-arrow-icons{
                        text-align: right;
                        margin-top: -10px;
                    }
				}
			}
		}
	}
}
.tf_acrselection-wrap {
    display: unset;
    top: 80%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.tf_acrselection-wrap.tf-show {
    visibility: visible;
    opacity: 1;
    top: 100%;
    display: block !important;
}

.tf-search-date-wrapper {

    background: #FAEEDC;
    padding: 24px;

    .tf-booking-date-wrap {
        display: flex;
        flex-direction: row;
        background: #fff;
        padding: 0 12px;
        max-width: 150px;
        margin-right: 40px;
        justify-content: flex-start;
        padding: 16px !important;
        width: inherit;
        max-width: unset !important;
        margin: 0 !important;

        input {
            padding: 9px;
            border: none;
            outline: none;
            width: -webkit-fill-available;
        }
    }

    .tf-booking-date-wrap input {
        padding: 0 9px;
    }

    .acr-dec,
    .acr-inc {
        background: transparent;
        border: none;
        font-size: 31px;
        font-weight: 400;
        color: #595349;
    }

    .acr-select input[type=number] {
        width: 35px !important;
        height: 46px;
        border: 1px solid !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        color: #999 !important;
        text-align: center;
        padding-left: 14px !important;
        padding-right: -1px !important;
        border-radius: 20px;
        background: #FCF4E8 !important;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    h2 {
        padding: 0 !important;
        margin: 0 !important;
    }

    .tf_acrselection-wrap {
        position: unset;
        visibility: unset;
        opacity: unset;
        margin: 0;
        padding: 0;
        background: transparent;
        box-shadow: none;
    }

    .acr-label {
        color: #595349;
        font-family: Josefin Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        div{
            margin-left: 5px;
            span{
                display: inline-block;
                color: #595349;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
            }
        }
    }

    .acr-label span {
        color: #99948D;
        font-family: Josefin Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        display: block;
    }

    span.tf-search-date-info {
        color: #595349;
        font-size: 32px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
        line-height: 1;
    }
}

.tf_tours_booking{
    .tf-form-title{
        p{
            color: #595349;
            font-family: Cormorant Garamond;
            font-size: 32px !important;
            font-style: normal !important;
            font-weight: 700 !important;
            line-height: 120% !important;
        }
    }
    .tf-field-group {
        margin: 0px !important;
        .tf-field{
            background-color: transparent !important;
            padding: 12px 0px !important;
            align-items: center;
            justify-content: space-between;
            .acr-label{
                i{
                    position: static;
                }
            }
            .acr-select{
                input{
                    padding-left: 0px !important;
                }
            }
        }
    }
    .tf-field-calander .tf-field{
        padding: 15px 40px !important;
        width: 100% !important;
        background-color: #F3F7FA !important;
    }
    .tf-tours-booking-btn.tf-booking-bttns{
        a{
            border: 1px solid #B58E53 !important;
            background: #B58E53 !important;
            padding: 12px 32px !important;
            justify-content: center;
        }
    }
}

.tf-bottom-booking-bar{
    .tf-booking-form-fields{
        display: flex;
        .tf-booking-form-checkinout{
            width: 185px;
            border-right: 1px solid #D6D4D2;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 0px 38px;
            display: flex;
            span.tf-booking-form-title {
                font-size: 16px;
                font-weight: 600;
                line-height: 20.8px;
                margin-bottom: 0px;
            }
            .tf-booking-date-wrap {
                display: flex;
                gap: 6px;
                cursor: pointer;
                background: transparent;
                padding: 0px !important;
                justify-content: center;
            }
            .tf-booking-date {
                color: #595349;
                font-size: 24px;
                font-weight: 400;
                line-height: 31.2px;
                min-width: 28px;
                text-align: right;
                margin-right: 5px;
            }
            span.tf-booking-month {
                color: #595349;
                font-size: 16px;
                display: flex;
                align-items: center;
                span{
                    margin-right: 5px;
                }
            }
            input{
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
            }
        }
        .tf-bottom-booking-field.check-in-time-div{
            select{
                border: 0px solid;
                min-width: auto;
                padding: 0px 38px;
                color: #99948d;
                font-size: 16px;
                font-weight: 600;
                line-height: 20.8px;
                margin-bottom: 0px;
                border-right: 1px solid #D6D4D2;
                border-radius: 0px !important;
                background-image: none;
                text-align: center;
            }
        }
        .tf-booking-form-guest-and-room{
            position: relative;
            padding: 0px 38px;
            border-right: 1px solid #D6D4D2;
            width: 170px;
            .tf-booking-form-title{
                font-size: 16px;
                font-weight: 600;
                line-height: 20.8px;
                margin-bottom: 0px;
                color: #99948D;
            }
            .tf-booking-guest-and-room-wrap{
                display: flex;
                align-items: center;
                gap: 6px;
            }
            .tf-guest.tf-booking-date{
                color: #595349;
                font-size: 24px;
                font-weight: 400;
                line-height: 31.2px;
                min-width: 28px;
                text-align: right;
                margin-right: 5px;
            }
            .tf-booking-month{
                display: flex;
                align-items: center;
                span{
                    color: #595349;
                    font-size: 16px;
                    margin-right: 5px;
                }
            }
            .tf_acrselection-wrap {
                position: absolute;
                top: 100%;
                right: 0;
                margin-top: 12px;
                background: #fff;
                padding: 24px 24px 8px;
                min-width: 250px;
                border-radius: 4px;
                box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
                z-index: 9999;
                width: 100%;
                display: none;
                .acr-select input[type="number"]{
                    padding-left: 0px !important;
                }
            }
            .tf_acrselection-wrap.tf-show{
                left: 0;
                right: auto;
                top: -210px !important;
                width: auto;
                visibility: visible;
                opacity: 1;
                top: 100%;
                display: block !important;
            }
        }
    }
    .tf-tours-booking-btn.tf-booking-bttns a{
        padding: 16px 32px !important;
    }
    
}

.tf-withoutpayment-booking .tf-withoutpayment-popup, 
.tf-withoutpayment-booking-confirm .tf-withoutpayment-popup{
    background-color: #FDF9F3;
    box-shadow: 0px 3px 60px 0px rgba(0, 0, 0, 0.10);
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs, 
.tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs{
    background-color: #FDF9F3;
    border-bottom: 0.3px solid #CCCED1;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul, .tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul{
    background-color: #595349;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li, .tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li{
    color: #FDF9F3;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.active, 
.tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.active{
    background-color: #99948D;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.active::before, 
.tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.active::before {
    background-color: #99948D;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-content-summery .tf-booking-content .traveller-info .traveller-single-info input[type="text"],
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-content-summery .tf-booking-content .traveller-info .traveller-single-info input[type="textarea"],
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-content-summery .tf-booking-content .traveller-info .traveller-single-info input[type="date"],
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-content-summery .tf-booking-content .traveller-info .traveller-single-info select{
    background: #FCF4E8 !important;
}

.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-pagination .tf-control-pagination button, .tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-pagination .tf-control-pagination button{
    background-color: #B58E53;
}
.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-pagination .tf-control-pagination a.tf-back-control, .tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-pagination .tf-control-pagination a.tf-back-control{
    background-color: transparent !important;
    color: #B58E53;
    padding: 0px !important;
    border: 0px solid !important;
}

.tf-withoutpayment-booking .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.done, .tf-withoutpayment-booking-confirm .tf-withoutpayment-popup .tf-booking-tabs .tf-booking-tab-menu ul li.done{
    background-color: #99948D;
}