.tf-facilities-wrapper {
    .tf-facilities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px 0;
        margin-bottom: 32px;
        .tf-facility-item {
            width: 25%;

            h4 {
                color: #595349;
                font-weight: 600;
                line-height: 20.80px;
                font-family: "Josefin Sans", sans-serif;
                margin-bottom: 13px;

                i {
                    margin-right: 6px;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                padding-left: 22px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {}
            }
        }
    }
}