.tf-hero-section-wrap {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 56px;
    @media #{$max767}{
        margin-bottom: 16px;
    }
    .tf-container {
        .tf-hero-content {
            min-height: 513px;
            max-height: 513px;
            margin: 0;
            padding: 0;
            @media #{$max1024}{
                min-height: 350px;
                max-height: 350px;
            }
            @media #{$max767}{
                min-height: 210px !important;
                max-height: 210px !important;
            }
            .tf-wish-and-share {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 161px;
                display: flex;
                gap: 16px;
                @media #{$max1024}{
                    margin-top: 90px;
                }
                @media #{$max767}{
                    margin-top: 64px;
                    padding-right: 16px;
                }
                a.tf-share-toggle,
                a.tf-wishlist {
                    margin: 0;
                    padding: 0;
                    height: 32px;
                    width: 32px;
                    border-radius: 100px;
                    background: rgba(181, 142, 83, 0.50);
                    box-shadow: 0px 14px 30px 0px rgba(0, 23, 100, 0.07);
                    text-align: center;
                    line-height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FDF9F3;
                    cursor: pointer;
                    font-size: 16px;
                    text-decoration: none;
                }
                
                .tf-off-canvas-share-box{
                    display: inline-flex;
                    align-items: center;
                    .tf-off-canvas-share{
                        display: none;
                        margin: 0;
                        padding: 0;
                        align-items: center;
                        li{
                            a{
                                margin-right: 16px;
                                text-decoration: none;
                                i{
                                    font-size: 16px;
                                    color: #FDF9F3;
                                }
                            }
                            &:last-child{
                                a{
                                    margin-right: 9px;
                                }
                            }
                            #share_link_button{
                                padding: 0px;
                                background-color: transparent;
                                border: 0px solid;
                                display: inline-flex;
                                align-items: center;
                                gap: 5px;
                                span{
                                    display: none;
                                    font-size: 13px;
                                    color: #FDF9F3;
                                }
                            }
                            #share_link_button.copied{
                                span{
                                    display: inline-block;
                                }
                            }
                            input{
                                padding: 0;
                                height: 0px;
                                width: 0px;
                            }
                        }
                    }
                    .tf-off-canvas-share.show{
                        display: inline-flex;
                    }
                }
            }

            .tf-hero-bottom-area {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-bottom: 48px;
                @media #{$max1024}{
                    align-items: center;
                    padding: 0px 0 32px 0;
                }
                @media #{$max767}{
                    padding: 0px 16px 16px 16px;
                }
                .tf-head-title {
                    text-align: left;
                    h1{
                        color: #FDF9F3;
                        @media #{$max1024}{
                            font-size: 32px !important;
                        }
                        @media #{$max767}{
                            font-size: 20px !important;
                            margin-bottom: 8px;
                        }
                    }
                    .tf-title-meta {
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 31px;
                        color: #FDF9F3;
                        display: flex;
                        gap: 8px;
                        @media #{$max1024}{
                            font-size: 16px !important;
                        }
                        @media #{$max767}{
                            font-size: 14px !important;
                            line-height: 130%; /* 18.2px */
                        }
                        a {
                            color: #FDF9F3;
                            text-decoration: none;
                            font-size: 24px;
                            font-family: Josefin Sans;
                            font-weight: 400;
                            line-height: 31.20px;
                            @media #{$max1024}{
                                font-size: 16px !important;
                            }
                            @media #{$max767}{
                                font-size: 14px !important;
                                line-height: 130%; /* 18.2px */
                            }
                        }
                    }
                }

                .tf-hero-gallery-videos {
                    display: flex;
                    gap: 14px;

                    &>div {
                        height: 80px;
                        width: 200px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(48, 40, 28, 0.8);
                        color: #fff;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer;
                        @media #{$max1024}{
                            width: 103px;
                            height: 40px;
                        }
                        @media #{$max767}{
                            width: 52px !important;
                            height: 32px !important;
                        }
                    }
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        color: #FDF9F3;

                        svg {
                            @media #{$max1024}{
                                width: 16px !important;
                            }
                            @media #{$max767}{
                                width: 12px !important;
                            }
                        }
                    }
                }
            }
        }
        .tf-archive-hero-content {
            display: flex;
            justify-content: flex-end;
            .tf-head-title {
                padding: 0 0 48px 0;
                display: flex;
                align-items: center;
                gap: 32px;
                color: #FDF9F3;
                @media #{$max1024}{
                    display: flow-root;
                    padding: 0px 0 30px 0;
                }
                @media #{$max767}{
                    align-items: center;
                    padding: 0px 16px 16px 16px;
                }
                h1{
                    color: #FDF9F3;
                    margin: 0px;
                    @media #{$max767}{
                        font-size: 20px !important;
                    }
                }
            }
            .tf-title-meta {
                font-size: 24px;
                line-height: 1.3;
                @media #{$max1024}{
                    margin-top: 6px;
                }
                p{ 
                    color: #FDF9F3;
                    margin: 0px;
                }
            }
        }
    }
}