.tf-itinerary-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media #{$max767}{
        padding-left: 16px;
        padding-right: 16px;
    }
    .section-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        @media #{$max1024}{
            margin-bottom: 0px;
        }
    }

    .section-title a {
        display: flex;
        flex-direction: row;
        color: #595349;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        word-wrap: break-word;
        border: none;
        background: #FAEEDC;
        min-width: 211px;
        height: fit-content;
        padding: 12px;
        gap: 16px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        @media #{$max1024}{
            font-size: 12px !important;
        }
    }
    .tf-itinerary-wrapper{
        padding: 0px;
        .tf-single-itinerary {
            background: #FCF4E8;
            padding: 16px 32px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .tf-itinerary-content-wrap{
                display: none;
            }
        }

        .tf-itinerary-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            user-select: none;
            i{
                color: #595349 ;
            }
        }
        .tf-itinerary-title.active {
            i{
                transform: rotate(180deg);
            }
        }
        .tf-itinerary-title span.tf-head-title {
            color: #595349;
            font-size: 20px !important;
            font-weight: 400 !important;
            line-height: 26px !important;
            word-wrap: break-word;
            margin: 0px;
            @media #{$max1024}{
                font-size: 16px !important;
            }
            @media #{$max767}{
                display: flex;
                align-items: center;
            }
            span.tf-itinerary-time {
                padding: 8px 16px;
                background: #FAEEDC;
                margin-right: 16px;
            }
        }



        .tf-itinerary-content {
            display: flex;
            gap: 32px;
            @media #{$max767}{
                flex-wrap: wrap;
            }
        }

        .tf-itinerary-content-details {
            display: flex;
            flex-direction: column;
            width: calc(100% - 320px);
            @media #{$max1366}{
                width: calc(100% - 292px);
            }
            @media #{$max1024}{
                width: calc(100% - 204px);
            }
            @media #{$max767}{
                width: 100% !important;
            }
            .tf-itinerary-more-offer{
                margin-top: 16px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px;
                .tf-itinerary-single-meta{
                    position: relative;
                    li{
                        color: #99948D;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%; /* 20.8px */
                        i{
                            margin-right: 8px;
                            width: 22px;
                            font-size: 20px;
                        }
                        a{
                            color: #99948D;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%; /* 20.8px */
                            text-decoration: none;
                            align-items: center;
                            i{
                                margin-right: 8px;
                                width: 22px;
                                font-size: 20px;
                            }
                        }
                    }
                }
                
            }
        }

        .tf-itinerary-content-details ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 12px 10px;
        }

        .tf-itinerary-content-details ul li {
            width: calc(50% - 5px);
        }
    }

    .section-title h2 {
        color: #595349;
        font-size: 32px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 120%; /* 38.4px */
        margin: 0;
        @media #{$max1024}{
            font-size: 24px !important;
        }
    }

    .tf-itinerary-content-images {
        height: fit-content;
        width: 320px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        @media #{$max1366}{
            width: 252px;
        }
        @media #{$max1366}{
            width: 179px;
        }
        @media #{$max767}{
            width: 100% !important;
        }
        .ininerary-other-gallery{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
            margin-bottom: 0px;
            margin-top: 8px;
            a{
                display: none;
                &:nth-child(1),
                &:nth-child(2){
                    display: block
                }
            }
            a.tf-itinerary-gallery-more{
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                justify-content: center;
                background-size: cover !important;
                background-position: center !important;
            }
        }
    }

    .tf-single-itinerary.active .tf-itinerary-content {
        display: flex !important;
    }

    .tf-single-itinerary.active {
        padding-bottom: 32px !important;
    }

    .tf-itinerary-map iframe {
        width: 100%;
    }
    .tf-single-itinerary.active .tf-itinerary-title i {
        transform: rotate(180deg);
    }
}

.tf-itinerary-map{
    margin-top: 32px;
    margin-bottom: 48px;

    @media #{$tfmax767}{
        margin-top: 12px;
        margin-bottom: 20px;
    }

    #tour-location {
        @media #{$tfmax767}{
            height: 220px !important;
        }
    }
}