.tf-popup-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background: rgba(48, 40, 28, 0.3019607843);
    backdrop-filter: blur(15px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &.tf-show {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        .tf-popup-inner {
            transform: scale(1);

        }
    }
    .tf-popup-inner {
        width: 1130px;
        background: #FCF4E8;
        padding: 24px;
        max-height: 695px;
        max-width: 80vw;
        position: relative;
        transform: scale(0.9);
        transition: 0.3s;

        .tf-popup-body {
            width: calc(100% - 8px);
            max-height: 624px;
            overflow: hidden;
            overflow-y: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            padding-right: 8px;
            scrollbar-width: thin;
            scrollbar-color: #aaa #eee;
            @media #{$max767}{
                grid-template-columns: 1fr 1fr;
            }
            scrollbar {
                width: 5px; 
            }
            scrollbar-thumb {
                background-color: #aaa;
                border-radius: 4px;
            }
            img.tf-popup-image {
                width: 100%;
                height: fit-content;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
        .tf-popup-body::-webkit-scrollbar {
            width: 5px;
        }
        
        .tf-popup-body::-webkit-scrollbar-thumb {
            background-color: #aaa;
            border-radius: 4px;
        }
        
        .tf-popup-body::-webkit-scrollbar-track {
            background-color: #eee;
        }

        .tf-popup-close {
            position: absolute;
            right: -15px;
            top: -15px;
            padding: 6px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: #fcf4e8;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s all ease;
            cursor: pointer;
            &:hover{
                background: #FDF9F3;
            }
            &:focus{
                background: #FAEEDC;
            }
        }
        .tf-popup-close i {
            color: #595349;
            font-size: 18px;
        }
    }
}

.tf-popup-video-item {
    width: 100%;
    height: -webkit-fill-available;
}

.tf-popup-video-item iframe {
    width: 100%;
    height: 100%;
}
.tf-popup-wrapper.tf-room-popup{
    .tf-popup-inner {
        width: 1500px;
        @media #{$max767}{
            width: 90% !important;
            max-width: none !important;
        }
        .tf-popup-body {
            width: calc(100% - 8px);
            max-height: 624px;
            overflow: hidden;
            overflow-y: auto;
            display: grid;
            grid-template-columns: 3fr 1fr;
            gap: 10px;
            padding-right: 8px;
            scrollbar-width: thin;
            scrollbar-color: #aaa #eee;
            @media #{$max1024}{
                grid-template-columns: 2fr 1fr;
            }
            @media #{$max767}{
                max-height: 430px;
            }
            scrollbar {
                width: 5px; 
            }
            scrollbar-thumb {
                background-color: #aaa;
                border-radius: 4px;
            }
            .tf-popup-left {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 12px;
                @media #{$max1024}{
                    grid-template-columns: 1fr 1fr;
                }
            }
            .tf-popup-right h4 {
                color: #595349;
                font-size: 16px !important;
                font-family: Josefin Sans !important;
                font-weight: 600 !important;
                line-height: 20.80px;
                word-wrap: break-word;
                margin-bottom: 0px;
            }
            .tf-popup-right {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
            .tf-popup-right ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 16px;
            }
            .tf-popup-right ul li {
                width: calc(50% - 8px);
                display: flex;
                gap: 8px;
                @media #{$max767}{
                    width: calc(100% - 8px);
                }
            }
            .tf-popup-right a {
                color: #595349;
                font-size: 16px;
                font-weight: 600;
                line-height: 20.80px;
                text-decoration: none;
            }
        }
    }
}