@media only screen and (max-width: 1600px) {
    .tf-template-3.tf-hotel-single {
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content {
            width: calc(100% - 230px);
        }
        .tf-popup-body{
            gap: 0;
        }
        .tf-room-popup .tf-popup-inner{
            width: 80%;
        }
        .tf-popup-left{
            width: 65%;
        }
        .tf-popup-right{
            width: 35%;
        }
    }
}
@media only screen and (max-width: 1366px) {
    .tf-template-3.tf-tour-single{
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 391px !important;
            padding: 0px !important;
        }
    }
    .tf-template-3.tf-hotel-single{
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 391px !important;
            padding: 0px !important;
        }

        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkin,
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkout{
            max-width: none;
            padding-left: 48px;
            padding-right: 48px;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-guest-and-room{
            padding-left: 48px !important;
        }
    }
}

@media only screen and (max-width: 1280px) {
    .tf-template-3.tf-hotel-single{
        .tf-content-wrapper .tf-details{
            gap: 24px;
        }
        .tf-available-rooms-wrapper{
            padding: 16px;
        }
        .tf-available-rooms-wrapper .tf-available-rooms-head > h2{
            font-size: 16px !important;
            font-weight: 600 !important;
        }
        .tf-content-wrapper .tf-details .tf-details-left .tf-overview-wrapper .tf-overview-popular-facilities > ul li{
            width: 33%;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right{
            width: 133px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-left h2{
            font-size: 24px !important;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-gallery{
            min-width: 222px;
            max-width: 222px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-gallery .tf-room-gallery:nth-child(n+2){
            width: 105px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content a.availability,
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content a.tf_air_service{
            font-size: 12px !important;
            min-width: 128px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-left ul li{
            font-size: 14px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right .tf-available-room-price .tf-price{
            text-align: right;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-left{
            width: calc(100% - 155px);
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkin,
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkout{
            max-width: none;
            padding-left: 32px;
            padding-right: 32px;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-guest-and-room{
            padding-left: 32px !important;
        }
    }
}
// @media only screen and (max-width: 1240px) {
//     .tf-template-3.tf-hotel-single {
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content {
//             display: flow-root;
//         }
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right{
//             width: auto;
//             display: flow-root;
//         }
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right .tf-available-room-price{
//             margin-bottom: 0px;
//             justify-content: start;
//         }
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right .tf-cancellation-refundable-text{
//             align-items: start;
//         }
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-deposit-content {
//             text-align: left;
//         }
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right .tf-available-room-select{
//             align-items: center;
//         }
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right .tf-available-room-select select{
//             margin-left: 15px;
//         }

//         .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkin,  
//         .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkout{
//             padding-left: 40px;
//             padding-right: 40px;
//         }
//     }
// }
@media only screen and (max-width: 1024px) {
    .tf-template-3.tf-tour-single{
        .tf-content-wrapper .tf-details .tf-details-left {
            width: calc(100% - 369px);
        }
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 345px !important;
            padding: 0px !important;
        }
    }
    .tf-template-3.tf-hotel-single{
        .tf-content-wrapper .tf-details .tf-details-left {
            width: calc(100% - 246px);
        }
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 222px !important;
            padding: 0px !important;
        }
        .tf-review-data{
            gap: 20px;
            justify-content: space-between;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkin,
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkout{
            max-width: none;
            padding-left: 20px;
            padding-right: 20px;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-guest-and-room{
            padding-left: 20px !important;
        }
    }
}
@media only screen and (max-width: 992px) {

    .tf-template-3.tf-tour-single{
        .tf-content-wrapper .tf-details .tf-details-left {
            width: calc(100% - 284px);
        }
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 260px !important;
        }
    }

    .tf-template-3 {
        font-size: 14px;
        // .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content{
        //     display: flex;
        //     width: 100%;
        // }
        // .tf-content-wrapper .tf-details .tf-details-right.tf-archive-right{
        //     width: auto !important;
        // }
        .tf-available-archive-hetels-wrapper .tf-archive-available-rooms .tf-available-room .tf-available-room-content .tf-available-room-content-right a.view-hotel{
            min-width: 95px;
        }
        // .tf-content-wrapper .tf-details {
        //     display: flex;
        //     flex-direction: column;
        // }
        // .tf-content-wrapper .tf-details>div {
        //     width: 100% !important;
        // }
        // .tf-facilities-wrapper .tf-facilities .tf-facility-item {
        //     width: 33.33%;
        // }
        // .tf-questions-wrapper .tf-questions {
        //     display: flex;
        //     flex-direction: column;
        //     gap: 0;
        // }
        // .tf-questions-wrapper .tf-questions>div {
        //     width: 100%;
        // }
        // .tf-head-title {
        //     text-align: left;
        // }
        // .tf-head-title h1 {
        //     font-size: 20px;
        // }
        .tf-hero-section-wrap .tf-container .tf-hero-content .tf-hero-bottom-area .tf-hero-gallery-videos>div {
            width: 104px;
            height: 40px;
        }
        .tf-hero-section-wrap .tf-container .tf-hero-content .tf-hero-bottom-area .tf-hero-gallery-videos a img {
            width: 16px;
        }
        .tf-header .tf-header-top {
            min-height: 24px;
        }
        .tf-header .tf-header-main {
            min-height: 58px;
        }
        .tf-hero-section-wrap .tf-container .tf-hero-content {
            min-height: 267px;
        }
        // .tf-hero-section-wrap .tf-container .tf-hero-content .tf-wish-and-share {
        //     margin-top: 90px;
        // }
        .tf-details-menu.tf-sticky-menu {
            top: 90px;
        }
    }
    .tf-template-3.tf-hotel-single{
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 970px) {
    .tf-template-3 .tf-related-tours .tf-slider-item{
        height: auto !important;
        padding: auto !important;
        margin: auto !important;
        border: 0px solid !important;
    }
}

@media only screen and (max-width: 767.98px) {
    .tf-template-3 {
        .tf-content-wrapper .tf-details .tf-details-left .tf-details-menu ul {
            gap: 16px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content{
            display: flow-root;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-left {
            width: 100%;
        }
        .tf-available-archive-hetels-wrapper .tf-archive-available-rooms .tf-available-room .tf-available-room-content .tf-available-room-content-right{
            display: flow-root;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right .tf-available-room-price,
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right .tf-cancellation-refundable-text {
            justify-content: start;
            align-items: start;
        }
        
        
        .tf-hero-section-wrap .tf-container .tf-hero-content .tf-hero-bottom-area .tf-hero-gallery-videos>div {
            width: 52px;
            height: 32px;
        }
        
        .tf-template-3 {
            overflow: hidden;
        }
        .tf-content-wrapper .tf-details .tf-details-left .tf-details-menu {
            padding: 16px;
        }
        .tf-content-wrapper .tf-details .tf-details-left .tf-overview-wrapper .tf-overview-popular-facilities>ul li {
            width: 50%;
        }
        .tf-available-rooms-wrapper {
            padding: 16px;
        }
        h2.tf-section-title {
            font-size: 22px;
            line-height: 24px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content {
            padding: 16px;
        }
        .tf-available-rooms-head>h2 {
            color: #595349;
            font-size: 18px;
            line-height: 21px;
        }
        .tf-filter img {
            width: 18px;
        }
        .tf-filter {
            padding: 0;
        }
        .tf-content-wrapper .tf-details .tf-details-left .tf-overview-wrapper {
            padding: 0 16px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content {
            width: calc(100% - 32px);
            gap: 24px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right .tf-cancellation-refundable-text {
            padding-right: 10px;
            width: auto;
        }
        .tf-bottom-booking-bar .tf-bottom-booking-field{
            width: auto !important;
        }
        
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-fields{
            display: flow-root;
            width: 100%;
            >div{
                width: auto !important;
                border-right: 0px solid;
                padding-right: 0px !important;
            }
            .tf-booking-form-location{
                padding-left: 0px;
            }
            .tf-booking-form-location .tf-booking-location-wrap{
                max-width: none !important;
                width: 100%;
                margin-bottom: 15px;
            }
            .tf-booking-form-checkin, .tf-booking-form-checkout{
                float: left;
                border-right: 1px solid #D6D4D2;
                width: 32% !important;
                padding: 0px 20px !important;
                max-width: none;
            }
            .tf-booking-form-guest-and-room{
                padding: 0px 20px !important;
            }
        }

        .tf-related-tours .tf-slider-item .tf-meta-info .tf-meta-title h2 a{
            font-size: 20px;
        }
    }
    .tf-template-3.tf-hotel-single {
        .tf-popup-left{
            width: 100%;
        }
        .tf-popup-right{
            width: 100%;
        }
        .tf-popup-body {
            max-height: 320px;
        }
    }

    .tf-template-3.tf-tour-single {
        .tf-content-wrapper .tf-details{
            display: flow-root;
            .tf-details-left{
                width: 100% !important;
            }
            .tf-details-right{
                width: 100% !important;
            }
        }
        .tf-search-date-wrapper.tf-single-widgets{
            display: none;
        }
        .tf-reviews.tf-single-widgets,
        #tf-tour-faq,
        #tf-tour-reviews,
        #tf-tour-policies,
        .tf-related-tours{
            padding-left: 16px;
            padding-right: 16px;
        }
        #tf-tour-reviews{
            padding-bottom: 32px !important;
            padding-top: 16px;
        }
        #tf-tour-policies,
        .tf-related-tours{
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .tf-send-inquiry{
            margin-bottom: 32px;
            margin-right: 16px;
            margin-left: 16px;
        }
    }
}

// @media only screen and (max-width: 640px) {
//     .tf-template-3{
//         .tf-available-rooms-wrapper .tf-available-room{
//             display: flow-root;
//         }
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-gallery{
//             min-width: auto;
//             width: 100%;
//             max-width: none !important;
//         }
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-gallery .tf-room-gallery {
//             &:nth-child(n+1) {
//                 position: static !important;
//             }
//             &:nth-child(n+2) {
//                 position: absolute !important;
//             }
//         }
//         .tf-content-wrapper .tf-details .tf-details-right .tf_widget .tf-filter ul li > span{
//             display: none;
//         }
//         .tf-available-archive-hetels-wrapper .tf-archive-available-rooms .tf-available-room .tf-available-room-content .tf-available-room-content-right a.view-hotel{
//             min-width: auto;
//             display: block;
//         }
//         .tf-hero-section-wrap .tf-container .tf-archive-hero-content .tf-head-title{
//             display: flow-root;
//         }
//         .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-fields{
//             display: flow-root;
//             .tf-booking-form-checkin, .tf-booking-form-checkout{
//                 padding: 0px 10px !important;
//             }
//             .tf-booking-form-guest-and-room{
//                 padding: 0px 10px !important;
//             }
//         }
//         .tf-bottom-booking-bar .tf-booking-form-fields .tf-booking-form-checkinout,
//         .tf-bottom-booking-bar .tf-booking-form-fields .tf-booking-form-guest-and-room,
//         .tf-bottom-booking-bar .tf-booking-form-fields .tf-bottom-booking-field.check-in-time-div select{
//             padding: 0px 10px;
//         }
//         .tf-bottom-booking-bar .tf-booking-form-fields .tf-booking-form-guest-and-room .tf_acrselection-wrap.tf-show{
//             right: 0;
//             left: auto;
//         }
//         .tf-content-wrapper .tf-details .tf-details-left .tf-overview-wrapper .tf-highlights-wrapper{
//             padding: 16px;
//         }
//         .tf-content-wrapper .tf-details .tf-details-left .tf-overview-wrapper .tf-highlights-wrapper .tf-highlights-icon{
//             display: none;
//         }
//         .tf-content-wrapper .tf-details .tf-details-left .tf-overview-wrapper .tf-highlights-wrapper .ft-highlights-details{
//             width: 100%;
//         }
//         .tf-include-exclude-wrapper .tf-include-exclude-innter{
//             flex-wrap: wrap;
//             gap: 24px;
//         }
//         .tf-include-exclude-wrapper .tf-include-exclude-innter > div {
//             width: 100%;
//         }
//         .tf-include-exclude-wrapper .tf-include-exclude-innter ul{
//             gap: 8px;
//         }
//     }
//     .tf-template-3.tf-hotel-single {
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-gallery .tf-room-gallery {
//             &:nth-child(n+1) {
//                 position: inherit !important;
//             }
//             &:nth-child(n+2) {
//                 position: inherit !important;
//             }
//         }
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content{
//             width: auto;
//         }
//         .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content a.availability{
//             display: block;
//             min-width: auto;
//         }
//     }
// }