@media only screen and (max-width: 1600px) {
    .tf-template-3.tf-hotel-single {
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content {
            width: calc(100% - 230px);
        }
        .tf-room-popup .tf-popup-inner{
            width: 80%;
        }

        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkin,
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkout{
            max-width: none;
            padding-left: 78px;
            padding-right: 78px;
        
        }
    }
}
@media only screen and (max-width: 1366px) {
    .tf-template-3.tf-tour-single{
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 391px !important;
            padding: 0px !important;
        }
    }
    .tf-template-3.tf-hotel-single{
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 391px !important;
            padding: 0px !important;
        }

        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkin,
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkout{
            max-width: none;
            padding-left: 48px;
            padding-right: 48px;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-guest-and-room{
            padding-left: 48px !important;
        }
    }
}

@media only screen and (max-width: 1280px) {

    .tf-template-3{
        .tf-available-rooms-wrapper .tf-available-rooms-head{
            margin-bottom: 16px;
        }
        .tf-available-rooms-wrapper .tf-available-rooms-head > h2{
            font-size: 16px !important;
        }
    }
    .tf-template-3.tf-hotel-single{
        .tf-content-wrapper .tf-details{
            gap: 24px;
        }
        .tf-available-rooms-wrapper{
            padding: 16px;
        }
        .tf-available-rooms-wrapper .tf-available-rooms-head > h2{
            font-size: 16px !important;
            font-weight: 600 !important;
        }
        .tf-content-wrapper .tf-details .tf-details-left .tf-overview-wrapper .tf-overview-popular-facilities > ul li{
            width: 33%;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right{
            width: 133px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-left h2{
            font-size: 24px !important;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-gallery{
            min-width: 222px;
            max-width: 222px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-gallery .tf-room-gallery:nth-child(n+2){
            width: 105px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content a.availability,
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content a.tf_air_service{
            font-size: 12px !important;
            min-width: 128px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-left ul li{
            font-size: 14px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right .tf-available-room-price .tf-price{
            text-align: right;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-left{
            width: calc(100% - 155px);
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkin,
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkout{
            max-width: none;
            padding-left: 32px;
            padding-right: 32px;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-guest-and-room{
            padding-left: 32px !important;
        }
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1165px) {
    .tf-template-3 {
        .tf-available-archive-hetels-wrapper {
            .tf-archive-available-rooms .tf-available-room {
                .tf-available-room-gallery {
                    min-height: auto;
                    max-height: none;
                    height: auto;
                }
                .tf-available-room-content{
                    padding: 14px;
                    .tf-available-room-content-left{
                        width: calc(100% - 154px);
                        .tf-card-heading-info{
                            margin-bottom: 32px;
                        }
                    }
                    .tf-available-room-content-right{
                        width: 130px;
                    }
                }
            }
        }
        .tf-archive-search-form.tf-booking-form-wrapper{
            .tf-booking-form{
                .tf-booking-form-fields{
                    .tf-booking-form-checkout,
                    .tf-booking-form-checkin{
                        padding-left: 10px !important;
                        padding-right: 10px !important;
                        max-width: none;
                        width: 20%;
                        .tf-booking-date{
                            font-size: 20px;
                        }
                        .tf-duration span{
                            margin: 0px 5px;
                        }
                    }
                    .tf-booking-form-guest-and-room{
                        padding-left: 10px !important;
                        padding-right: 10px !important;
                        width: 35% !important;
                        min-width: auto;
                        .tf-booking-date{
                            font-size: 20px;
                        }
                    }
                    .tf-booking-form-location{
                        padding-right: 10px !important;
                        width: 25% !important;
                    }
                }
                .tf-tour-archive-block{
                    .tf-booking-form-checkout,
                    .tf-booking-form-checkin{
                        padding-left: 10px !important;
                        padding-right: 10px !important;
                        .tf-booking-date{
                            font-size: 20px;
                        }
                        .tf-duration span{
                            margin: 0px 5px;
                        }
                    }
                    .tf-booking-form-guest-and-room{
                        padding-left: 10px !important;
                        padding-right: 10px !important;
                        width: 20% !important;
                        min-width: auto;
                        .tf-booking-date{
                            font-size: 20px;
                        }
                    }
                    .tf-booking-form-location{
                        padding-right: 10px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .tf-template-3.tf-tour-single{
        .tf-content-wrapper .tf-details .tf-details-left {
            width: calc(100% - 369px);
        }
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 345px !important;
            padding: 0px !important;
        }
    }
    .tf-template-3.tf-hotel-single{
        .tf-content-wrapper .tf-details .tf-details-left {
            width: calc(100% - 246px);
        }
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 222px !important;
            padding: 0px !important;
        }
        .tf-review-data{
            gap: 20px;
            justify-content: space-between;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkin,
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkout{
            max-width: none;
            padding-left: 20px;
            padding-right: 20px;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-guest-and-room{
            padding-left: 20px !important;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-left ul li{
            font-size: 16px;
        }
    }

    .tf-template-3.tf-apartment-single{
        .tf-content-wrapper .tf-details .tf-details-left {
            width: calc(100% - 264px);
        }
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 240px !important;
            padding: 0px !important;
        }
    }
}
@media only screen and (max-width: 992px) {

    .tf-template-3.tf-tour-single{
        .tf-content-wrapper .tf-details .tf-details-left {
            width: calc(100% - 284px);
        }
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 260px !important;
        }
    }

    .tf-template-3 {
        .tf-archive-details.tf-details{
            position: relative;
        }
        .tf-available-archive-hetels-wrapper .tf-archive-available-rooms .tf-available-room .tf-available-room-content .tf-available-room-content-right a.view-hotel{
            min-width: 95px;
        }
        .tf-hero-section-wrap .tf-container .tf-hero-content .tf-hero-bottom-area .tf-hero-gallery-videos>div {
            width: 104px;
            height: 40px;
        }
        .tf-hero-section-wrap .tf-container .tf-hero-content .tf-hero-bottom-area .tf-hero-gallery-videos a img {
            width: 16px;
        }
        .tf-header .tf-header-top {
            min-height: 24px;
        }
        .tf-header .tf-header-main {
            min-height: 58px;
        }
        .tf-hero-section-wrap .tf-container .tf-hero-content {
            min-height: 275px;
            max-height: 275px;
        }
        .tf-details-menu.tf-sticky-menu {
            top: 90px;
        }
    }
    .tf-template-3.tf-hotel-single{
        .tf-booking-form{
            display: flow-root;
            .tf-booking-form-fields{
                width: 100% !important;
            }
            .tf-booking-form-submit{
                width: 100% !important;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 970px) {
    .tf-template-3 .tf-related-tours .tf-slider-item{
        height: auto !important;
        padding: auto !important;
        margin: auto !important;
        border: 0px solid !important;
    }
}

@media only screen and (max-width: 767.98px) {
    .tf-template-3 {
        font-size: 14px;
        .tf-content-wrapper .tf-details .tf-details-left .tf-details-menu ul {
            gap: 16px;
        }
        .tf-template-3 {
            overflow: hidden;
        }
        .tf-content-wrapper .tf-details .tf-details-left .tf-details-menu {
            padding: 16px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content {
            padding: 16px;
        }
        .tf-bottom-booking-bar .tf-bottom-booking-field{
            width: auto !important;
        }
        .tf-related-tours .tf-slider-item .tf-meta-info .tf-meta-title h2 a{
            font-size: 20px;
        }

        .tf-archive-details{
            .tf-available-room{
                display: flow-root;
                .tf-available-room-gallery{
                    height: 120px !important;
                    max-width: none !important;
                    .tf-room-gallery:nth-child(n+2){
                        width: 48px !important;
                        height: 28px !important;
                        svg{
                            width: 10px !important
                        }
                    }
                }
                .tf-available-room-content{
                    width: auto !important;
                    display: flow-root;
                    .tf-available-room-content-left{
                        width: 100% !important;
                        .tf-card-heading-info{
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 24px;
                            .tf-section-title-and-location{
                                margin-bottom: 0px;
                                width: calc(100% - 124px);
                                h2{
                                    margin-bottom: 6px;
                                }
                                .tf-title-location{
                                    margin: 0px;
                                }
                            }
                            .tf-mobile.tf-pricing-info{
                                display: flex;
                                width: 120px;
                                flex-direction: column;
                                align-items: end;
                                .tf-price-from{
                                    .amount{
                                        color: #595349;
                                        font-size: 20px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 130%;
                                    }
                                }
                            }
                        }
                        ul{
                            margin-bottom: 24px !important;
                        }
                    }
                    .tf-available-room-content-right{
                        width: 100% !important;
                        display: flow-root;
                        .tf-card-pricing-heading{
                            display: none;
                        }
                        a{
                            width: 100% !important;
                        }
                    }
                }
            }
        }
        .tf-tour-contact-informations {
            margin-bottom: 32px;
            margin-top: 32px;
            margin-right: 16px;
            margin-left: 16px;
        }
        &.tf-hotel-single{
            .tf-booking-form{
                display: none;
            }
        }
    }

    .tf-template-3.tf-tour-single {
        .tf-content-wrapper .tf-details{
            display: flow-root;
            .tf-details-left{
                width: 100% !important;
            }
            .tf-details-right{
                width: 100% !important;
            }
        }
        .tf-search-date-wrapper.tf-single-widgets{
            background-color: transparent;
            gap: 0px;
            padding: 0px;
            margin: 0px;
            .tf-section-title,
            .tf_tours_booking > .tf-field-group,
            .tf_tours_booking > .check-in-time-div,
            .tf-tour-booking-box,
            .tf_tours_booking > .tf-tours-booking-btn .tf-btn,
            .tf-bottom-booking-bar{
                display: none !important;
            }
            .tf-bottom-booking-bar.tf-mobile-booking-form{
                display: block !important;
            }
            
        }
        
        .tf-reviews.tf-single-widgets,
        #tf-tour-faq,
        #tf-tour-reviews,
        #tf-tour-policies,
        .tf-related-tours{
            padding-left: 16px;
            padding-right: 16px;
        }
        #tf-tour-reviews{
            padding-bottom: 32px !important;
            padding-top: 16px;
        }
        #tf-tour-policies,
        .tf-related-tours{
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .tf-send-inquiry{
            margin-bottom: 32px;
            margin-right: 16px;
            margin-left: 16px;
        }
    }

    .tf-template-3.tf-hotel-single {
        .tf-booking-form-wrapper .tf-booking-form span.tf-booking-form-title{
            font-size: 12px;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-date{
            font-size: 16px;
        }
        .tf-popup-left{
            width: 100%;
        }
        .tf-popup-right{
            width: 100%;
        }
        .tf-popup-body {
            max-height: 320px;
        }
        .tf-content-wrapper .tf-details{
            display: flow-root;
            .tf-details-left{
                width: 100% !important;
            }
            .tf-details-right{
                width: 100% !important;
                .tf-location.tf-single-widgets{
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
        }
        #tf-hotel-facilities{
            padding-left: 16px;
            padding-right: 16px;
        }
        #room-availability.tf-booking-form-wrapper{
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}

@media only screen and (max-width: 660px) {
    .tf-template-3{
        .tf-archive-search-form.tf-booking-form-wrapper{
            .tf_archive_search_result{
                display: flow-root !important;
                padding: 0px 16px 8px 16px;
                .tf-booking-form-fields{
                    width: 100% !important;
                    display: flow-root !important;
                    padding: 8px 0;
                    .tf-booking-form-location{
                        width: 100% !important;
                        padding: 0px !important;
                        border-right: 0px solid !important;
                        margin-bottom: 12px !important;
                        #tf-locationautocomplete-list,
                        #tf-destinationautocomplete-list,
                        #tf-apartment-locationautocomplete-list{
                            width: 100% !important;
                        }
                    }
                    .tf-booking-form-checkin{
                        width: 31% !important;
                        float: left;
                        padding: 0px;
                        max-width: none;
                    }
                    .tf-booking-form-checkout{
                        width: 31% !important;
                        float: left;
                        padding: 0px;
                        padding-left: 20px !important;
                        max-width: none;
                    }
                    .tf-booking-form-guest-and-room{
                        width: 31% !important;
                        float: left;
                        padding-left: 20px !important;
                        padding-right: 0px !important;
                        min-width: auto;
                    }
                }
                .tf-booking-form-fields.tf-tour-archive-block{
                    .tf-booking-form-checkin{
                        width: 50% !important;
                        float: left;
                        padding: 0px;
                    }
                    .tf-booking-form-guest-and-room{
                        width: 50% !important;
                        float: left;
                        padding-left: 20px !important;
                        padding-right: 0px !important;
                    }
                }
                .tf-booking-form-submit{
                    width: 100% !important;
                }
            }
        }
    }
}