@media only screen and (max-width: 1600px) {
    .tf-template-3.tf-hotel-single {
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content {
            width: calc(100% - 230px);
        }
        .tf-popup-body{
            gap: 0;
        }
        .tf-room-popup .tf-popup-inner{
            width: 80%;
        }
        .tf-popup-left{
            width: 65%;
        }
        .tf-popup-right{
            width: 35%;
        }
    }
}
@media only screen and (max-width: 1366px) {
    .tf-template-3.tf-tour-single{
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 391px !important;
            padding: 0px !important;
        }
    }
    .tf-template-3.tf-hotel-single{
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 391px !important;
            padding: 0px !important;
        }

        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkin,
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkout{
            max-width: none;
            padding-left: 48px;
            padding-right: 48px;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-guest-and-room{
            padding-left: 48px !important;
        }
    }
}

@media only screen and (max-width: 1280px) {

    .tf-template-3{
        .tf-available-rooms-wrapper .tf-available-rooms-head{
            margin-bottom: 16px;
        }
        .tf-available-rooms-wrapper .tf-available-rooms-head > h2{
            font-size: 16px !important;
        }
    }
    .tf-template-3.tf-hotel-single{
        .tf-content-wrapper .tf-details{
            gap: 24px;
        }
        .tf-available-rooms-wrapper{
            padding: 16px;
        }
        .tf-available-rooms-wrapper .tf-available-rooms-head > h2{
            font-size: 16px !important;
            font-weight: 600 !important;
        }
        .tf-content-wrapper .tf-details .tf-details-left .tf-overview-wrapper .tf-overview-popular-facilities > ul li{
            width: 33%;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right{
            width: 133px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-left h2{
            font-size: 24px !important;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-gallery{
            min-width: 222px;
            max-width: 222px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-gallery .tf-room-gallery:nth-child(n+2){
            width: 105px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content a.availability,
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content a.tf_air_service{
            font-size: 12px !important;
            min-width: 128px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-left ul li{
            font-size: 14px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-right .tf-available-room-price .tf-price{
            text-align: right;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content .tf-available-room-content-left{
            width: calc(100% - 155px);
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkin,
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkout{
            max-width: none;
            padding-left: 32px;
            padding-right: 32px;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-guest-and-room{
            padding-left: 32px !important;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .tf-template-3.tf-tour-single{
        .tf-content-wrapper .tf-details .tf-details-left {
            width: calc(100% - 369px);
        }
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 345px !important;
            padding: 0px !important;
        }
    }
    .tf-template-3.tf-hotel-single{
        .tf-content-wrapper .tf-details .tf-details-left {
            width: calc(100% - 246px);
        }
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 222px !important;
            padding: 0px !important;
        }
        .tf-review-data{
            gap: 20px;
            justify-content: space-between;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkin,
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-checkout{
            max-width: none;
            padding-left: 20px;
            padding-right: 20px;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-form-guest-and-room{
            padding-left: 20px !important;
        }
    }
}
@media only screen and (max-width: 992px) {

    .tf-template-3.tf-tour-single{
        .tf-content-wrapper .tf-details .tf-details-left {
            width: calc(100% - 284px);
        }
        .tf-content-wrapper .tf-details .tf-details-right{
            width: 260px !important;
        }
    }

    .tf-template-3 {
        font-size: 14px;
        // .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content{
        //     display: flex;
        //     width: 100%;
        // }
        // .tf-content-wrapper .tf-details .tf-details-right.tf-archive-right{
        //     width: auto !important;
        // }
        .tf-available-archive-hetels-wrapper .tf-archive-available-rooms .tf-available-room .tf-available-room-content .tf-available-room-content-right a.view-hotel{
            min-width: 95px;
        }
        // .tf-content-wrapper .tf-details {
        //     display: flex;
        //     flex-direction: column;
        // }
        // .tf-content-wrapper .tf-details>div {
        //     width: 100% !important;
        // }
        // .tf-facilities-wrapper .tf-facilities .tf-facility-item {
        //     width: 33.33%;
        // }
        // .tf-questions-wrapper .tf-questions {
        //     display: flex;
        //     flex-direction: column;
        //     gap: 0;
        // }
        // .tf-questions-wrapper .tf-questions>div {
        //     width: 100%;
        // }
        // .tf-head-title {
        //     text-align: left;
        // }
        // .tf-head-title h1 {
        //     font-size: 20px;
        // }
        .tf-hero-section-wrap .tf-container .tf-hero-content .tf-hero-bottom-area .tf-hero-gallery-videos>div {
            width: 104px;
            height: 40px;
        }
        .tf-hero-section-wrap .tf-container .tf-hero-content .tf-hero-bottom-area .tf-hero-gallery-videos a img {
            width: 16px;
        }
        .tf-header .tf-header-top {
            min-height: 24px;
        }
        .tf-header .tf-header-main {
            min-height: 58px;
        }
        .tf-hero-section-wrap .tf-container .tf-hero-content {
            min-height: 267px;
        }
        // .tf-hero-section-wrap .tf-container .tf-hero-content .tf-wish-and-share {
        //     margin-top: 90px;
        // }
        .tf-details-menu.tf-sticky-menu {
            top: 90px;
        }
    }
    .tf-template-3.tf-hotel-single{
        .tf-booking-form{
            display: flow-root;
            .tf-booking-form-fields{
                width: 100% !important;
            }
            .tf-booking-form-submit{
                width: 100% !important;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 970px) {
    .tf-template-3 .tf-related-tours .tf-slider-item{
        height: auto !important;
        padding: auto !important;
        margin: auto !important;
        border: 0px solid !important;
    }
}

@media only screen and (max-width: 767.98px) {
    .tf-template-3 {
        .tf-content-wrapper .tf-details .tf-details-left .tf-details-menu ul {
            gap: 16px;
        }
        .tf-template-3 {
            overflow: hidden;
        }
        .tf-content-wrapper .tf-details .tf-details-left .tf-details-menu {
            padding: 16px;
        }
        .tf-available-rooms-wrapper .tf-available-room .tf-available-room-content {
            padding: 16px;
        }
        .tf-bottom-booking-bar .tf-bottom-booking-field{
            width: auto !important;
        }
        .tf-related-tours .tf-slider-item .tf-meta-info .tf-meta-title h2 a{
            font-size: 20px;
        }

        .tf-archive-details{
            .tf-available-room{
                display: flow-root;
                .tf-available-room-gallery{
                    height: 120px !important;
                    max-width: none !important;
                    .tf-room-gallery:nth-child(n+2){
                        width: 48px !important;
                        height: 28px !important;
                        svg{
                            width: 10px !important
                        }
                    }
                }
                .tf-available-room-content{
                    width: 100% !important;
                    display: flow-root;
                    .tf-available-room-content-left{
                        width: 100% !important;
                        .tf-card-heading-info{
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 24px;
                            .tf-section-title-and-location{
                                margin-bottom: 0px;
                                h2{
                                    margin-bottom: 6px;
                                }
                                .tf-title-location{
                                    margin: 0px;
                                }
                            }
                            .tf-mobile.tf-pricing-info{
                                display: flex;
                                width: 120px;
                                flex-direction: column;
                                align-items: end;
                            }
                        }
                        ul{
                            margin-bottom: 24px !important;
                        }
                    }
                    .tf-available-room-content-right{
                        width: 100% !important;
                        display: flow-root;
                        .tf-card-pricing-heading{
                            display: none;
                        }
                        a{
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }

    .tf-template-3.tf-tour-single {
        .tf-content-wrapper .tf-details{
            display: flow-root;
            .tf-details-left{
                width: 100% !important;
            }
            .tf-details-right{
                width: 100% !important;
            }
        }
        .tf-search-date-wrapper.tf-single-widgets{
            display: none;
        }
        .tf-reviews.tf-single-widgets,
        #tf-tour-faq,
        #tf-tour-reviews,
        #tf-tour-policies,
        .tf-related-tours{
            padding-left: 16px;
            padding-right: 16px;
        }
        #tf-tour-reviews{
            padding-bottom: 32px !important;
            padding-top: 16px;
        }
        #tf-tour-policies,
        .tf-related-tours{
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .tf-send-inquiry{
            margin-bottom: 32px;
            margin-right: 16px;
            margin-left: 16px;
        }
    }

    .tf-template-3.tf-hotel-single {
        .tf-booking-form-wrapper .tf-booking-form span.tf-booking-form-title{
            font-size: 12px;
        }
        .tf-booking-form-wrapper .tf-booking-form .tf-booking-date{
            font-size: 16px;
        }
        .tf-popup-left{
            width: 100%;
        }
        .tf-popup-right{
            width: 100%;
        }
        .tf-popup-body {
            max-height: 320px;
        }
        .tf-content-wrapper .tf-details{
            display: flow-root;
            .tf-details-left{
                width: 100% !important;
            }
            .tf-details-right{
                width: 100% !important;
                .tf-location.tf-single-widgets{
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
        }
        #tf-hotel-facilities{
            padding-left: 16px;
            padding-right: 16px;
        }

    }
}