.single-tf_carrental{
    .tf-single-template{
        &__one{
            .tf-car-info{
                width: 100%;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    gap: 16px 8px;
                    li{
                        color: $color-text;
                        font-size: 1rem;
                        font-weight: 400;
                        width: calc(25% - 8px);
                        border-radius: 8px;
                        border: 1px solid $color-brand-lite;
                        padding: 8px;
                        position: relative;
                        @media #{$max1024}{
                            width: calc(33% - 8px);
                        }
                        @media #{$max768}{
                            width: calc(33% - 4px);
                        }
                        @media #{$max575}{
                            width: calc(50% - 8px);
                        }
                        &:hover{
                            .tf-car-info-tooltip{
                                visibility: visible;
                                opacity: 1;
                            }
                        }

                        i{
                            font-size: 1.25rem;
                        }

                        svg{
                            path{
                                stroke: $color-text;
                            }
                        }
                      
                        .tf-car-info-tooltip{
                            visibility: hidden;
                            opacity: 0;
                            position: absolute;
                            background-color: $color-filling-fg;
                            border-radius: .5rem;
                            padding: 8px 12px;
                            width: 260px;
                            z-index: 1;
                            bottom: 40px;
                            left: 50%;
                            margin-left: -130px;
                            transition: .3s all ease;
                            text-align: center;
                            @media #{$max768}{
                                width: 100%;
                                margin-left: -50%;
                            }
                            &::after{
                                position: absolute;
                                content: "";
                                height: 16px;
                                width: 16px;
                                background-color: $color-white;
                                border-radius: 5px;
                                transform: rotate(45deg);
                                left: 50%;
                                margin-left: -8px;
                                bottom: -3px;
                                z-index: -1;
                            }
                            span{
                                color: $color-text;
                                font-size: 0.875rem;
                            }
                        }
                    }
                }
            }
        }
    }
}