.single-tf_carrental{
    .tf-single-template{
        &__one{
            .tf-car-faq-section{
                width: 100%;
                .tf-faq-col{
                    margin-bottom: 16px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    &.active{
                    .tf-faq-head{
                        span{
                            i{
                                transform: rotate(180deg);
                            }
                        }
                    } 
                    }
                    .tf-faq-head{
                        border-radius: 8px;
                        background: $color-gray-light;
                        padding: 8px 16px;
                        cursor: pointer;
                        span{
                            color: $color-text;
                            font-size: 1rem;
                            font-weight: 400;
                            gap: 8px;
                            flex-wrap: nowrap;
                            i{
                                color: $color-text;
                            }
                        }
                    }
                    .tf-question-desc{
                        color: $color-text;
                        font-size: 0.938rem;
                        padding: 8px 16px;
                        display: none;
                    }
                }
            }
        }
    }
}