.single-tf_carrental{
    .tf-single-template{
        &__one{
            .tf-car-location{
                width: 100%;
                .tf-car-location-map{
                    border-radius: 8px;
                    background: $color-brand-lite;
                    height: 260px;
                    width: 100%;
                }
            }
        }
    }
}