.single-tf_carrental{
    .tf-single-template{
        &__one{
            .tf-review-section{
                margin-bottom: 32px;
                h3{
                    color: $color-heading;
                    font-size: 1.313rem;
                    font-weight: 400;
                    margin-bottom: 16px;
                    margin-top: 0px;
                }
                .tf-review-form-wrapper{
                    p{
                        margin: 0 0 20px 0;
                    }
                }
                .tf-clients-reviews ~ .tf-review-form-wrapper{
                    margin-top: 20px;
                }
                .tf-review-submit{
                    margin-top: 16px;
                }
                .tf-review-form-container{
                    min-width: auto;
                    background:  transparent;
                    .tf-visitor-info{
                        margin: 20px 0px;
                    }
                    .tf-rating-wrapper{
                        margin-bottom: 20px;
                    }
                    .tf-review-submit{
                        input[type="submit"]{
                            padding: 16px 32px;
                            border-radius: 8px;
                            background: $color-primary;
                            color: $color-white;
                            font-size: 1rem;
                            font-weight: 700;
                            cursor: pointer;
                            border: 0px solid;
                        }
                    }
                }
                .tf-review-data{
                    margin-bottom: 32px;
                    .tf-review-data-average{
                        .avg-review{
                            color: $color-text;
                            font-size: 2.375rem;
                            font-weight: 700;
                            i{
                                font-size: 1.25rem; 
                                color: $color-primary;
                            }
                        }
                        .tf-review-all-info{
                            p{
                                color: $color-text;
                                font-size: 1rem;
                                font-weight: 400;
                                margin: 0;
                            }
                        }
                    }
                }

                .tf-review-data-features {
                    .tf-percent-progress{
                        display: flex;
                        gap: 16px 32px;
                        flex-wrap: wrap;
                    }
                    .tf-progress-bar {
                        height: 5px;
                        background: $color-light-bg;
                        border-radius: 32px;
                    }
                    
                    .tf-progress-item {
                        width: calc(50% - 16px);
                        @media #{$max768}{
                            width: 100%;
                        }
                        
                    }
                    
                    .tf-progress-bar {
                        position: relative;
                        margin-bottom: 8px;

                        .percent-progress {
                            position: absolute;
                            background: $color-primary;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            border-radius: 7px;
                        }
                    }
                    
                    .tf-review-feature-label{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        p{
                            margin: 0;
                            color: $color-text;
                            font-size: 0.75rem;
                            font-weight: 400;
                            text-transform: capitalize;
                            &.feature-rating{
                                font-weight: 700;
                            }
                        }
                    }
                }
                .tf-clients-reviews{
                    margin-top: 32px;
                    .tf-reviews-item{
                        flex-wrap: nowrap;
                        .tf-reviews-avater{
                            img{
                                width: 56px;
                                height: 56px;
                                border-radius: 50%;
                            }
                        }
                        .tf-reviews-text{
                            width: calc(100% - 62px);
                            .tf-review-rating{
                                font-size: 0;
                                color: $color-primary;
                                display: flex;
                                margin-bottom: 8px;
                                >div{
                                    display: flex;
                                    gap: 8px;
                                    i{
                                        font-size: initial;
                                    }
                                }
                            }
                            .tf-reviews-meta{
                                font-weight: 700;
                            }
                            p{
                                margin: 15px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}