.tf-hero-content {
    padding: 20px;
    background-position: center center;
    background-size: cover;
    border-radius: 0 0 4px 4px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.tf-hero-top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.tf-tours_search-wrap {
    margin-top: 150px;
    margin-bottom: 150px;
}
.tf-hero-bottom-area {
    text-align: right;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}
 
.tf-contact-info{    
    h3 {
        margin-bottom: 30px;
    }
    div {
        margin: 15px 0;
        p {
            margin: 0;
            a{
                text-decoration: none;
                color: #222;
            }
        }   
    }
}

div#tf-contact-info {
    border-radius: 8px;
}
.tf-hero-btm-icon {
    display: inline-block;
    i {
        background: rgba(26, 43, 72, .6);
        border-radius: 50%;
        color: #fff;
        font-size: 18px;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            background: rgba(26, 43, 72, .8);
        }
    }
}
// .tf-hero-btm-icon.tf-tour-gallery {
//     i {
//         padding: 10px;
//         margin-left: 7px;
//     }
// }
.tf-tour-booking-wrap {
    border-radius: 4px;
    padding: 10px;
    margin: 0 auto;
    background: #FFFFFFF0;
    box-shadow: 0px 5px 10px rgba(0, 44, 102, 0.2);
    width: 80%;
    font-size: 16px;
    .btn-styled {
        border-radius: 2px;
        width: 160px;
        font-weight: bold;
        text-transform: uppercase;
    }
    form.tf_tours_booking {
        justify-content: space-evenly;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0 !important;
    }
    .tf_selectperson-wrap {
        color: #152B47;
        font-weight: 500;
        border: none;
    }
    .tf_form-row {
        .tf_label-row {
            margin-bottom: 0;
        }
        color: #152B47;
    }
    .tours-check-in-out {
        color: #152B47;
        padding: 0;
    }
    .tf_form-inner {
        input[type="text"] {
            background: transparent;
            border: 1px solid #ccc;
            padding: 5px 15px;
            border-radius: 2px;
        }
        select {
            background: transparent;
            border: 1px solid #ccc;
            padding: 5px 15px;
            border-radius: 2px;
            &:focus {
                background: transparent;
                border: 0;
                outline: 0;
            }
        }
        input[type=text] {
            &:focus {
                background: transparent;
                border: 0;
                outline: 0;
            }
        }
    }
}
.tour-extra {
    a {
        color: #333;
    }
    i {
        color: #003162;
        padding-right: 8px;
    }
}
#tour-extra {
    .fancybox-button.fancybox-close-small {
        &:hover {
            color: #fff;
        }
    }
}
.tf-tours-fixed {
    position: fixed;
    bottom: 0;
    left: 0%;
    right: 0;
    .tf_selectperson-wrap {
        background: #fff;
        border-radius: 2px;
        padding: 9px 15px;
    }
    .tour-extra {
        i {
            color: #fff;
        }
        a {
            color: #fff;
        }
    }
    button[type="submit"] {
        padding: 16px;
    }
    form.tf_tours_booking {
        width: 55%;
    }
    .tf_form-inner {
        background: #fff;
        border-radius: 2px;
    }
    .btn-styled {
        border: 1px solid #fb5a3b;
        background: #fb5a3b;
        width: 180px;
    }
}
.tf-tour-booking-wrap.tf-tours-fixed {
    width: 100%;
    z-index: 9999;
    background-color: #003162eb;
    border-top: 4px solid #FB5A3B;
    padding: 8px 0;
    .tf_acrselection-wrap {
        position: absolute;
        top: -160px;
    }
    .tf_tours_booking {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
}
.tf-single-tour-pricing {
    width: 200px;
    .tf-price {
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        color: #9696A0;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        justify-content: center;
        span.sale-price {
            font-weight: 600;
            font-size: 24px;
            line-height: 1;
            color: #003162;
            margin: 0 8px 0 0;
        }
    }
    .tf-price-tab {
        list-style: none;
        display: flex;
        line-height: 1;
        font-size: 14px;
        font-weight: 600;
        color: #5A5B6A;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px 0 0 0;
        border: 1px solid #D8E6FF;
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;
        padding: 0;
        li {
            padding: 0;
            width: 100%;
            text-align: center;
            height: 36px;
            justify-content: center;
            align-content: center;
            display: flex;
            align-items: center;
            transition: 0.3s;
            &:hover {
                color: #003162;
                background-color: #D8E6FF;
            }
            &:nth-child(2) {
                border-left: 1px solid #D8E6FF;
            }
            &:nth-child(3) {
                border-left: 1px solid #D8E6FF;
            }
        }
        li.active {
            color: #003162;
            background: #D8E6FF;
        }
    }
}
.tf-square-block-content {
    display: flex;
    text-align: center;
    gap: 35px;
}
.tf-single-square-block {
    width: 100%;
    background: #FAFCFE;
    box-shadow: 0px 8px 16px rgba(90, 91, 106, 0.08);
    border-radius: 4px;
    color: #003162;
    border: 1px solid #F5F8FF;
    padding: 50px 20px;
    h4 {
        color: #003162;
    }
    img {
        display: block;
        margin: auto;
        margin-bottom: 12px;
    }
    i {
        margin-bottom: 12px;
        font-size: 32px;
    }
    * {
        margin: 0;
    }
}
.tf-single-square-block.first {
    background-color: #007bff24;
}
.tf-single-square-block.second {
    background: #28a74524;
}
.tf-single-square-block.third {
    background: #ffc10724;
}
.tf-single-square-block.fourth {
    background: #dc354524;
}
.tf-highlight-item {
    display: flex;
    gap: 30px;
    align-items: center;
}
.tf-highlight-text {
    flex: 0 0 49%;
    ul {
        margin: 0;
        padding: 0;
        margin-top: 15px;
        list-style-position: inside;
    }
}
.tf-highlight-image {
    flex: 0 0 49%;
    img {
        border-radius: 4px;
        background: #fff;
        padding: 10px;
        box-shadow: 0px 2px 4px rgba(90, 91, 106, 0.08);
        width: 100%;
    }
}
.tf_features {
    .feature-list-title {
        margin: 0;
        padding-left: 8px;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        font-size: 13px;
    }
    i {
        color: #549501;
    }
    .single-feature-box {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-right: 10px;
        padding: 6px 10px;
        border-radius: 4px;
        border: 1px solid #0000002e;
        box-shadow: -1px 1px 6px -1px #0000002e;
        margin-top: 10px;
    }
    .tf-feature-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}
.tf-inc-exc-wrapper {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.tf-inc-exc-content {
    display: flex;
    margin: auto;
    gap: 35px;
    h4 {
        padding: 6px 0;
        margin-bottom: 10px;
        color: #fff;
    }
    >* {
        flex: 1;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            padding-left: 0px;
            position: relative;
            margin-left: 0;
            i {
                margin-right: 20px;
            }
            &:before {
                content: "";
                position: absolute;
                height: 16px;
                width: 16px;
                left: 0;
                background-size: contain;
                top: 8px;
            }
        }
        i.fas {
            float: left;
            vertical-align: middle;
            margin-top: 6px;
        }
    }
}
.tf-include-section {
    background: #000000a3;
    background-image: linear-gradient(to right, rgba(253, 97, 67, 0), rgb(0, 49, 98));
    border-radius: 4px;
    padding: 20px 30px 30px;
    color: #fff;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    ul {
        li {
            &:before {
                //background: url(../images/check.png);
            }
        }
    }
}
.tf-exclude-section {
    background: #000000a3;
    background-image: linear-gradient(to right, rgba(253, 97, 67, 0), rgb(0, 49, 98));
    border-radius: 4px;
    padding: 20px 30px 30px;
    color: #fff;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    ul {
        li {
            &:before {
                //background: url(../images/x.png);
            }
        }
    }
}
.tf-include-section.custom-inc-icon {
    ul {
        li {
            &:before {
                display: none;
            }
        }
    }
}
.tf-exclude-section.custom-exc-icon {
    ul {
        li {
            &:before {
                display: none;
            }
        }
    }
}
.tf-travel-itinerary-content {
    h2 {
        margin-bottom: 30px;
    }
}
#tf-accordion-wrapper {
    margin-bottom: 30px;
    .tf-accordion-head {
        cursor: pointer;
        transition: 0.2s ease;
        display: flex;
        align-items: center;
        background: #fff;
        box-shadow: 0px 2px 4px rgba(90, 91, 106, 0.08);
        border-radius: 4px;
        z-index: 1;
        position: relative;
    }
    .arrow {
        transition: 0.25s ease;
        transform: rotate(-90deg);
        font-size: 20px;
        margin-right: 25px;
    }
    .arrow-animate {
        transform: rotate(0deg);
    }
    .tf-accordion-content {
        background-color: #FFFFFF;
        display: none;
        padding: 20px 30px;
        color: #333333;
        margin-top: -2px;
        z-index: 999;
        position: relative;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.tf-travel-time {
    background: #002C66;
    border-radius: 4px 0px 0px 4px;
    width: 130px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(90, 91, 106, 0.08);
    padding: 10px;
    span {
        font-size: 18px;
        color: #FAFCFE;
    }
}
.tf-travel-itinerary-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.tf-accordion-head {
    h4 {
        font-size: 18px;
        color: #3A3A44;
        padding-left: 25px;
        width: 100%;
        margin-bottom: 0;
        &:hover {
            color: #003162;
        }
    }
}
.tf-travel-desc {
    display: flex;
    padding-top: 20px;
    gap: 20px;
    flex-direction: row;
}
.tf-ititnerary-img {
    flex-basis: 30%;
}
.tf-accordion-content {
    a {
        &:focus {
            outline: none;
        }
    }
}
.trav-cont {
    display: flex;
}
.tf-travel-description {
    display: flow-root;
    flex-basis: 70%;
}
.ininerary-other-gallery {
    margin-bottom: 20px;
}
.ininerary-gallery-single.slick-slide.slick-active {
    height: 130px !important;
}
.ininerary-gallery-single {
    >a {
        img {
            height: 130px !important;
        }
    }
}

#tour-map{
    margin-top: 0px;
}
.tf-map-wrapper {
    .tf-container {
        max-width: 100%;
        padding: 0;
    }
}
.tf-suggestion-wrapper {
    .owl-nav {
        button {
            position: absolute;
            top: calc(50% - 25px);
            width: 50px;
            height: 50px;
            background: #FAFCFE;
            box-shadow: 0px 5px 10px rgba(0, 44, 102, 0.2);
            border-radius: 4px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            color: #002C66;
            font-size: 20px;
            transition: 0.3s;
            &:hover {
                background: #002C66;
                color: #fff;
            }
        }
        button.owl-prev {
            left: -85px;
        }
        button.owl-next {
            right: -85px;
        }
    }
}
.tf-suggestion-sec-head {
    margin-bottom: 30px;
    text-align: center;
    p {
        max-width: 480px;
        margin: auto;
    }
}
.tf-suggestion-rating {
    i {
        color: #FFCD3D;
    }
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 30px;
}

// UNFOLD Compatibily
#commentform label{
    position: static !important;
    display: inline-block !important;
}

// Without Payment Booking Popup
.tf-withoutpayment-booking,
.tf-withoutpayment-booking-confirm{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
    .tf-confirm-popup{
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 776px;
        @media #{$max767}{
            width: 100%;
        }
        background-color: #FCFDFF;
        border-radius: 24px;
        position: relative;
        img{
            width: 320px;
        }
        h2{
            color: #333D46;
            font-family: inherit;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -0.96px;
        }
        .tf-booking-times {
            position: absolute;
            right: 24px;
            top: 24px;
            span{
                cursor: pointer;
            }
        }
    }
    .tf-withoutpayment-popup{
        width: 776px;
        @media #{$max767}{
            width: 100%;
        }
        background-color: #FCFDFF;
        border-radius: 24px;
        .tf-booking-tabs{
            padding: 24px;
            border-bottom: 0.3px solid #CCCED1;
            border-radius: 24px;
            background: #FCFDFF;
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            .tf-booking-tab-menu{
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    border-radius: 8px;
                    background: #C8D6E4;
                    display: flex;
                    @media #{$max767}{
                        display: inline-block;
                        background-color: transparent;
                    }
                    li{
                        display: inline-block;
                        padding: 16px 32px;
                        cursor: pointer;
                        color: #96AFCA;
                        @media #{$max767}{
                            padding: 8px;
                            border-radius: 16px;
                            border: 1px solid #CCCED1;
                            font-size: 13px;
                            margin: 5px 0px;
                        }
                    }
                    li.done{
                        background-color: #96AFCA; 
                        color: #FCFDFF;
                        &:first-child{
                            border-radius: 8px 0px 0px 8px;
                            @media #{$max767}{
                                border-radius: 16px !important;
                                border: 1px solid #003C7A;
                                background-color: transparent;
                                color: #003C7A;
                            }
                        }
                    }
                    li.active{
                        position: relative;
                        background-color: #96AFCA;
                        color: #FCFDFF;
                        padding-right: 50px;
                        @media #{$max767}{
                            padding-right: 8px !important;
                            border: 1px solid #003C7A;
                            background-color: transparent;
                            color: #003C7A;
                        }
                        &:first-child{
                            border-radius: 8px 0px 0px 8px;
                            @media #{$max767}{
                                border-radius: 16px !important;
                            }
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            height: 40px;
                            width: 40px;
                            background: #96afca;
                            top: 50%;
                            right: -20px;
                            transform: rotate(45deg);
                            margin-top: -20px;
                            border-radius: 0px 10px 0px 0px;
                            @media #{$max767}{
                                position: static;
                            }
                        }
                        &:last-child{
                            border-radius: 0px 8px 8px 0px;
                            &::before{
                                position: static;
                            }
                            @media #{$max767}{
                                border-radius: 16px !important;
                                border: 1px solid #003C7A;
                                background-color: transparent;
                                color: #003C7A;
                            }
                        }
                    }
                }
            }
            .tf-booking-times{
                span{
                    cursor: pointer;
                }
            }
        }
        .tf-booking-content-summery{
            display: flex;
            @media #{$max767}{
                display: flow-root;
                max-height: 360px;
                overflow-y: auto;
            }
            @media #{$max575}{
                max-height: 280px;
            }
            padding: 0px 24px;
            align-items: flex-start;
            align-content: flex-start;
            gap: 24px;
            align-self: stretch;
            flex-wrap: wrap;
            justify-content: space-between;
            .tf-booking-content{
                display: none;
                width: calc(62% - 24px);
                @media #{$max767}{
                    width: calc(100% - 0px);
                }
                p{
                    color: #666D74;
                    font-family: inherit;
                    font-size: 16px !important;
                    font-style: normal !important;
                    font-weight: 400 !important;
                    line-height: 24px !important;
                    margin-top: 0px;
                    margin-bottom: 24px;
                }
                .tf-booking-content-extra,
                .tf-booking-content-traveller{
                    height: 230px;
                    overflow-y: auto;
                    scrollbar-width: thin;
                    scrollbar-color: #aaa #eee;
                    margin-bottom: 20px;
                    padding-right: 10px;
                    @media #{$max767}{
                        padding-right: 0px;
                        height: auto;
                    }
                    scrollbar {
                        width: 5px; 
                    }
                    scrollbar-thumb {
                        background-color: #aaa;
                        border-radius: 4px;
                    }
                    .tf-single-tour-extra{
                        label{
                            display: flex;
                            padding-bottom: 16px;
                            align-items: baseline;
                            .tf-extra-check-box{
                                position: relative;
                                height: 13px;
                                width: 20px;
                                margin-right: 10px;
                                input{
                                    margin-right: 10px;
                                    display: none;
                                }
                                .checkmark{
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    height: 16px;
                                    width: 16px;
                                    background-color: #FCFDFF;
                                    border-radius: 5px;
                                    border: 1px solid #666D74;
                                    cursor: pointer;
                                    &::after{
                                        left: 5px;
                                        top: 2px;
                                        width: 3px;
                                        height: 7px;
                                        border: solid #003C7A;
                                        border-width: 0 3px 3px 0;
                                        -webkit-transform: rotate(45deg);
                                        -ms-transform: rotate(45deg);
                                        transform: rotate(45deg);
                                    }
                                }
                                
                            
                                input:checked~.checkmark {
                                    border: 1px solid #003C7A;
                                }
                            
                                .checkmark:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                }
                            
                                input:checked~.checkmark:after {
                                    display: block;
                                }
                            }
                            .tf-extra-content{
                                h5{
                                    color: #666D74;
                                    font-family: inherit;
                                    font-size: 16px !important;
                                    font-style: normal;
                                    font-weight: 500 !important;
                                    line-height: 20px !important;
                                    margin: 0;
                                    span{
                                        font-weight: 700 !important;
                                    }
                                }
                                p{
                                    color:  #666D74;                                
                                    font-family: inherit;
                                    font-size: 16px !important;
                                    font-style: normal !important;
                                    font-weight: 400 !important;
                                    line-height: 20px !important;
                                    margin: 0 !important;
                                }
                            }
                        }
                    }
                    .tf-single-tour-traveller{
                        padding-bottom: 16px;
                        h4{
                            color: #333D46;
                            font-family: inherit;
                            font-size: 16px !important;
                            font-style: normal !important;
                            font-weight: 500 !important;
                            line-height: 20px !important;
                        }
                        .traveller-info{
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            @media #{$max575}{
                                grid-template-columns: repeat(1, 1fr);
                            }
                            gap: 10px;
                            .traveller-single-info{
                                width: 100%;
                                label{
                                    color: #A4A4A4;
                                    font-family: inherit;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 20px; /* 142.857% */
                                }
                                input[type="text"],
                                input[type="email"],
                                input[type="date"],
                                select{
                                    border-radius: 4px;
                                    border: 0.5px solid #666D74;
                                    background: #FCFDFF;
                                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                                    height: 32px;
                                    width: 100%;
                                }
                                input[type="date"]{
                                    text-transform: uppercase;
                                    font-size: 13px;
                                }
                                input[type="checkbox"],
                                input[type="radio"]{
                                    margin: 0;
                                }
                                .error-text.error-visible {
                                    color: red;
                                    font-size: 13px;
                                }
                            }
                        }
                        .billing-details{
                            grid-template-columns: repeat(2, 1fr);
                            @media #{$max575}{
                                grid-template-columns: repeat(1, 1fr);
                            }
                        }
                    }
                }
            }
            .tf-booking-content.show{
                display: block;
            }
            .tf-booking-summery {
                width: calc(38% - 24px);
                @media #{$max767}{
                    width: calc(100% - 0px);
                }
                .tf-booking-fixed-summery{
                    h5{
                        color: #666D74;
                        font-family: inherit;
                        font-size: 16px !important;
                        font-style: normal !important;
                        font-weight: 500 !important;
                        line-height: 20px !important; 
                        margin-bottom: 16px;
                    }
                    h4{
                        color: #333D46;
                        font-family: inherit;
                        font-size: 20px !important;
                        font-style: normal !important;
                        font-weight: 500 !important;
                        line-height: 30px !important;
                        letter-spacing: -0.4px;
                        margin-bottom: 15px;
                    }
                }
                .tf-booking-traveller-info{
                    max-height: 230px;
                    overflow-y: auto;
                    scrollbar-width: thin;
                    scrollbar-color: #aaa #eee;
                    @media #{$max767}{
                        padding-right: 0px;
                        height: auto;
                    }
                    scrollbar {
                        width: 5px; 
                    }
                    scrollbar-thumb {
                        background-color: #aaa;
                        border-radius: 4px;
                    }
                    h6{
                        color: #666D74;
                        font-family: inherit;
                        font-size: 16px !important;
                        font-style: normal !important;
                        font-weight: 400 !important;
                        line-height: 20px !important;
                        margin-bottom: 16px;
                    }
                    table{
                        border: 0px solid;
                        thead{
                            tr{
                                th{
                                    color: #666D74;
                                    font-family: inherit;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 28px;
                                    border: 0px solid;
                                    padding: 0px;
                                }
                            }
                        }
                        tbody{
                            tr{
                                td{
                                    color: #666D74;
                                    font-family: inherit;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 26px;
                                    border: 0px solid;
                                    padding: 0px;
                                }
                            } 
                        }
                        tfoot{
                            tr{
                                th{
                                    color: #333D46;
                                    font-family: inherit;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 20px; /* 125% */
                                    padding-top: 15px;
                                    margin-top: 15px;
                                    border: 0px solid;
                                    border-top: .3px solid #CCCED1;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                }
                            } 
                        }
                    }
                }
            }
        }
        .tf-booking-pagination{
            padding: 0 24px;
            .tf-diposit-switcher{
                padding-bottom: 16px;
                h4{
                    margin: 0;
                    display: inline-block;
                    color: #333D46;
                    font-family: inherit;
                    font-size: 16px !important;
                    font-style: normal !important;
                    font-weight: 500 !important;
                    line-height: 24px !important;
                }
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 48px;
                    height: 20px;
                    input{
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
                    .switcher {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        transition: .4s;
                        &::before{
                            position: absolute;
                            content: "";
                            height: 18px;
                            width: 18px;
                            left: 2px;
                            bottom: 1px;
                            background-color: #fff;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }
                    }
                    .switcher.round {
                        border-radius: 20px;
                        &::before{
                            border-radius: 50%;
                        }
                    }
                }
            }
            .tf-diposit-switcher input:checked + .switcher {
                background-color: #002C66;
            }
            
            .tf-diposit-switcher input:checked + .switcher::before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
            .tf-control-pagination{
                padding: 0px 0px 24px 0px;
                align-items: end;
                display: none;
                a{
                    text-decoration: none;
                    display: inline-block;
                }
                a.tf-back-control{
                    color: #003C7A;
                    font-family: inherit;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                    margin-right: 24px;
                    i{
                        margin-right: 10px;
                    }
                }
                .tf-next-control{
                    border-radius: 4px;
                    background: #003C7A;
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                    padding: 10px 0px;
                    color: #FCFDFF;
                    font-family: inherit;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    width: 300px;
                    text-align: center;
                    @media #{$max575}{
                        width: 100%;
                    }
                }
                button{
                    border-radius: 4px;
                    background: #003C7A;
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                    padding: 10px 0px;
                    color: #FCFDFF;
                    font-family: inherit;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    width: 300px;
                    text-align: center;
                    border: 0px solid;
                    cursor: pointer;
                    @media #{$max575}{
                        width: 100%;
                    }
                }
            }
            .tf-control-pagination.show{
                display: flex;
            }
        }
    }
}
.tf-withoutpayment-booking.show,
.tf-withoutpayment-booking-confirm.show{
    display: flex;
}


@media only screen and (max-width: 1200px) {
    .tf-tour-booking-wrap {
        width: 95%;
        form.tf_tours_booking {
            flex-wrap: wrap;
        }
    }
}
@media only screen and (max-width: 1025px) {
    .tf-tour-booking-wrap {
        font-size: 14px;
    }
    .tf_form-inner {
        input[type="text"] {
            font-size: 14px;
        }
        select {
            font-size: 14px;
        }
    }
    .tf_button {
        font-size: 14px;
    }
    .flatpickr-calendar {
        font-size: 14px;
    }
    .tf-square-block-content-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tf-single-square-block {
        width: 300px;
    }
}
@media only screen and (max-width: 980px) {
    .tf-faq-content-wrapper {
        display: grid;
    }
    .tf-slider-desc {
        h3 {
            font-size: 18px;
        }
    }
    .tf-suggestion-rating {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 970px) {
    .tf-tours-booking-btn {
        width: 98%;
        margin: auto;
    }
    .tf-tour-booking-wrap {
        .btn-styled {
            width: 98%;
            margin: auto;
        }
    }
    .tf-slider-item {
        border: 7px solid #fff;
        height: 300px !important;
        padding: 15px;
        margin: 0 7px 15px !important;
    }
}
@media only screen and (max-width: 767px) {
    .tf-highlight-item {
        display: grid;
    }
    .tf-travel-desc {
        display: grid;
    }
    .tf-accordion-content {
        img {
            max-width: 100%;
        }
    }
    .tf-travel-time {
        span {
            font-size: 15px;
            text-align: center;
        }
        height: 60px;
    }
    .tf-accordion-head {
        h4 {
            font-size: 15px;
            padding-left: 20px;
        }
    }
    .tf-tour-booking-wrap {
        .tf_form-inner {
            input[type="text"] {
                max-width: 100%;
            }
        }
        .tf_selectperson-wrap {
            display: flex;
            justify-content: center;
            width: 95%;
            padding: 10px !important;
        }
        .btn-styled {
            width: 98%;
            margin: auto;
        }
        max-width: 450px;
    }
    .tf_form-inner {
        select {
            max-width: 100%;
        }
    }
    .tf-faq-sec-title {
        margin-bottom: 20px;
    }
    .tf-inc-exc-content {
        gap: 15px;
    }
    .tf-square-block-content {
        display: grid;
        gap: 2%;
        grid-template-columns: 48% 48%;
    }
    .tf-single-square-block {
        width: auto;
    }
    .tf-tours-booking-btn {
        width: 98%;
        margin: auto;
    }
    .tf-slider-item {
        border: 7px solid #fff;
        height: 250px !important;
        padding: 15px;
        margin: 0 7px 15px !important;
    }
    .tf-include-section {
        padding: 15px 20px 20px;
    }
    .tf-exclude-section {
        padding: 15px 20px 20px;
    }
    .tf-tour-booking-wrap.tf-tours-fixed {
        max-width: 100%;
    }
    .tf-ask-question {
        max-width: 450px;
        margin: auto;
    }
}
@media only screen and (max-width: 650px) {
    .tf-title-wrap {
        display: block;
    }
    .tf-title-area.tf-tour-title {
        text-align: center;
    }
    .tf-single-tour-pricing {
        margin: 20px auto 0;
    }
}
@media only screen and (max-width: 480px) {
    .tf-slider-desc {
        h3 {
            font-size: 16px;
        }
    }
    .tf-map-content-wrapper {
        iframe {
            height: 320px;
        }
    }
    .tf-suggestion-rating {
        font-size: 12px;
    }
    #tour-extra {
        padding: 10px;
    }
    .tf-single-square-block {
        padding: 30px 20px;
    }
    .tf-inc-exc-content {
        display: block;
    }
    .tf-include-section {
        margin-bottom: 15px;
    }
    #tf-accordion-wrapper {
        margin-bottom: 15px;
    }
    #tour-deposit {
        .tf_button_group {
            display: block;
            button {
                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
