.tf-archive-listing,
.tf-archive-template {
    &__three{
        /* Search form */
        .tf-archive-search-form {
            padding: 64px 0;
            background-color: $color-filling-bg;
            background-image: url(../images/hotel-form-bg.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border-bottom: 0.5px solid $color-brand-lite;

            @media #{$max1024} {
                padding: 16px 0;
            }

            .tf-container{
                @include flexbox();
                @include justify-content(center);
            }
        }

        /* Hotel details */
        .tf-archive-details-wrap{
            position: relative;
        }
        
        .tf-archive-details {
            @include flexbox();
            background: $color-filling-bg;
            position: relative;

            .tf-details-left {
                width: 787px;
                height: 100vh;
                padding: 24px 16px 24px 32px;
                gap: 24px;
                position: relative;

                @media #{$max1024} {
                    width: 100%;
                    height: auto;
                }
                @media #{$max575} {
                    padding: 24px 16px;
                }
            }

            .tf-details-right {
                width: calc(100% - 787px);
                overflow: hidden;

                @media #{$max1024} {
                    display: none;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                }

                .tf-hotel-archive-map-wrap {
                    height: 100vh;
                    width: 100%;
                }

                #tf-hotel-archive-map {
                    height: 100%;
                }

                .gm-style-iw-tc::after {
                    display: none;
                }
                .gm-style {
                    :focus-visible{
                        outline: none;
                    }
                    .gm-style-iw-c {
                        border-radius: 4px;
                        padding: 0;
                        overflow: visible;
                    }

                    .gm-style-iw-d {
                        overflow: visible !important;
                        &:focus-visible{
                            outline: none;
                        }
                    }
                    .gm-style-iw-chr,
                    .gm-style-iw-ch{
                        display: none;
                    }
                }

                .tf-map-item {
                    &:focus-visible{
                        outline: none;
                    }
                    .tf-map-item-thumb {
                        height: 142px;
                        width: 262px;
                        position: relative;

                        a{
                            outline: none;
                            box-shadow: none;
                        }

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 4px;
                            outline: none;
                            box-shadow: none;
                        }

                        .tf-map-item-discount {
                            position: absolute;
                            top: 16px;
                            left: 16px;
                            color: $color-heading;
                            font-size: 0.75rem;
                            font-weight: 700;
                            line-height: 1.2;
                            padding: 8px 16px;
                            border-radius: 32px;
                            background-color: $color-white;
                        }
                    }

                    .tf-map-item-content {
                        padding: 16px;
                        @include flexbox();
                        @include flex-direction(column);
                        gap: 16px;

                        h4 {
                            font-size: 1rem;
                            font-weight: 500;
                            line-height: 1.2;
                            margin: 0;
                            text-transform: capitalize;

                            a {
                                color: $color-heading;
                                text-decoration: none;

                                &:hover {
                                    color: $color-primary;
                                }
                            }
                        }

                        .tf-map-item-price {
                            @include flexbox();
                            @include align-items(flex-end);
                            gap: 2px;
                            font-size: 0.875rem;
                            color: $color-text;

                            .woocommerce-Price-amount {
                                font-size: 1rem;
                                font-weight: 500;
                                color: $color-heading;
                            }
                        }

                        .tf-reviews {
                            margin-top: 0;

                            .tf-review-items {
                                display: none;
                            }

                            .tf-avarage-review {
                                color: $color-heading;
                                font-weight: 400;

                                .tf-no-review-count{
                                    color: $color-heading;
                                }
                            }
                        }
                    }
                }

                .tf_map_price {
                    .tf_price_inner {
                        background: $color-filling-fg;
                        border-radius: 30px;
                        text-align: center;
                        color: $color-text;
                        padding: 8px 12px;
                        font-size: 0.875rem;
                        line-height: 1;
                        font-weight: 700;
                        @include transition();
                        cursor: pointer;

                        &:hover,
                        &.active {
                            background: $color-primary;
                            color: $color-white;
                        }
                    }
                }
            }

            .tf-mobile-map-btn,
            .tf-mobile-list-btn{
                display: none;
            }

            @media #{$max1024} {
                .tf-mobile-map-btn,
                .tf-mobile-list-btn{
                    @include flexbox();
                    @include align-items(center);
                    gap: 8px;
                    padding: 8px;
                    border-radius: 4px;
                    background-color: $color-primary;
                    color: $color-white;
                    text-decoration: none;
                }

                .tf-mobile-list-btn{
                    position: fixed;
                    right: 16px;
                    top: 16px;
                    z-index: 99;
                }
            }

            .tf-archive-top {
                @include flexbox();
                @include align-items(center);
                @include justify-content(space-between);
                margin-bottom: 16px;

                .tf-total-results {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 500;

                    @media #{$max1024} {
                        display: none;
                    }
                }

                .tf-archive-view {
                    @include flexbox();
                    list-style: none;
                    gap: 16px;

                    li.tf-archive-view-item {
                        width: 32px;
                        height: 32px;
                        @include flexbox();
                        align-items: center;
                        justify-content: center;
                        border-radius: 8px;
                        background-color: $color-filling-fg;
                        text-align: center;
                        cursor: pointer;
                        @include transition();
                        border: 0.5px solid $color-border-lite;
                        &:hover {
                            background: $color-brand-lite;
                        }

                        &.active {
                            background-color: $color-brand-lite;

                            svg path {
                                stroke: $color-primary;
                            }
                        }
                    }

                    li.tf-archive-filter-btn {
                        padding: 0 16px;
                        color: $color-text;
                        font-size: 0.875rem;
                        font-weight: 500;
                        height: 32px;
                        @include flexbox();
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        background-color: $color-filling-fg;
                        border: 0.5px solid $color-border-lite;
                        text-align: center;
                        cursor: pointer;
                        @include transition();

                        i {
                            margin-right: 8px;
                        }

                        &:hover {
                            border-radius: 4px;
                            background: $color-brand-lite;
                        }

                        &.active {
                            background-color: $color-brand-lite;

                            svg path {
                                stroke: $color-primary;
                            }
                        }
                    }
                    li.tf-sorting-selection-wrapper{
                        .tf-orderby{
                            padding: 4px 16px;
                            color: $color-text;
                            font-size: 0.875rem;
                            font-weight: 500;
                            height: 32px;
                            @include flexbox();
                            align-items: center;
                            justify-content: center;
                            border-radius: 4px;
                            border: none;
                            background-color: $color-white;
                            @include transition();

                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }
            }

            .tf-archive-hotels {
                @include flexbox();
                @include flex-direction(column);
                gap: 24px;
                max-height: calc(100vh - 96px);
                overflow-y: auto;

                @media #{$max1024} {
                    max-height: inherit;
                }

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $scrollbar-thumb-color;
                    border-radius: 32px;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 32px;
                    background: rgba(6, 13, 28, 0.20);
                }
            }

            .tf-archive-hotel {
                border-radius: 4px;
                background-color: $color-filling-fg;
                @include flexbox();
                @include transition();

                &:hover{
                    background: $color-white;

                    .tf-archive-hotel-content .tf-archive-hotel-content-left .tf-section-title a{
                        color: $color-primary;
                    }
                }

                .tf-archive-hotel-thumb {
                    min-width: 160px;
                    max-width: 160px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        min-height: 172px;
                        object-fit: cover;
                        border-radius: 4px;
                    }

                    .tf-tag-items{
                        position: absolute;
                        top: 16px;
                        left: 16px;
                        @include flexbox();
                        @include flex-direction(column);
                        gap: 8px;
    
                        .tf-tag-item {    
                            color: $color-white;
                            font-size: 12px;
                            font-weight: 700;
                            padding: 6px 16px;
                            border-radius: 32px;
                            background-color: $color-primary;
                        }
                    }
                }

                .tf-archive-hotel-content {
                    width: calc(100% - 160px);
                    @include flexbox();
                    @include justify-content(space-between);
                    padding: 16px;

                    @media #{$max575} {
                        width: 100%;
                        @include flex-direction(column);
                    }

                    .tf-archive-hotel-content-left {
                        @include flexbox();
                        @include flex-direction(column);
                        gap: 8px;
                        width: calc(100% - 130px);

                        @media #{$max575} {
                            width: 100%;
                        }

                        .tf-title-location {
                            @include flexbox();
                            gap: 8px;
                            color: $color-text;
                            font-size: 1rem;
                            @media #{$max575} {
                                font-size: 0.75rem;
                            }

                            svg{
                                width: 16px;
                                height: 16px;
                            }
                        }

                        .tf-section-title {
                            font-size: 1.3rem;
                            font-weight: 500;
                            line-height: 1.3;
                            margin-bottom: 0;
                            text-transform: capitalize;

                            a {
                                color: $color-heading;
                                text-decoration: none;

                                &:hover {
                                    color: $color-primary;
                                }
                            }

                            @media #{$max575} {
                                font-size: 0.875rem;
                            }
                        }

                        ul {
                            margin: 0;
                            padding: 0;
                            @include flexbox();
                            @include flex-wrap();
                            gap: 8px;
                            list-style: none;

                            li {
                                color: $color-text;
                                line-height: 1.25;
                                @include flexbox();
                                @include align-items(center);
                                gap: 8px;

                                @media #{$max575} {
                                    font-size: 0.75rem;
                                    line-height: 1.16;
                                }
                            }
                        }

                        .tf-reviews {
                            @include flex-direction(column);
                            gap: 8px;
                            margin-top: 8px;

                            @media #{$max575} {
                                margin-top: 0;
                                font-size: 0.875rem;
                            }

                            .tf-review-items {
                                color: $color-warning;
                                @include flexbox();
                                gap: 2px;

                                @media #{$max575} {
                                    display: none;
                                }
                            }

                            .tf-avarage-review {
                                .tf-no-review-count{
                                    color: $color-heading;
                                }
                            }
                        }
                    }

                    .tf-archive-hotel-content-right {
                        @include flexbox();
                        @include flex-direction(column);
                        @include justify-content(space-between);
                        width: 130px;

                        @media #{$max575} {
                            width: 100%;
                            margin-top: 16px;
                            gap: 8px;
                        }

                        .tf-archive-hotel-price {
                            @include flexbox();
                            @include justify-content(flex-end);
                            @include align-items(flex-end);
                            gap: 2px;
                            font-size: 0.875rem;
                            color: $color-text;

                            @media #{$max575} {
                                @include justify-content(flex-start);
                            }

                            .woocommerce-Price-amount {
                                font-size: 1rem;
                                font-weight: 500;
                                color: $color-heading;
                            }
                        }
                    }
                }
            }

            .tf-archive-hotels.tf-layout-grid {
                @include flex-direction(row);
                flex-wrap: wrap;

                .tf-archive-hotel {
                    flex-basis: calc(50% - 12px);
                    @include flex-direction(column);
                    
                    @media #{$max575} {
                        flex-basis: 100%;
                    }

                    .tf-archive-hotel-thumb {
                        min-width: 100%;
                        max-width: 100%;
                        height: 165px;

                        .tf-tag-items{
                            width: calc(100% - 32px);
                            @include flex-direction(row);
                            @include justify-content(space-between);
                        }
                    }

                    .tf-archive-hotel-content {
                        width: 100%;
                        height: 100%;
                        @include flex-direction(column);

                        .tf-archive-hotel-content-left {
                            width: 100%;

                            .tf-reviews {
                                @include flex-direction(row);
                            }
                        }

                        .tf-archive-hotel-content-right {
                            margin-top: 8px;
                            @include flex-direction(row);
                            width: 100%;

                            .tf-archive-hotel-price {
                                @include align-items(center);
                            }
                        }
                    }
                }

                &.tf-grid-1{
                    .tf-archive-hotel {
                        flex-basis: 100%;
                    }
                }

                &.tf-grid-3{
                    .tf-archive-hotel {
                        flex-basis: calc(100% / 3 - 16px);
                        @media #{$max1024}{
                            flex-basis: calc(100% / 2 - 12px);
                        }
                        @media #{$max768}{
                            flex-basis: calc(100% - 0px);
                        }
                    }
                }

                &.tf-grid-4{
                    .tf-archive-hotel {
                        flex-basis: calc(100% / 4 - 18px);
                        @media #{$max1024}{
                            flex-basis: calc(100% / 2 - 12px);
                        }
                        @media #{$max768}{
                            flex-basis: calc(100% - 0px);
                        }
                    }
                }
            }

            #tf_ajax_searchresult_loader {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 999;
                display: none;

                #tf-searchresult-loader-img {
                    @include flexbox();
                    @include justify-content(center);
                    margin-top: 100px;

                    img {
                        width: 120px;
                    }
                }
            }
        }

        .tf-archive-filter {
            //margin-bottom: 24px;

            label input:checked ~ .tf-checkmark{
                background-color: $color-primary;
                border-color: $color-primary;
            }

            .tf-archive-filter-sidebar {
                position: fixed;
                top: 0;
                left: -320px;
                width: 300px;
                height: 100vh;
                background-color: $color-white;
                box-shadow: 0px 4px 40px 0px rgba(80, 33, 0, 0.10);
                padding: 16px;
                z-index: 9999;
                @include transition();

                &.tf-show {
                    left: 0;
                }
            }

            .tf-filter-title {
                @include flexbox();
                @include justify-content(space-between);
                margin-bottom: 24px;

                .tf-section-title {
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                    font-weight: 500;
                    color: $color-heading;
                    line-height: 1.5;
                }

                button {
                    margin: 0;
                    padding: 0;
                    border: none;
                    color: $color-primary;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 1.5;
                    background-color: transparent;
                    letter-spacing: 0.15px;
                    cursor: pointer;

                    @media #{$max1024}{
                        font-size: 0.75rem;
                    }
                }
            }

            .tf_widget {
                .tf-hotel-result-price-range,
                .tf-tour-result-price-range {
                    margin-top: 20px;
                    padding-bottom: 0px;
                }

                h4 {
                    font-size: 1.25rem;
                    font-weight: 500;
                }

                .al-range-slider__track {
                    background: $color-brand-lite;
                    height: 10px;
                    box-shadow: none;
                    margin: 30px 0px 10px 0px;
                }

                .al-range-slider_dark {
                    padding: 0px;

                    .al-range-slider__bar {
                        background: $color-text;
                        box-shadow: none;
                    }
                }

                .al-range-slider__knob {
                    background: $color-filling-bg;
                    height: 24px;
                    width: 24px;
                    box-shadow: none;
                    border: 1.5px solid $color-border;

                    &:first-child {
                        span {
                            left: 10px;
                        }
                    }
                }

                .al-range-slider__tooltip {
                    background: $color-primary;
                    border-radius: 5px;
                    box-shadow: none;
                    padding: 3px 10px;
                    color: $color-white;
                    font-size: 0.813rem;
                    margin-bottom: 0px;
                }

                .al-range-slider__input.js-al-range-slider__input {
                    display: none;
                }
            }

            #tf_map_popup_sidebar{
                display: none;
            }
            #tf__booking_sidebar {
                max-height: calc(100vh - 100px);
                overflow-y: auto;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $scrollbar-thumb-color;
                    border-radius: 32px;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 32px;
                    background: rgba(6, 13, 28, 0.20);
                }

                .widget {
                    border: none;
                    background: inherit;
                    border-radius: 0;
                    margin-bottom: 32px;
                    padding: 0px;

                    .tf-widget-title {
                        background-color: inherit;
                        border: 0px solid;
                        padding: 0px;
                        border-radius: 0px;
                        height: auto;
                        pointer-events: none;
                        color: $color-heading;
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 1.5;
                        letter-spacing: 0.15px;
                        margin-bottom: 16px;

                        i {
                            display: none;
                        }
                    }

                    .tf-filter {
                        padding: 0;

                        ul {
                            padding: 0;
                            margin-bottom: 8px;
                            @include flexbox();
                            @include flex-direction(column);
                            gap: 8px;

                            li {
                                padding: 0;
                                margin: 0;

                                label {
                                    position: relative;
                                    cursor: pointer;
                                    width: 100%;
                                    display: inline-block;
                                    padding-left: 24px;
                                    color: $color-text;
                                    font-size: 0.875rem;
                                    font-weight: 500;
                                    line-height: 1.5;
                                    letter-spacing: 0.15px;

                                    .tf-checkmark {
                                        position: absolute;
                                        top: 50%;
                                        left: 0px;
                                        transform: translateY(-50%);
                                        height: 16px;
                                        width: 16px;
                                        background-color: $color-white;
                                        border-radius: 4px;
                                        border: 1px solid $color-primary;

                                        &:after{
                                            left: 4.5px;
                                            top: 1.5px;
                                            width: 5px;
                                            border-width: 0 2px 2px 0;
                                        }
                                    }
                                    input {
                                        display: none;
                                        &:checked ~ .tf-checkmark {
                                            background-color: $color-primary;
                                        }
                                    }
                                }
                            }

                            li.active {
                                background: transparent;
                            }
                        }

                        a.see-more,
                        a.see-less{
                            text-align: left;
                            color: $color-primary;
                            text-transform: capitalize;
                            font-weight: 400;
                            text-decoration: none;

                            span {
                                margin-left: 8px;
                            }
                        }

                        a.see-less {
                            display: none;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .tf-pagination-bar{
            display: block;
            width: 100%;

            @media #{$max768}{
                margin-bottom: 30px;
            }

            .tf_posts_navigation,
            #tf_posts_navigation_bar{
                width: 100%;

                .page-numbers {
                    font-size: 0.875rem;
                    color: $color-text;
                    text-decoration: none;
                    padding: 12px 12px;
                    min-width: 40px;
                    line-height: 1.2;
                    border-radius: 5px;
                    text-align: center;
                    background: transparent;
                    display: inline-block;
                }
                .page-numbers.current{
                    background: $color-brand-lite;
                    color: $color-text;
                }
            }
        }
        .tf_posts_navigation.tf_posts_ajax_navigation,
        .tf_posts_navigation.tf_posts_page_navigation{
            width: 100%;

            .page-numbers {
                font-size: 0.875rem;
                color: $color-text;
                text-decoration: none;
                padding: 12px 12px;
                min-width: 40px;
                line-height: 1.2;
                border-radius: 5px;
                text-align: center;
                background: transparent;
                display: inline-block;
            }
            .page-numbers.current{
                background: $color-brand-lite;
                color: $color-text;
            }
        }

        .tf-archive-hotels-wrapper,
        .tf-archive-hotels{
            height: 100%;
            position: relative;
        }
    }
}

/* Booking form */
.tf-archive-booking-form__style-3{
    &.tf-booking-form {
        display: inline-flex;
        @include justify-content(center);
        border-radius: 8px;
        border: 0.5px solid $color-border-lite;
        background-color: $color-filling-fg;
        padding: 24px 48px;
        max-width: 1050px;
        margin: 0 auto;

        @media #{$max1024} {
            padding: 16px;
            gap: 16px;
            @include flex-direction(column);
        }
    }

    .tf-search-fields {
        @include flexbox();
        gap: 16px;

        @media #{$max1024} {
            @include flex-direction(column);
            gap: 8px;
        }

        .tf-search-field {
            @include flexbox();
            @include align-items(center);
            gap: 8px;

            @media #{$max1024} {
                padding: 16px;
                border-radius: 4px;
                background: $color-brand-lite;
            }

            .tf-search-field-icon {
                @include flexbox();

                i{
                    font-size: 18px;
                }
                svg{
                    width: 20px;
                    height: 20px;
                }
            }

            .tf-search-field-content {
                @include flexbox();
                @include flex-direction(column);
                gap: 8px;
                position: relative;
            }

            .tf-search-field-label {
                color: $color-text;
                font-size: 0.875rem;
                line-height: 1;
                cursor: pointer;
            }

            .tf-search-input {
                background: transparent;
                padding: 0;
                border: none;
                width: 110px;
                color: $color-heading;
                font-size: 1rem;
                height: 20px;
                outline: none;
                font-weight: 600;
            }

            .tf-archive-guest-info {
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.25;
            }
        }

        .tf-search-field-checkinout {
            @include flexbox();
            @include align-items(center);
            gap: 24px;

            @media #{$max1024} {
                border-radius: 4px;
                background: $color-brand-lite;
            }
            @media #{$max575} {
                gap: 8px;

                .tf-search-field-checkin{
                    padding-right: 0;
                }
                .tf-search-field-checkout{
                    padding-left: 0;
                }
            }
        }

        #tf-check-out{
            cursor: pointer;
        }

        .tf-search-field-divider {
            background-color: $color-border-lite;
            width: 1px;

            @media #{$max1024} {
                display: none;
            }
        }
    }

    .tf-search-field-checkin .tf-search-input.form-control {
        min-width: 100px;
        width: 100px;
        opacity: 0;
        position: absolute;
        bottom: 0;
    }

    #tf-apartment-location-autocomplete-list,
    #tf-locationautocomplete-list,
    #tf-destinationautocomplete-list {
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: 10px;
        min-width: 200px;
        z-index: 999;
        max-height: 200px;
        overflow: auto;
        padding: 4px;
        border-radius: 4px;
        background: $color-filling-fg;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $scrollbar-thumb-color;
            border-radius: 32px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 32px;
            background: rgba(6, 13, 28, 0.20);
        }

        div {
            padding: 4px 16px;
            cursor: pointer;
            color: $color-heading;
            display: block;
            transition: .3s all ease;    
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.15px;
            border-radius: 4px;

            &:hover {
                background: $color-brand-lite;
            }

            &::before {
                display: none;
            }
        }
    }

    .tf-search-guest-and-room {
        position: relative;
        cursor: pointer;
    }

    .tf_acrselection-wrap {
        display: unset;
        top: 80%;
        opacity: 0;
        margin-top: 0;
        visibility: hidden;
        transition: 0.3s;
        border-radius: 8px;
        padding: 16px;
        background: $color-filling-fg;

        .tf_acrselection-inner{
            @include flexbox();
            @include flex-direction(column);
            gap: 16px;

            .tf_acrselection{
                margin-bottom: 0;
            }
        }

        .acr-label {
            letter-spacing: 0.15px;
        }

        .acr-select {
            text-align: right;
            width: 106px;
            gap: 16px;

            input[type=tel] {
                width: 34px;
                height: 48px;
                font-size: 1rem;
                font-weight: 600;
                color: $color-heading;
                text-align: center;
                padding-left: 0px;
                padding-right: 0px;
                border-radius: 4px;
                border: 0.2px solid $color-border-lite;
                background: $color-filling-bg;
            }

            .acr-dec,
            .acr-inc {
                background: transparent;
                border: none;
                font-size: 1.938rem;
                font-weight: 400;
                color: $color-brand-dark;
                padding: 0;
                min-width: auto;
                width: auto;

                svg rect,
                svg path{
                    fill: $color-brand-dark;
                }
            }
        }
    }

    .tf_acrselection-wrap.tf-show {
        visibility: visible;
        opacity: 1;
        top: 116%;
        display: block !important;
    }

    .tf-booking-form-submit {
        margin-left: 48px;

        @media #{$max1024} {
            margin-left: 0;
        }
    }
}

.admin-bar .tf-archive-template__three .tf-archive-filter .tf-archive-filter-sidebar{
    top: 32px;
}

.tf-nothing-found.tf-template-4-nothing-found {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}