.tf-template-3 {
    background: $color-white;
    color: $color-gray;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.80px;
    width: 100%;
    
    select {
        appearance: none;
        background-position: center right;
        padding-right: 22px;
        padding-top: 4px;
        background-repeat: no-repeat;
        background-size: 20px;
    }
    select:focus {
        outline: none;
    }
    .tf-section {
        background: $color-light-bg;
        padding: 32px;
        margin-bottom: 32px;
    }
    .tf-section-title {
        margin-bottom: 32px;
        color: $color-heading;
    }

    .tf-scroll-bar {
        overflow: hidden;
        overflow-y: scroll;
        height: inherit;
        &::-webkit-scrollbar {
            width: 8px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: $color-light-bg;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $color-gray;
            border-radius: 50px;
            overflow: hidden;
        }
        .tf-popup-image {
            width: calc(33.33% - 7px);
            height: fit-content;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
}