.tf-content-wrapper {
    .tf-details {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 40px;
        align-items: start;
        @media #{$max1024}{
            gap: 24px;
        }
        .tf-archive-search-form{            
            width: 100%;
            @media #{$max767}{
                margin-left: 16px;
                margin-right: 16px;
                width: auto;
            }
        }
        .tf-details-left {
            width: calc(100% - 520px);
            display: flex;
            flex-direction: column;
            gap: 32px;

            @media #{$max1600}{
                width: calc(100% - 360px);
            }
            @media #{$max1366}{
                width: calc(100% - 323px);
            }
            @media #{$max1024}{
                width: calc(100% - 246px);
                gap: 16px;
            }
            .tf-details-menu {
                background: #FCF4E8;
                padding: 16px 30px;
                position: sticky;
                left: 0;
                top: 0;
                z-index: 99;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    gap: 32px;
                    flex-wrap: wrap;
                    li {
                        a {
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 20.80px;
                            color: #99948D;
                            border-bottom: 2px solid;
                            padding-bottom: 5px;
                            display: inline-block;
                            border-color: transparent;
                            @media #{$max1024}{
                                font-size: 12px !important;
                            }
                            &.tf-hashlink {
                                border-color: #595349;
                                color: #595349;
                            }
                        }
                    }
                }
            }
            .tf-overview-wrapper {
                padding: 0 32px;
                .tf-overview-description {
                    p {
                        margin: 0;
                        padding: 0;
                    }
                    .tf-short-description{
                        color: #99948D;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%; /* 20.8px */
                        @media #{$max767}{
                            font-size: 14px;
                        }
                    }
                    span.tf-see-description,
                    span.tf-see-less-description{
                        color: $color-primary;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        cursor: pointer;
                        @media #{$max767}{
                            font-size: 14px;
                        }
                    }
                    .tf-full-description{
                        display: none;
                        color: #99948D;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%; /* 20.8px */
                        @media #{$max767}{
                            font-size: 14px;
                        }
                    }
                }
                .tf-overview-popular-facilities {
                    span.tf-popular-facilities-title {
                        color: #595349;
                        font-size: 16px !important;
                        display: block;
                        font-weight: 600 !important;
                        line-height: 20.8px !important;
                        margin-bottom: 16px;
                    }
                    &>ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 12px 0;
                        li {
                            width: 25%;
                            display: flex;
                            @media #{$max767}{
                                width: 50% !important;
                            }
                            i{
                                margin-right: 8px;
                                font-size: 20px;
                            }
                        }
                    }
                }
                .tf-features-block-wrapper {
                    display: grid;
                    gap: 24px;
                    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
                    margin-bottom: 32px;
                    
                    @media #{$max1600}{
                        grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
                    }
                    @media #{$max1200}{
                        grid-template-columns: 1fr 1fr;
                    }
                    @media #{$max991}{
                        grid-template-columns: 1fr 1fr;
                    }
                    @media #{$max480}{
                        grid-template-columns: 100%;
                    }
                    .tf-feature-block {
                        padding: 24px;
                        display: flex;
                        gap: 16px;
                        background: #FCF4E8;
                        @media #{$max1024}{
                            padding: 16px !important;
                            gap: 8px;
                        }
                        i {
                            font-size: 24px;
                            color: rgb(181, 142, 83);
                        }
                        .tf-feature-block-details {
                            h5 {
                                color: #595349;
                                font-size: 20px !important;
                                font-style: normal !important;
                                font-weight: 700 !important;
                                line-height: 1.3;
                            }
                            p{
                                color: #99948D;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 130%; /* 20.8px */
                            }
                        }
                    }
                }
                .tf-features-block-slides{
                    .slick-track{
                        display: flex;
                        .slick-slide{
                            height: inherit;
                            margin: 0px 5px !important;
                        }
                    }
                    .tf-feature-block {
                        padding: 24px;
                        display: flex;
                        gap: 16px;
                        background: #FCF4E8;
                        @media #{$max1024}{
                            padding: 16px !important;
                            gap: 8px;
                        }
                        i {
                            font-size: 24px;
                            color: rgb(181, 142, 83);
                        }
                        .tf-feature-block-details {
                            h5 {
                                color: #595349;
                                font-size: 20px !important;
                                font-style: normal !important;
                                font-weight: 700 !important;
                                line-height: 1.3;
                            }
                            p{
                                color: #99948D;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 130%; /* 20.8px */
                                span.show_sub_title{
                                    color: #595349;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 130%;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .tf-features-block-wrapper.tf-informations-secations{
                  margin: 0px;  
                }
                .tf-highlights-wrapper { 
                    display: flex;
                    gap: 24px;
                    padding: 32px 0;
                    background: #FCF4E8;
                    margin-bottom: 16px;
                    border-radius: 0px;
                    box-shadow: none;
                    @media #{$max1024}{
                        padding: 16px 0px 16px 16px;
                    }
                    .tf-highlights-icon { 
                        width: 230px;
                        @media #{$max1024}{
                            display: none;
                        }
                        img { 
                            width: 230px;
                            height: 230px;
                            object-fit: contain;
                        }
                    }
                    .ft-highlights-details { 
                        width: 80%;
                        padding-right: 32px;
                        @media #{$max1024}{
                            width: 100%;
                            padding-right: 16px;
                        }
                        h2{
                            font-weight: 700 !important;
                            margin-bottom: 24px;
                            @media #{$max1024}{
                                font-size: 24px !important;
                            }
                        }
                        p{
                            color: #99948D;
                        }
                        ul { 
                            margin: 0px 0px 0px 13px;;
                            padding: 0;
                            display: flex;
                            gap: 16px;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
        .tf-details-right {
            width: 480px;
            @media #{$max1600}{
                width: 320px;
            }
            @media #{$max1366}{
                width: 283px !important;
                padding: 32px !important;
            }
            @media #{$max1024}{
                width: 222px !important;
                padding: 16px !important;
            }

            &.tf-archive-right{
                background-color: #FCF4E8;
                padding: 32px;                
                width: 480px;
                margin-bottom: 56px;
                @media #{$max991}{
                    display: none;
                    position: absolute;
                    width: 100% !important;
                    z-index: 99;
                    top: 200px;
                }
                @media #{$max767}{
                    top: 100px;
                }
            }

            .tf_widget{
                background-color: transparent;
                border: 0px solid;
                margin-bottom: 32px;
                &:last-child{
                    margin-bottom: 0px;
                }
                .tf-widget-title{
                    padding: 0px;
                    height: auto;
                    background: transparent;
                    border: 0px solid;
                    border-radius: 8px 8px 0px 0px;
                    pointer-events: none;
                    span{
                        margin-bottom: 10px !important;
                        font-size: 16px !important;
                        font-weight: 600 !important;
                        line-height: 1.5 !important;
                        color: #595349 !important;
                        @media #{$max1024}{
                            font-size: 12px !important;
                        }
                    }
                    i{
                        display: none;
                    }
                }
                .tf-filter{
                    padding: 0;
                    ul{
                        li{
                            margin: 0px;
                            padding-left: 0px;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            color: #99948D;
                            background: transparent;
                            @media #{$max1024}{
                                font-size: 12px !important;
                            }
                            label{
                                padding-left: 30px;
                                line-height: 16px;
                                .checkmark{
                                    border-radius: 4px;
                                    border: 1px solid #917242;
                                    background: #FDF9F3;
                                    height: 16px;
                                    width: 16px;
                                    &:hover{
                                        border-color: #B58E53;
                                    }
                                    &::after{
                                        top: 1px;
                                        left: 4px;
                                        border-color: rgb(145, 114, 66);
                                        width: 6px;
                                        height: 9px;
                                    }
                                }
                            }
                            label input:checked~.checkmark {
                                background-color: transparent !important;
                                border-color: rgb(145, 114, 66);
                            }
                        }
                    }
                    a.see-more.btn-link,
                    a.see-less.btn-link{
                        text-align: left;
                        text-decoration: none;
                        text-transform: capitalize;
                        color: #595349;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        margin-top: 6px;
                        span{
                            display: none;
                        }
                        @media #{$max1024}{
                            font-size: 12px !important;
                        }
                    }
                }
                .tf-hotel-result-price-range, 
                .tf-tour-result-price-range, 
                .tf-apartment-result-price-range{
                    padding-left: 14px;
                    padding-right: 14px;
                    margin-top: 10px;
                }
                .al-range-slider__track {
                    background: #D6D4D2;
                    height: 10px;
                    box-shadow: none !important;
                    margin: 0px 0px 10px 0px;
                }
                .al-range-slider_dark {
                    padding: 0px !important;
                    .al-range-slider__bar {
                        background: #99948D !important;
                        box-shadow: none !important;
                    }
                }
                .al-range-slider__knob {
                    background: #FDF9F3 !important;
                    height: 24px;
                    width: 24px;
                    box-shadow: none !important;
                    border: 3px solid #99948D !important;
                    &:first-child {
                        span {
                            left: 10px !important;
                        }
                    }
                }
                .al-range-slider__tooltip {
                    background: transparent !important;
                    box-shadow: none;
                    padding: 3px 10px;
                    margin-bottom: 0px !important;
                    bottom: -40px;
                    color: #595349 !important;
                    font-size: 16px !important;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                }
                .al-range-slider__input.js-al-range-slider__input {
                    display: none !important;
                }
            }
            .tf_widget.widget_tf_price_filters{
                margin-bottom: 54px;
            }
        }
        .tf-archive-right.tf-filter-show{
            display: block;
        }
    }
    .tf-archive-details{
        .tf-details-left{
            @media #{$max991}{
                width: 100% !important;
            }
        }
    }
}
.tf-details-menu.tf-sticky-menu {
    position: fixed;
    top: 175px;
    box-shadow: 0 0 20px #ddd;
    z-index: 9;
}