.tf-content-wrapper {
    .tf-details {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 40px;
        align-items: start;
        @media #{$max1024}{
            gap: 24px;
        }
        
        .tf-details-left {
            width: calc(100% - 520px);
            display: flex;
            flex-direction: column;
            gap: 32px;

            @media #{$max1600}{
                width: calc(100% - 360px);
            }
            @media #{$max1366}{
                width: calc(100% - 323px);
            }
            @media #{$max1024}{
                width: calc(100% - 246px);
                gap: 16px;
            }
            .tf-details-menu {
                background: $color-light-bg;
                padding: 16px 30px;
                position: sticky;
                left: 0;
                top: 0;
                z-index: 99;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    gap: 32px;
                    flex-wrap: wrap;
                    li {
                        a {
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 20.80px;
                            color: $color-primary;
                            border-bottom: 2px solid;
                            padding-bottom: 5px;
                            display: inline-block;
                            border-color: transparent;
                            @media #{$max1024}{
                                font-size: 12px !important;
                            }
                            &.tf-hashlink {
                                border-color: $color-primary;
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
            .tf-overview-wrapper {
                padding: 0 32px;
                .tf-overview-description {
                    p {
                        margin: 0;
                        padding: 0;
                    }
                    .tf-short-description{
                        color: $color-text;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%; /* 20.8px */
                        @media #{$max767}{
                            font-size: 14px;
                        }
                    }
                    span.tf-see-description,
                    span.tf-see-less-description{
                        color: $color-primary;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        cursor: pointer;
                        @media #{$max767}{
                            font-size: 14px;
                        }
                    }
                    .tf-full-description{
                        display: none;
                        color: $color-text;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%; /* 20.8px */
                        @media #{$max767}{
                            font-size: 14px;
                        }
                    }
                }
                .tf-overview-popular-facilities {
                    span.tf-popular-facilities-title {
                        color: $color-text;
                        font-size: 16px !important;
                        display: block;
                        font-weight: 600 !important;
                        line-height: 20.8px !important;
                        margin-bottom: 16px;
                    }
                    &>ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 12px 0;
                        li {
                            width: 25%;
                            display: flex;
                            @media #{$max767}{
                                width: 50% !important;
                            }
                            i{
                                margin-right: 8px;
                                font-size: 20px;
                            }
                        }
                    }
                }
                .tf-features-block-wrapper {
                    display: grid;
                    gap: 24px;
                    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
                    margin-bottom: 32px;
                    
                    @media #{$max1600}{
                        grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
                    }
                    @media #{$max1200}{
                        grid-template-columns: 1fr 1fr;
                    }
                    @media #{$max991}{
                        grid-template-columns: 1fr 1fr;
                    }
                    @media #{$max480}{
                        grid-template-columns: 100%;
                    }
                    .tf-feature-block {
                        padding: 24px;
                        display: flex;
                        gap: 16px;
                        background: $color-light-bg;
                        @media #{$max1024}{
                            padding: 16px !important;
                            gap: 8px;
                        }
                        i {
                            font-size: 24px;
                            color: $color-primary;
                        }
                        .tf-feature-block-details {
                            h5 {
                                color: $color-heading;
                                font-size: 20px !important;
                                font-style: normal !important;
                                font-weight: 700 !important;
                                line-height: 1.3;
                            }
                            p{
                                color: $color-text;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 130%; /* 20.8px */
                            }
                        }
                    }
                }
                .tf-features-block-slides{
                    .slick-track{
                        display: flex;
                        .slick-slide{
                            height: inherit;
                            margin: 0px 5px !important;
                        }
                    }
                    .tf-feature-block {
                        padding: 24px;
                        display: flex;
                        gap: 16px;
                        background: $color-light-bg;
                        @media #{$max1024}{
                            padding: 16px !important;
                            gap: 8px;
                        }
                        i {
                            font-size: 24px;
                            color: $color-primary;
                        }
                        .tf-feature-block-details {
                            h5 {
                                color: $color-heading;
                                font-size: 20px !important;
                                font-style: normal !important;
                                font-weight: 700 !important;
                                line-height: 1.3;
                            }
                            p{
                                color: $color-text;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 130%; /* 20.8px */
                                span.show_sub_title{
                                    color: $color-text;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 130%;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .tf-features-block-wrapper.tf-informations-secations{
                  margin: 0px;  
                }
                .tf-highlights-wrapper { 
                    display: flex;
                    gap: 24px;
                    padding: 32px 0;
                    background: $color-light-bg;
                    margin-bottom: 16px;
                    border-radius: 0px;
                    box-shadow: none;
                    @media #{$max1024}{
                        padding: 16px 0px 16px 16px;
                    }
                    .tf-highlights-icon { 
                        width: 230px;
                        @media #{$max1024}{
                            display: none;
                        }
                        img { 
                            width: 230px;
                            height: 230px;
                            object-fit: contain;
                        }
                    }
                    .ft-highlights-details { 
                        width: 80%;
                        padding-right: 32px;
                        @media #{$max1024}{
                            width: 100%;
                            padding-right: 16px;
                        }
                        h2{
                            font-weight: 700 !important;
                            margin-bottom: 24px;
                            @media #{$max1024}{
                                font-size: 24px !important;
                            }
                        }
                        p{
                            color: $color-text;
                        }
                        ul { 
                            margin: 0px 0px 0px 13px;;
                            padding: 0;
                            display: flex;
                            gap: 16px;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
        
    }
    .tf-archive-details{
        .tf-details-left{
            @media #{$max991}{
                width: 100% !important;
            }
        }
    }
}
.tf-details-menu.tf-sticky-menu {
    position: fixed;
    top: 175px;
    box-shadow: 0 0 20px $color-border;
    z-index: 9;
}