.tf-reviews-wrapper { 
    padding-bottom: 55px !important;
    .tf-section-title{
        color: $color-heading;
        font-size: 32px !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 120%; /* 38.4px */
        margin-bottom: 8px;
        @media #{$max1024}{
            font-size: 24px !important;
        }
    }
	.tf-reviews-slider { 

		.tf-reviews-item { 
            background: $color-light-bg;
            margin-right: 35px !important;
            padding: 24px;
            display: flex !important;
            flex-direction: row;
            gap: 8px;
            min-height: 212px;
            @media #{$max767}{
                min-height: auto;
            }
			.tf-reviews-avater { 
                width: 48px;
				img { 
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                    border-radius: 50%;
                    max-width: none;
				}
			}

			.tf-reviews-text { 

				.tf-review-rating { 
                    color: $color-primary;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20.80px;
                    word-wrap: break-word;
                    margin: 0px 0px 8px 0px;
                    display: block;
                    >div{
                        display: none;
                    }
				}

				.tf-reviews-meta { 
                    color: $color-text;
                    margin-bottom: 16px;
                    display: inline-block;
				}

				p { 
                    @media #{$max767}{
                        font-size: 14px !important;
                    }
				}
			}
		}
        .slick-list {
            padding: 32px 0;
            @media #{$max767}{
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }
        button.slide-arrow {
            position: absolute;
            bottom: -30px;
            border: none;
            background: transparent;
            font-size: 30px;
            color: $color-primary;
            padding: 0px;
            cursor: pointer;
        }
        button.next-arrow {
            right: calc(50% - 70px);
        }
        
        button.prev-arrow {
            left: calc(50% - 70px);
        }
	}
}