.tf-whats-around {
    @media #{$max767}{
        margin-left: 16px;
        margin-right: 16px;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media #{$max767}{
            gap: 8px;
        }
        li {
            display: flex;
            justify-content: space-between;
            @media #{$max1024}{
                display: flow-root;
            }
            @media #{$max767}{
                display: flex;
            }
            span{
                width: 100% !important;
                display: block;
                &:last-child{
                    text-align: right;
                }
            }
            i {
                margin-right: 8px;
                width: 20px;
                font-size: 20px;
            }
        }
    }
}


.tf-single-widgets h2 {
    margin-bottom: 0px;
    font-weight: 700 !important;
    @media #{$max1024}{
        font-size: 20px !important;
    }
}

.tf-location iframe {
    width: 100%;
    height: 250px;
}

.tf-single-widgets {
    margin-bottom: 32px;
}

.tf-single-widgets {
    display: flex;
    gap: 24px;
    flex-direction: column;
    @media #{$max1024}{
        gap: 16px;
    }
}

.tour-external-booking-form {
    background-color: $color-light-bg;
    padding: 24px;

    .tf-tour-external-booking-button {
        border: 1px solid $color-primary !important;
        background: $color-primary !important;
        padding: 12px 32px !important;
        justify-content: center;
        transition: .3s all ease;
        border-radius: 0px;
    }
}

.tf-tour-contact-informations {
    background-color: $color-light-bg;
    padding: 24px;

    .tf-contact-details-title {
        h3 {
            font-weight: 700 !important;
            font-size: 30px;
            margin-bottom: 5px;
        }
    }
    .tf-contact-details-items {
        .tf-list {
        li {
            margin-top: 5px;
            margin-bottom: 15px;
            align-items: center;
            
            a {
                text-decoration: none;
                color: $color-primary;
            }
            i {
                font-size: 20px;
                color: $color-primary;
            }
        }
        }
    }

}

// archive
.tf-filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media #{$max1024}{
        gap: 16px;
    }
    .tf-filter-title {
        display: flex;
        justify-content: space-between;
        .tf-section-title {
            margin: 0 !important;
            padding: 0;
            font-weight: 700 !important;
            @media #{$max1024}{
                font-size: 20px !important;
            }
        }
        button {
            margin: 0;
            padding: 0;
            line-height: 1;
            border: none;
            background: unset;
            color: $color-primary;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 24px */
            transition: .3s all ease;
            @media #{$max1024}{
                font-size: 12px !important;
            }
            &:hover{
                color: $color-primary;
            }
        }
        button.filter-reset-btn{
            display: none;
        }
    }
    .tf-filter-list-item {
        h4 {
            margin-bottom: 12px;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            color: $color-heading;
        }
        label.tf-filter-location {
            display: flex;
            background: $color-white;
            padding: 12px;
            gap: 6px;
            input {
                width: -webkit-fill-available;
                border: none;
                outline: none;
            }
        }
        &.tf-filter-rating i {
            color: $color-primary;
        }
        .tf-filter-pricing-range {
            input.al-range-slider__input {
                display: none;
            }
            .al-range-slider__track {
                box-shadow: none;
                background: $color-light-bg;
                height: 8px;
                margin: 10px 0 40px 0;
            }
            .al-range-slider__bar {
                border: none;
                box-shadow: none;
                background: $color-gray;
            }
            .al-range-slider__knob {
                display: flex;
                width: 24px;
                height: 24px;
                border-radius: 12px;
                border: 1.5px solid $color-gray;
                background: $color-light-bg;
                box-shadow: none;
                &:hover {
                    border-color: none;
                    box-shadow: none;
                }
            }
            .al-range-slider__tooltip {
                background: none;
                border-radius: none;
                bottom: -150%;
                box-shadow: none;
                font-size: 16px;
                padding: 0;
                color: $color-text;
            }
            .al-range-slider {
                padding: 0;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin: 0;
            padding: 0;
            li {
                input {
                    padding: 0;
                    height: initial;
                    width: initial;
                    margin-bottom: 0;
                    display: none;
                    cursor: pointer;
                }
                input:checked+label:before {
                    background: $color-primary
                }
                label {
                    position: relative;
                    cursor: pointer;
                    color: $color-text;
                }
                label:before {
                    content: '';
                    background-color: transparent;
                    display: inline-block;
                    border-radius: 2px;
                    border: 0.794px solid $color-primary;
                    background: $color-light-bg;
                    height: 12px;
                    width: 12px;
                    margin-right: 8px;
                }
                a.tf-filter-list-see-less {
                    color: $color-primary;
                    text-decoration: none;
                }
            }
        }
    }
}