.tf-field {
  padding: 10px 20px;

  .tf-field-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    color: $slate60;
    display: flex !important;
    align-items: center;
    .tf-csf-badge{ 
      margin-left: 13px; 
      .tf-pro {
        background-color: #F44336 !important;
      }
      .tf-upcoming {
        background-color: #006600 !important;
      }
    }
   
  }

  .tf-field-sub-title{
    color: #8997A9;
    font-size: 12px;
  }
}