.tf-car-template-container{
    max-width: 1140px;
    margin: 0 auto;

    // Booking Popup
    .tf-car-booking-popup{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;
        background-color: rgba(0,0,0,.2);
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        @media #{$max767}{
            align-items: end;
        }
        .tf-booking-popup-warp{
            border-radius: 16px;
            background: #FFF;
            padding: 16px 24px;
            width: 850px;
            @media #{$max767}{
                padding: 24px 15px;
            }
            .tf-booking-popup-header{
                margin-bottom: 24px;
                h3{
                    color: #27333F;
                    font-size: 21px !important;
                    font-style: normal !important;
                    font-weight: 700 !important;
                    line-height: 150%; /* 31.5px */
                    margin: 0;
                }
                .tf-close-popup{
                    cursor: pointer;
                    display: flex;
                }
            }

            .tf-booking-content-wraper{
                .tf-cancellation-notice{
                    border-radius: 8px;
                    background: #FFF8E5;
                    padding: 16px;
                    margin-bottom: 24px;
                    span{
                        color: #6B4F00;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        i{
                            color: #6B4F00;
                        }
                        b{
                            font-weight: 700;
                            line-height: 150%; /* 24px */
                        }
                    }
                }
                .tf-booking-tabs{
                    margin-bottom: 24px;
                    ul{
                        margin: 0;
                        padding: 0;
                        li{
                            color: #27333f !important;
                            font-size: 16px !important;
                            font-style: normal !important;
                            font-weight: 400 !important;
                            line-height: 150% !important;
                            padding: 0 8px 8px 8px;
                            display: inline-block;
                            cursor: pointer;
                            width: auto !important;
                            &.active{
                                color: #0866C4;
                                border-bottom: 2px solid #0866C4;
                            }
                        }
                    }
                }

                .tf-protection-content{
                    max-height: 360px;
                    @media #{$max1024}{
                        max-height: 260px;
                    }
                    @media #{$max991}{
                        flex-direction: inherit;
                    }
                    overflow: auto;
                    padding-right: 8px;
                    scrollbar-width: thin;
                    scrollbar-color: #9c9c9c #ffffff;
   
                    /* Chrome, Edge, and Safari */
                    *::-webkit-scrollbar {
                        width: 5px;
                    }
                    *::-webkit-scrollbar-track {
                        background: #ffffff;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #9c9c9c;
                        border-radius: 5px;
                        border: 3px solid #ffffff;
                    }
                    p{
                        color: #27333F;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        margin: 0;
                    }

                    .tf-protection-featured{
                        border-radius: 16px;
                        border: 1px solid #C0CCD8;
                        padding: 24px;
                        @media #{$max991}{
                            width: 100%;
                        }
                        @media #{$max767}{
                            padding: 20px 12px;
                        }
                        table{
                            border: 0px solid;
                            margin: 0;
                            width: 100%;
                            tr{
                                td{
                                    border: 0px solid;
                                    color: #27333F;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 150%; /* 24px */
                                    padding: 0 0 16px 0px;
                                    @media #{$max767}{
                                        font-size: 12px;
                                        vertical-align: top;
                                    }
                                    span{
                                        font-weight: 600;
                                    }
                                    &:nth-child(1){
                                        @media #{$max767}{
                                            // width: 100%;
                                        }
                                    }
                                    &:nth-child(2){
                                        @media #{$max767}{
                                            width: 90px;
                                        }
                                    }
                                }
                                th{
                                    color: #27333F;
                                    border: 0px solid;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 150%; /* 24px */
                                    padding: 0 0 16px 0px;
                                    @media #{$max767}{
                                        font-size: 14px;
                                    }
                                    .tf-flex.tf-flex-align-center{
                                        flex-wrap: nowrap;
                                        @media #{$max767}{
                                            align-items: flex-start;
                                        }
                                    }
                                    .tf-single-protection-title{
                                        text-align: left;
                                        flex-wrap: nowrap;
                                    }
                                    .tf-protection-select{
                                        height: 15px;
                                        @media #{$max767}{
                                            margin-top: 6px;
                                        }
                                        label{
                                            color: #566676;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 150%; /* 24px */
                                            position: relative;
                                            margin-bottom: 0px;
                                            margin-right: 23px;
                                            cursor: pointer;
                                            display: block;
                                            input{
                                                position: absolute;
                                                opacity: 0;
                                                cursor: pointer;
                                                height: 0;
                                                width: 0;
                                            }
                                            input:checked ~ .checkmark:after {
                                                display: block;
                                            }
                                            input:checked ~ .checkmark{
                                                background-color: #F8FAFC;
                                            }
                                            .checkmark {
                                                position: absolute;
                                                height: 15px;
                                                width: 15px;
                                                top: 0;
                                                border: 2px solid #566676;
                                                background-color: transparent;
                                                border-radius: 5px;
                                                &::after{
                                                    content: "";
                                                    position: absolute;
                                                    display: none;
                                                    left: 3px;
                                                    top: 1px;
                                                    width: 5px;
                                                    height: 8px;
                                                    border: solid #566676;
                                                    border-width: 0 3px 3px 0;
                                                    -webkit-transform: rotate(45deg);
                                                    -ms-transform: rotate(45deg);
                                                    transform: rotate(45deg);
                                                }
                                            }
                                        }
                                    }
                                    .tf-info-tooltip{
                                        position: relative;
                                        margin-left: 5px;
                                        i{
                                            font-weight: 400;
                                        }
                                        &:hover{
                                            .tf-info-tooltip-content{
                                                visibility: visible;
                                                opacity: 1;
                                            }
                                        }
                                        .tf-info-tooltip-content{
                                            visibility: hidden;
                                            opacity: 0;
                                            position: absolute;
                                            box-shadow: 0px 15px 30px 0px rgba(40, 16, 26, 0.10);
                                            border-radius: 8px;
                                            background: var(--UI-800, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #27333F);
                                            padding: 8px 12px;
                                            width: 218px;
                                            z-index: 0;
                                            bottom: 30px;
                                            left: 50%;
                                            margin-left: -109px;
                                            transition: .3s all ease;
                                            &::after{
                                                position: absolute;
                                                content: "";
                                                height: 16px;
                                                width: 16px;
                                                background: var(--UI-800, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #27333F);
                                                border-radius: 5px;
                                                transform: rotate(45deg);
                                                left: 50%;
                                                margin-left: -8px;
                                                bottom: -6px;
                                                z-index: -1;
                                            }
                                            p{
                                                color: #FFF;
                                                text-align: center;
                                                font-size: 13px !important;
                                                font-style: normal !important;
                                                font-weight: 600 !important;
                                                line-height: 20px; /* 153.846% */
                                            }
                                        }
                                    }
                                }
                            }

                            tfoot{
                                margin-top: 16px;
                                tr{
                                    th{
                                        border-top: 1px solid #C0CCD8;
                                        padding: 16px 0 0 0;
                                    }
                                }
                            }

                        }
                    }
                }

                .tf-booking-form-fields{
                    display: none;
                    .tf-form-fields{
                        flex-wrap: wrap;
                        .tf-single-field{
                            width: calc(33% - 24px);
                            @media #{$max767}{
                                width: calc(50% - 24px);
                            }
                            label{
                                color: #566676;
                                font-size: 12px !important;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 120%; /* 14.4px */
                                margin-bottom: 8px;
                            }
                            input[type="text"],
                            input[type="email"]{
                                border-radius: 8px;
                                border: 1px solid #C0CCD8;
                                padding: 8px 16px;
                                height: 40px;
                                color: #566676;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
                                width: 100%;
                            }
                            input[type="date"]{
                                border-radius: 8px;
                                border: 1px solid #C0CCD8;
                                padding: 0px 16px;
                                height: 40px;
                                color: #566676;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
                                width: 100%;
                                text-transform: uppercase;
                            }
                            select{
                                border-radius: 8px;
                                border: 1px solid #C0CCD8;
                                padding: 0px 16px;
                                height: 40px;
                                color: #566676;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
                                width: 100%;
                            }
                            .error-text.error-visible{
                                color: red;
                            }
                        }
                    }
                    .tf-booking-submission{
                        margin-top: 24px;
                        text-align: right;
                        button{
                            border-radius: 8px;
                            background-color: #0866C4;
                            color: #FFF;
                            padding: 16px 32px;
                            border: 0px solid;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 150%; /* 24px */
                            cursor: pointer;
                            transition: .3s all ease;
                            &:hover{
                                background: #094c90 !important;
                            }
                        }
                    }
                }

                .tf-booking-bar{
                    margin-top: 24px;
                    justify-content: end;
                    button{
                        border-radius: 8px;
                        background: #E6F2FE;
                        padding: 16px 32px;
                        border: 0px solid;
                        color: #566676;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%; /* 24px */
                        cursor: pointer;
                    }
                    button.with-charge{
                        background-color: #0866C4 !important;
                        color: #FFF !important;
                        transition: .3s all ease;
                        &:hover{
                            background: #094c90 !important;
                        }
                    }
                }
            }
        }
    }

    .tf-car-instraction-popup,
    .tf-car-cancellation-popup{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        background-color: rgba(0,0,0,.2);
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        .tf-instraction-popup-warp,
        .tf-cancellation-popup-warp{
            border-radius: 16px;
            background: #FFF;
            padding: 16px 24px;
            width: 850px;
            @media #{$max640}{
                width: 100%;
            }
            .tf-instraction-popup-header,
            .tf-cancellation-popup-header{
                margin-bottom: 24px;
                flex-wrap: nowrap;
                h3{
                    color: #27333F;
                    font-size: 21px !important;
                    font-style: normal !important;
                    font-weight: 700 !important;
                    line-height: 150% !important;
                    margin: 0;
                    text-align: left;
                }
                .tf-close-popup{
                    cursor: pointer;
                }
            }
            .tf-instraction-content-wraper,
            .tf-cancellation-content-wraper{
                text-align: left;
                color: #27333F;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                max-height: 260px;
                overflow: auto;

                scrollbar-width: thin;
                scrollbar-color: #9c9c9c #ffffff;

                /* Chrome, Edge, and Safari */
                *::-webkit-scrollbar {
                    width: 5px;
                }
                *::-webkit-scrollbar-track {
                    background: #ffffff;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #9c9c9c;
                    border-radius: 5px;
                    border: 3px solid #ffffff;
                }
                p{
                    color: #27333F;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                }
                table{
                    margin-bottom: 0px;
                }
            }
        }
    }
}
.tf-single-car-section{
    
    .tf-single-car-banner{
        background: #B8C5D2;
        height: 350px;
        .tf-banner-content{
            height: 100%;
            h1{
                color: #FFF;
                text-align: center;
                font-size: 38px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 45.6px */
            }
            .breadcrumb{
                ul{
                    li{
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        display: inline-block;
                        a{
                            text-decoration: none;
                            color: #FFF;
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

// Archive List/Grid View
.tf-car-archive-result{
    width: calc(100% - 390px);
    @media #{$max1024}{
        width: calc(100% - 322px);
    }
    @media #{$max767}{
        width: 100%;
    }
    &.tf-car-lists-widgets{
        width: 100%;
        .tf-single-car-view{
            width: calc(33% - 18px) !important;
            @media #{$max1199}{
                width: calc(50% - 16px) !important;
            }
            @media #{$max767}{
                width: 100% !important;
            }
        }
    }
    .tf-heading{
        text-align: center;
        h2{
            color:#27333F;
            font-size: 38px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 45.6px */ 
            margin-bottom: 16px;
        }
        p{
            color: #566676;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            margin-bottom: 56px;
        }
    }
    .tf-car-result{
        flex-wrap: wrap;
        .tf-single-car-view{
            border-radius: 16px;
            background: #F8FAFC;
            width: calc(50% - 16px);
            @media #{$max991}{
                width: 100%;
            }
            .tf-car-image{
                position: relative;
                img{
                    border-radius: 16px;
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                }
                .tf-other-infos{
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    padding: 16px;
                    justify-content: space-between;
                    gap: 8px;
                    .tf-reviews-box{
                        span{
                            border-radius: 8px;
                            background: rgba(255, 255, 255, 0.24);
                            backdrop-filter: blur(32px);
                            display: inline-block;
                            padding: 0 8px;
                            color: #27333F;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                            i{
                                color: #FFBF0F;
                            }
                        }
                    }
                    .tf-tags-box{
                        max-width: 155px;
                        ul{
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            li{
                                border-radius: 8px;
                                background: #FFBF0F;
                                backdrop-filter: blur(32px);
                                padding: 4px 8px;
                                color: #382900;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
                                margin-bottom: 8px;
                                &:last-child{
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
            .tf-car-details{
                padding: 24px 16px 16px 16px;
                a{
                    text-decoration: none;
                    h3{
                        color:#27333F;
                        font-size: 21px !important;
                        font-style: normal !important;
                        font-weight: 700 !important;
                        line-height: 150% !important; /* 31.5px */
                        margin-top: 0px;
                    }
                }
                ul{
                    list-style: none;
                    margin-top: 0;
                    margin-left: 0;
                    margin-right: 0;
                    padding: 0;
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    gap: 16px 8px;
                    li{
                        color: #566676;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        display: flex;
                        width: calc(33.3333% - 8px);
                        @media #{$max1024}{
                            width: calc(50% - 16px);
                        }
                        svg{
                            height: 20px;
                            width: 20px;
                        }
                        p{
                            width: 100%;
                            margin: 0;
                            padding-left: 4px;
                        }
                    }
                }
                .tf-booking-btn{
                    align-items: center;
                    .tf-price-info{
                        h3{
                            color: #27333F;
                            font-size: 28px !important;
                            font-style: normal !important;
                            font-weight: 600 !important;
                            line-height: 120%; /* 33.6px */
                            margin: 0;
                            small{
                                color: #566676;
                                font-size: 16px !important;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
                                text-transform: capitalize;
                            }
                        }
                    }
                    button,
                    a.view-more{
                        border-radius: 8px;
                        border: 1px solid #0866C4;
                        padding: 12px 32px;
                        color: #0866C4;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%; /* 24px */
                        background-color: #fff;
                        cursor: pointer;
                        text-decoration: none;
                        transition: .3s all ease;
                        
                        &:hover{
                            border: 1px solid #0866C4;
                            background: #0866C4;
                            color: #fff;
                        }
                    }
                    .tf-car-booking-popup{
                        display: none;
                    }
                }
            }
        }
        &.list-view{
            .tf-single-car-view{
                width: 100% !important;
                display: flex;
                @media #{$max885}{
                    display: flow-root;
                }
                .tf-car-image{
                    width: 280px;
                    height: 200px;
                    @media #{$max1024}{
                        width: 200px;
                    }
                    @media #{$max885}{
                        width: 100%;
                    }
                    img{
                        width: 100%;
                        height: 200px;
                    }
                    .tf-other-infos{
                        display: flow-root;
                        .tf-tags-box{
                            margin-top: 8px;
                            max-width: none;
                            ul{
                                li{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
                .tf-car-details{
                    width: calc(100% - 280px);
                    @media #{$max1024}{
                        width: calc(100% - 200px);
                    }
                    display: flex;
                    padding: 24px;
                    justify-content: space-between;
                    @media #{$max885}{
                        display: flow-root;
                        width: 100%;
                    }
                    .tf-car-content{
                        width: calc(100% - 196px);
                        @media #{$max1024}{
                            width: calc(100% - 140px);
                        }
                        @media #{$max885}{
                            width: 100%;
                        }
                        h3{
                            margin-bottom: 16px;
                        }
                        ul{
                            margin: 0;
                            @media #{$max885}{
                                margin-bottom: 24px;
                            }
                            li{
                                width: calc(50% - 16px);
                            }
                        }
                    }
                    .tf-booking-btn{
                        flex-direction: column;
                        @media #{$max885}{
                            flex-direction: row;
                        }
                        button{
                            margin-top: auto;
                        }
                    }
                }
            }
        }

        .tf_posts_navigation{
            width: 100%;
            .page-numbers{
                background: #0866c4;
                color: #fff;
                border-radius: 8px;
            }
            .page-numbers.current{
                background: #e6f2fe;
                color: #566676;
            }
        }
    }
}

// Search form
.tf-archive-search-box-wrapper{
    border-radius: 16px;
    background: #E6F2FE;
    box-shadow: 0px 24px 60px 0px rgba(0, 15, 63, 0.16);

    .tf-date-selection-form{
        display: flex;
        margin-top: 8px;
        @media #{$max1024}{
            flex-wrap: wrap;
            justify-content: end;
        }
        .tf-date-select-box{
            width: calc(100% - 155px);
            @media #{$max1024}{
                width: 100%;
            }
        }
        .tf-driver-location-box{
            padding-left: 0;
            padding-right: 0;
            width: 147px;
            @media #{$max1024}{
                margin-right: 8px;
            }
            .tf-submit-button{
                height: 100%;
                width: 100%;
                button{
                    width: 100%;
                    height: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    .tf-date-select-box{
        padding: 8px;
        flex-wrap: nowrap;
        @media #{$max767}{
            flex-wrap: wrap;
        }
        .tf-date-single-select{
            border-radius: 8px;
            background: #FFF;
            padding: 16px;
            width: 33.33%;
            @media #{$max767}{
                width: 100%;
            }
            .tf-select-date{
                width: calc(50% - 8px);
                &:first-child{
                    border-right: 1px solid #DFE6ED;
                }
                
                i{
                    color: #566676;
                }
                .tf-flex{
                    flex-wrap: nowrap;
                }
                .info-select{
                    width: 100%;
                    position: relative;
                    h5{
                        color: #27333F;
                        font-size: 12px !important;
                        font-style: normal !important;
                        font-weight: 400 !important;
                        line-height: 120% !important; /* 14.4px */
                        margin-bottom: 8px;
                        margin-top: 0px;
                    }
                    input{
                        min-width: auto;
                        width: 100% !important;
                        color: #27333F;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        border: 0px solid !important;
                        padding-left: 0px;
                        box-shadow: none;
                        background: transparent !important;
                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }
                        &::placeholder{
                            color: #27333F;
                        }
                    }
                    select{
                        min-width: auto;
                        width: 100% !important;
                        color: #27333F;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        border: 0px solid !important;
                        background-color: transparent;
                    }
                    .autocomplete-items{
                        position: absolute;
                        z-index: 99;
                        top: 100%;
                        left: 0;
                        width: 190px;
                        max-height: 200px;
                        overflow: auto;
                        border-radius: 4px;
                        background: #EEF2F6;
                        padding: 2px;
                        box-shadow: 0px 4px 16px 0px rgba(2, 28, 53, 0.20);
                        
                        scrollbar-width: thin;
                        scrollbar-color: #9c9c9c #ffffff;
    
                        /* Chrome, Edge, and Safari */
                        *::-webkit-scrollbar {
                            width: 5px;
                        }
                        *::-webkit-scrollbar-track {
                            background: #ffffff;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: #9c9c9c;
                            border-radius: 5px;
                            border: 3px solid #ffffff;
                        }
                        
                        >div{
                            padding: 8px;
                            cursor: pointer;
                            border-radius: 4px;
                            background: #FFF;
                            text-transform: capitalize;
                            color: #27333F;
                            font-size: 16px;
                            margin-bottom: 2px;
                            transition: .3s all ease;
                            &:last-child{
                                margin-bottom: 0px;
                            }
                            &:hover{
                                background-color: #F8FAFC;
                            }
                        }
                    }
                    .tf_selectperson-wrap{
                        padding: 3px 0px !important;
                        border: 0px solid;
                        input{
                            width: 50px !important;
                            padding: 0 !important;
                            text-align: center;
                        }
                        .tf_input-inner > div{
                            color: #27333f;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }
                        .tf_acrselection-wrap{
                            left: 0;
                            .acr-dec,
                            .acr-inc{
                                padding: 0;
                            }
                        }
                    }
                }
            }
            &.tf-pick-drop-location.active{
                .tf-select-date{
                    width: 100%;
                    &:first-child{
                        border-right: 0px solid #DFE6ED;
                    }
                    &:last-child{
                        display: none;
                    }
                }
            }
            &.tf-date-single-select.full-width{
                .tf-select-date{
                    width: 100%;
                    &:first-child{
                        border-right: 0px solid #DFE6ED;
                    }
                }
            }
            
        }
    }
    .tf-driver-location-box{
        padding: 8px;
        @media #{$max767}{
            display: flow-root;
        }
        .tf-driver-location{
            padding-left: 16px;
            @media #{$max767}{
                padding-left: 0px;
            }
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 0px 32px;
                li{
                    label{
                        color: #566676;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 0px;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        
                        input{
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }
                        input:checked ~ .checkmark:after {
                            display: block;
                        }
                        input:checked ~ .checkmark{
                            background-color: #F8FAFC;
                        }
                        .checkmark {
                            position: absolute;
                            top: 2px;
                            left: 0;
                            height: 20px;
                            width: 20px;
                            border: 2px solid #566676;
                            background-color: transparent;
                            border-radius: 5px;
                            &::after{
                                content: "";
                                position: absolute;
                                display: none;
                                left: 5px;
                                top: 2px;
                                width: 7px;
                                height: 10px;
                                border: solid #566676;
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
            span#tf-required{
                color: red;
            }
        }
        .tf-submit-button{
            @media #{$max767}{
                margin-top: 16px;
            }
            button{
                border-radius: 8px;
                background: #0866C4;
                padding: 16px 50px;
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 24px */
                border: 0px solid;
                cursor: pointer;
                transition: .3s all ease;
                &:hover{
                    background: #094C90;
                }
                i{
                    margin-left: 8px;
                }
            }
        }
    }
}

.notyf{ 
    z-index: 99999 !important; 
}