@import './search-result';
@import './template-4';

/* Room Search */
.tf-search-tabs__design--5{
    .tf-booking-forms-wrapper .tf-search__form{
        padding: 0;
        background-color: transparent;
    }

    .tf-archive-search-box-wrapper{               
        border-radius: 24px;
        padding: 24px 32px 32px;
        background: rgba(255, 248, 245, 0.10);
        box-shadow: 0 16px 40px 0 rgba(238, 85, 9, 0.08);
        backdrop-filter: blur(16px);
        gap: 24px;
        @include flex-wrap(wrap);

        .tf-select-date{
            width: 100%;
        }

        label{
            color: $color-white;
            font-size: 1.25rem;
            line-height: 1.5;
            font-weight: 400;
        }
        .tf-search-field{
            border-radius: 32px;
            border: 1px solid transparent;
            background: rgba(255, 248, 245, 0.16);
            backdrop-filter: blur(16px);
            padding: 8px 10px;
            height: 48px;
            margin-bottom: 0;
            transition: all 0.2s ease;
        
            &:hover,
            &:focus{
                border: 1px solid $color-white;
            }
            &.info-select{
                padding: 8px 20px;
                cursor: pointer;
                width: 100%;

                .tf-search-input.form-control{
                    width: 100%;
                    opacity: 0;
                    position: absolute;
                    margin-left: -20px;
                }
            }
            &.tf_acrselection {
                width: 139px;

                @media #{$max1024} {
                    width: 100%;
                }

                .acr-select{

                    @media #{$max1024} {
                        width: 100%;
                    }
                    
                    .acr-dec,
                    .acr-inc,
                    .tf-archive-guest-info {
                        background: #FFF8F529;
                        min-width: 32px;
                        min-height: 32px;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        backdrop-filter: blur(32px);
                        border: 0;
                        border-radius: 50%;
                    }
                    input{
                        text-align: center;
                    }
                }
            }
            input,
            .tf-checkout-date{
                color: $color-white;
                background: transparent;
                border: 0;
                font-size: 1.25rem;
                line-height: 1.5;
                padding: 0;
                flex: 1;
                &::placeholder{
                    color: $color-white;
                }
            }
            svg{
                path{
                    stroke: $color-white;
                }
            }
            .tf-guest{
                color: $color-white;
                background: transparent;
                border: 0;
                font-size: 1.25rem;
                line-height: 1.5;
                padding: 0;
                flex: 1;
                text-align: center;
            }
        }

        .tf-form-bottom-left{
            @include flexbox();
            gap: 24px;

            @media #{$max1024} {
                .tf-select-guests,
                .tf-select-room{
                    width: calc(50% - 12px);
                }
            }

            @media #{$max575} {
                width: 100%;
            }
        }

        .tf-select-guests{
            position: relative;
            .tf_acrselection{
                cursor: pointer;
            }
            .tf_acrselection-wrap {
                display: unset;
                min-width: 302px;
                top: 60%;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
                border-radius: 12px;
                background: #F8FDFD;
                padding: 6px;
                right: inherit;
                left: 50%;
                transform: translateX(-50%);

                &.tf-show {
                    visibility: visible;
                    opacity: 1;
                    
                    top: 110%;
                    margin-top: 0;
                    display: block!important;
                }
                .tf_acrselection{
                    border-radius: 8px;
                    background: $color-white;
                    margin-bottom: 4px;
                    &:last-child{
                        margin-bottom: 0;   
                    }
                    .acr-label{
                        padding: 8px 8px 8px 20px;
                        color: $color-text;
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                    .acr-select {
                        padding: 8px 10px;
                        border-radius: 8px;
                        background: $color-white;
                    }
                    .acr-dec,
                    .acr-inc{
                        min-width: 32px;
                        min-height: 32px;
                        border-radius: 32px;
                        background: #DCE5E5;
                        backdrop-filter: blur(16px);
                        padding: 0;
                        border: 0;

                        svg path{
                            stroke: $color-primary;
                        }
                    }
                    input {
                        background: transparent;
                        border: 0;
                        text-align: center;
                        color: $color-text;
                        font-size: 1.25rem;
                        font-weight: 600;
                        height: 32px;
                        padding: 5px;
                    }
                }
            
            }
        }
        
        .tf-submit-button{
            width: 100%;

            .tf_btn{
                width: 100%;
                min-height: 72px;
                font-size: 1.25rem;
                line-height: 1.5;
                margin-top: 10px;
            }
        }
    }
}