.single-tf_hotel .tf-single-template__legacy .hero-section-wrap {
  display: grid;
  grid-template-columns: 75% 25%;
}

@media only screen and (max-width: 1024px) {
  .single-tf_hotel .tf-single-template__legacy .hero-section-wrap {
    grid-template-columns: 67% 33%;
  }
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .hero-section-wrap {
    grid-template-columns: 100%;
  }
}

.single-tf_hotel .tf-single-template__legacy .hero-section-wrap .hero-left {
  padding-right: 16px;
}

@media only screen and (max-width: 575.98px) {
  .single-tf_hotel .tf-single-template__legacy .hero-section-wrap .hero-left {
    padding-right: 0;
  }
}

.single-tf_hotel .tf-single-template__legacy .hero-section-wrap .hero-left .tf-top-review {
  position: absolute;
  margin: 20px;
}

.single-tf_hotel .tf-single-template__legacy .hero-section-wrap .hero-left .desc-wrap {
  margin-top: 16px;
}

.single-tf_hotel .tf-single-template__legacy .hero-section-wrap .hero-right {
  padding-left: 16px;
}

@media only screen and (max-width: 575.98px) {
  .single-tf_hotel .tf-single-template__legacy .hero-section-wrap .hero-right {
    padding-left: 0;
    margin: auto;
    width: 100%;
  }
}

.single-tf_hotel .tf-single-template__legacy .hero-section-wrap .hero-right .tf-hero-booking .widget {
  margin-bottom: 0;
}

.single-tf_hotel .tf-single-template__one .tf-single-head .more-hotel {
  color: var(--tf-primary);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-single-head .more-hotel.tf-d-ib {
    display: inline;
  }
}

@media only screen and (max-width: 575.98px) {
  .single-tf_hotel .tf-single-template__one .tf-single-head .more-hotel.tf-d-ib {
    font-size: 0.95rem;
  }
}

.single-tf_hotel .tf-single-template__one #tf-single-hotel-avail {
  margin: 0px;
}

.single-tf_hotel .tf-single-template__one #tf-single-hotel-avail .tf_booking-dates .tf-field,
.single-tf_hotel .tf-single-template__one #tf-single-hotel-avail .tf_booking-dates #check-in-out-date {
  background-color: var(--tf-filling-background);
}

.single-tf_hotel .tf-single-template__one #tf-single-hotel-avail .tf_booking-dates #tf-required {
  text-align: center;
  margin-top: 10px;
  display: block;
}

.single-tf_hotel .tf-single-template__one #tf-single-hotel-avail .tf_booking-dates #tf-required b {
  font-weight: 500;
  color: #ff6055;
}

.single-tf_hotel .tf-single-template__one #tf-single-hotel-avail .tf-bttn-normal {
  padding: 16px 24px;
}

.single-tf_hotel .tf-single-template__one .tf-tour-booking-box {
  margin-bottom: 25px;
  background-color: var(--tf-filling-foreground);
}

.single-tf_hotel .tf-single-template__legacy .single-slider-wrapper {
  position: relative;
}

.single-tf_hotel .tf-single-template__legacy .single-slider-wrapper .slick-slide-item img {
  width: 100%;
}

.single-tf_hotel .tf-single-template__legacy .single-slider-wrapper a.slick-slide-item-link {
  width: 100%;
}

.single-tf_hotel .tf-single-template__legacy .single-slider-wrapper .swiper-button-prev,
.single-tf_hotel .tf-single-template__legacy .single-slider-wrapper .swiper-button-next {
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  background-color: var(--tf-text-heading);
  text-align: center;
  cursor: pointer;
  padding: 6px 13px 0px 12px;
  border-radius: 4px;
  width: auto;
}

.single-tf_hotel .tf-single-template__legacy .single-slider-wrapper .swiper-button-prev i,
.single-tf_hotel .tf-single-template__legacy .single-slider-wrapper .swiper-button-next i {
  font-size: 1.75rem;
}

.single-tf_hotel .tf-single-template__legacy .single-slider-wrapper .swiper-button-prev {
  left: 20px;
  background-image: none;
}

.single-tf_hotel .tf-single-template__legacy .single-slider-wrapper .swiper-button-next {
  right: 20px;
  background-image: unset;
}

.single-tf_hotel .tf-single-template__legacy .single-slider-wrapper .slick-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: zoom-in;
}

.single-tf_hotel .tf-single-template__legacy .single-slider-wrapper .tf-hotel-video {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section {
  margin-top: -20px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .tf-room-section {
    margin-top: 0;
    padding-bottom: 0;
  }
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .tf-room-filter .tf-room-checkbox, .single-tf_hotel .tf-single-template__legacy .tf-room-section .tf-room-filter h3 {
  color: var(--tf-text-heading);
  list-style: none;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section h3.tf-room-feature-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section ul.tf-room-checkbox {
  margin-left: 0px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section ul.tf-room-checkbox li {
  float: left;
  margin: 10px;
  display: flex;
  align-items: center;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section ul.tf-room-checkbox li:first-child {
  margin-left: 0;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section ul.tf-room-checkbox label {
  margin-left: 0;
  line-height: 1.2;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .hotel-room-wrap {
  width: 100%;
  overflow-x: auto;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .tf-room-section .hotel-room-wrap {
    width: auto;
    overflow-x: auto;
  }
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .tf-room-filter {
  padding: 0 0 15px 0;
  overflow: hidden;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table {
  border: none;
  margin-bottom: 0;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table thead {
  background: var(--tf-filling-foreground);
  color: var(--tf-text-paragraph);
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td,
.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table th {
  border-left: 1px solid var(--tf-border-lite);
  border-bottom: 1px solid var(--tf-border-lite);
  border-top: none;
  border-right: none;
  padding: 20px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table th {
  border-top: 1px solid var(--tf-border-lite);
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description {
  padding: 25px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description {
    min-width: 300px;
    padding: 20px;
  }
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description h3, .single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description a {
  font-size: 1.25rem;
  line-height: 1.5;
  text-decoration: underline;
  color: var(--tf-text-heading);
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .room-features {
  margin-top: 15px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .room-features h4 {
  font-size: 1rem;
  color: var(--tf-text-heading);
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .room-features .room-feature-list {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .room-features .room-feature-list li {
  display: inline-block;
  margin-right: 8px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .room-features i {
  font-size: 1rem;
  color: var(--tf-text-paragraph);
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .tf-tooltip {
  margin-right: 15px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .tf-tooltip .room-detail-icon {
  margin: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .tf-tooltip .room-detail-icon .room-icon-wrap {
  border: 1px solid var(--tf-border-lite);
  border-radius: 4px;
  padding: 0;
  margin-right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .tf-tooltip .room-detail-icon .room-icon-wrap i {
  font-size: 1rem;
  color: var(--tf-text-paragraph);
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .tf-tooltip .room-detail-icon .icon-text {
  font-size: 0.875rem;
  color: var(--tf-text-paragraph);
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .tf-tooltip:last-child .room-detail-icon {
  margin-right: 0;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .bed-facilities {
  margin: 8px 0;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.description .bed-facilities p {
  color: var(--tf-text-paragraph);
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.pax {
  min-width: 80px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.pax h4 {
  font-size: 1rem;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.pax .tf-tooltip .room-detail-icon {
  text-align: center;
  margin: 15px 0 0 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.pax .tf-tooltip .room-detail-icon .room-icon-wrap {
  border: 1px solid var(--tf-border-lite);
  border-radius: 4px;
  padding: 0;
  margin-right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.pax .tf-tooltip .room-detail-icon .room-icon-wrap i {
  font-size: 1rem;
  color: var(--tf-text-paragraph);
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.pax .tf-tooltip .room-detail-icon .icon-text {
  font-size: 0.875rem;
  color: var(--tf-text-paragraph);
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.pax .tf-tooltip:last-child .room-detail-icon {
  margin-top: 10px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.pricing {
  text-align: center;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve .tf-price,
.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.pricing .tf-price {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve .tf-price del,
.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.pricing .tf-price del {
  font-size: 1.2rem;
  font-weight: 400;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.options ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.options ul li {
  margin-bottom: 4px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.options ul li .room-extra-icon {
  margin-right: 5px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.price .tf-hotel-deposit-hide {
  display: none;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.price span.tf-price .amount {
  font-weight: bold;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.price .price-per-night {
  font-size: 0.75rem;
  white-space: nowrap;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve {
  border-right: 1px solid var(--tf-border-lite);
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve .room-selection-wrap select,
.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve .room-selection-wrap .select2-container .select2-selection--single {
  background-image: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  -moz-appearance: auto;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve .room-submit-wrap {
  margin-top: 15px;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve #tour_room_details_loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  z-index: 999999;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve #tour_room_details_loader #tour-room-details-loader-img {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve .tf-withoutpayment-booking {
  text-align: left;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve .hotel-room-availability,
.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve .hotel-room-book {
  white-space: nowrap;
}

.single-tf_hotel .tf-single-template__legacy .tf-room-section .availability-table td.reserve .hotel-room-book {
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms {
    overflow-x: scroll;
    width: auto;
  }
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .hotel-room-wrap {
  overflow-x: unset;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table {
  background-color: #ffffff;
  box-shadow: 0px 13px 30px 0px rgba(224, 232, 238, 0.32);
  border-radius: 5px;
  margin-bottom: 0px;
  border-collapse: collapse;
  width: 100%;
  border-left: none;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > thead {
  background-color: var(--tf-filling-foreground);
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > thead tr th {
  text-align: left;
  color: var(--tf-text-paragraph);
  border: 0px solid;
  border-radius: 5px 5px 0px 0px;
  padding: 13px 30px;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--tf-border-lite);
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td {
  border: 1px solid var(--tf-border-lite);
  padding: 30px;
  border-right: none;
  vertical-align: top;
  text-align-last: left;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td {
    padding: 20px;
  }
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-room-preview-img {
  margin-right: 20px;
  border-radius: 4px;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-room-preview-img {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-room-preview-img img {
  border-radius: 4px;
  height: 100%;
  max-width: 170px;
  min-height: 155px;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-room-preview-img span {
  display: inline-block;
  font-weight: 500;
  background: var(--tf-primary);
  border-radius: 4px 0px 0px 0px;
  padding: 3px 14px;
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff;
  font-size: 0.875rem;
}

@media only screen and (max-width: 1024px) {
  .single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-features-infos {
    width: 100% !important;
  }
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-features-infos .tf-room-type h3 {
  font-size: 1.25rem;
  line-height: normal;
  color: var(--tf-text-heading);
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-features-infos .tf-room-type h3 a {
  color: var(--tf-text-heading);
  text-decoration: none;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-features-infos ul {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-features-infos ul li {
  display: inline-block;
  background: #F1F3F4;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 10px 5px 0px;
  line-height: 1.3;
  font-size: 0.75rem;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-features-infos ul li i,
.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-features-infos ul li img {
  margin-right: 5px;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .tf-features-infos > a {
  color: var(--tf-primary);
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td .hotel-room-book {
  width: 100%;
  margin-top: 10px;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.description {
  width: 65%;
  padding: 30px;
  border-left: 0px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.description {
    width: 300px;
    padding: 20px;
    display: table-caption;
    border-top: 0;
  }
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.description .tf-room-description-box {
  width: 100%;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.description .tf-room-description-box .tf-room-detail-qv {
  display: block;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.description .tf-room-description-box .tf-room-detail-qv.tf-room-gallery-info {
  text-decoration: underline;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.description .bed-facilities {
  margin: 8px 0;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.description .bed-facilities p {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.pax .tf-tooltip {
    width: 100px;
  }
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.pax .tf-tooltip .room-detail-icon {
  margin: 15px 0 0 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.pax .tf-tooltip .room-detail-icon .room-icon-wrap {
  border: 1px solid var(--tf-border-lite);
  border-radius: 4px;
  padding: 0;
  margin-right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.pax .tf-tooltip .room-detail-icon .room-icon-wrap i {
  font-size: 1rem;
  color: var(--tf-text-paragraph);
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.pax .tf-tooltip .room-detail-icon .icon-text {
  font-size: 0.875rem;
  color: var(--tf-text-paragraph);
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.pax .tf-tooltip:last-child .room-detail-icon {
  margin-top: 10px;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.reserve .tf-room {
  margin-top: 15px;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.reserve .tf-room > span {
  display: block;
  margin-bottom: 5px;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.reserve .tf-price {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--tf-text-heading);
  line-height: normal;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.reserve .tf-price {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.reserve .tf-price del {
  font-size: 1.2rem;
  font-weight: 400;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.reserve .price-per-night {
  font-size: .875rem;
  color: var(--tf-text-paragraph);
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.reserve .hotel-room-availability {
  margin-top: 25px;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.reserve .room-selection-wrap select {
  border: 1px solid var(--tf-border-lite);
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.options ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.options ul li {
  margin-bottom: 4px;
}

.single-tf_hotel .tf-single-template__one .tf-rooms-sections .tf-rooms .tf-availability-table > tbody tr td.options ul li .room-extra-icon {
  margin-right: 5px;
}

.single-tf_hotel .tf-single-template__legacy .nearby-container {
  display: block;
  background-color: var(--tf-filling-foreground);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 10px 20px;
  border-radius: 8px;
}

.single-tf_hotel .tf-single-template__legacy .nearby-container h3 {
  margin: 0;
  text-transform: capitalize;
  font-size: 1.375rem;
  color: var(--tf-text-heading);
}

.single-tf_hotel .tf-single-template__legacy .nearby-container ul {
  padding-left: 5px;
  font-size: 0.938rem;
  margin: 0;
}

.single-tf_hotel .tf-single-template__legacy .nearby-container ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  text-transform: capitalize;
}

.single-tf_hotel .tf-single-template__legacy .nearby-container ul li i {
  padding-right: 5px;
  font-size: 0.875rem;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-single-places ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  list-style-type: none;
  grid-gap: 5px;
}

@media only screen and (max-width: 1024px) {
  .single-tf_hotel .tf-single-template__one .tf-hotel-single-places ul {
    grid-template-columns: repeat(3, 33%);
  }
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-hotel-single-places ul {
    grid-template-columns: repeat(2, 50%);
  }
}

@media only screen and (max-width: 575.98px) {
  .single-tf_hotel .tf-single-template__one .tf-hotel-single-places ul {
    grid-template-columns: 100%;
  }
}

.single-tf_hotel .tf-single-template__one .tf-hotel-single-places ul li {
  display: inline-flex;
  justify-content: space-between;
  background-color: var(--tf-filling-foreground);
  border-radius: 5px;
  padding: 10px;
  text-transform: capitalize;
  margin: 5px 5px 5px 0px;
  font-size: 0.938rem;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-single-places ul li .tf-place {
  display: flex;
  flex: 1;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-single-places ul li .tf-place .tf-icon {
  width: auto;
  height: auto;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-single-places ul li .tf-place .tf-icon i {
  margin-right: 8px;
}

.single-tf_hotel .tf-single-template__legacy .tf_features {
  padding: 5px 0 30px 0;
}

.single-tf_hotel .tf-single-template__legacy .tf_features .tf-feature-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.single-tf_hotel .tf-single-template__legacy .tf_features .tf-feature-list .single-feature-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 10px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid var(--tf-filling-foreground);
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .tf_features .tf-feature-list .single-feature-box {
    margin-bottom: 10px;
  }
}

.single-tf_hotel .tf-single-template__legacy .tf_features .tf-feature-list .single-feature-box i {
  color: var(--tf-text-paragraph);
}

.single-tf_hotel .tf-single-template__legacy .tf_features .tf-feature-list .single-feature-box .feature-list-title {
  margin: 0;
  padding-left: 8px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-size: 0.813rem;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-single-features ul {
  margin: 0;
  padding: 0;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-single-features ul li {
  display: inline-flex;
  align-items: center;
  background-color: var(--tf-filling-foreground);
  border-radius: 5px;
  padding: 10px;
  text-transform: capitalize;
  margin: 5px 5px 5px 0px;
  font-size: 0.938rem;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-single-features ul li i {
  margin-right: 8px;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-single-features ul li img {
  margin-right: 8px;
}

.single-tf_hotel .tf-single-template__legacy .tf-container h2 {
  margin-top: 0px;
  color: var(--tf-text-heading);
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .active {
  display: none;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-title-area .section-heading {
  margin-bottom: 0;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-title-area .tf-section-title {
  margin-bottom: 0px;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-title-area i {
  font-size: 2rem;
  color: var(--tf-primary);
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-title-area .hotel-facilities-icon-down {
  display: none;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area {
  margin-top: 24px;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item {
  margin-bottom: 24px;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item .hotel-single-facility-title {
  color: var(--tf-text-heading);
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  vertical-align: baseline;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item ul {
    flex-direction: column;
  }
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item ul li {
  display: flex;
  color: var(--tf-text-paragraph);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  vertical-align: baseline;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item ul li span {
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item ul li span {
    min-width: 16px;
  }
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .active {
  display: none;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container {
  padding: 32px;
  border-radius: 6px;
  background: var(--tf-filling-foreground);
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-title-area .tf-section-title {
  margin-bottom: 0px;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-title-area i {
  font-size: 2rem;
  color: var(--tf-primary);
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-title-area .hotel-facilities-icon-down {
  display: none;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area {
  margin-top: 24px;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item {
  margin-bottom: 24px;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item .hotel-single-facility-title {
  color: var(--tf-text-heading);
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  vertical-align: baseline;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item ul {
    flex-direction: column;
  }
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item ul li {
  display: flex;
  color: var(--tf-text-paragraph);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  vertical-align: baseline;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item ul li span {
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-hotel-facilities-section .tf-hotel-facilities-container .tf-hotel-facilities-content-area .hotel-facility-item ul li span {
    min-width: 16px;
  }
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-faqs-section .tf-hotel-enquiry, .single-tf_hotel .tf-single-template__one .tf-hotel-faqs-section .tf-hotel-enquiry {
  flex-basis: 32%;
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .tf-hotel-faqs-section .tf-hotel-enquiry, .single-tf_hotel .tf-single-template__one .tf-hotel-faqs-section .tf-hotel-enquiry {
    flex-basis: 100%;
    padding-right: 0px;
  }
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-faqs-section .tf-hotel-enquiry .tf-ask-enquiry, .single-tf_hotel .tf-single-template__one .tf-hotel-faqs-section .tf-hotel-enquiry .tf-ask-enquiry {
  background-color: var(--tf-filling-foreground);
  padding: 30px;
  text-align: center;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-faqs-section .tf-hotel-enquiry .tf-ask-enquiry i, .single-tf_hotel .tf-single-template__one .tf-hotel-faqs-section .tf-hotel-enquiry .tf-ask-enquiry i {
  text-align: center;
  background-color: var(--tf-brand-lite);
  border-radius: 50%;
  color: var(--tf-primary);
  margin: auto;
  margin-bottom: 25px;
  font-size: 1.875rem;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-faqs-section .tf-hotel-enquiry .tf-ask-enquiry h3, .single-tf_hotel .tf-single-template__one .tf-hotel-faqs-section .tf-hotel-enquiry .tf-ask-enquiry h3 {
  font-size: 1.5rem;
  color: var(--tf-text-heading);
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-faqs-section .tf-hotel-enquiry .tf-ask-enquiry p, .single-tf_hotel .tf-single-template__one .tf-hotel-faqs-section .tf-hotel-enquiry .tf-ask-enquiry p {
  margin-top: 5px;
  margin-bottom: 25px;
}

.single-tf_hotel .tf-single-template__legacy .tf-hotel-faqs-section .tf-hotel-enquiry .tf-ask-enquiry .tf-btn a:hover, .single-tf_hotel .tf-single-template__one .tf-hotel-faqs-section .tf-hotel-enquiry .tf-ask-enquiry .tf-btn a:hover {
  background-color: var(--tf-brand-dark);
}

.single-tf_hotel .tf-single-template__one .tf-hotel-faqs {
  flex-basis: 68%;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-hotel-faqs {
    flex-basis: 100%;
    margin-top: 30px;
  }
}

.single-tf_hotel .tf-single-template__one .tf-hotel-faqs .tf-faq-wrapper .tf-faq-single {
  border-bottom: 0px solid;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-faqs .tf-faq-wrapper .tf-faq-single .tf-faq-single-inner {
  margin: 0px 0px 30px 0px;
  background: var(--tf-filling-foreground);
  transition: .3s all ease;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-hotel-faqs .tf-faq-wrapper .tf-faq-single .tf-faq-single-inner {
    margin: 0px 0px 20px 0px;
  }
}

.single-tf_hotel .tf-single-template__one .tf-hotel-faqs .tf-faq-wrapper .tf-faq-single .tf-faq-single-inner:hover {
  background: var(--tf-brand-lite);
}

.single-tf_hotel .tf-single-template__one .tf-hotel-faqs .tf-faq-wrapper .tf-faq-single .tf-faq-single-inner h3 {
  font-size: 1.25rem;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-faqs .tf-faq-wrapper .tf-faq-single.active .tf-faq-single-inner {
  background: var(--tf-brand-lite);
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .no-review h4 {
  font-size: 1.25rem;
  color: var(--tf-text-heading);
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box {
  border-radius: 0px;
  flex-basis: 20%;
  box-shadow: none;
  padding: 0px;
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-inner {
  gap: 0px;
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data {
  padding: 30px;
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-list {
  margin-top: 0px;
  text-align: center;
  width: 100%;
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-list li {
  display: block;
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box p, .single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box li {
  text-transform: capitalize;
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-average p {
  text-align: center;
  font-size: 1.875rem;
  color: var(--tf-primary);
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-label p {
  color: var(--tf-text-heading);
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-all-info li {
  font-size: 0.875rem;
  color: var(--tf-primary);
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features {
  padding: 30px;
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features .tf-percent-progress {
  column-gap: 70px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features .tf-percent-progress {
    column-gap: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features .tf-percent-progress {
    column-gap: 16px;
  }
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features .tf-progress-bar {
  height: 7px;
  background: var(--tf-brand-lite);
  border-radius: 7px;
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features .tf-progress-item {
  width: 42%;
  margin-bottom: 16px;
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features .tf-progress-item:nth-child(5), .single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features .tf-progress-item:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features .tf-progress-item {
    width: 40%;
  }
}

@media only screen and (max-width: 320px) {
  .single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features .tf-progress-item {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features .tf-progress-item {
    width: 42%;
  }
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-data.tf-box .tf-review-data-features .tf-progress-item .tf-review-feature-label p {
  margin-bottom: 0;
}

.single-tf_hotel .tf-single-template__one .tf-review-wrapper .tf-review-reply {
  border-bottom: 1px solid var(--tf-border-lite);
  padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .review-section {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .review-section .reviews .section-heading {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .review-section .reviews .no-review {
    text-align: center;
  }
}

.single-tf_hotel .tf-single-template__legacy .popupmap-for-mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .single-tf_hotel .tf-single-template__legacy .popupmap-for-mobile {
    display: block;
  }
}

.single-tf_hotel .tf-single-template__legacy .map-for-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .map-for-mobile {
    display: block;
  }
}

.single-tf_hotel .tf-single-template__legacy .show-on-map {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .show-on-map {
    margin-bottom: 0;
  }
}

.single-tf_hotel .tf-single-template__legacy .show-on-map iframe {
  height: 130px;
}

.single-tf_hotel .tf-single-template__legacy .show-on-map .tf_btn {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.single-tf_hotel .tf-single-template__legacy .show-on-map i {
  padding-right: 8px;
  font-size: 0.938rem;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__legacy .hero-right .show-on-map {
    display: none;
  }
}

.single-tf_hotel .tf-single-template__one .tf-hotel-location-map #hotel-location {
  height: 258px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-location-map .tf-hotel-location-preview {
  position: relative;
  margin-bottom: 0px;
  line-height: 0;
}

@media only screen and (max-width: 768px) {
  .single-tf_hotel .tf-single-template__one .tf-hotel-location-map .tf-hotel-location-preview {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 575.98px) {
  .single-tf_hotel .tf-single-template__one .tf-hotel-location-map .tf-hotel-location-preview {
    margin-bottom: 0;
  }
}

.single-tf_hotel .tf-single-template__one .tf-hotel-location-map .tf-hotel-location-preview iframe {
  height: 260px;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-location-map .tf-hotel-location-preview a.map-pre {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.single-tf_hotel .tf-single-template__one .tf-hotel-location-map .tf-hotel-location-preview a.map-pre i {
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 4;
  color: #ffffff;
  background-color: var(--tf-primary);
  border-radius: 50%;
  padding: 0;
  font-size: 1.25rem;
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup {
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-quick-view {
    flex-direction: column;
    overflow-x: hidden;
  }
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-details-qc-gallelry {
  width: 545px;
}

@media only screen and (max-width: 1024px) {
  .fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-details-qc-gallelry {
    width: 55%;
  }
}

@media only screen and (max-width: 768px) {
  .fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-details-qc-gallelry {
    width: 100%;
  }
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-details-qc-slider .tf-details-qcs img {
  width: 100%;
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-details-qc-slider-nav {
  margin-top: 0px;
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-details-qc-slider-nav .tf-details-qcs.is-active img {
  border: 5px solid var(--tf-primary);
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-details-qc-slider-nav .tf-details-qcs img {
  min-height: 50px;
  max-height: 50px;
}

@media only screen and (max-width: 768px) {
  .fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-details-qc-slider-nav .slick-next {
    right: 5px;
  }
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .fancybox-button.fancybox-close-small {
  right: 20px;
  color: var(--tf-primary);
}

@media only screen and (max-width: 768px) {
  .fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .fancybox-button.fancybox-close-small {
    right: 5px;
  }
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-details-info {
  padding-right: 25px;
  width: 440px;
  padding-left: 35px;
  max-height: 470px;
  padding-top: 25px;
  overflow-y: auto;
}

@media only screen and (max-width: 1024px) {
  .fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-details-info {
    padding-right: 16px;
    padding-left: 16px;
    margin: 0;
    overflow: auto;
    max-height: none;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-details-info {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-details-info .tf-template-1.tf-room-adv-info ul {
  margin: 0;
  padding: 0;
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-details-info .tf-template-1.tf-room-adv-info ul li {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px 5px 0px;
  margin: 4px 5px 4px 0px;
  color: var(--tf-text-paragraph);
  font-size: 1rem;
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-details-info .tf-template-1.tf-room-adv-info ul li i {
  color: var(--tf-text-paragraph);
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-details-info .tf-template-1.tf-room-adv-info p {
  margin: 10px 0px;
  color: var(--tf-text-paragraph);
}

.fancybox-slide #tour_room_details_qv.tf-hotel-design-1-popup .tf-hotel-details-info .tf-template-1.tf-room-adv-info h4 {
  font-size: 1.25rem;
  margin: 15px 0px 10px 0px;
  color: var(--tf-text-heading);
}

.post-type-archive-tf_tours .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner,
.post-type-archive-tf_hotel .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner,
.post-type-archive-tf_apartment .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner,
.tax-hotel_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner,
.tax-tour_destination .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner,
.tax-apartment_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner,
.page-template-tf-search .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner {
  position: relative;
}

.post-type-archive-tf_tours .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge,
.post-type-archive-tf_hotel .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge,
.post-type-archive-tf_apartment .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge,
.tax-hotel_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge,
.tax-tour_destination .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge,
.tax-apartment_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge,
.page-template-tf-search .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  left: -10px;
}

.post-type-archive-tf_tours .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before, .post-type-archive-tf_tours .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.post-type-archive-tf_hotel .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.post-type-archive-tf_hotel .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.post-type-archive-tf_apartment .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.post-type-archive-tf_apartment .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.tax-hotel_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.tax-hotel_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.tax-tour_destination .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.tax-tour_destination .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.tax-apartment_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.tax-apartment_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.page-template-tf-search .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.page-template-tf-search .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid var(--tf-brand-dark);
  border-top-color: transparent;
  border-left-color: transparent;
}

.post-type-archive-tf_tours .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.post-type-archive-tf_hotel .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.post-type-archive-tf_apartment .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.tax-hotel_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.tax-tour_destination .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.tax-apartment_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before,
.page-template-tf-search .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::before {
  top: 0;
  right: 0;
}

.post-type-archive-tf_tours .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.post-type-archive-tf_hotel .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.post-type-archive-tf_apartment .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.tax-hotel_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.tax-tour_destination .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.tax-apartment_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after,
.page-template-tf-search .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge::after {
  bottom: 0;
  left: 0;
}

.post-type-archive-tf_tours .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge span,
.post-type-archive-tf_hotel .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge span,
.post-type-archive-tf_apartment .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge span,
.tax-hotel_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge span,
.tax-tour_destination .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge span,
.tax-apartment_location .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge span,
.page-template-tf-search .tf-archive-template__legacy .single-tour-wrap.tf-featured .single-tour-inner .tf-featured-badge span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 10px 0;
  background-color: var(--tf-brand-dark);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  z-index: 9;
  right: -12px;
  top: 33px;
  transform: rotate(-45deg);
}


/*# sourceMappingURL=tourfic-hotel.css.map*/