//global css
@import '../../../common/variable';
@import '../../../common/mixin';
@import '../../../common/global';
@import '../../../common/reset';
@import 'global/common';
@import 'global/shortcode';
@import 'global/search/search';
@import 'global/widgets/widgets';

// Template 1 Global
@import 'global/design-legacy/design-legacy';

// Template 2 Global
@import 'global/design-1/design-1';

// Template 3 Global
@import 'global/design-2/design-2';

// Template 4 Global
@import 'global/design-3/design-3';