@import '../../../../common/variable';
@import '../../../../common/mixin';

//Single Modules Start
@import 'modules/single/_information';
@import 'modules/single/_withoutpayment';
@import 'modules/single/_highlights';
@import 'modules/single/_map';
@import 'modules/single/_inc-exc';
@import 'modules/single/_itinerary';
@import 'modules/single/_related-items';
@import 'modules/single/_trip-info';
@import 'modules/single/_footer-booking';
@import 'modules/single/_terms-and-condition';
@import 'modules/single/_cta-info';
@import 'modules/single/_sidebar';
//Single Modules End

.tf-hero-content {
    padding: 20px;
    background-position: center center;
    background-size: cover;
    border-radius: 0 0 4px 4px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    @media #{$max480}{
        gap: 16px;
    }
}

.tf-hero-top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.tf-tours_search-wrap {
    margin-top: 150px;
    margin-bottom: 150px;
}
.tf-hero-bottom-area {
    text-align: right;
    color: $color-white;
    font-size: 14px;
    margin-top: 20px;
}
 
.tf-contact-info{    
    h3 {
        margin-bottom: 30px;
    }
    div {
        margin: 15px 0;
        p {
            margin: 0;
            a{
                text-decoration: none;
                color: $color-primary;
            }
        }   
    }
}

div#tf-contact-info {
    border-radius: 8px;
}
.tf-hero-btm-icon {
    display: inline-block;
    i {
        background: rgba(26, 43, 72, .6);
        border-radius: 50%;
        color: $color-white;
        font-size: 18px;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            background: rgba(26, 43, 72, .8);
        }
    }
}



// UNFOLD Compatibily
#commentform label{
    position: static !important;
    display: inline-block !important;
}

.check-in-time-div{
    display: none;
}
.tours-grid .tf_posts_navigation {
    grid-column: span 2;
}

@media only screen and (max-width: 1200px) {
    .tf-tour-booking-wrap {
        width: 95%;
        form.tf_tours_booking {
            flex-wrap: wrap;
        }
    }
}
@media only screen and (max-width: 1025px) {
    .tf-tour-booking-wrap {
        font-size: 14px;
    }
    .tf_form-inner {
        input[type="text"] {
            font-size: 14px;
        }
        select {
            font-size: 14px;
        }
    }
    .tf_button {
        font-size: 14px;
    }
    .flatpickr-calendar {
        font-size: 14px;
    }
    .tf-square-block-content-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tf-single-square-block {
        width: 300px;
    }
}
@media only screen and (max-width: 980px) {
    .tf-faq-content-wrapper {
        display: grid;
    }
    .tf-slider-desc {
        h3 {
            font-size: 18px;
        }
    }
    .tf-suggestion-rating {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 970px) {
    .tf-tours-booking-btn {
        width: 98%;
        margin: auto;
    }
    .tf-tour-booking-wrap {
        .btn-styled {
            width: 98%;
            margin: auto;
        }
    }
    .tf-slider-item {
        border: 7px solid $color-white;
        height: 300px !important;
        padding: 15px;
        margin: 0 7px 15px !important;
    }
}
@media only screen and (max-width: 767px) {
    .tf-highlight-item {
        display: grid;
    }
    .tf-travel-desc {
        display: grid;
    }
    .tf-accordion-content {
        img {
            max-width: 100%;
        }
    }
    .tf-travel-time {
        span {
            font-size: 15px;
            text-align: center;
        }
        height: 60px;
    }
    .tf-accordion-head {
        h4 {
            font-size: 15px;
            padding-left: 20px;
        }
    }
    .tf-tour-booking-wrap {
        .tf_form-inner {
            input[type="text"] {
                max-width: 100%;
            }
        }
        .tf_selectperson-wrap {
            display: flex;
            justify-content: center;
            width: 95%;
            padding: 10px !important;
        }
        .btn-styled {
            width: 98%;
            margin: auto;
        }
        max-width: 450px;
    }
    .tf_form-inner {
        select {
            max-width: 100%;
        }
    }
    .tf-faq-sec-title {
        margin-bottom: 20px;
    }
    .tf-inc-exc-content {
        gap: 15px;
    }
    .tf-square-block-content {
        display: grid;
        gap: 2%;
        grid-template-columns: 48% 48%;
    }
    .tf-single-square-block {
        width: auto;
    }
    .tf-tours-booking-btn {
        width: 98%;
        margin: auto;
    }
    .tf-slider-item {
        border: 7px solid $color-white;
        height: 250px !important;
        padding: 15px;
        margin: 0 7px 15px !important;
    }
    .tf-include-section {
        padding: 15px 20px 20px;
    }
    .tf-exclude-section {
        padding: 15px 20px 20px;
    }
    .tf-tour-booking-wrap.tf-tours-fixed {
        max-width: 100%;
    }
    .tf-ask-question {
        max-width: 450px;
        margin: auto;
    }
}
@media only screen and (max-width: 650px) {
    .tf-title-wrap {
        display: block;
    }
    .tf-title-area.tf-tour-title {
        text-align: center;
    }
    .tf-single-tour-pricing {
        margin: 20px auto 0;
    }
}
@media only screen and (max-width: 480px) {
    .tf-slider-desc {
        h3 {
            font-size: 16px;
        }
    }
    .tf-map-content-wrapper {
        iframe {
            height: 320px;
        }
    }
    .tf-suggestion-rating {
        font-size: 12px;
    }
    #tour-extra {
        padding: 10px;
    }
    .tf-single-square-block {
        padding: 30px 20px;
    }
    .tf-inc-exc-content {
        display: block;
    }
    .tf-include-section {
        margin-bottom: 15px;
    }
    #tf-accordion-wrapper {
        margin-bottom: 15px;
    }
    #tour-deposit {
        .tf_button_group {
            display: block;
            button {
                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }
    }
}


body{
    @media #{$max1650}{
        overflow-x: hidden;
    }
}

.tf-template-global {
    background-color: inherit;
    padding: 60px 0px;
    .tf-btn{
        height: auto;
    }
    .tf-template-section:last-child{
        margin-bottom: 0px !important;
    }
    .tf-section-title{
        margin-bottom: 15px;
    }
}
.tf-tour-single{
    margin-bottom: 50px;
    @media #{$tfmax991}{
        margin-bottom: 60px;
    }
}
.tf-template-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 12px;
}

.tf-single-details-wrapper{
    .tf-single-details-inner{
        @media #{$tfmax991}{
            justify-content: space-between;
        }
        .tf-tour-details-left {
            flex-basis: 68%;
            width: 68%;

            @media #{$tfmax991}{
                flex-basis: 58%;
                width: 58%;
            }

            @media #{$tfmax767}{
                flex-basis: 100%;
                width: 58%;
            }
        }
        
        .tf-tour-details-right {
            flex-basis: 32%;
            width: 32%;
            @media #{$tfmax991}{
                flex-basis: 40%;
                padding-left: $tf-space-12;
                width: 40%;
            }
            @media #{$tfmax767}{
                flex-basis: 100%;
                width: 58%;
                margin-top: 30px;
            }
        }
    }
}
.tf-tour-design-1{
    .tf-single-details-wrapper{
        .tf-tour-details-right {
            top: 0;
            align-self: flex-start;
            @media #{$tfmax767}{
                position: static;
            }
        }
    }
}
.tf-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        margin-top: 12px;
        list-style: none;
        display: flex;
        align-items: baseline;
        i{
            color: $color-primary;
            width: 24px;
            margin-right: 5px;
        }
    }
}

.repeat-fixed-dates {
    max-width: 100%;
    min-height: 100px;
    background-color: $color-white;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: $tf-brds-default;
    box-shadow: 0px 0px 24px 5px #E0E8EE;

    .repeated-title-section {
        display: flex;
        gap: 10px;
        align-items: center;

        i {
            color: $color-primary;
        }
    }

    .repeat-dates {
        display: grid;
        grid-template-columns: repeat(6, 15%);
        padding-left: 0;
        justify-content: space-around;
        @media #{$tfmax991}{
            grid-template-columns: repeat(4, 25%);
        }
        @media #{$tfmax767}{
            grid-template-columns: repeat(auto-fit, 30%);
        }
        @media #{$max375} {
            grid-template-columns: repeat(auto-fit, 45%);
        } 
        
    }
    .repeat-dates {
        .repeat-date-list {
            list-style: none;
            display: inline-block;
            background-color: $color-white;
            padding: 8px 12px;
            margin-top: 15px;
            text-align: center;
            border-radius: $tf-brds-default;
            font-size: 16px;
            box-shadow: 0px 0px 15px 2px #E0E8EE;
        }
    }

}
.tf-trip-feature-blocks{
    .tf-feature-block {
        background: $color-white;
        box-shadow: 0px 0px 24px 5px #E0E8EE;
        border-radius: $tf-brds-default;
        padding: 20px;
        width: 100%;
        align-items: baseline;
        @media #{$tfmax991}{
            padding: 24px;
        }
        i{
            color: $color-primary;
            font-size: 20px;
        }
        h3{
            font-size: $font-size-small;
            color: $color-heading;
        }
        p{
            font-size: $font-size-xs;
            color: $color-primary;
            margin-top: $tf-space-8;
        }
        .repeat-dates {
            display: block;
            padding-left: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-top: 5px;

            .repeat-date-list {
                list-style: none;
                background-color: $color-white;
                padding: 0px 8px;
                margin: 10px 5px;
                text-align: center;
                border-radius: $tf-brds-default;
                font-size: 15px;
                box-shadow: 0px 0px 8px 2px #E0E8EE;
            }
        }
    }
}

.tf-features-block-inner {
    flex-wrap: nowrap !important;

    @media #{$tfmax991}{
        flex-wrap: wrap !important;
    }
    @media #{$tfmax360}{
        flex-wrap: wrap !important;
    }
    @media #{$tfmax767}{
        flex-wrap: wrap !important;
    }
    .tf-column {
        width: 100% !important;
        flex-basis: auto;

        @media #{$tfmax991}{
            flex-basis: calc(50% - 16px) !important;
        }
        @media #{$tfmax767}{
            flex-basis: calc(50% - 16px) !important;
        }
        @media #{$tfmax360}{
            flex-basis: calc(100% - 16px) !important;
        }
    }
}

.tf-tour-features {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style-type: none;
        gap: 5px;

        li{
            display: inline-flex;
            justify-content: flex-start;
            background-color: $color-white;
            border-radius: 5px;
            padding: 10px 15px;
            text-transform: capitalize;
            margin: 5px 16px 10px 0px;
            box-shadow: 0px 0px 24px 5px #E0E8EE;
            font-size: 15px;
            font-weight: 300;
            
            .tf-tour-features-icon {
                margin-right: 8px;
            } 
        }
    }
}