@import '../../../../common/variable';
@import '../../../../common/mixin';

//Single Modules Start
@import 'modules/single/_hero';
@import 'modules/single/_booking';
@import 'modules/single/_information';
@import 'modules/single/_withoutpayment';
@import 'modules/single/_highlights';
@import 'modules/single/_map';
@import 'modules/single/_inc-exc';
@import 'modules/single/_itinerary';
@import 'modules/single/_related-items';
@import 'modules/single/_trip-info';
@import 'modules/single/_footer-booking';
@import 'modules/single/_terms-and-condition';
@import 'modules/single/_cta-info';
@import 'modules/single/_sidebar';
@import 'modules/single/_feature';
//Single Modules End


// UNFOLD Compatibily
#commentform label{
    position: static !important;
    display: inline-block !important;
}

.check-in-time-div{
    display: none;
}
.tours-grid .tf_posts_navigation {
    grid-column: span 2;
}

@media only screen and (max-width: 1200px) {
    .tf-tour-booking-wrap {
        width: 95%;
        form.tf_tours_booking {
            flex-wrap: wrap;
        }
    }
}
@media only screen and (max-width: 1025px) {
    .tf-tour-booking-wrap {
        font-size: 14px;
    }
    .tf_form-inner {
        input[type="text"] {
            font-size: 14px;
        }
        select {
            font-size: 14px;
        }
    }
    .tf_button {
        font-size: 14px;
    }
    .flatpickr-calendar {
        font-size: 14px;
    }
    .tf-square-block-content-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tf-single-square-block {
        width: 300px;
    }
}
@media only screen and (max-width: 980px) {
    .tf-faq-content-wrapper {
        display: grid;
    }
    .tf-slider-desc {
        h3 {
            font-size: 18px;
        }
    }
    .tf-suggestion-rating {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 970px) {
    .tf-tours-booking-btn {
        width: 98%;
        margin: auto;
    }
    .tf-tour-booking-wrap {
        .btn-styled {
            width: 98%;
            margin: auto;
        }
    }
    .tf-slider-item {
        border: 7px solid $color-white;
        height: 300px !important;
        padding: 15px;
        margin: 0 7px 15px !important;
    }
}
@media only screen and (max-width: 767px) {
    .tf-highlight-item {
        display: grid;
    }
    .tf-travel-desc {
        display: grid;
    }
    .tf-accordion-content {
        img {
            max-width: 100%;
        }
    }
    .tf-travel-time {
        span {
            font-size: 15px;
            text-align: center;
        }
        height: 60px;
    }
    .tf-accordion-head {
        h4 {
            font-size: 15px;
            padding-left: 20px;
        }
    }
    .tf-tour-booking-wrap {
        .tf_form-inner {
            input[type="text"] {
                max-width: 100%;
            }
        }
        .tf_selectperson-wrap {
            display: flex;
            justify-content: center;
            width: 95%;
            padding: 10px !important;
        }
        .btn-styled {
            width: 98%;
            margin: auto;
        }
        max-width: 450px;
    }
    .tf_form-inner {
        select {
            max-width: 100%;
        }
    }
    .tf-faq-sec-title {
        margin-bottom: 20px;
    }
    .tf-inc-exc-content {
        gap: 15px;
    }
    .tf-square-block-content {
        display: grid;
        gap: 2%;
        grid-template-columns: 48% 48%;
    }
    .tf-single-square-block {
        width: auto;
    }
    .tf-tours-booking-btn {
        width: 98%;
        margin: auto;
    }
    .tf-slider-item {
        border: 7px solid $color-white;
        height: 250px !important;
        padding: 15px;
        margin: 0 7px 15px !important;
    }
    .tf-include-section {
        padding: 15px 20px 20px;
    }
    .tf-exclude-section {
        padding: 15px 20px 20px;
    }
    .tf-tour-booking-wrap.tf-tours-fixed {
        max-width: 100%;
    }
    .tf-ask-question {
        max-width: 450px;
        margin: auto;
    }
}
@media only screen and (max-width: 650px) {
    .tf-title-wrap {
        display: block;
    }
    .tf-title-area.tf-tour-title {
        text-align: center;
    }
    .tf-single-tour-pricing {
        margin: 20px auto 0;
    }
}
@media only screen and (max-width: 480px) {
    .tf-slider-desc {
        h3 {
            font-size: 16px;
        }
    }
    .tf-map-content-wrapper {
        iframe {
            height: 320px;
        }
    }
    .tf-suggestion-rating {
        font-size: 12px;
    }
    #tour-extra {
        padding: 10px;
    }
    .tf-single-square-block {
        padding: 30px 20px;
    }
    .tf-inc-exc-content {
        display: block;
    }
    .tf-include-section {
        margin-bottom: 15px;
    }
    #tf-accordion-wrapper {
        margin-bottom: 15px;
    }
    #tour-deposit {
        .tf_button_group {
            display: block;
            button {
                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }
    }
}


body{
    @media #{$max1650}{
        overflow-x: hidden;
    }
}

.tf-tour-single{
    margin-bottom: 50px;
    @media #{$tfmax991}{
        margin-bottom: 60px;
    }
}
.tf-template-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 12px;
}

.tf-tour-design-1{
    .tf-single-details-wrapper{
        .tf-tour-details-right {
            top: 0;
            align-self: flex-start;
            @media #{$tfmax767}{
                position: static;
            }
        }
    }
}