@import '../../../../common/variable';
@import '../../../../common/mixin';

//Single Modules Start
@import 'modules/single/_hero';
@import 'modules/single/_booking';
@import 'modules/single/_information';
@import 'modules/single/_withoutpayment';
@import 'modules/single/_highlights';
@import 'modules/single/_map';
@import 'modules/single/_inc-exc';
@import 'modules/single/_itinerary';
@import 'modules/single/_related-items';
@import 'modules/single/_trip-info';
@import 'modules/single/_footer-booking';
@import 'modules/single/_terms-and-condition';
@import 'modules/single/_cta-info';
@import 'modules/single/_sidebar';
@import 'modules/single/_feature';
//Single Modules End


.tf-tour-single{
    margin-bottom: 50px;
    @media #{$tfmax991}{
        margin-bottom: 60px;
    }
}
.tf-template-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 12px;
}