.tf-archive-car-section{
    margin: 0 auto;
    .tf-archive-car-details-warper{
        padding: 0px 0px 56px 0px;
        @media #{$max1024}{
            padding-left: 15px;
            padding-right: 15px;
        }
        .tf-archive-search-box{
            border-radius: 24px;
            background: $color-light-bg;
            padding: 8px;
            position: relative;
            top: -60px;
        }
    }
}

//Archive Modules
@import 'modules/archive/_hero';
@import 'modules/archive/_search-form';
@import 'modules/archive/_navs';
@import 'modules/archive/_listing';
@import 'modules/archive/_sidebar';