@import '../../../../common/variable';

//Single Modules Start
@import 'modules/single/_gallery';
@import 'modules/single/_top-nav';
@import 'modules/single/_car-info';
@import 'modules/single/_description';
@import 'modules/single/_benefits';
@import 'modules/single/_inc-exc';
@import 'modules/single/_location';
@import 'modules/single/_faq';
@import 'modules/single/_terms-and-condition';
@import 'modules/single/_review';
@import 'modules/single/_booking-form';
@import 'modules/single/_sidebar';
//Single Modules End

//Archive Modules Start
@import 'modules/archive/_hero';
@import 'modules/archive/_search-form';
@import 'modules/archive/_navs';
@import 'modules/archive/_listing';
@import 'modules/archive/_sidebar';
//Archive Modules End

.tf-car-design-1{
    margin: 0 auto;
    width: 100%;
    .tf-single-car-details-warper{
        padding: 32px 0;
        display: flex;
        gap: 32px;
        @media #{$max1199}{
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$max767}{
            flex-wrap: wrap;
        }
        .tf-car-details-column{
            width: calc(100% - 472px);
            display: flex;
            gap: 32px;
            flex-wrap: wrap;
            @media #{$tfmax991}{
                width: calc(100% - 360px);
            }
            @media #{$max767}{
                width: 100%;
            }
            h3{
                color: $color-heading;
                font-size: 21px !important;
                font-weight: 400;
                margin-bottom: 16px;
                margin-top: 0px;
            }
            .tf-car-title{
                h1{
                    color: $color-heading;
                    font-size: 28px !important;
                    font-weight: 600 !important;
                    margin-bottom: 10px;
                }
                .breadcrumb{
                    ul{
                        margin: 0;
                        padding: 0;
                        li{
                            color: $color-text;
                            font-size: 16px;
                            font-weight: 400;
                            display: inline-block;
                            a{
                                text-decoration: none;
                                color: $color-text;
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            .tf-details-menu{
                width: 100%;
            }
            .tf-template-part{
                width: 100%;
            }
        }
    }
}


.tf-car-template-container{
    max-width: 1140px;
    margin: 0 auto;

    // Booking Popup
    .tf-car-booking-popup{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;
        background-color: rgba(0,0,0,.2);
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        .tf-booking-popup-warp{
            border-radius: 16px;
            background: $color-white;
            padding: 16px 24px;
            width: 850px;
            @media #{$max767}{
                padding: 24px 15px;
            }
            .tf-booking-popup-header{
                margin-bottom: 24px;
                h3{
                    color: $color-heading;
                    font-size: 21px !important;
                    font-weight: 700 !important;
                    margin: 0;
                }
                .tf-close-popup{
                    cursor: pointer;
                    display: flex;
                }
            }

            .tf-booking-content-wraper{
                .tf-cancellation-notice{
                    border-radius: 8px;
                    background: $color-white;
                    padding: 16px;
                    margin-bottom: 24px;
                    span{
                        color: $color-denger;
                        font-size: 16px;
                        font-weight: 400;
                        i{
                            color: $color-denger;
                        }
                        b{
                            font-weight: 700;
                        }
                    }
                }
                .tf-booking-tabs{
                    margin-bottom: 24px;
                    ul{
                        margin: 0;
                        padding: 0;
                        li{
                            color: $color-text !important;
                            font-size: 16px !important;
                            font-weight: 400 !important;
                            padding: 0 8px 8px 8px;
                            display: inline-block;
                            cursor: pointer;
                            width: auto !important;
                            &.active{
                                color: $color-primary;
                                border-bottom: 2px solid $color-primary;
                            }
                        }
                    }
                }

                .tf-protection-content{
                    max-height: 360px;
                    @media #{$max1024}{
                        max-height: 260px;
                    }
                    @media #{$max991}{
                        flex-direction: inherit;
                    }
                    overflow: auto;
                    padding-right: 8px;
                    scrollbar-width: thin;
                    scrollbar-color: $color-gray $color-white;
   
                    /* Chrome, Edge, and Safari */
                    *::-webkit-scrollbar {
                        width: 5px;
                    }
                    *::-webkit-scrollbar-track {
                        background: $color-white;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $color-gray;
                        border-radius: 5px;
                        border: 3px solid $color-white;
                    }
                    p{
                        color: $color-text;
                        font-size: 16px;
                        font-weight: 400;
                        margin: 0;
                    }

                    .tf-protection-featured{
                        border-radius: 16px;
                        border: 1px solid $color-border;
                        padding: 24px;
                        @media #{$max991}{
                            width: 100%;
                        }
                        @media #{$max767}{
                            padding: 20px 12px;
                        }
                        table{
                            border: 0px solid;
                            margin: 0;
                            width: 100%;
                            tr{
                                td{
                                    border: 0px solid;
                                    color: $color-text;
                                    font-size: 16px;
                                    font-weight: 400;
                                    padding: 0 0 16px 0px;
                                    @media #{$max767}{
                                        font-size: 12px;
                                        vertical-align: top;
                                    }
                                    span{
                                        font-weight: 600;
                                    }
                                    &:nth-child(2){
                                        @media #{$max767}{
                                            width: 90px;
                                        }
                                    }
                                }
                                th{
                                    color: $color-text;
                                    border: 0px solid;
                                    font-size: 16px;
                                    font-weight: 700;
                                    padding: 0 0 16px 0px;
                                    @media #{$max767}{
                                        font-size: 14px;
                                    }
                                    .tf-flex.tf-flex-align-center{
                                        flex-wrap: nowrap;
                                        @media #{$max767}{
                                            align-items: flex-start;
                                        }
                                    }
                                    .tf-single-protection-title{
                                        text-align: left;
                                        flex-wrap: nowrap;
                                    }
                                    .tf-protection-select{
                                        height: 15px;
                                        @media #{$max767}{
                                            margin-top: 6px;
                                        }
                                        label{
                                            color: $color-text;
                                            font-size: 16px;
                                            font-weight: 400;
                                            position: relative;
                                            margin-bottom: 0px;
                                            margin-right: 23px;
                                            cursor: pointer;
                                            display: block;
                                            input{
                                                position: absolute;
                                                opacity: 0;
                                                cursor: pointer;
                                                height: 0;
                                                width: 0;
                                            }
                                            input:checked ~ .checkmark:after {
                                                display: block;
                                            }
                                            input:checked ~ .checkmark{
                                                background-color: $color-light-bg;
                                            }
                                            .checkmark {
                                                position: absolute;
                                                height: 15px;
                                                width: 15px;
                                                top: 0;
                                                border: 2px solid $color-gray-light;
                                                background-color: transparent;
                                                border-radius: 5px;
                                                &::after{
                                                    content: "";
                                                    position: absolute;
                                                    display: none;
                                                    left: 3px;
                                                    top: 1px;
                                                    width: 5px;
                                                    height: 8px;
                                                    border: solid $color-gray-light;
                                                    border-width: 0 3px 3px 0;
                                                    -webkit-transform: rotate(45deg);
                                                    -ms-transform: rotate(45deg);
                                                    transform: rotate(45deg);
                                                }
                                            }
                                        }
                                    }
                                    .tf-info-tooltip{
                                        position: relative;
                                        margin-left: 5px;
                                        i{
                                            font-weight: 400;
                                        }
                                        &:hover{
                                            .tf-info-tooltip-content{
                                                visibility: visible;
                                                opacity: 1;
                                            }
                                        }
                                        .tf-info-tooltip-content{
                                            visibility: hidden;
                                            opacity: 0;
                                            position: absolute;
                                            box-shadow: 0px 15px 30px 0px rgba(40, 16, 26, 0.10);
                                            border-radius: 8px;
                                            background: var(--UI-800, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #27333F);
                                            padding: 8px 12px;
                                            width: 218px;
                                            z-index: 0;
                                            bottom: 30px;
                                            left: 50%;
                                            margin-left: -109px;
                                            transition: .3s all ease;
                                            &::after{
                                                position: absolute;
                                                content: "";
                                                height: 16px;
                                                width: 16px;
                                                background: var(--UI-800, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #27333F);
                                                border-radius: 5px;
                                                transform: rotate(45deg);
                                                left: 50%;
                                                margin-left: -8px;
                                                bottom: -6px;
                                                z-index: -1;
                                            }
                                            p{
                                                color: $color-white;
                                                text-align: center;
                                                font-size: 13px !important;
                                                font-weight: 600 !important;
                                            }
                                        }
                                    }
                                }
                            }

                            tfoot{
                                margin-top: 16px;
                                tr{
                                    th{
                                        border-top: 1px solid $color-border;
                                        padding: 16px 0 0 0;
                                    }
                                }
                            }

                        }
                    }
                }

                .tf-booking-form-fields{
                    display: none;
                    .tf-form-fields{
                        flex-wrap: wrap;
                        .tf-single-field{
                            width: calc(33% - 24px);
                            @media #{$max767}{
                                width: calc(50% - 24px);
                            }
                            label{
                                color: $color-text;
                                font-size: 12px !important;
                                font-weight: 700;
                                margin-bottom: 8px;
                            }
                            input[type="text"],
                            input[type="email"]{
                                border-radius: 8px;
                                border: 1px solid $color-border;
                                padding: 8px 16px;
                                height: 40px;
                                color: $color-text;
                                font-size: 16px;
                                font-weight: 400;
                                width: 100%;
                            }
                            input[type="date"]{
                                border-radius: 8px;
                                border: 1px solid $color-border;
                                padding: 0px 16px;
                                height: 40px;
                                color: $color-text;
                                font-size: 16px;
                                font-weight: 400;
                                width: 100%;
                                text-transform: uppercase;
                            }
                            select{
                                border-radius: 8px;
                                border: 1px solid $color-border;
                                padding: 0px 16px;
                                height: 40px;
                                color: $color-text;
                                font-size: 16px;
                                font-weight: 400;
                                width: 100%;
                            }
                            .error-text.error-visible{
                                color: $color-denger;
                            }
                        }
                    }
                    .tf-booking-submission{
                        margin-top: 24px;
                        text-align: right;
                        button{
                            border-radius: 8px;
                            background-color: $color-primary;
                            color: $color-white;
                            padding: 16px 32px;
                            border: 0px solid;
                            font-size: 16px;
                            font-weight: 700;
                            cursor: pointer;
                            transition: .3s all ease;
                            &:hover{
                                background: $color-secondary !important;
                            }
                        }
                    }
                }

                .tf-booking-bar{
                    margin-top: 24px;
                    justify-content: end;
                    button{
                        border-radius: 8px;
                        background: $color-light-bg;
                        padding: 16px 32px;
                        border: 0px solid;
                        color: $color-text;
                        font-size: 16px;
                        font-weight: 700;
                        cursor: pointer;
                    }
                    button.with-charge{
                        background-color: $color-primary !important;
                        color: $color-white !important;
                        transition: .3s all ease;
                        &:hover{
                            background: $color-secondary !important;
                        }
                    }
                }
            }
        }
    }

    .tf-car-instraction-popup,
    .tf-car-cancellation-popup{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        background-color: rgba(0,0,0,.2);
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        .tf-instraction-popup-warp,
        .tf-cancellation-popup-warp{
            border-radius: 16px;
            background: $color-white;
            padding: 16px 24px;
            width: 850px;
            @media #{$max640}{
                width: 100%;
            }
            .tf-instraction-popup-header,
            .tf-cancellation-popup-header{
                margin-bottom: 24px;
                flex-wrap: nowrap;
                h3{
                    color: $color-heading;
                    font-size: 21px !important;
                    font-weight: 700 !important;
                    margin: 0;
                    text-align: left;
                }
                .tf-close-popup{
                    cursor: pointer;
                }
            }
            .tf-instraction-content-wraper,
            .tf-cancellation-content-wraper{
                text-align: left;
                color: $color-text;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                max-height: 260px;
                overflow: auto;

                scrollbar-width: thin;
                scrollbar-color: $color-gray $color-white;

                /* Chrome, Edge, and Safari */
                *::-webkit-scrollbar {
                    width: 5px;
                }
                *::-webkit-scrollbar-track {
                    background: $color-white;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $color-gray;
                    border-radius: 5px;
                    border: 3px solid $color-white;
                }
                p{
                    color: $color-text;
                    font-size: 16px;
                }
                table{
                    margin-bottom: 0px;
                }
            }
        }
    }
}

// Search form
.tf-archive-car-section{
    .tf-archive-search-box-wrapper{
        border-radius: 16px;
        background: $color-light-bg;
        box-shadow: 0px 24px 60px 0px rgba(0, 15, 63, 0.16);

        .tf-date-selection-form{
            display: flex;
            margin-top: 8px;
            @media #{$max1024}{
                flex-wrap: wrap;
                justify-content: end;
            }
            .tf-date-select-box{
                width: calc(100% - 155px);
                @media #{$max1024}{
                    width: 100%;
                }
            }
            .tf-driver-location-box{
                padding-left: 0;
                padding-right: 0;
                width: 147px;
                @media #{$max1024}{
                    margin-right: 8px;
                }
                .tf-submit-button{
                    height: 100%;
                    width: 100%;
                    button{
                        width: 100%;
                        height: 100%;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

.tf-archive-car-section{
    margin: 0 auto;
    .tf-archive-car-details-warper{
        padding: 0px 0px 56px 0px;
        @media #{$max1024}{
            padding-left: 15px;
            padding-right: 15px;
        }
        .tf-archive-search-box{
            border-radius: 24px;
            background: $color-light-bg;
            padding: 8px;
            position: relative;
            top: -60px;
        }
    }
}